<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <h:form id="frmNotaFiscalEntrada">
            <div class="col-md-12">
                <p:commandButton value="Novo Lançamento" icon="Novo" action="#{notaEntradaMB.novo()}" update=":tabs:frmNota" oncomplete="PF('dlgLancarNotaEntrada').show();" />
                <hr/>
            </div>
            <div class="col-md-12">
                <p:contextMenu id="contexto" for="dtblNotaFiscalEntrada">
                    <p:menuitem value="Ver"  icon="Info" onclick="PF('dlgVerNotaEntrada').show();" update=":tabs:frmVerNotaEntrada" />
                    <p:menuitem value="Editar" icon="Editar" disabled="#{notaEntradaMB.verificaSePodeEditar()}" update=":tabs:frmNota"   
                                oncomplete="PF('dlgLancarNotaEntrada').show();"/>
                    <p:menuitem value="Excluir"  icon="Excluir" onclick="PF('dlgExcluirNotaEntrada').show()" disabled="#{notaEntradaMB.verificaSePodeEditar()}" update="@form, :msg" />
                </p:contextMenu>
                <p:dataTable id="dtblNotaFiscalEntrada" value="#{notaEntradaMB.model}" lazy="true"  var="nf" 
                             widgetVar="dtbnfe"
                             paginator="true" rows="10" emptyMessage="Nenhuma NF de Entrada localizada!"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                             selectionMode="multiple"
                             selection="#{notaEntradaMB.listaNotaEntradaSelecionada}" rowKey="#{nf.idNotaEntrada}" >
                    <p:ajax event="rowSelect" listener="#{notaEntradaMB.verificaSePodeEditar()}"   update="@form" />
                    <p:ajax event="rowUnselect"  listener="#{notaEntradaMB.verificaSePodeEditar()}"   update="@form" />
                    <f:facet name="header">
                        <h:outputText value="Nota Fiscal de Entrada"  />
                        <h:commandLink title="Exportar para Excel">
                            <p:graphicImage name="/icons/Excel.png" />
                            <p:dataExporter type="xls" target="dtblNotaFiscalEntrada" fileName="NFs_Entrada"  />
                        </h:commandLink>
                        <h:commandLink title="Exportar para PDF">
                            <p:graphicImage name="/icons/Pdf.png" />
                            <p:dataExporter type="pdf" target="dtblNotaFiscalEntrada" fileName="NFs_Entrada"  />
                        </h:commandLink>
                    </f:facet>
                    <p:column style="width: 3.5%">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="ID" width="5%" styleClass="centralizar" filterBy="#{nf.idNotaEntrada}" sortBy="#{nf.idNotaEntrada}">
                        <h:outputText value="#{nf.idNotaEntrada}" />
                    </p:column>
                    <p:column headerText="Nº " width="5%"  styleClass="hidden-xs hidden-sm centralizar" filterBy="#{nf.numero}" sortBy="#{nf.numero}">
                        <h:outputText value="#{nf.numero}" />
                    </p:column>
                    <p:column headerText="Fornecedor" width="20%" filterBy="#{nf.idFornecedor.nome}" sortBy="#{nf.idFornecedor.nome}" >
                        <h:outputText value="#{nf.idFornecedor.nome}" />                    
                    </p:column>
                    <script>
                        jQuery(function($){  
                            $(".datafilter").mask("99/99/9999");  
                        });  
                    </script>
                    <p:column headerText="Emissão" width="10%"  sortBy="#{nf.dtEmissao}"
                              filterBy="#{nf.dtEmissao}" filterMatchMode="contains"  styleClass="hidden-xs hidden-sm centralizar" >
                        <h:outputText value="#{nf.dtEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>                    
                    </p:column>
                    <p:column headerText="Entrada" width="10%" styleClass="centralizar" sortBy="#{nf.dtEntrada}" filterBy="#{nf.dtEntrada}">
                        <h:outputText value="#{nf.dtEntrada}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>                            
                    <p:column headerText="Valor Total" width="10%" styleClass="centralizar">
                        <h:outputText value="#{nf.valortotalNF}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                        </h:outputText>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{nf.notaEntradaItemList}" var="nfItem" style="width: 80%" >
                            <p:column headerText="Produto" width="25%">
                                <h:outputText value="#{nfItem.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Unidade" width="10%">
                                <h:outputText value="#{nfItem.idProduto.idUnidadeSaida.descricaoResumida}" />
                            </p:column>
                            <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.valorUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Quantidade" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.quantidade}" />
                            </p:column>
                            <p:column headerText="Valor Total" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.quantidade * nfItem.valorUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
        </h:form>
    </body>
    <p:dialog widgetVar="dlgExcluirNotaEntrada" header="Comfirmação" modal="true" closable="false" resizable="false">
        <h:form id="frmNotaAExcluir">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja Excluir a Nota?"/>
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="3">
                    <p:commandButton value="Excluir" icon="Selecionar" action="#{notaEntradaMB.Excluir()}" 
                                     update=":msg,:tabs:frmNotaFiscalEntrada:dtblNotaFiscalEntrada" oncomplete="PF('dlgExcluirNotaEntrada').hide()"/>
                    <p:commandButton value="Cancelar."  icon="Excluir"  onclick="PF('dlgExcluirNotaEntrada').hide()" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</html>