<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <p:dialog widgetVar="dlgAtalhoFornecedor" modal="true" header="Cadastro de Fornecedor"  width="50%" height="500"  position="top" closeOnEscape="true">
        <iframe src="../Fornecedor/index.xhtml"  width="100%" height="99%" />
    </p:dialog>
    <p:dialog widgetVar="dlgAtalhoTransportadora" modal="true" header="Cadastro de Transportadora"  width="50%" height="500"  position="top" closeOnEscape="true">
        <iframe src=""  width="100%" height="99%" />
    </p:dialog>
    <p:dialog widgetVar="dlgAtalhoLocalTrabalho" modal="true" header="Cadastro de Local de Trabalho"  width="50%" height="500"  position="top" closeOnEscape="true">
        <p:ajax event="close" update=":tabs:frmNota:tabNfs:locTrab" />
        <iframe src="../LocalTrabalho/"  width="100%" height="99%" />
    </p:dialog>
    <p:dialog widgetVar="dlgAtalhoProduto" modal="true" header="Cadastro de Produtos"  width="70%" height="500"  position="top" closeOnEscape="true">
        <iframe src="../Fornecedor/index.xhtml"  width="100%" height="99%" />
    </p:dialog>

    <p:dialog  header="Lançar Nota Fiscal de Entrada" widgetVar="dlgLancarNotaEntrada" modal="true" width="95%" 
               height="90%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <div class="row">
            <div class="col-md-12">
                <h:form id="frmNota">
                    <p:messages id="msgI" closable="true"  />
                    <p:tabView id="tabNfs" dynamic="true" cache="true">
                        <p:tab title="Cabeçalho" >
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                                    <p:outputLabel for="fornecedor" value="Fornecedor" />
                                    <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                                        <p:autoComplete id="fornecedor" value="#{notaEntradaMB.notaEntrada.idFornecedor}" 
                                                        completeMethod="#{fornecedorMB.completeMethodFornecedor}" placeholder="Digite o nome do fornecedor!"
                                                        converter="Converter" var="forn" itemLabel="#{forn.nome}" itemValue="#{forn}" required="true" requiredMessage="Informe o fornecedor!" >
                                            <p:ajax event="itemSelect" update="pedCompra" />
                                            <p:column >
                                                <h:outputText value="#{forn.idFornecedor}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{forn.nome}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{forn.cgccpf}" />
                                            </p:column>
                                        </p:autoComplete>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" onclick="PF('dlgAtalhoFornecedor').show();"/>
                                    </h:panelGrid>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="num" value="Nº NF" />
                                    <p:inputText id="num" value="#{notaEntradaMB.notaEntrada.numero}" required="true" requiredMessage="Informe o número da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="serie" value="Série" />
                                    <p:inputText id="serie" value="#{notaEntradaMB.notaEntrada.serie}" required="true" requiredMessage="Informe a série da nota!" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}" >
                                    <p:outputLabel for="chave" value="Chave de Acesso" />
                                    <p:inputText id="chave" value="#{notaEntradaMB.notaEntrada.chaveAcesso}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}" maxlength="44" required="true" requiredMessage="Informe a chave de acesso da nota!" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="natureza" value="Natureza da OP" />
                                    <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                        <p:autoComplete id="natureza"  value="#{notaEntradaMB.notaEntrada.idCFOP}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}"  required="true" requiredMessage="Informe a natureza!" 
                                                        completeMethod="#{cfopMB.autoCompleteCfop}" 
                                                        converter="Converter" var="cfoo" itemLabel="#{cfoo.descricao}" itemValue="#{cfoo}"  >
                                            <p:column >
                                                <h:outputText value="#{cfoo.cfopExterno}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{cfoo.cfopInterno}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{cfoo.descricao}" />
                                            </p:column>
                                        </p:autoComplete>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="protocolo" value="Protocolo" />
                                    <p:inputText id="protocolo" value="#{notaEntradaMB.notaEntrada.protocoloAutorizacao}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}"   required="true" requiredMessage="Informe o protocolo!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="dtemissao" value="Data de Emissão" />
                                    <p:calendar id="dtemissao" value="#{notaEntradaMB.notaEntrada.dtEmissao}" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt" required="true" requiredMessage="Informe a data de emissão da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="dtentrada" value="Data de Entrada" />
                                    <p:calendar id="dtentrada" required="true" value="#{notaEntradaMB.notaEntrada.dtEntrada}"  mask="99/99/9999" locale="pt" pattern="dd/MM/yyyy" requiredMessage="Informe a data de entrada da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}" >
                                    <p:outputLabel for="basecalcicms" value="Base Calc. ICMS" />
                                    <pe:inputNumber id="basecalcicms" required="true" value="#{notaEntradaMB.notaEntrada.basecalculoICMS}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}" requiredMessage="Informe a base de cálculo de icms da nota!"  symbol=" %" symbolPosition="s"  
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="valoricms" value="Vlr ICMS" />
                                    <pe:inputNumber id="valoricms" required="true" requiredMessage="Informe o valor do icms da nota!"  value="#{notaEntradaMB.notaEntrada.valorICMS}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="basecalcst" value="Base Calc. ST" />
                                    <pe:inputNumber value="#{notaEntradaMB.notaEntrada.basecalculoICMSST}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}" id="basecalcst" required="true" requiredMessage="Informe a base de cálculo st da nota!"  symbol=" %" symbolPosition="s"  
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="icmsst" value="Vlr ICMS ST" />
                                    <pe:inputNumber value="#{notaEntradaMB.notaEntrada.valorICMSST}" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}" id="icmsst" required="true" requiredMessage="Informe o valor do icms st da nota!"   symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="totalprod" value="Total Produtos" />
                                    <pe:inputNumber id="totalprod" required="true" requiredMessage="Informe o valor total dos produtos da nota!"  value="#{notaEntradaMB.notaEntrada.valorTotalProdutos}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." >

                                    </pe:inputNumber>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="valfrete" value="Vlr do Frete" />
                                    <pe:inputNumber id="valfrete" required="true" requiredMessage="Informe o valor do frete da nota!" 
                                                    value="#{notaEntradaMB.notaEntrada.valorFrete}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-sm-2" >
                                    <p:outputLabel for="valSeguro" value="Vlr do Seguro" />
                                    <pe:inputNumber id="valSeguro" required="true" requiredMessage="Informe o valor do seguro da nota!"
                                                    value="#{notaEntradaMB.notaEntrada.valorSeguro}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="descto" value="Vlr do Desconto" />
                                    <pe:inputNumber id="descto" required="true" requiredMessage="Informe o valor do desconto da nota!"
                                                    value="#{notaEntradaMB.notaEntrada.valorDesconto}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." >

                                    </pe:inputNumber>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="outrasdesp" value="Outras Despesas" />
                                    <pe:inputNumber id="outrasdesp" required="true" requiredMessage="Informe o valor de outras despesas da nota!"
                                                    value="#{notaEntradaMB.notaEntrada.outrasDespesas}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2"  style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                    <p:outputLabel for="valoripi" value="Vlr IPI" />
                                    <pe:inputNumber id="valoripi" required="true" requiredMessage="Informe o valor do ipi da nota!"
                                                    value="#{notaEntradaMB.notaEntrada.valorIPI}"  symbol="R$ "  rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}"
                                                    decimalSeparator="," thousandSeparator="." />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="valornf" value="Vlr Total NF" />
                                    <pe:inputNumber id="valornf" required="true" requiredMessage="Informe o valor total da nota!"
                                                    value="#{notaEntradaMB.notaEntrada.valortotalNF}"  symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." >

                                    </pe:inputNumber>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                                    <p:outputLabel for="transpo" value="Transportadora" />
                                    <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                        <p:autoComplete id="transpo"   
                                                        value="#{notaEntradaMB.notaEntrada.idTransportadora}"  
                                                        completeMethod="#{transportadoraMB.autoCompleteTransportadora}" 
                                                        converter="Converter" var="trans" itemLabel="#{trans.nomeFantasia}" itemValue="#{trans}"  >
                                            <p:column >
                                                <h:outputText value="#{trans.idTransportadora}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{trans.nomeFantasia}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{cfoo.razaoSocial}" />
                                            </p:column>
                                        </p:autoComplete>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                                    <p:outputLabel for="locTrab" value="Local de Trabalho" />
                                    <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                        <p:selectOneMenu id="locTrab"   styleClass="form-control" filter="true" filterMatchMode="contains"
                                                         value="#{notaEntradaMB.notaEntrada.idLocalTrabalho}"  
                                                         converter="Converter" var="loct"   >
                                            <f:selectItem itemLabel="Selecione o local de trabalho!" itemValue="" />
                                            <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loct2"
                                                           itemLabel="#{loct2.descricao}" itemValue="#{loct2}" />
                                            <p:column >
                                                <h:outputText value="#{loct.descricao}" />
                                            </p:column>
                                        </p:selectOneMenu>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" onclick="PF('dlgAtalhoLocalTrabalho').show();"/>
                                    </h:panelGrid>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" >
                                    <p:outputLabel value="Movimenta Estoque" for="proc" />
                                    <p:selectOneMenu id="proc" value="#{notaEntradaMB.notaEntrada.tipoProcesso}" styleClass="form-control"   required="true" requiredMessage="Informe se o estoque irá movimentar!">
                                        <f:selectItem itemLabel="Movimenta Estoque" itemValue="S"  />
                                        <f:selectItem itemLabel="Não Movimenta Estoque" itemValue="N" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <p:outputLabel value="Observação" for="obs" />
                                    <p:inputTextarea id="obs" value="#{notaEntradaMB.notaEntrada.observacao}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                                    <p:outputLabel for="pedCompra" value="Pedidos de Compra" />
                                    <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                        <p:autoComplete id="pedCompra" multiple="true" value="#{notaEntradaMB.notaEntrada.pedidoCompraList}" completeMethod="#{notaEntradaMB.completeMethod}"
                                                        var="ped" itemLabel="#{ped.idPedidoCompra}" itemValue="#{ped}" converter="Converter" forceSelection="true" disabled="#{notaEntradaMB.notaEntrada.idFornecedor == null ? 'true' :'false' }"
                                                        placeholder="Digite o pedido" dropdown="true">
                                            <p:ajax event="itemSelect" listener="#{notaEntradaMB.itemSelect()}" />
                                            <p:column>
                                                <h:outputText value="#{ped.idPedidoCompra} - #{ped.idFornecedor.nome}" />
                                            </p:column>
                                        </p:autoComplete>
                                        <p:commandButton icon="Importar" style="height: 40px !important;" action="#{notaEntradaMB.importarPedidoCompra()}" update=":tabs:frmNota , :msg" immediate="true"/>
                                    </h:panelGrid>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Itens" >
                            <h:panelGroup id="grupoItem">
                                <div class="row">
                                    <h:panelGroup id="item">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                                            <p:outputLabel for="proditem" value="Produto" />
                                            <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                                <p:autoComplete id="proditem"    placeholder="Digite o nome do produto!"
                                                                value="#{notaEntradaMB.notaEntradaItem.idProduto}"   
                                                                completeMethod="#{produtoMB.completeMethodProduto}" 
                                                                converter="Converter" var="prod" itemLabel="#{prod.descricao}" itemValue="#{prod}"  >
                                                    <p:column >
                                                        <h:outputText value="#{prod.idProduto}" />
                                                    </p:column>
                                                    <p:column >
                                                        <h:outputText value="#{prod.descricao}" />
                                                    </p:column>
                                                    <p:ajax event="itemSelect" update="grupoItem, @this" oncomplete=" $(function(){PrimeFaces.focus('tabs:frmNota:tabNfs:qntitem_input');});" />
                                                </p:autoComplete>
                                                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" onclick="PF('dlgAtalhoProduto').show();" />
                                            </h:panelGrid>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}" >
                                            <p:outputLabel for="ncmItem" value="NCM" />
                                            <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                                <p:inputText id="ncmItem" readonly="true" value="#{notaEntradaMB.notaEntradaItem.idProduto.idNCM.nomeclaturaNcm}" />
                                                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                            </h:panelGrid>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-1 col-lg-1"  style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="csosnitem" value="CSOSN/CST"  />
                                            <p:inputText  id="csosnitem" value="#{notaEntradaMB.notaEntradaItem.cst}" />
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="cfopitem" value="CFOP" />
                                            <p:selectOneMenu  value="#{notaEntradaMB.notaEntradaItem.idCFOP}" converter="Converter"  id="cfopitem"  styleClass="form-control">
                                                <f:selectItem itemLabel="Selecione o cfop" itemValue="" />
                                                <f:selectItems value="#{cfopMB.listaCfops()}" var="cfop"
                                                               itemLabel="#{cfop.cfopInterno} - #{cfop.descricao}" itemValue="#{cfop}"  />
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1" >
                                            <p:outputLabel for="unidadeitem" value="Unidade" />
                                            <p:inputText id="unidadeitem" value="#{notaEntradaMB.notaEntradaItem.idProduto.idUnidadeEntrada.descricaoResumida}" readonly="true" />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1" >
                                            <p:outputLabel for="qntitem" value="Qntde" />
                                            <pe:inputNumber id="qntitem" 
                                                            value="#{notaEntradaMB.notaEntradaItem.quantidade}"  
                                                            decimalSeparator="," thousandSeparator="."  >
                                                <p:ajax event="blur" listener="#{notaEntradaMB.verquantidade()}" />
                                            </pe:inputNumber>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" >
                                            <p:outputLabel for="vlrUnitItem" value="Vlr Unit" />
                                            <pe:inputNumber id="vlrUnitItem" 
                                                            value="#{notaEntradaMB.notaEntradaItem.valorUnitario}"  symbol="R$ " 
                                                            decimalSeparator="," thousandSeparator="." >
                                                <p:ajax event="blur" listener="#{notaEntradaMB.calcularTotalItem()}" update="vlrTotalItem" />
                                            </pe:inputNumber>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" >
                                            <p:outputLabel for="vlrDescItem" value="Vlr Descto" />
                                            <pe:inputNumber id="vlrDescItem" symbol="R$ " minValue="0"
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.valorDesconto}"   >
                                                <p:ajax event="blur" listener="#{notaEntradaMB.calcularTotalItem()}" update="vlrTotalItem" />
                                            </pe:inputNumber>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" >
                                            <p:outputLabel for="vlrTotalItem" value="Vlr Total" />
                                            <pe:inputNumber id="vlrTotalItem" 
                                                            value="#{notaEntradaMB.notaEntradaItem.valorTotal}"  symbol="R$ " 
                                                            decimalSeparator="," thousandSeparator="."  />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="BaseIcmsItem" value="Base ICMS" />
                                            <pe:inputNumber id="BaseIcmsItem" symbol=" % "  symbolPosition="s"  
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.basecalculoICMS}"   />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1"  style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="vlrIcmsItem" value="Vlr ICMS" />
                                            <pe:inputNumber id="vlrIcmsItem" symbol="R$ " 
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.valorICMS}"   />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}" >
                                            <p:outputLabel for="vlrIpiItem" value="Vlr IPI" />
                                            <pe:inputNumber id="vlrIpiItem" symbol="R$ " 
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.valorICMS}"   />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="AliqIcmsItem" value="Aliq ICMS" />
                                            <pe:inputNumber id="AliqIcmsItem" symbol=" % "  symbolPosition="s"  
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.aliquotaICMS}"   />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" style="#{sessaoMB.verificaSeSistemaGerencialOuFiscal()}">
                                            <p:outputLabel for="AliqIPIItem" value="Aliq IPI" />
                                            <pe:inputNumber id="AliqIPIItem" symbol=" % "  symbolPosition="s"  
                                                            decimalSeparator="," thousandSeparator="."
                                                            value="#{notaEntradaMB.notaEntradaItem.aliquotaIPI}"   />
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                            <br/>
                                            <script>
                                                function limparCampos(){
                                                    $(function(){PrimeFaces.focus('tabs:frmNota:tabNfs:proditem_input');});
                                                    document.getElementById('tabs:frmNota:tabNfs:qntitem_input').value = '';
                                                    document.getElementById('tabs:frmNota:tabNfs:vlrUnitItem_input').value = '';
                                                    document.getElementById('tabs:frmNota:tabNfs:vlrDescItem_input').value = '';
                                                    document.getElementById('tabs:frmNota:tabNfs:vlrTotalItem_input').value = '';
                                                    document.getElementById('tabs:frmNota:tabNfs:qntitem_input').focus();
                                                }
                                            </script>
                                            <p:commandButton value="Adicionar" icon="new_adicionar" update="tblItens, grupoItem " immediate="true" oncomplete="limparCampos();"   actionListener="#{notaEntradaMB.adicionarItem()}" />
                                            <hr/>
                                            <p:dataTable id="tblItens" value="#{notaEntradaMB.notaEntrada.notaEntradaItemList}" var="item" rowIndexVar="riv" paginator="true" paginatorAlwaysVisible="false" rows="10" paginatorPosition="bottom" 
                                                         editable="true" editMode="cell" emptyMessage="Nenhum item adicionado!" >
                                                <p:column headerText="Seq"  styleClass="centralizar" width="5%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.sequencia}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText value="#{item.sequencia}" />
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Produto" width="15%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.idProduto.descricao}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:autoComplete    required="true" requiredMessage="Informe o Produto!" 
                                                                               value="#{item.idProduto}"  
                                                                               completeMethod="#{produtoMB.completeMethodProduto}" 
                                                                               converter="Converter" var="prod2" itemLabel="#{prod2.descricao}" itemValue="#{prod2}"  >
                                                                <p:column >
                                                                    <h:outputText value="#{prod2.idProduto}" />
                                                                </p:column>
                                                                <p:column >
                                                                    <h:outputText value="#{prod2.descricao}" />
                                                                </p:column>
                                                            </p:autoComplete>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="CST"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.cst}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText value="#{item.cst}" />
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="UN"  styleClass="centralizar" width="5%">
                                                    <h:outputText value="#{item.idProduto.idUnidadeEntrada.descricaoResumida}" />
                                                </p:column>
                                                <p:column headerText="CFOP"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.idCFOP.cfopInterno}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:selectOneMenu  value="#{item.idCFOP}" converter="Converter"    styleClass="form-control">
                                                                <f:selectItem itemLabel="Selecione o cfop" itemValue="" />
                                                                <f:selectItems value="#{cfopMB.listaCfops()}" var="cfop"
                                                                               itemLabel="#{cfop.cfopInterno} - #{cfop.descricao}" itemValue="#{cfop}"  />
                                                            </p:selectOneMenu>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Qnt"  styleClass="centralizar" width="5%" >
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.quantidade}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText id="qnte" value="#{item.quantidade}" />
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Vlr Unit." styleClass="centralizar" width="8%" >
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorUnitario}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorUnitario}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Desconto"  styleClass="centralizar" width="8%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorDesconto}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorDesconto}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Total" styleClass="centralizar" width="8%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorTotal}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorTotal}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>

                                                <p:column headerText="B.C Icms"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.basecalculoICMS} %" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.basecalculoICMS}"  symbol=" % " symbolPosition="s"
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="V. Icms"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorICMS} %" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorICMS}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="V. Ipi"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorIPI} %" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorIPI}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="A. ICMS"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.aliquotaICMS} %" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.aliquotaICMS}"  symbol=" % "  symbolPosition="s"
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="A. IPI"  styleClass="centralizar" width="8%" rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.aliquotaIPI} %" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.aliquotaIPI}"  symbol=" % "  symbolPosition="s"
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column width="8%">
                                                    <center>
                                                        <p:commandButton icon="Excluir" update="tblItens, :msg" immediate="true" action="#{notaEntradaMB.excluirItem(riv,item)}" />
                                                    </center>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Pagamento" >
                            <div class="row" >
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                    <p:outputLabel  value="Forma de Pagamento" />
                                    <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                                        <p:selectOneMenu  value="#{notaEntradaMB.notaEntrada.idFormaPagamento}" converter="Converter"
                                                          filter="true" filterMatchMode="contains" styleClass="form-control" >
                                            <f:selectItem itemLabel="Selecione a forma!" itemValue="" />
                                            <f:selectItems value="#{formaPagamentoMB.listaFormaDePagamentos()}" var="forma"
                                                           itemLabel="#{forma.descricao}" itemValue="#{forma}" />
                                            <p:ajax  event="change" update="grupo, tblContas ,grpCentroCusto, :tabs:frmNota:tabNfs:grpTable" />
                                        </p:selectOneMenu>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <h:panelGroup id="grupo">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" >
                                        <p:outputLabel for="planoContas" value="Conta" />
                                        <p:selectOneMenu id="planoContas" filter="true" filterMatchMode="contains"  styleClass="form-control" 
                                                         converter="Converter" effect="fade"
                                                         value="#{notaEntradaMB.contasPagar.idPlanoContas}" var="vpc">
                                            <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                                            <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="planos" 
                                                           itemLabel="#{planos.codigo} - #{planos.descricao}" itemDisabled="#{planos.tipo=='S'?'true':'false'}" />
                                            <p:column>
                                                <h:outputText value="#{vpc.codigo}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{vpc.descricao}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                            </p:column>
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                                        <p:outputLabel for="tipoDocumento" value="Tipo de Documento" />
                                        <p:selectOneMenu id="tipoDocumento" filter="true" filterMatchMode="contains"  styleClass="form-control"
                                                         effect="fade"
                                                         requiredMessage="Informe o Tipo de Documento!" value="#{notaEntradaMB.contasPagar.tipodocumento}">
                                            <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                            <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                            <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                            <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                            <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                            <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                            <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                            <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                            <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                            <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                            <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                            <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                        <p:outputLabel value="Nº de Parcelas" rendered="#{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'P' and notaEntradaMB.notaEntrada.idFormaPagamento != null}" />
                                        <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                            <p:spinner value="#{notaEntradaMB.contasPagar.numParcela}"  rendered="#{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'P' and notaEntradaMB.notaEntrada.idFormaPagamento != null}" 
                                                       min="1" />
                                            <p:commandButton id="btnGerarParcelas" style="height: 30px;"   action="#{notaEntradaMB.gerarContasPagar()}" update="tblContas, grupo, :tabs:frmNota:msgI" icon="Gerar" rendered="#{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'P' and notaEntradaMB.notaEntrada.idFormaPagamento != null}" />
                                        </h:panelGrid>
                                        <p:outputLabel value="Data do Vencimento" rendered="#{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'V' and notaEntradaMB.notaEntrada.idFormaPagamento != null}" />
                                        <p:calendar locale="pt" value="#{notaEntradaMB.contasPagar.dtVencimento}"  rendered="#{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'V' and notaEntradaMB.notaEntrada.idFormaPagamento != null}" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <p:outputLabel value="Observação" for="obsp" />
                                        <p:inputTextarea id="obsp" value="#{notaEntradaMB.contasPagar.observacao}" />
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="grpCentroCusto"  >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="display: #{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'V' ? 'block' : 'none' }">
                                        <hr/>
                                        <p:dataTable id="dtlCentrosUnicos" value="#{notaEntradaMB.contasPagar.centrocustoplanocontasList}" var="cnt" rowIndexVar="rov">
                                            <f:facet name="header">
                                                <p:commandButton value="Adicionar Centro de Custo" icon="new_adicionar" immediate="true" action="#{notaEntradaMB.adicionarCentroCusto(notaEntradaMB.contasPagar.centrocustoplanocontasList)}" update=":tabs:frmNota:tabNfs:dtlCentrosUnicos" /> 
                                            </f:facet>
                                            <p:column headerText="Local" width="15%" styleClass="font-table">
                                                <p:selectOneMenu value="#{cnt.idLocalTrabalho}" styleClass="form-control" filter="true"
                                                                 id="localTraqb"   converter="Converter" filterMatchMode="contains" effect="fade"
                                                                 required="true" requiredMessage="Informe o centro de custo!">
                                                    <f:selectItem itemLabel="Selecione o Local" itemValue="" />
                                                    <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                                                   itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                                                    <p:ajax event="change"  update="cliente, centro" listener="#{notaEntradaMB.selecionarLocalDeTrabalho(cnt, rov)}" />
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Cliente" width="15%" styleClass="font-table">
                                                <h:outputText id="cliente" value="#{cnt.idCliente.nome}" />
                                            </p:column>
                                            <p:column headerText="Centro de Custo" width="15%" styleClass="font-table">
                                                <h:outputText id="centro" value="#{cnt.idCentroCusto.descricao}" />
                                            </p:column>
                                            <p:column headerText="Plano de Contas" width="15%" styleClass="font-table">
                                                <p:selectOneMenu value="#{cnt.idPlanoContas}" styleClass="form-control" filter="true"
                                                                 id="planContas"  effect="fade"  converter="Converter" filterMatchMode="contains" var="pca2" required="true" requiredMessage="Informe o plano de contas!" >
                                                    <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                                                    <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                                                   itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                                                    <p:column>
                                                        <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Valor" style="text-align: center" width="10%" styleClass="font-table">
                                                <pe:inputNumber value="#{cnt.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                                                decimalSeparator="," thousandSeparator="." maxValue="#{notaEntradaMB.contasPagar.valorDuplicata}"/>
                                            </p:column>
                                            <p:column headerText="%" style="text-align: center" width="10%" styleClass="font-table">
                                                <pe:inputNumber value="#{cnt.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol=" %"
                                                                decimalSeparator="," thousandSeparator="." maxValue="100"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="grpTable"  >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="display: #{notaEntradaMB.notaEntrada.idFormaPagamento.tipo == 'P' ? 'block' : 'none' }">
                                        <hr/>
                                        <p:dataTable id="tblContas" value="#{notaEntradaMB.listaContasPagar}" var="ctp" 
                                                     paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="15"
                                                     emptyMessage="Nenhum pagamento adicionado!" editable="true" editMode="cell">
                                            <f:facet name="header">
                                                Parcelas
                                            </f:facet>
                                            <p:column width="5%">
                                                <p:rowToggler />
                                            </p:column>
                                            <p:column headerText="Documento" width="8%" styleClass="centralizar font-table">
                                                <p:cellEditor>
                                                    <f:facet name="output">  <h:outputText value="#{ctp.numDocto}"  /></f:facet>
                                                    <f:facet name="input"><p:inputText  value="#{ctp.numDocto}" style="width:96%"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Parcela" width="8%" styleClass="centralizar font-table">
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText value="#{ctp.numParcela}/#{ctp.totalParcelas}" /></f:facet>
                                                    <f:facet name="input"><p:inputText  value="#{ctp.numParcela}" style="width:96%"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Data Vencimento" width="10%" styleClass="centralizar font-table">
                                                <p:cellEditor>
                                                    <f:facet name="output">  
                                                        <h:outputText value="#{ctp.dtVencimento}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </h:outputText>
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <p:calendar value="#{ctp.dtVencimento}" pattern="dd/MM/yyyy" locale="pt" />
                                                    </f:facet>
                                                </p:cellEditor>

                                            </p:column>
                                            <p:column headerText="Valor" width="10%" styleClass="centralizar font-table">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText value="#{ctp.valorDuplicata}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <pe:inputNumber value="#{ctp.valorDuplicata}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                                                        decimalSeparator="," thousandSeparator="." />
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Fornecedor" width="20%" styleClass="font-table" >
                                                <h:outputText value="#{ctp.idFornecedor.nome}" />
                                            </p:column>
                                            <p:column headerText="Conta" width="20%"  styleClass="font-table">
                                                <h:outputText value="#{ctp.idPlanoContas.descricao}" />
                                            </p:column>
                                            <p:column width="5%" headerText="Centro de Custo" styleClass="font-table">
                                                <p:commandButton icon="new_adicionar" action="#{notaEntradaMB.adicionarCentroCusto(ctp.centrocustoplanocontasList)}" update="tblCentroCusto" />
                                            </p:column>
                                            <p:rowExpansion>
                                                <p:dataTable value="#{ctp.centrocustoplanocontasList}" id="tblCentroCusto" var="ok"  editable="true" editMode="cell" rowIndexVar="rv">
                                                    <p:column headerText="Local" width="15%" styleClass="font-table">
                                                        <p:selectOneMenu value="#{ok.idLocalTrabalho}" styleClass="form-control" filter="true"
                                                                         id="localTraqb"   converter="Converter" filterMatchMode="contains" effect="fade"
                                                                         required="true" requiredMessage="Informe o centro de custo!">
                                                            <f:selectItem itemLabel="Selecione o Local" itemValue="" />
                                                            <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                                                           itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                                                            <p:ajax event="change"  update="cliente, centro" listener="#{notaEntradaMB.selecionarLocalDeTrabalho(ok, rv)}" />
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column headerText="Cliente" width="15%" styleClass="font-table">
                                                        <h:outputText id="cliente" value="#{ok.idCliente.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Centro de Custo" width="15%" styleClass="font-table">
                                                        <h:outputText id="centro" value="#{ok.idCentroCusto.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Plano de Contas" width="15%" styleClass="font-table">
                                                        <p:selectOneMenu value="#{ok.idPlanoContas}" styleClass="form-control" filter="true"
                                                                         id="planContas"  effect="fade"  converter="Converter" filterMatchMode="contains" var="pca2" required="true" requiredMessage="Informe o plano de contas!" >
                                                            <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                                                            <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                                                           itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                                                            <p:column>
                                                                <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                            </p:column>
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column headerText="Valor" style="text-align: center" width="10%" styleClass="font-table">
                                                        <pe:inputNumber value="#{ok.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                                                        decimalSeparator="," thousandSeparator="." maxValue="#{ctp.valorDuplicata}"/>
                                                    </p:column>
                                                    <p:column headerText="%" style="text-align: center" width="10%" styleClass="font-table">
                                                        <pe:inputNumber value="#{ok.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol=" %"
                                                                        decimalSeparator="," thousandSeparator="." maxValue="100"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </p:tab>

                    </p:tabView>
                    <hr/>
                    <p:commandButton value="Salvar" icon="Salvar" action="#{notaEntradaMB.Salvar()}" update="@form, :msg, :tabs:frmNotaFiscalEntrada" oncomplete="if(!args.validationFailed)PF('dlgLancarNotaEntrada').hide();" />
                </h:form>
            </div>
        </div>

    </p:dialog>



</ui:composition>
