<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgVerNotaEntrada" header="Info NF de Entrada" width="60%" modal="true" position="top" showEffect="fade" hideEffect="fade"  >
        <h:form id="frmVerNotaEntrada" >
            <div class="row">
                <div class="col-lg-12">
                    <strong>Fornecedor: #{notaEntradaMB.notaEntrada.idFornecedor.nome}</strong><br/>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Data de Emissão" />
                        <h:outputText value="#{notaEntradaMB.notaEntrada.dtEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Entrada" />
                        <h:outputText value="#{notaEntradaMB.notaEntrada.dtEntrada}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Valor Total dos Produtos" />
                        <h:outputText value="#{notaEntradaMB.notaEntrada.valorTotalProdutos}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                        <h:outputText value="Valor Total Desconto" />
                        <h:outputText value="#{notaEntradaMB.notaEntrada.valorDesconto}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                        <h:outputText value="Valor" />
                        <h:outputText value="#{notaEntradaMB.notaEntrada.valortotalNF}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                    </h:panelGrid>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable value="#{notaEntradaMB.notaEntrada.notaEntradaItemList}" var="nfItens" >
                        <p:column headerText="Produto" width="25%">
                            <h:outputText value="#{nfItem.idProduto.descricao}" />
                        </p:column>
                        <p:column headerText="Unidade" width="10%">
                            <h:outputText value="#{nfItem.idProduto.idUnidadeSaida.descricaoResumida}" />
                        </p:column>
                        <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                            <h:outputText value="#{nfItem.valorUnitario}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Quantidade" width="10%" style="text-align: center">
                            <h:outputText value="#{nfItem.quantidade}" />
                        </p:column>
                        <p:column headerText="Valor Total do Item" width="10%" style="text-align: center">
                            <h:outputText value="#{nfItem.quantidade * nfItem.valorUnitario}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>