<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Nomeclatura" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="ncms" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{nCMMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="ncms" value="#{nCMMB.listarNcms()}" var="ncm" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{ncm.idNcm}" selection="#{nCMMB.ncm}" selectionMode="single">
                <f:facet name="header">
                    NCM
                </f:facet>
                <f:facet name="footer">
                    #{nCMMB.listarNcms().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{ncm.idNcm}" width="8%" sortBy="#{ncm.idNcm}">
                    <center>
                        <h:outputText value="#{ncm.idNcm}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{ncm.descricao}" width="20%" sortBy="#{ncm.descricao}">
                    <h:outputText value="#{ncm.descricao}" />
                </p:column>
                <p:column headerText="Nomeclatura" filterBy="#{ncm.nomeclaturaNcm}" width="20%" sortBy="#{ncm.nomeclaturaNcm}">
                    <h:outputText value="#{ncm.nomeclaturaNcm}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>