<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{nCMMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{nCMMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar"/>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{nCMMB.ncm.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="nomeclatura" value="Nomeclatura"  />
                        <p:inputText value="#{nCMMB.ncm.nomeclaturaNcm}" id="nomeclatura" required="true" requiredMessage="Nomeclatura é obrigatória!" />
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>