<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

        <h:form id="frmCadastro">
            <div class="col-md-12">
                <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                    <p:ajax update="@form, :frmCadastro" listener="#{cargoMB.novo()}"  resetValues="true"  />
                </p:commandButton>
                <p:commandButton  value="Salvar" action="#{cargoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                    <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                    <f:param name="mode" value="true"  />
                </p:commandButton>
                <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <p:outputLabel for="descricao" value="Descricao"  />
                        <p:inputText value="#{cargoMB.cargo.descricao}" id="descricao" required="#{param['mode']}" requiredMessage="Descrição é obrigatório!" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="cbo" value="CBO"  />
                        <p:inputText value="#{cargoMB.cargo.cbo}" id="cbo" required="#{param['mode']}" requiredMessage="CBO é obrigatório!" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="salarioBase" value="Salário Base"/>
                        <pe:inputNumber id="salarioBase" value="#{cargoMB.cargo.salarioBase}" symbol="R$"
                                        decimalSeparator="," thousandSeparator="."/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="add_insalubridade" value="Adicional Insalubridade"/>
                        <pe:inputNumber id="add_insalubridade" value="#{cargoMB.cargo.adicionalInsalubridade}"
                                        symbol="%" symbolPosition="right" maxValue="100"/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="add_periculosidade" value="Adicional Periculosidade"/>
                        <pe:inputNumber id="add_periculosidade" value="#{cargoMB.cargo.adicionalPericulosidade}"
                                        symbol="%" symbolPosition="right" maxValue="100"/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="alimentacao" value="Alimentação"/>
                        <pe:inputNumber id="alimentacao" value="#{cargoMB.cargo.alimentacao}" symbol="R$"
                                        decimalSeparator="," thousandSeparator="."/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="acumulo" value="Acumulo Função"/>
                        <pe:inputNumber id="acumulo" value="#{cargoMB.cargo.acumuloFuncao}" symbol="R$"
                                        decimalSeparator="," thousandSeparator="."/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="vale" value="Vale Transporte"/>
                        <pe:inputNumber id="vale" value="#{cargoMB.cargo.valeTransporte}" symbol="R$"
                                        decimalSeparator="," thousandSeparator="."/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="seguro" value="Seguro de Vida"/>
                        <pe:inputNumber id="seguro" value="#{cargoMB.cargo.seguroVida}" symbol="R$"
                                        decimalSeparator="," thousandSeparator="."/>
                    </div>
                </div>
            </div>
        </h:form>
</ui:composition>