<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-coin"></i> Financeiro
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer todos os lançamentos financeiros.
            </ui:define>
            <ui:define name="breadcrumb">
                Financeiro
            </ui:define>
            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro}"/>
                <div class="col-lg-12">
                    <p:tabView id="tabs" dynamic="true" cache="true">
                        <p:tab title="Contas à Pagar" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasPagar}" >
                            <div class="row">
                                <ui:include src="../Pagamento/index.xhtml" />
                                <ui:include src="../Pagamento/Pesquisar.xhtml" />
                                <ui:include src="../Pagamento/Lancar.xhtml" />
                                <ui:include src="../Pagamento/Pagar.xhtml" />
                                <ui:include src="../Pagamento/Ver.xhtml" />
                                <ui:include src="../Pagamento/Editar.xhtml" />
                                <ui:include src="../Pagamento/Relatorios.xhtml" />
                                <ui:include src="../Cheque/Lancar.xhtml" />
                            </div>
                        </p:tab>
                        <p:tab title="Contas à Receber" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasReceber}">
                            <div class="row">
                                <ui:include src="../Recebimento/index.xhtml" />
                                <ui:include src="../Recebimento/Lancar.xhtml" />
                                <ui:include src="../Recebimento/Receber.xhtml" />
                                <ui:include src="../Recebimento/Pesquisar.xhtml" />
                                <ui:include src="../Recebimento/Editar.xhtml" />
                                <ui:include src="../Recebimento/Ver.xhtml" />
                            </div>
                        </p:tab>

                        <p:tab title="Movimento de Caixa" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroCaixa}">
                            <div class="row">
                                <ui:include  src="../MovimentoCaixa/Principal.xhtml" /> 
                                <ui:include  src="../MovimentoCaixa/Pesquisa.xhtml" /> 
                            </div>
                        </p:tab>
                        <p:tab title="Movimento Bancário" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroBanco}">
                            <div class="row">
                                <ui:include  src="../MovimentoBancario/Principal.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/Pesquisa.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/Deposito.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/Saque.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/TransferenciaCaixa.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/TransferenciaBancaria.xhtml" /> 
                                <ui:include  src="../MovimentoBancario/ExtratoBancario.xhtml" /> 
                            </div>
                        </p:tab>
                        <p:tab title="Cheques" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroCheque}">
                            <div class="row">
                                <ui:include src="../Cheque/index.xhtml" />
                                <ui:include src="../Cheque/Lancar_Avulso.xhtml" />
                                <ui:include src="../Cheque/Pesquisar.xhtml" />
                                <ui:include src="../Cheque/Ver.xhtml" />
                            </div>
                        </p:tab>
                    </p:tabView>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
