<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">
    
    <p:dialog widgetVar="dlgAtalhoCliente" modal="true" header="Cadastro de Cliente"  width="50%" height="500"  position="top">
        <iframe src="../Cliente/index.xhtml"  width="100%" height="99%" />
    </p:dialog>
    
    <p:dialog  header="Lançar Contas à Receber" widgetVar="dlgContasReceberLancar" modal="true" width="80%" height="80%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <h:form id="frmContasReceberLancar" style="overflow:scroll; height: 100%; ">
            <p:messages  closable="true" />
            <p:tabView  id="tabs" effect="fade" >
                <p:tab title="Dados Básicos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
                            <p:outputLabel for="cliente" value="Cliente" />
                            <h:panelGrid columns="2" style="width: 100%">
                                <p:autoComplete  id="cliente" value="#{recebimentoMB.recebimento.idCliente}" converter="Converter" completeMethod="#{clienteMB.completeMethodCliente}" var="clie"
                                             itemLabel="#{clie.nome}" itemValue="#{clie}" placeholder="Digite o nome ou o código" required="true" requiredMessage="Informe o Cliente">
                                <p:column>
                                    <h:outputText value="#{clie.idCliente}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{clie.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{clie.cgccpf}" />
                                </p:column>
                            </p:autoComplete>
                            <p:commandButton icon="Atalho" style="height: 30px !important;" onclick="PF('dlgAtalhoCliente').show()" />
                            </h:panelGrid>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtVencimento" value="Data Vencto" />
                            <p:calendar value="#{recebimentoMB.recebimento.dtVencimento}" id="dtVencimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data de vencimento!" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="vlrDocumento" value="Valor Docto" />
                            <pe:inputNumber value="#{recebimentoMB.recebimento.valorDuplicata}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor do documento!" symbol="R$ "
                                            decimalSeparator="," thousandSeparator=".">
                                <p:ajax event="blur" update=":tabs:frmContasReceberLancar:tabs:btnAddCentroCusto" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                            <p:outputLabel for="planoContas" value="Conta" />
                            <p:selectOneMenu id="planoContas" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             converter="Converter" effect="fade"
                                             requiredMessage="Informe o fornecedor!" value="#{recebimentoMB.recebimento.idPlanoContas}" var="vpc">
                                <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                                <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="planos" 
                                               itemLabel="#{planos.codigo} - #{planos.descricao}" itemDisabled="#{planos.tipo=='S'?'true':'false'}" />
                                <p:column>
                                    <h:outputText value="#{vpc.codigo}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{vpc.descricao}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDocto" value="Nº do Documento" />
                            <p:inputText value="#{recebimentoMB.recebimento.numDocto}" id="numDocto"  />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDuplicata" value="Nº da Duplicata" />
                            <p:inputText id="numDuplicata"  value="#{recebimentoMB.recebimento.numDuplicata}" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="tipoDocumento" value="Tipo de Documento" />
                            <p:selectOneMenu id="tipoDocumento" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             effect="fade"
                                             requiredMessage="Informe o Tipo de Documento!" value="#{recebimentoMB.recebimento.tipodocumento}">
                                <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="lancarQuantidade" value="Repetir?" />
                            <p:spinner id="lancarQuantidade" value="#{recebimentoMB.recebimento.numParcela}" min="0"  >
                                <p:ajax event="change" listener="#{recebimentoMB.verificarQuantidadeDeLancamentos()}" update="receberAgora,dtRecebimento,vlrRecebimento,destino,banco,contaCorrente, ocorrencia" />
                            </p:spinner>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="ocorrencia" value="Ocorrência" />
                            <p:selectOneMenu id="ocorrencia" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             effect="fade"
                                             requiredMessage="Informe o Tipo de Documento!" value="#{recebimentoMB.ocorrencia}" disabled="#{recebimentoMB.recebimento.numParcela==0}">
                                <f:selectItem itemLabel="Mensalmente" itemValue="Mensalmente" />
                                <f:selectItem itemLabel="Diariamente" itemValue="Diariamente" />
                                <f:selectItem itemLabel="Semanalmente" itemValue="Semanalmente" />
                                <f:selectItem itemLabel="Bimestralmente" itemValue="Bimestralmente" />
                                <f:selectItem itemLabel="Trimestralmente" itemValue="Trimestralmente" />
                                <f:selectItem itemLabel="Semestralmente" itemValue="Semestralmente" /> 
                                <f:selectItem itemLabel="Anualmente" itemValue="Anualmente" /> 
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-2 col-md-3 col-lg-1" >
                            <p:outputLabel for="receberAgora" value="Receber?" /><br/>
                            <p:inputSwitch id="receberAgora" onLabel="Sim" offLabel="Não"   value="#{recebimentoMB.recebimento.status}"  disabled="#{recebimentoMB.recebimento.numParcela > 0}">
                                <p:ajax event="change" update="dtRecebimento,vlrRecebimento,destino,banco,contaCorrente" listener="#{recebimentoMB.verificarStatus()}" />
                            </p:inputSwitch>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtRecebimento" value="Data do Recebimento" />
                            <p:calendar value="#{recebimentoMB.recebimento.dtPagamento}" disabled="#{recebimentoMB.recebimento.status==false}" id="dtRecebimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data de vencimento!" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="vlrRecebimento" value="Valor Recebido" />
                            <pe:inputNumber id="vlrRecebimento"  required="true" requiredMessage="Informe a o valor Pago!" symbol="R$ "
                                            value="#{recebimentoMB.recebimento.valorRecebido}" disabled="#{recebimentoMB.recebimento.status=='false'}"
                                            decimalSeparator="," thousandSeparator="."/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" >
                            <p:outputLabel for="destino" value="Destino" />
                            <p:selectOneMenu id="destino" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             requiredMessage="Informe o Destino do Pagamento!" value="#{recebimentoMB.recebimento.recebidoCom}"
                                             effect="fade" disabled="#{recebimentoMB.recebimento.status=='false'}">
                                <f:selectItem itemLabel="Selecione o Destino" itemValue="" />
                                <f:selectItem itemLabel="Caixa" itemValue="C" />
                                <f:selectItem itemLabel="Banco" itemValue="B" />
                                <p:ajax event="change" update="banco,contaCorrente" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="banco" value="Banco" />
                            <p:selectOneMenu id="banco" value="#{recebimentoMB.recebimento.idBanco}" styleClass="form-control" filter="true" converter="Converter"
                                             effect="fade" filterMatchMode="contains" disabled="#{recebimentoMB.recebimento.recebidoCom != 'B'}">
                                <f:selectItem itemLabel="Selecione o Banco" itemValue=""/>
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="banco"
                                               itemLabel="#{banco.numeroBanco} - #{banco.nome}"  />
                                <p:ajax event="change" update="contaCorrente" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="contaCorrente" value="Conta Corrente" />
                            <p:selectOneMenu id="contaCorrente"  value="#{recebimentoMB.recebimento.idContaCorrente}" styleClass="form-control" filter="true" 
                                             converter="Converter" effect="fade"
                                             filterMatchMode="contains" disabled="#{recebimentoMB.recebimento.recebidoCom != 'B'}">
                                <f:selectItem itemLabel="Selecione a Conta Corrente" itemValue=""/>
                                <f:selectItems  value="#{recebimentoMB.recebimento.idBanco.contaCorrenteList}" var="ccorrente"
                                                itemLabel="#{ccorrente.numConta} - #{ccorrente.gestor}"  />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:outputLabel for="observacao" value="Observação" />
                            <p:inputTextarea id="observacao" value="#{recebimentoMB.recebimento.observacao}" />
                        </div>
                    </div>
                </p:tab>
                <p:tab title="Centro de Custo"  >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <hr/>
                            <p:commandButton id="btnAddCentroCusto" icon="new_adicionar" value="Adicionar Centro de Custo" onclick="PF('dlgCentroCusto').show();" disabled="#{recebimentoMB.recebimento.valorDuplicata>0?'false':'true'}" />
                            <hr/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:dataTable id="tblCentroCusto" value="#{recebimentoMB.recebimento.centrocustoplanocontasList}" var="listCentro" emptyMessage="Nenhum Centro de Custo Adicionado" >
                                <p:column headerText="Cliente">
                                    <h:outputText value="#{listCentro.idCliente.nome}" />
                                </p:column>
                                <p:column headerText="Centro de Custo">
                                    <h:outputText value="#{listCentro.idCentroCusto.descricao}" />
                                </p:column>
                                <p:column headerText="Plano de Contas">
                                    <h:outputText value="#{listCentro.idPlanoContas.descricao}" />
                                </p:column>
                                <p:column headerText="Valor" style="text-align: center">
                                    <h:outputText value="#{listCentro.valor}" >
                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="%" style="text-align: center">
                                    <h:outputText value="#{listCentro.percentual} %" />
                                </p:column>
                                <p:column  style="text-align: center">
                                    <p:commandButton value="Remover" />
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <p:commandButton value="Confirmar" icon="Selecionar"  action="#{recebimentoMB.lancarRecebimento()}" update="@form, :msg, :tabs:frmContasReceberPrincipal" oncomplete="if (!args.validationFailed){PF('dlgContasReceberLancar').hide();}" >
                    <f:param name="empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                </p:commandButton>
                <p:commandButton value="Limpar" icon="new_limpar" update="@form" action="#{recebimentoMB.novo()}" immediate="true" />
                <br/>
                <hr/>
            </div>
        </h:form>
    </p:dialog>
    
    
    <p:dialog widgetVar="dlgCentroCusto" modal="true" width="70%" position="top">
        <h:form id="frmCentroCustoAdicionarReceber">
            <p:messages  closable="true" />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                       <p:outputLabel for="locTrab" value="Local de Trabalho" />
                       <p:selectOneMenu id="locTrab" styleClass="form-control" converter="Converter" filter="true" filterMatchMode="contains"
                                        value="#{recebimentoMB.centrocustoplanocontas.idLocalTrabalho}" >
                           <f:selectItem itemLabel="Selecione o local" itemValue="" />
                           <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                          itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                           <p:ajax update="cliente, ccusto" listener="#{recebimentoMB.selecionarLocalTrabalho()}" event="change" />
                       </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                    <p:outputLabel for="cliente" value="Cliente" />
                    <p:selectOneMenu value="#{recebimentoMB.centrocustoplanocontas.idCliente}" styleClass="form-control" filter="true"
                                     id="cliente"   converter="Converter" filterMatchMode="contains" var="cl" disabled="true" >
                        <f:selectItem itemLabel="Selecione o Cliente" itemValue="" />
                        <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="cli"
                                       itemLabel="#{cli.idCliente} - #{cli.nome} - #{cli.cgccpf}" itemValue="#{cli}" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" >
                    <p:outputLabel for="ccusto" value="Centro de Custo" />
                    <p:selectOneMenu value="#{recebimentoMB.centrocustoplanocontas.idCentroCusto}" styleClass="form-control" filter="true"
                                     id="ccusto"  converter="Converter" filterMatchMode="contains" disabled="true" >
                        <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                        <f:selectItems value="#{recebimentoMB.centrocustoplanocontas.idCliente.centroCustoList}" var="cce"
                                       itemLabel="#{cce.descricao}" itemValue="#{cce}" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
                    <p:outputLabel for="planContas" value="Plano de Contas" />
                    <p:selectOneMenu value="#{recebimentoMB.centrocustoplanocontas.idPlanoContas}" styleClass="form-control" filter="true"
                                     id="planContas"    converter="Converter" filterMatchMode="contains" var="pca2" >
                        <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                       itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                        <p:column>
                            <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" >
                    <p:outputLabel for="valorCentro" value="Valor" />
                    <pe:inputNumber value="#{recebimentoMB.centrocustoplanocontas.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                    decimalSeparator="," thousandSeparator="." maxValue="#{recebimentoMB.valorRestanteCentroCusto()}"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" >
                    <p:outputLabel for="percentualCentro" value="Percentual" />
                    <pe:inputNumber value="#{recebimentoMB.centrocustoplanocontas.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol="% "
                                    decimalSeparator="," thousandSeparator="." maxValue="100"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <hr/>
                    <p:commandButton value="Adicionar" icon="new_adicionar" update="@form, :tabs:frmContasPagarLancar:tabs:tblCentroCusto, :tabs:frmContasReceberLancar:tabs:tblCentroCusto, :tabs:frmContasReceberEditar:tabs:tblCentroCustoEditar"  action="#{recebimentoMB.adicionarCentroCusto()}" oncomplete="if (!args.validationFailed){PF('dlgCentroCusto').hide()}"/>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>