<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Depreciação de Ativos
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer a consulta da depreciação dos ativos da empresa
            </ui:define>
            <ui:define name="breadcrumb">
                Depreciação de Ativos
            </ui:define>
            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaDepreciacao}"/>
                <div class="col-lg-12">
                    <p:panel header="Consulta de Depreciações" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaDepreciacao}">
                        <div class="row">
                            <p:tabView >
                                <p:tab  title="Consulta por Ativo">
                                    <div class="row">
                                        <h:form >
                                            <div class="col-md-6">
                                                <p:outputLabel for="ativo" value="Ativo" />
                                                <p:autoComplete id="ativo" value="#{ativoMB.ativo}" converter="Converter" completeMethod="#{ativoMB.completeMethod}" var="atv" required="true" requiredMessage="Informe o ativo!" 
                                                                itemLabel="#{atv.descricao}" itemValue="#{atv}" placeholder="Digite o nome do ativo!" />
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                            <div class="col-md-12">
                                                <br/>
                                                <p:messages closable="true" />
                                                <p:commandButton value="Pesquisar" icon="Consultar" action="#{ativoMB.pesquisarDepreciacoesPorAtivo()}" update="@form"/>
                                                <hr/>
                                                <p:dataTable value="#{ativoMB.movimentacaoDepreciacoes}" var="depre" resizableColumns="true" draggableColumns="true" emptyMessage="Nenhum ativo localizado!">
                                                    <p:column headerText="Período" styleClass="centralizar" width="10%" >
                                                        <h:outputText value="#{depre.periodo}" >
                                                            <f:convertDateTime pattern="MM/yyyy" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Ativo" >
                                                        <h:outputText value="#{depre.ativo.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Tipo" >
                                                        <h:outputText value="#{depre.ativo.idTipoAtivo.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Grupo" >
                                                        <h:outputText value="#{depre.ativo.idGrupoAtivo.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Custo Compra"  styleClass="centralizar" width="10%">
                                                        <h:outputText value="#{depre.ativo.valorCompra}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Custo Mensal" styleClass="centralizar" width="10%">
                                                        <h:outputText value="#{depre.ativo.valorCustoMensal}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Valor Depreciado" styleClass="centralizar" width="10%">
                                                        <h:outputText value="#{depre.valorRateio}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Valor Ativo"  styleClass="centralizar" width="10%">
                                                        <h:outputText value="#{depre.valorAtivo}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:form>
                                    </div>
                                </p:tab>    
                                <p:tab  title="Consulta por Grupo">
                                    <div class="row">
                                        <h:form>
                                            <div class="col-md-6">
                                                <p:outputLabel for="grupo" value="Grupo de Ativos" />
                                                <p:selectOneMenu id="grupo" value="#{ativoMB.ativo.idGrupoAtivo}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains"  required="true" requiredMessage="Informe o grupo de ativos!">
                                                    <f:selectItem itemLabel="Selecione o grupo" itemValue=""/>
                                                    <f:selectItems value="#{grupoAtivoMB.listarGrupos()}" var="agrp" itemLabel="#{agrp.descricao}" itemValue="#{agrp}"  />
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                            <div class="col-md-12">
                                                <br/>
                                                <p:messages closable="true" />
                                                <p:commandButton value="Pesquisar" icon="Consultar" action="#{ativoMB.pesquisarGruposAtivos()}" update="@form"/>
                                                <hr/>
                                                <p:dataTable id="ga" value="#{ativoMB.listaAtivos}" var="atv" resizableColumns="true" draggableColumns="true"  emptyMessage="Nenhum ativo localizado!">
                                                    <p:column headerText="Ativo">
                                                        <h:outputText value="#{atv.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Comprado em" styleClass="centralizar hidden-xs hidden-sm" width="10%">
                                                        <h:outputText value="#{atv.dtAquisicao}">
                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Termino em" styleClass="centralizar hidden-xs " width="10%">
                                                        <h:outputText value="#{atv.dtTerminoUso}">
                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Vezes" styleClass="centralizar hidden-xs hidden-sm" width="5%">
                                                        <h:outputText value="#{atv.mesesDepreciado}" />
                                                    </p:column>
                                                    <p:column headerText="Max. Meses" styleClass="centralizar hidden-xs hidden-sm" width="10%">
                                                        <h:outputText value="#{atv.mesesMaxDepreciacao}">
                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Custo Compra" styleClass="centralizar hidden-xs hidden-sm" width="10%">
                                                        <h:outputText value="#{atv.valorCompra}">
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Custo Mensal" styleClass="centralizar hidden-xs hidden-sm" width="10%">
                                                        <h:outputText value="#{atv.valorCustoMensal}">
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Valor Depreciado" styleClass="centralizar hidden-xs  hidden-sm" width="10%">
                                                        <h:outputText value="#{atv.valorRateioDepreciacao}">
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Valor Ativo" styleClass="centralizar" width="10%">
                                                        <h:outputText value="#{atv.valorCompra - atv.valorRateioDepreciacao}">
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Situação" styleClass="centralizar hidden-xs hidden-sm" width="8%">
                                                        <h:outputText value="#{atv.status=='N'?'Ativo':'Desativado'}" />
                                                    </p:column>
                                                </p:dataTable>
                                                <hr/>
<!--                                                <p:commandButton value="Configurar" icon="Configurar" />-->
                                            </div>
                                        </h:form>
                                    </div>
                                </p:tab>    
                            </p:tabView>
                        </div>
                    </p:panel>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
