<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Compras
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode analisar necessidades, prover recursos, equipamentos e informações para suas atividades.
            </ui:define>
            <ui:define name="breadcrumb">
                Logística
            </ui:define>
            <ui:define name="content">


                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCompras}"/>
                            <p:tabView id="tabs" dynamic="true" cache="true" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCompras}">
                                <p:tab >
                                    <f:facet name="title">
                                        <i class="icon-file-check"></i>
                                        Saída de Requisições
                                    </f:facet>
                                    <ui:include src="../Almoxarifado/AnaliseAlmoxarifado.xhtml" />
                                </p:tab>
                                <p:tab  >
                                    <f:facet name="title">
                                        <i class="icon-numbered-list"></i>
                                        Cotação 
                                    </f:facet>
                                    <ui:include src="../Cotacao/index.xhtml" />
                                    <ui:include src="../PedidoCompra/index.xhtml" />
                                </p:tab>
                                <p:tab >
                                    <f:facet name="title">
                                        <i class="icon-cart3"></i>
                                        Pedido de Compra
                                    </f:facet>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ui:include src="../PedidoCompra/tabela.xhtml" />
                                            <ui:include src="../PedidoCompra/lancamento.xhtml" />
                                            <ui:include src="../PedidoCompra/analise.xhtml" />
                                        </div>
                                    </div>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
