<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <h:form id="frmCadastro">
        <div class="col-md-12">
                    <p:commandButton value="Novo" immediate="true" icon="Novo">
                        <p:ajax update="@form:frmCadastro" listener="#{colaboradorMB.novo()}" resetValues="true" />
                    </p:commandButton>
                    <p:commandButton value="Salvar" action="#{colaboradorMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                        <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                        <f:param name="mode" value="true" />
                    </p:commandButton>
                    <p:commandButton value="Consultar" icon="Consultar"   update=":frmConsultar" oncomplete="PF('dlgConsulta').show()"/>
            <hr/>
        </div>

        <div class="col-md-12">
            <p:tabView id="tabs">
                <p:tab title="Cadastros Básicos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-4">
                            <p:outputLabel for="nome" value="Nome" />
                            <p:inputText id="nome" value="#{colaboradorMB.colaborador.nome}" styleClass="form-control" required="#{param['mode']}" requiredMessage="Nome é Obrigatorio"/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <p:outputLabel for="dtCadastro" value="Dt de Cadastro"/>
                            <p:calendar id="dtCadastro" value="#{colaboradorMB.colaborador.dtCadastro}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <p:outputLabel for="cpf" value="CPF"/>
                            <p:inputMask id="cpf" value="#{colaboradorMB.colaborador.cpf}"  mask="999.999.999-99" required="#{param['mode']}" requiredMessage="CPF é obrigatório!">
                                <p:ajax event="blur" listener="#{colaboradorMB.validarCPF()}" update=":msg"/>
                            </p:inputMask>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2">
                            <p:outputLabel for="bloqueado" value="Bloqueado" />
                            <p:selectOneRadio  id="bloqueado" value="#{colaboradorMB.colaborador.bloqueado}" required="#{param['mode']}" requiredMessage="Informe se o colaborador está bloqueado!">
                                <f:selectItem itemLabel="Não " itemValue="false"  />
                                <f:selectItem itemLabel="Sim  " itemValue="true" />
                            </p:selectOneRadio>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" >
                            <p:outputLabel for="sexo" value="Sexo"  />
                            <p:selectOneRadio  id="sexo" value="#{colaboradorMB.colaborador.sexo}" required="#{param['mode']}" requiredMessage="Sexo é obrigatório!">
                                <f:selectItem itemLabel="Masc " itemValue="M" />
                                <f:selectItem itemLabel="Femin" itemValue="F" />
                            </p:selectOneRadio>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtNascimento" value="Data de Nascimento"   />
                            <p:calendar id="dtNascimento" value="#{colaboradorMB.colaborador.dtNascimento}" mask="99/99/9999"  pattern="dd/MM/yyyy"   />
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                            <p:outputLabel for="rg" value="RG" />
                            <p:inputText id="rg" value="#{colaboradorMB.colaborador.rg}" maxlength="20" />
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                            <p:outputLabel for="setor" value="Setor"/>
                            <h:panelGrid columns="2" style="width: 100%;">
                                <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoSetor" nameWidgetVar="wvaSetor" nameFunc="atalhoSetor" valueToOpenDialog="Cadastrar Setor" />
                                <p:selectOneMenu id="setor" value="#{colaboradorMB.setor}" converter="Converter" 
                                                 widgetVar="wvaSetor" onchange="atalhoSetor(this)"
                                                 styleClass="form-control" filter="true" filterMatchMode="contains" var="str" >
                                    <f:selectItem itemLabel="Selecione Setor" itemValue="" />
                                    <f:selectItems value="#{setorMB.listarsetores()}" var="setores"
                                                   itemLabel="#{setores.idSetor} | #{setores.descricao}" itemValue="#{setores}" />
                                    <f:selectItem itemLabel="Cadastrar Setor" itemValue="cadST" />
                                    <p:column>
                                        <h:outputText value="#{str.idSetor}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{str.descricao}" />
                                    </p:column>
                                </p:selectOneMenu>
                                <p:dialog header="Cadastro de Setor" widgetVar="dlgAtalhoSetor" modal="true"  width="50%" height="500"  position="top">
                                    <p:ajax event="close" update="setor" />
                                    <iframe src="../Setor/index.xhtml"  width="100%" height="99%" />
                                </p:dialog>
                            </h:panelGrid>
                        </div> 
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <p:outputLabel for="cargo" value="Cargo"/>
                            <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoCargo" nameWidgetVar="wvaCargo" nameFunc="atalhoCargo" valueToOpenDialog="Cadastrar Cargo" />
                            <p:selectOneMenu id="cargo" value="#{colaboradorMB.cargo}" converter="Converter" 
                                             widgetVar="wvaCargo" onchange="atalhoCargo(this)"
                                             styleClass="form-control" filter="true" filterMatchMode="contains" var="car" >
                                <f:selectItem itemLabel="Selecione o Cargo" itemValue="" />
                                <f:selectItems value="#{cargoMB.listarCargos()}" var="cargo"
                                               itemLabel="#{cargo.idCargo} | #{cargo.descricao}" itemValue="#{cargo}" />
                                <f:selectItem itemLabel="Cadastrar Cargo" itemValue="cadCar" />
                                <p:column>
                                    <h:outputText value="#{car.idCargo}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{car.descricao}" />
                                </p:column>
                            </p:selectOneMenu>
                            <p:dialog header="Cadastro de Cargo" widgetVar="dlgAtalhoCargo" modal="true"  width="50%" height="500"  position="top">
                                <p:ajax event="close" update="cargo" />
                                <iframe src="../Cargo/index.xhtml"  width="100%" height="99%" />
                            </p:dialog>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                            <p:outputLabel for="localTrabalho" value="Local de Trabalho"/>
                            <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoLocalTrabalho" nameWidgetVar="wvaLocalTrabalho" nameFunc="atalhoLocalTrabalho" valueToOpenDialog="Cadastrar Local de Trabalho" />
                            <p:selectOneMenu id="localTrabalho" value="#{colaboradorMB.localTrabalho}" converter="Converter" 
                                             widgetVar="wvaLocalTrabalho" onchange="atalhoLocalTrabalho(this)"
                                             styleClass="form-control" filter="true" filterMatchMode="contains" var="localtra" >
                                <f:selectItem itemLabel="Selecione o Local de Trabalho" itemValue="" />
                                <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="local"
                                               itemLabel="#{local.idLocalTrabalho} | #{local.descricao}" itemValue="#{local}" />
                                <f:selectItem itemLabel="Cadastrar Local de Trabalho" itemValue="cadST" />
                                <p:column>
                                    <h:outputText value="#{localtra.idLocalTrabalho}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{localtra.descricao}" />
                                </p:column>
                            </p:selectOneMenu>
                            <p:dialog header="Cadastro de Local de Trabalho" widgetVar="dlgAtalhoLocalTrabalho" modal="true"  width="50%" height="500"  position="top">
                                <p:ajax event="close" update="localTrabalho" />
                                <iframe src="../LocalTrabalho/index.xhtml"  width="100%" height="99%" />
                            </p:dialog>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            <p:outputLabel for="contrato" value="Contrato Atual"   />
                            <p:inputText id="contrato" value="#{colaboradorMB.colaborador.contratoAtual}"  />
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <p:outputLabel for="usuario" value="Usuário"/>
                            <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoUsuario" nameWidgetVar="wvaUsuario" nameFunc="atalhoUsuario" valueToOpenDialog="Cadastrar Usuário"/>
                            <p:selectOneMenu id="usuario" value="#{colaboradorMB.usuario}" converter="Converter"
                                             widgetVar="wvaUsuario" onchange="atalhoUsuario(this)"
                                             styleClass="form-control" filter="true" filterMatchMode="contains" var="usu">
                                <f:selectItem itemLabel=" Selecione o usuario" itemValue=""/>
                                <f:selectItems value="#{usuarioMB.listaUsuarios()}" var="usuarios"
                                               itemLabel="#{usuarios.idUsuario} | #{usuarios.nome}" itemValue="#{usuarios}" />
                                <f:selectItem itemLabel="Cadastrar Usuário" itemValue="cadusu"/>
                                <p:column>
                                    <p:outputLabel value="#{usu.idUsuario}"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{usu.nome}"/>
                                </p:column>
                            </p:selectOneMenu>
                            <p:dialog header="Cadastro de Usuário" widgetVar="dlgAtalhoUsuario" modal="true"  width="50%" height="500"  position="top">
                                <p:ajax event="close" update="usuario" />
                                <iframe src="../Usuario/index.xhtml"  width="100%" height="99%" />
                            </p:dialog>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <p:outputLabel for="email" value="Email"   />
                            <p:inputText id="email" value="#{colaboradorMB.colaborador.email}"  placeholder="Ex: contato@uxsoftwares.com.br" />
                        </div>
                    </div>

                </p:tab>
                <p:tab title="Endereço">
                    <div class="row">
                        <div class="col-md-2">
                            <p:outputLabel for="cep" value="CEP"/>
                            <p:inputMask id="cep" value="#{colaboradorMB.colaborador.cep}" styleClass="inputSearch" mask="99999-999"  onblur="pesquisacep(this.value);" >
                                <p:ajax listener="#{colaboradorMB.pesquisarCEP(1)}" update="logradouro,bairro,cidade,estado,:msg" />
                            </p:inputMask>
                        </div>
                        <div class="col-md-2">
                            <p:outputLabel for="tipologradouro" value="Tipo de Logradouro"/>
                            <p:inputText id="tipologradouro" value="#{colaboradorMB.colaborador.tipoLogradouro}"  />
                        </div>
                        <div class="col-md-4">
                            <p:outputLabel for="logradouro"  value="Logradouro"/>
                            <p:inputText id="logradouro" value="#{colaboradorMB.colaborador.logradouro}"  />
                        </div>
                        <div class="col-md-1">
                            <p:outputLabel for="numero" value="Número"/>
                            <p:inputText id="numero" value="#{colaboradorMB.colaborador.numero}" maxlength="6"/>
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="complemento" value="Complemento"/>
                            <p:inputText id="complemento" value="#{colaboradorMB.colaborador.complemento}"  />
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="bairro" value="Bairro"/>
                            <p:inputText id="bairro" value="#{colaboradorMB.colaborador.bairro}"  />
                        </div>
                        <div class="col-md-4">
                            <p:outputLabel for="cidade" value="Cidade"/>
                            <h:panelGrid columns="2" style="width: 100%;">
                                <p:inputText id="cidade" value="#{colaboradorMB.cidade.nome}" styleClass="inputSearch" required="true" requiredMessage="A cidade é obrigatoria" readonly="true" />
                                <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"  onclick="PF('dlgConsultaCidade').show();" actionListener="#{colaboradorMB.carregarDatatableCidade()}" update=":frmConsultarCidade"  >
                                </p:commandButton>
                            </h:panelGrid>
                        </div>
                        <div class="col-md-2">
                            <p:outputLabel for="estado" value="Estado"/>
                            <p:inputText id="estado" value="#{colaboradorMB.cidade.idEstado.sigla}"  readonly="true"/>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>
        </div>
    </h:form>
</ui:composition>
