<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgInformacao"  header="Informação de Fornecedor" width="70%" resizable="false" position="center top"  modal="true" closeOnEscape="true" height="90%">
                        <h:form id="frmInformacao">
                            <div class="row">
                                <div class="col-md-2">
                                    <bcr:outputInfo label="Código" value="#{fornecedorMB.fornecedor.idFornecedor}" />
                                </div>
                                <div class="col-md-4">
                                    <bcr:outputInfo label="Nome" value="#{fornecedorMB.fornecedor.nome}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfoDate label="Data do Cadastro" value="#{fornecedorMB.fornecedor.dtCadastro}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfoDate label="Empresa Ref" value="#{fornecedorMB.fornecedor.idEmpresa.nomeFantasia}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Nº Jurídico" value="#{fornecedorMB.fornecedor.numJuridico}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="GPS" value="#{fornecedorMB.fornecedor.codigoGps}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Inativo" value="#{fornecedorMB.fornecedor.inativo == 'N'?'Não':'Sim'}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="CGCCPF" value="#{fornecedorMB.fornecedor.cgccpf}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Email" value="#{fornecedorMB.fornecedor.email}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Home Page" value="#{fornecedorMB.fornecedor.homePage}" />
                                </div>
                                <div class="col-md-6">
                                    <bcr:outputInfo label="Observação" value="#{fornecedorMB.fornecedor.observacao}" />
                                </div>
                            </div>
                            <div class="row">
                                <br/>

                                <div class="col-md-5" >
                                    <bcr:outputInfo label="Logradouro" value="#{fornecedorMB.fornecedor.logradouro}" />
                                </div>
                                <div class="col-md-2" >
                                    <bcr:outputInfo label="Nº" value="#{fornecedorMB.fornecedor.numero}" />
                                </div>
                                <div class="col-md-2" >
                                    <bcr:outputInfo label="Compl." value="#{fornecedorMB.fornecedor.complemento}" />
                                </div>
                                <div class="col-md-2" >
                                    <bcr:outputInfo label="Bairro" value="#{fornecedorMB.fornecedor.bairro}" />
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <div class="col-md-4" >
                                    <bcr:outputInfo label="Cidade" value="#{fornecedorMB.fornecedor.idCidade.nome}" />
                                </div>
                                <div class="col-md-2" >
                                    <bcr:outputInfo label="Estado" value="#{fornecedorMB.fornecedor.idCidade.idEstado.sigla}" />
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <div class="col-md-3" >
                                    <p:dataTable  value="#{fornecedorMB.listaDeTelefones}" var="phone"
                                                  emptyMessage="Nenhum telefone adicionado!">
                                        <f:facet name="header">
                                            Telefones 
                                        </f:facet>
                                        <p:column headerText="Operadora"  >
                                            <center>
                                                <h:outputText value="#{phone.operadora}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Número"  >
                                            <center>
                                                <h:outputText value="#{phone.numero}" />
                                            </center>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>

                        </h:form>
                    </p:dialog>

</ui:composition>