<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmContasPagarPrincipal">
        <div class="col-md-12">
            <p:commandButton  value="Novo Lançamento" icon="Novo" action="#{pagamentoMB.novoLancamento()}" onclick="PF('dlgContasPagarLancar').show();" update=":tabs:frmContasPagarLancar" />
            <p:commandButton  value="Pesquisar" action="#{pagamentoMB.novoLancamento()}" update=":tabs:frmPesquisaContasPagar" icon="Consultar" onclick="PF('dlgParametrosPesquisa').show();"/>
            <p:commandButton id="btnPagar" value="Pagar Lançamentos" disabled="#{pagamentoMB.disable()}" icon="Selecionar" 
                             oncomplete="PF('dlgPagamento').show();" action="#{pagamentoMB.processarListaPagamento()}"  update=":tabs:frmPagamento" />
            <p:commandButton id="btnPagarCheques" value="Pagar com Cheques" disabled="#{pagamentoMB.disable()}" 
                             icon="Rateio" oncomplete="PF('dlgLancarCheque').show();" 
                             action="#{chequeMB.carregarPagamento(pagamentoMB.contasPagarSelecionadas)}"  
                             update=":msg, :tabs:frmLancarCheque" />
            <p:commandButton id="btnPagarMultiplo" value="Pagar com Destinos " disabled="#{pagamentoMB.disable() or pagamentoMB.contasPagarSelecionadas.size() > 1  }" 
                             icon="Multiplo"  oncomplete="PF('dlgPagamentoMultiplo').show();" update=":msg, :tabs:frmPagamentoMultipla"  />
            <p:commandButton id="btnRelatorios" value="Relatórios" icon="Relatorio"  oncomplete="PF('dlgRelatoriosPagamento').show();"   />
            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contexto" for="dtblContasPagar">
                <p:menuitem value="Ver" id="v1"   icon="Info" onclick="PF('dlgVerContaPagar').show();" update=":tabs:frmVerContaPagar" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarVer}" disabled="#{pagamentoMB.verificaSePodeVer()}"/>
                <p:menuitem value="Editar"  id="e1" icon="Editar" oncomplete="PF('dlgContasPagarEditar').show();" update=":tabs:frmContasPagarEditar" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarInserir}" disabled="#{pagamentoMB.verificaSePodeExcluirEeditar()}"/>
                <p:menuitem value="Estornar "  id="eee1" icon="Cancelar" action="#{pagamentoMB.estornar()}"   rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarEstornar}" disabled="#{pagamentoMB.verificaSePodeEstornar()}" update="@form, :msg, :tabs:frmContasPagarPrincipal:dtblContasPagar" />
                <p:menuitem value="Excluir " id="ee1" icon="Excluir" onclick="PF('dlgExcluirConta').show()"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarExcluir}" disabled="#{pagamentoMB.verificaSePodeExcluirEeditar()}" update="@form, :msg" />
            </p:contextMenu>

            <p:dataTable id="dtblContasPagar" value="#{pagamentoMB.listarContasPagar}" var="pag"  paginator="true" rows="10" emptyMessage="Nenhuma conta à pagar localizada!" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,25,40,50,60,65,80,100" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         selectionMode="multiple"   resizableColumns="true" draggableColumns="true"
                         selection="#{pagamentoMB.contasPagarSelecionadas}" rowKey="#{pag.idContasPagar}" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarPesquisar}">
                <p:ajax event="rowSelect" listener="#{pagamentoMB.disable()}"   update="@form" />
                <p:ajax event="rowUnselect"  listener="#{pagamentoMB.disable()}"   update="@form" />
                <f:facet name="header">
                    <h:outputText value="Listagem de Contas à Pagar"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtblContasPagar" fileName="contas_pagar"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtblContasPagar" fileName="contas_pagar"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para XML">
                        <p:graphicImage name="/icons/XML.png" />
                        <p:dataExporter type="xml" target="dtblContasPagar" fileName="contas_pagar"  />
                    </h:commandLink>
                </f:facet>
                <p:column headerText="Docto" width="5%" style="text-align: center; " sortBy="#{pag.numDocto}"  >
                    <h:outputText value="#{pag.numDocto}"  style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Parcela" width="5%" style="text-align: center"  >
                    <h:outputText value="#{pag.numParcela == 0?'1':pag.numParcela}/#{pagamentoMB.totalParcela(pag.idFornecedor.idFornecedor, pag.numDocto, pag.numLote)== 0?'1':pagamentoMB.totalParcela(pag.idFornecedor.idFornecedor, pag.numDocto, pag.numLote)}" style="font-size: 10px;" />
                </p:column>
                <p:column headerText="Fornecedor" width="15%" sortBy="#{pag.idFornecedor.nome}" >
                    <h:outputText value="#{pag.idFornecedor.nome}" style="font-size: 10px;"  />
                </p:column>
                <p:column headerText="Conta" width="15%" styleClass="hidden-xs hidden-sm hidden-md"   >
                    <h:outputText value="#{pag.idPlanoContas.descricao}" style="font-size: 10px;" />
                </p:column>
                <p:column headerText="Vencimento" width="7%" style="text-align: center; " sortBy="#{pag.dtVencimento}">
                    <h:outputText value="#{pag.dtVencimento}" style="font-size: 10px;" >
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Pagamento"  style="text-align: center; width: auto !important" sortBy="#{pag.dtPagamento}">
                    <h:outputText value="#{pag.dtPagamento}" style="font-size: 10px;" >
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="8%" style="text-align: center; ">
                    <h:outputText value="#{pag.valorDuplicata}" style="font-size: 10px;" >
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor Pago" width="8%" style="text-align: center; ">
                    <h:outputText value="#{pag.valorPago}" style="font-size: 10px;" >
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Status" width="6%"  styleClass="hidden-xs hidden-sm hidden-md" >
                    <h:outputText value="#{pagamentoMB.verificarStatusValue(pag)}" style="width: 100%; font-size: 10px;" styleClass="#{pagamentoMB.verificarStatusLabel(pag)}" />
                </p:column>
                <p:column headerText="Observação" width="15%" styleClass="hidden-xs hidden-sm" >
                    <h:outputText value="#{pag.observacao}" style="font-size: 10px;" />
                </p:column>
                <f:facet name="footer">
                    <h:outputText id="totalSel" value="Contas selecionadas: #{pagamentoMB.contasPagarSelecionadas.size()}" />
                </f:facet>
            </p:dataTable>
            <hr/>
        </div>

        <div class="block">
            <ul class="statistics">
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-danger"><i class="icon-coin"></i></a>
                        <h5 >
                            #{pagamentoMB.calcularTotalPagar()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>A Pagar</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-success"><i class="icon-coin"></i></a>
                        <h5>
                            #{pagamentoMB.calcularTotalPago()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Total Pago</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-warning"><i class="icon-coin"></i></a>
                        <h5>
                            #{pagamentoMB.calcularTotalVencido()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Total Vencido</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-info"><i class="icon-numbered-list"></i></a>
                        <h5>
                            #{pagamentoMB.listarContasPagar.size()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Nº Lançamentos</span>
                </li>


            </ul>
        </div>
    </h:form>
    
    <p:dialog widgetVar="dlgExcluirConta" header="Comfirmação" modal="true" closable="false" resizable="false">
                <h:form id="frmContaAExcluir">
                    <h:panelGrid columns="2">
                        <h:outputText value="Deseja Excluir a conta?"/>
                    </h:panelGrid>
                    <hr/>
                    <center>
                        <h:panelGrid columns="3">
                            <p:commandButton value="Excluir selecionada" icon="Selecionar" action="#{pagamentoMB.excluir()}" 
                                             update=":msg,:tabs:frmContasPagarPrincipal:dtblContasPagar" oncomplete="PF('dlgExcluirConta').hide()"/>
                            <p:commandButton value="Excluir Lote" icon="Multiplo" action="#{pagamentoMB.excluirLote()}" 
                                             update=":msg,:tabs:frmContasPagarPrincipal:dtblContasPagar" oncomplete="PF('dlgExcluirConta').hide()"/>
                            <p:commandButton value="Cancelar."  icon="Excluir"  onclick="PF('dlgExcluirConta').hide()" />
                        </h:panelGrid>
                    </center>
                </h:form>
            </p:dialog>
</ui:composition>
