<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <p:dialog widgetVar="dlgAtalhoFornecedor" modal="true" header="Cadastro de Fornecedor"  width="50%" height="500"  position="top">
        <iframe src="../Fornecedor/index.xhtml"  width="100%" height="99%" />
    </p:dialog>


    <p:dialog  header="Lançar Contas à Pagar" widgetVar="dlgContasPagarLancar" modal="true" width="80%" height="80%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <h:form id="frmContasPagarLancar" style="overflow:scroll; height: 100%; " >
            <p:messages id="msg2" closable="true" />
            <p:tabView  id="tabs" effect="fade" widgetVar="tabPagamento">
                <p:tab title="Dados Básicos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" >
                            <p:outputLabel for="fornecedor" value="Fornecedor" />
                            <p:autoComplete  id="fornecedor" value="#{pagamentoMB.contasPagar.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="forn"
                                             itemLabel="#{forn.nome}" itemValue="#{forn}" placeholder="Digite o nome ou o código" required="true" requiredMessage="Informe o Fornecedor">
                                <p:column>
                                    <h:outputText value="#{forn.idFornecedor}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.cgccpf}" />
                                </p:column>
                            </p:autoComplete>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtDuplicata" value="Data Duplicata" />
                            <p:calendar value="#{pagamentoMB.contasPagar.dtDuplicata}" id="dtDuplicata" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data da duplicata!" effect="fade" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtVencimento" value="Data Vencto" />
                            <p:calendar value="#{pagamentoMB.contasPagar.dtVencimento}" id="dtVencimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data de vencimento!" effect="fade" >
                                <p:ajax event="blur" listener="#{pagamentoMB.verificarSeDataVencimentoMenorQueHoje()}" update=":tabs:frmContasPagarLancar:msg2" />
                                <p:ajax event="dateSelect" listener="#{pagamentoMB.verificarSeDataVencimentoMenorQueHoje()}" update=":tabs:frmContasPagarLancar:msg2" />
                            </p:calendar>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="vlrDocumento" value="Valor Docto" />
                            <pe:inputNumber value="#{pagamentoMB.contasPagar.valorDuplicata}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor do documento!" symbol="R$ "
                                            decimalSeparator="," thousandSeparator=".">
                                <p:ajax event="blur" update="btnAddCentroCusto,:tabs:frmCentroCustoAdicionar:valorCentro" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                            <p:outputLabel for="planoContas" value="Conta" />
                            <p:selectOneMenu id="planoContas" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             converter="Converter" effect="fade"
                                             requiredMessage="Informe o fornecedor!" value="#{pagamentoMB.contasPagar.idPlanoContas}" var="vpc">
                                <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                                <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="planos" 
                                               itemLabel="#{planos.codigo} - #{planos.descricao}" itemDisabled="#{planos.tipo=='S'?'true':'false'}" />
                                <p:column>
                                    <h:outputText value="#{vpc.codigo}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{vpc.descricao}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDocto" value="Nº do Documento" />
                            <p:inputText value="#{pagamentoMB.contasPagar.numDocto}" id="numDocto"  />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDuplicata" value="Nº da Duplicata" />
                            <p:inputText id="numDuplicata"  value="#{pagamentoMB.contasPagar.numDuplicata}" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="tipoDocumento" value="Tipo de Documento" />
                            <p:selectOneMenu id="tipoDocumento" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             effect="fade"
                                             requiredMessage="Informe o Tipo de Documento!" value="#{pagamentoMB.contasPagar.tipodocumento}">
                                <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="lancarQuantidade" value="Repetir?" />
                            <p:spinner id="lancarQuantidade" value="#{pagamentoMB.contasPagar.numParcela}"  >
                                <p:ajax event="change" listener="#{pagamentoMB.verificarQuantidadeDeLancamentos()}" update="pagarAgora,dtPagamento,vlrPago,destino,banco,contaCorrente, ocorrencia" />
                            </p:spinner>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="ocorrencia" value="Ocorrência" />
                            <p:selectOneMenu id="ocorrencia" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             effect="fade"
                                             requiredMessage="Informe o Tipo de Documento!" value="#{pagamentoMB.ocorrencia}" disabled="#{pagamentoMB.contasPagar.numParcela==0}">
                                <f:selectItem itemLabel="Mensalmente" itemValue="Mensalmente" />
                                <f:selectItem itemLabel="Diariamente" itemValue="Diariamente" />
                                <f:selectItem itemLabel="Semanalmente" itemValue="Semanalmente" />
                                <f:selectItem itemLabel="Bimestralmente" itemValue="Bimestralmente" />
                                <f:selectItem itemLabel="Trimestralmente" itemValue="Trimestralmente" />
                                <f:selectItem itemLabel="Semestralmente" itemValue="Semestralmente" /> 
                                <f:selectItem itemLabel="Anualmente" itemValue="Anualmente" /> 
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-2 col-md-3 col-lg-1" >
                            <p:outputLabel for="pagarAgora" value="Pagar?" /><br/>
                            <p:inputSwitch id="pagarAgora" onLabel="Sim" offLabel="Não"   value="#{pagamentoMB.contasPagar.status}"  disabled="#{pagamentoMB.contasPagar.numParcela > 0}">
                                <p:ajax event="change" update="dtPagamento,vlrPago,destino,banco,contaCorrente" listener="#{pagamentoMB.verificarStatus()}"/>
                                <p:ajax event="change" update="vlrPago" listener="#{pagamentoMB.preencherValor()}"/>
                                <p:ajax event="change" update="dtPagamento" listener="#{pagamentoMB.preencherDtPagamento()}"/>
                            </p:inputSwitch>
                        </div>

                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtPagamento" value="Data do Pagamento" />
                            <p:calendar value="#{pagamentoMB.contasPagar.dtPagamento}" effect="fade" disabled="#{pagamentoMB.contasPagar.status=='false'}" id="dtPagamento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data de vencimento!" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="vlrPago" value="Valor Pago" />
                            <pe:inputNumber id="vlrPago"  required="true" requiredMessage="Informe a o valor Pago!" symbol="R$ "
                                            value="#{pagamentoMB.contasPagar.valorPago}" disabled="#{pagamentoMB.contasPagar.status=='false'}"
                                            decimalSeparator="," thousandSeparator="."/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" >
                            <p:outputLabel for="destino" value="Destino" />
                            <p:selectOneMenu id="destino" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             effect="fade"
                                             requiredMessage="Informe o Destino do Pagamento!" value="#{pagamentoMB.contasPagar.pagoCom}"
                                             disabled="#{pagamentoMB.contasPagar.status=='false'}">
                                <f:selectItem itemLabel="Selecione o Destino" itemValue="" />
                                <f:selectItem itemLabel="Caixa" itemValue="C" />
                                <f:selectItem itemLabel="Banco" itemValue="B" />
                                <p:ajax event="change" update="banco,contaCorrente" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="banco" value="Banco" />
                            <p:selectOneMenu id="banco" value="#{pagamentoMB.banco}" styleClass="form-control" filter="true" converter="Converter"
                                             effect="fade"
                                             filterMatchMode="contains" disabled="#{pagamentoMB.contasPagar.pagoCom != 'B'}">
                                <f:selectItem itemLabel="Selecione o Banco" itemValue=""/>
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="banco"
                                               itemLabel="#{banco.numeroBanco} - #{banco.nome}"  />
                                <p:ajax event="change" update="contaCorrente" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="contaCorrente" value="Conta Corrente" />
                            <p:selectOneMenu id="contaCorrente"  value="#{pagamentoMB.contaCorrente}" styleClass="form-control" filter="true" 
                                             converter="Converter" effect="fade"
                                             filterMatchMode="contains" disabled="#{pagamentoMB.contasPagar.pagoCom != 'B'}">
                                <f:selectItem itemLabel="Selecione a Conta Corrente" itemValue=""/>
                                <f:selectItems  value="#{pagamentoMB.banco.contaCorrenteList}" var="ccorrente"
                                                itemLabel="#{ccorrente.numConta} - #{ccorrente.gestor}"  />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:outputLabel for="observacao" value="Observação" />
                            <p:inputTextarea id="observacao" value="#{pagamentoMB.contasPagar.observacao}" />
                        </div>
                    </div>
                </p:tab>
                <p:tab  title="Centros de Custo" >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <hr/>
                            <p:commandButton id="btnAddCentroCusto" icon="new_adicionar" value="Adicionar Centro de Custo" onclick="PF('dlgCentroCusto').show();" disabled="#{pagamentoMB.contasPagar.valorDuplicata>0?'false':'true'}" />
                            <hr/>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:dataTable id="tblCentroCusto" value="#{pagamentoMB.contasPagar.centrocustoplanocontasList}" var="listCentro" emptyMessage="Nenhum Centro de Custo Adicionado" 
                                         rowIndexVar="indexCentroPlan">
                                <p:column headerText="Local" width="15%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.idLocalTrabalho.descricao}" />
                                </p:column>
                                <p:column headerText="Cliente" width="15%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.idCliente.nome}" />
                                </p:column>
                                <p:column headerText="Centro de Custo" width="15%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.idCentroCusto.descricao}" />
                                </p:column>
                                <p:column headerText="Plano de Contas" width="15%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.idPlanoContas.descricao}" />
                                </p:column>
                                <p:column headerText="Valor" style="text-align: center" width="10%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.valor}" >
                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="%" style="text-align: center" width="10%" styleClass="font-table">
                                    <h:outputText value="#{listCentro.percentual} %" />
                                </p:column>
                                <p:column  style="text-align: center" width="5%">
                                    <p:commandButton icon="Excluir"  action="#{pagamentoMB.excluirCentroCusto(indexCentroPlan, listCentro)}"  update=":tabs:frmContasPagarLancar:tabs:tblCentroCusto, :tabs:frmContasPagarEditar:tabs:tblCentroCusto"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <p:commandButton value="Confirmar" icon="Selecionar" action="#{pagamentoMB.lancarContasPagar()}" update="@form, :msg,msg2, :tabs:frmContasPagarPrincipal" onclick="if (!args.validationFailed){PF('dlgContasPagarLancar').hide();}" >
                    <f:param name="empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                </p:commandButton>
                <p:commandButton value="Limpar" icon="new_limpar" update="@form" action="#{pagamentoMB.novo()}" immediate="true" />
                <br/>
                <hr/>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="dlgCentroCusto" modal="true" width="70%" position="top" showEffect="fade" hideEffect="fade">
        <h:form id="frmCentroCustoAdicionar">
            <p:messages  closable="true" />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                    <p:outputLabel for="localTraqb" value="Local de Trabalho" />
                    <p:selectOneMenu value="#{pagamentoMB.centrocustoplanocontas.idLocalTrabalho}" styleClass="form-control" filter="true"
                                     id="localTraqb"   converter="Converter" filterMatchMode="contains" effect="fade"
                                     required="true" requiredMessage="Informe o centro de custo!">
                        <f:selectItem itemLabel="Selecione o Local" itemValue="" />
                        <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                       itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                        <p:ajax event="change" update="cliente, ccusto "  listener="#{pagamentoMB.selecionarLocalDeTrabalho()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                    <p:outputLabel for="cliente" value="Cliente" />
                    <p:selectOneMenu value="#{pagamentoMB.centrocustoplanocontas.idCliente}" styleClass="form-control" filter="true"
                                     id="cliente"   converter="Converter" filterMatchMode="contains" var="cl" effect="fade" disabled="true" >
                        <f:selectItem itemLabel="Selecione o Cliente" itemValue="" />
                        <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="cli"
                                       itemLabel="#{cli.idCliente} - #{cli.nome} - #{cli.cgccpf}" itemValue="#{cli}" />
                        <p:ajax event="change" update="ccusto" />
                        <p:column>
                            <h:outputText value="#{cl.idCliente}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{cl.nome}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{cl.cgccpf}"/>
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" >
                    <p:outputLabel for="ccusto" value="Centro de Custo" />
                    <p:selectOneMenu value="#{pagamentoMB.centrocustoplanocontas.idCentroCusto}" styleClass="form-control" filter="true"
                                     id="ccusto"  converter="Converter" filterMatchMode="contains"  effect="fade" disabled="true">
                        <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                        <f:selectItems value="#{pagamentoMB.centrocustoplanocontas.idCliente.centroCustoList}" var="cce"
                                       itemLabel="#{cce.descricao}" itemValue="#{cce}" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
                    <p:outputLabel for="planContas" value="Plano de Contas" />
                    <p:selectOneMenu value="#{pagamentoMB.centrocustoplanocontas.idPlanoContas}" styleClass="form-control" filter="true"
                                     id="planContas"  effect="fade"  converter="Converter" filterMatchMode="contains" var="pca2" required="true" requiredMessage="Informe o plano de contas!" >
                        <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                       itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                        <p:column>
                            <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" >
                    <p:outputLabel for="valorCentro" value="Valor" />
                    <pe:inputNumber value="#{pagamentoMB.centrocustoplanocontas.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                    decimalSeparator="," thousandSeparator="." maxValue="#{pagamentoMB.valorRestanteCentroCusto()}"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" >
                    <p:outputLabel for="percentualCentro" value="Percentual" />
                    <pe:inputNumber value="#{pagamentoMB.centrocustoplanocontas.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol=" %"
                                    decimalSeparator="," thousandSeparator="." maxValue="100"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <hr/>
                    <p:commandButton value="Adicionar" update="@form, :tabs:frmContasPagarLancar:tabs:tblCentroCusto, :tabs:frmContasPagarEditar:tabs:tblCentroCusto"  action="#{pagamentoMB.adicionarCentroCusto()}" oncomplete="if (!args.validationFailed){PF('dlgCentroCusto').hide()}"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>