<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgPagamento" modal="true" width="100%" header="Pagamento de Documentos" showEffect="fade" hideEffect="fade" position="top">
        <p:ajax event="close" update=":tabs:frmContasPagarPrincipal" />
        <h:form id="frmPagamento" >
            <style>
                #frmPagamento{
                    font-size: 10px !important;
                }
            </style>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:dataTable value="#{pagamentoMB.contasPagarSelecionadas}" var="ps" editable="true" editMode="cell"> 
                        <p:column headerText="Docto / Parcela" width="6%" style="text-align: center; font-size: 10px;" >
                            <h:outputText value="#{ps.numDocto} - #{ps.numParcela}" /> 
                        </p:column>
                        <p:column headerText="Fornecedor" style="font-size: 10px;">
                            <h:outputText value="#{ps.idFornecedor.nome}" /> 
                        </p:column>
                        <p:column headerText="Vencimento" width="7%" style="text-align: center; font-size: 10px;" >
                            <h:outputText value="#{ps.dtVencimento}" >
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="Pagamento"  style="text-align: center; font-size: 10px;">
                            <p:calendar value="#{ps.dtPagamento}" mask="99/99/9999" pattern="dd/MM/yyyy" showButtonPanel="true"  locale="pt" required="true" requiredMessage="Informe a data do pagamento do documento #{ps.numDocto} - #{ps.numParcela}" style="font-size: 10px;"/>
                        </p:column>
                        <p:column headerText="Valor" width="10%" style="text-align: center; font-size: 10px;">
                            <h:outputText value="#{ps.valorDuplicata}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="Valor Pago" style="text-align: center; font-size: 10px;">
                            <pe:inputNumber value="#{ps.valorPago}"  symbol="R$ " required="true"  requiredMessage="Informe o valor pago do documento #{ps.numDocto} - #{ps.numParcela}"
                                            decimalSeparator="," thousandSeparator="."/>
                        </p:column>
                        <p:column headerText="Destino" style="font-size: 10px;">
                            <p:selectOneMenu value="#{ps.pagoCom}" styleClass="form-control" required="true" 
                                             requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}" style="font-size: 10px;">
                                <f:selectItem itemLabel="Selecione Destino" itemValue="" />
                                <f:selectItem itemLabel="Caixa" itemValue="C" />
                                <f:selectItem itemLabel="Banco" itemValue="B"   />
                                <p:ajax event="change" update="bancoo,ccontaCor" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Banco" style="font-size: 10px;">
                            <p:selectOneMenu id="bancoo" value="#{ps.idBanco}" disabled="#{ps.pagoCom!='B'}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" required="true" requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}" style="font-size: 10px;">
                                <f:selectItem itemLabel="Banco" itemValue="" />
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="bk"
                                               itemLabel="#{bk.nome}" itemValue="#{bk}" />
                                <p:ajax event="change" update="ccontaCor" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Conta Corrente" style="font-size: 10px;">
                            <p:selectOneMenu id="ccontaCor" value="#{ps.idContaCorrente}"  disabled="#{ps.pagoCom!='B'}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" required="true" requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}" style="font-size: 10px;">
                                <f:selectItem itemLabel="Conta Corrente" itemValue="" />
                                <f:selectItems value="#{ps.idBanco.contaCorrenteList}" var="ccor"
                                               itemLabel="#{ccor.numConta}- #{ccor.gestor}" itemValue="#{ccor}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Tipo Doc" style="font-size: 10px;">
                            <p:selectOneMenu  filter="true" filterMatchMode="contains"  styleClass="form-control" required="true"  style="font-size: 10px;"
                                              requiredMessage="Informe o Tipo de Documento!" value="#{ps.tipodocumento}">
                                <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Obs" style="font-size: 10px;">
                            <p:inputText value="#{ps.observacao}" style="font-size: 10px;" />
                        </p:column>
                    </p:dataTable> 
                    <hr/>
                    <p:commandButton value="Pagar" action="#{pagamentoMB.pagarConta()}" icon="Selecionar" update=":msg, @form, :tabs:frmContasPagarPrincipal" oncomplete="if (!args.validationFailed){PF('dlgPagamento').hide(); }" />
                </div>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="dlgPagamentoMultiplo" modal="true" width="95%" header="Pagamento Multiplas Formas" showEffect="fade" hideEffect="fade" position="top" >
        <h:form id="frmPagamentoMultipla" >
            <div class="row">
                <p:messages closable="true" />
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Documento</h1>
                    <hr/>
                    <h:panelGrid columns="3">
                        <h:outputText styleClass="lab"  value="Fornecedor:  "/>
                        &nbsp;
                        <h:outputText styleClass="val" value="#{pagamentoMB.contasPagar.idFornecedor.nome}"/>
                        <h:outputText styleClass="lab"  value="Documento: "/>
                        &nbsp;
                        <h:outputText styleClass="val" value="#{pagamentoMB.contasPagar.numDocto} "/>
                        <h:outputText styleClass="lab" value="Parcela: "/>
                        &nbsp;
                        <h:outputText styleClass="val" value="#{pagamentoMB.contasPagar.numParcela} "/>
                        <h:outputText styleClass="lab" value="Valor:  "/>
                        &nbsp;
                        <h:outputText styleClass="val" value="#{pagamentoMB.contasPagar.valorDuplicata}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>Totais</h2>
                    <hr/>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ul class="page-stats list-justified">
                            <li class="bg-primary">
                                <div class="page-stats-showcase">
                                    <h:outputText styleClass="lab" value="Total á Pagar" />
                                    <h:outputText styleClass="h2" value="#{pagamentoMB.contasPagar.valorDuplicata}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ul class="page-stats list-justified">
                            <li class="bg-success">
                                <div class="page-stats-showcase">
                                    <h:outputText styleClass="lab" value="Total Pago" />
                                    <h:outputText styleClass="h2" value="#{pagamentoMB.totalPagoMultiplo}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ul class="page-stats list-justified">
                            <li class="bg-danger">
                                <div class="page-stats-showcase">
                                    <h:outputText styleClass="lab" value="Diferença" />
                                    <h:outputText styleClass="h2" value="#{pagamentoMB.diferencaMultiplo}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <p:outputLabel for="destino" value="Destino" />
                    <p:selectOneMenu id="destino" value="#{pagamentoMB.pagamentoMultiplo.destino}" styleClass="form-control" required="true" requiredMessage="Informe o destino!" >
                        <f:selectItem itemLabel="Selecione o destino" itemValue="" />
                        <f:selectItem itemLabel="Caixa" itemValue="Caixa" />
                        <f:selectItem itemLabel="Banco" itemValue="Banco" />
                        <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                        <p:ajax event="change" update="@form,dtCompensar" listener="#{pagamentoMB.preencherDtCompensar()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <p:outputLabel for="valor" value="Valor" />
                    <pe:inputNumber id="valor" value="#{pagamentoMB.pagamentoMultiplo.valor}"  symbol="R$ "  decimalSeparator="," thousandSeparator="." required="true" requiredMessage="Informe o valor!"/>
                </div>
                <h:panelGroup class="col-xs-12 col-sm-6 col-md-2 col-lg-2" rendered="#{pagamentoMB.contasPagar.idEmpresa.idParametrizacao.pagamentoRetroativo}">
                    <p:outputLabel for="dtPagamento" value="Data Pagamento" />
                    <p:calendar value="#{pagamentoMB.pagamentoMultiplo.dtPagamento}" effect="fade"  id="dtPagamento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true"  >
                        <p:ajax event="dateSelect" update="dtCompensar" listener="#{pagamentoMB.preencherDtCompensar()}" />
                    </p:calendar>
                    
                </h:panelGroup>
                <h:panelGroup id="grupoBanco" rendered="#{pagamentoMB.pagamentoMultiplo.destino == 'Banco' or  pagamentoMB.pagamentoMultiplo.destino == 'Cheque'}" >
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <p:outputLabel for="banco" value="Banco" />
                        <p:selectOneMenu id="banco" value="#{pagamentoMB.pagamentoMultiplo.banco}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Informe o banco!" disabled="#{pagamentoMB.pagamentoMultiplo.destino == null or  pagamentoMB.pagamentoMultiplo.destino == 'Caixa'}">
                            <f:selectItem itemLabel="Selecione o banco" itemValue="" />
                            <f:selectItems value="#{bancoMB.listarBancos()}" var="bkos2" 
                                           itemLabel="#{bkos2.nome}" itemValue="#{bkos2}" />
                            <p:ajax event="change" update="conta" />
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <p:outputLabel for="conta" value="Conta" />
                        <p:selectOneMenu id="conta" value="#{pagamentoMB.pagamentoMultiplo.contaCorrente}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains" var="cctas" required="true" requiredMessage="Informe a conta!" disabled="#{pagamentoMB.pagamentoMultiplo.destino == null or  pagamentoMB.pagamentoMultiplo.destino == 'Caixa'}">
                            <f:selectItem itemLabel="Selecione o banco" itemValue="" />
                            <f:selectItems value="#{pagamentoMB.pagamentoMultiplo.banco.contaCorrenteList}" var="ctasBko" 
                                           itemLabel="#{ctasBko.numConta} - #{cctas.gestor}" itemValue="#{ctasBko}" />
                            <p:column>
                                <h:outputText value="#{cctas.numConta}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cctas.gestor}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                </h:panelGroup>
                <h:panelGroup id="grupoCheque" rendered="#{pagamentoMB.pagamentoMultiplo.destino == 'Cheque'}" >
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <p:outputLabel for="colaborador" value="Colaborador" />
                        <p:selectOneMenu id="colaborador" value="#{pagamentoMB.pagamentoMultiplo.colaborador}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains" disabled="#{pagamentoMB.pagamentoMultiplo.destino != 'Cheque'}" >
                            <f:selectItem itemLabel="Selecione o Colaborador" itemValue="" />
                            <f:selectItems value="#{colaboradorMB.listarColaboradores()}" var="cola" 
                                           itemLabel="#{cola.nome}" itemValue="#{cola}" />
                            <p:ajax event="change" listener="#{pagamentoMB.preencherNominal()}" update="nominal"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <p:outputLabel for="nominal" value="Nominal" />
                        <p:inputText id="nominal" value="#{pagamentoMB.pagamentoMultiplo.nominal}" disabled="#{pagamentoMB.pagamentoMultiplo.destino != 'Cheque'}" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <p:outputLabel for="numCheque" value="Nº Cheque" />
                        <p:inputText id="numCheque" value="#{pagamentoMB.pagamentoMultiplo.numCheque}" disabled="#{pagamentoMB.pagamentoMultiplo.destino != 'Cheque'}" required="#{pagamentoMB.pagamentoMultiplo.destino == 'Cheque'}" requiredMessage="O Número do Cheque é obrigatorio"/>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <p:outputLabel for="dtCompensar" value="Data Compensar" />
                        <p:calendar id="dtCompensar" value="#{pagamentoMB.pagamentoMultiplo.dtCompensar}"  locale="pt" pattern="dd/MM/yyyy" required="true" requiredMessage="Informe a data da compensação!" disabled="#{pagamentoMB.pagamentoMultiplo.destino != 'Cheque' }"/>
                    </div>
                </h:panelGroup>
                <div class="col-xs-12">
                    <hr/>
                    <p:commandButton value="Adicionar Pagamento" icon="new_adicionar" update="@form" action="#{pagamentoMB.adicionarPagamentosMultiplos()}"/>
                    <hr/>
                    <p:dataTable  value="#{pagamentoMB.listaPagamentosMultiplos}" var="pagM" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="5" emptyMessage="Nenhum pagamento adicionado!"
                                  rowIndexVar="inmul"  >                        
                        <p:column headerText="Documento"  width="8%">
                            <h:outputText value="#{pagM.contasPagar.numDocto}" />
                        </p:column>
                        <p:column headerText="Fornecedor" width="15%" >
                            <h:outputText value="#{pagM.contasPagar.idFornecedor.nome}" />
                        </p:column>
                        <p:column headerText="Destino" width="8%" >
                            <h:outputText value="#{pagM.destino}" />
                        </p:column>
                        <p:column headerText="Banco" width="10%" >
                            <h:outputText value="#{pagM.banco.nome}" />
                        </p:column>
                        <p:column headerText="Conta" width="10%" >
                            <h:outputText value="#{pagM.contaCorrente.numConta}" />
                        </p:column>
                        <p:column headerText="Cheque" width="10%" >
                            <h:outputText value="#{pagM.numCheque}" />
                        </p:column>
                        <p:column headerText="Valor"  width="10%">
                            <h:outputText value="#{pagM.valor}" >
                                <f:convertNumber type="currency" /> 
                            </h:outputText>
                        </p:column>
                        <p:column   width="5%"> 
                            <p:commandButton icon="Excluir" action="#{pagamentoMB.excluirPagamentoMultiplo(inmul)}" update="@form" immediate="true"/>
                        </p:column>
                    </p:dataTable>

                </div>
                <div class="col-xs-12">
                    <hr/>
                    <div class="col-xs-6">
                        <p:commandButton value="Salvar" icon="Salvar"  action="#{pagamentoMB.pagarMultiplos()}" immediate="true" update="@form, :tabs:frmContasPagarPrincipal, :msg" oncomplete="if(!args.validationFailed) PF('dlgPagamentoMultiplo').hide();"/>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <ul class="page-stats list-justified">
                                <li class="bg-warning">
                                    <div class="page-stats-showcase">
                                        <h:outputText styleClass="lab" value="Total Caixa" />
                                        <h:outputText styleClass="h2" value="#{pagamentoMB.totalCaixaMultiplo}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <ul class="page-stats list-justified">
                                <li class="bg-warning">
                                    <div class="page-stats-showcase">
                                        <h:outputText styleClass="lab" value="Total Banco" />
                                        <h:outputText styleClass="h2" value="#{pagamentoMB.totalBancoMultiplo}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <ul class="page-stats list-justified">
                                <li class="bg-warning">
                                    <div class="page-stats-showcase">
                                        <h:outputText styleClass="lab" value="Total Cheque" />
                                        <h:outputText styleClass="h2" value="#{pagamentoMB.totalChequeMultiplo}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>