<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog id="dlgPesquisa" header="Pesquisa de Contas à Pagar" widgetVar="dlgParametrosPesquisa" modal="true" position="center" width="50%" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.contasPagarPesquisar}" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:form id="frmPesquisaContasPagar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
                    <h:outputText value="Nº Documento"  />
                    <p:inputText  value="#{pagamentoMB.contasPagar.numDocto}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8" >
                    <h:outputText value="Fornecedor" />
                    <p:selectOneMenu value="#{pagamentoMB.contasPagar.idFornecedor}" converter="Converter"   filter="true" filterMatchMode="contains" var="forne" styleClass="form-control"  >
                        <f:selectItem  itemLabel="Selecione o fornecedor" itemValue=""  />
                        <f:selectItems value="#{fornecedorMB.listaFornecedores()}" var="forn"
                                       itemLabel="#{forn.idFornecedor} - #{forn.nome} - #{forn.cgccpf} " itemValue="#{forn}" />
                        <p:column>
                            <h:outputText value="#{forne.idFornecedor}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.nome}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.cgccpf}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <h:outputText value="Status"  />
                    <p:selectOneMenu styleClass="form-control"  value="#{pagamentoMB.status}" >
                        <f:selectItem itemLabel="Todas" itemValue="T" />
                        <f:selectItem itemLabel="Abertas" itemValue="A" />
                        <f:selectItem itemLabel="Pagas" itemValue="P" />
                        <f:selectItem itemLabel="Vencidas" itemValue="V" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                    <h:outputText value="Conta" />
                    <p:selectOneMenu  value="#{pagamentoMB.contasPagar.idPlanoContas}" styleClass="form-control" filter="true" filterMatchMode="contains" panelStyle="width:180px" >
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans" 
                                       itemLabel="#{plans.codigo} - #{plans.descricao} " itemDisabled="#{plans.tipo=='S'}" itemValue="#{plans.idPlanoContas}" /> 
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <style>
                        .colunm1{
                            width: 150px;
                        }
                    </style>
                    <h:panelGroup >
                        <h:outputText value="Por" />
                        <p:selectOneMenu styleClass="form-control" value="#{pagamentoMB.por}">
                            <f:selectItem itemLabel="Vencimento" itemValue="V" /> 
                            <f:selectItem itemLabel="Lançamento" itemValue="L" /> 
                            <f:selectItem itemLabel="Pagamento" itemValue="P" /> 
                        </p:selectOneMenu>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                    <h:panelGrid columns="3" style="width: 100%">
                        <h:panelGroup>
                            Data Inicial
                            <p:calendar value="#{pagamentoMB.dtIni}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                        à
                        <h:panelGroup>
                            Data Final
                            <p:calendar value="#{pagamentoMB.dtFim}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <hr/>
                    <p:commandButton value="Pesquisar"  action="#{pagamentoMB.pesquisar()}" update=":tabs:frmContasPagarPrincipal" icon="Consultar" oncomplete="PF('dlgParametrosPesquisa').hide();"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>