<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog  header="Relatórios Contas à Pagar" widgetVar="dlgRelatoriosPagamento" modal="true" width="90%" height="90%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <p:messages id="msg2" closable="true" />
        <div class="col-lg-6">
            <p:accordionPanel>
                <p:tab title="Relatório de Contas Vencidas Por Período">
                    <h:form >
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p:outputLabel for="forne" value="Fornecedor" />
                            <p:autoComplete  id="forne" value="#{pagamentoMB.contasPagar.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="forn"
                                             itemLabel="#{forn.nome}" itemValue="#{forn}" placeholder="Digite o nome ou o código" >
                                <p:column>
                                    <h:outputText value="#{forn.idFornecedor}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.cgccpf}" />
                                </p:column>
                            </p:autoComplete>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <p:outputLabel for="perIni" value="Início" />
                            <p:calendar id="perIni" pattern="dd/MM/yyyy" locale="pt" value="#{pagamentoMB.dtIni}"  showButtonPanel="true"/>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <p:outputLabel for="perFim" value="Fim" />
                            <p:calendar id="perFim" pattern="dd/MM/yyyy" locale="pt" value="#{pagamentoMB.dtFim}" showButtonPanel="true"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <hr/>
                            <p:commandButton value="Imprimir" icon="Imprimir" action="#{pagamentoMB.imprimirRelatorioContasVencidasPeriodo()}" ajax="false"   onclick="this.form.target='_blank'" />
                        </div>
                    </h:form>
                </p:tab>
                <p:tab title="Relatório de Contas Previstas à Vencer Por Período">
                    <h:form >
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p:outputLabel for="forne2" value="Fornecedor" />
                            <p:autoComplete  id="forne2" value="#{pagamentoMB.contasPagar.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="forn"
                                             itemLabel="#{forn.nome}" itemValue="#{forn}" placeholder="Digite o nome ou o código" >
                                <p:column>
                                    <h:outputText value="#{forn.idFornecedor}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{forn.cgccpf}" />
                                </p:column>
                            </p:autoComplete>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <p:outputLabel for="perIni2" value="Início" />
                            <p:calendar id="perIni2" pattern="dd/MM/yyyy" locale="pt" value="#{pagamentoMB.dtIni}"  showButtonPanel="true" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <p:outputLabel for="perFim2" value="Fim" />
                            <p:calendar id="perFim2" pattern="dd/MM/yyyy" locale="pt"  value="#{pagamentoMB.dtFim}"  showButtonPanel="true"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <hr/>
                            <p:commandButton value="Imprimir" icon="Imprimir" action="#{pagamentoMB.imprimirRelatorioContasPrevistasAVencer()}" ajax="false"   onclick="this.form.target='_blank'" />
                        </div>
                    </h:form>
                </p:tab>
            </p:accordionPanel>
        </div>
        <div class="col-lg-6">

        </div>

    </p:dialog>


</ui:composition>