<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgVerContaPagar" header="Info Contas á Pagar" width="60%" modal="true" position="top" showEffect="fade" hideEffect="fade"  >
        <h:form id="frmVerContaPagar" >
            <div class="row">
                <div class="col-lg-12">
                    <strong style="font-size: 15px;">#{pagamentoMB.contasPagar.idFornecedor.nome}</strong><br/>
                    <span style="font-size: 15px;">#{pagamentoMB.contasPagar.numDocto} - #{pagamentoMB.contasPagar.numParcela}</span>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="ID:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.idContasPagar}"/>
                        <h:outputText value="Data de Lançamento:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.dtLancamento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Vencimento:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.dtVencimento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Pagamento" />
                        <h:outputText value="#{pagamentoMB.contasPagar.dtPagamento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Valor do Docto:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.valorDuplicata}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                        <h:outputText value="Valor Pago:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.valorPago}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>                        
                    </h:panelGrid>                    
                </div>
                <div class="col-md-5">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Situação:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.status=='true'?'Pago':'Aberto'}" />
                        <h:outputText value="Plano de Contas:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.idPlanoContas.descricao}" />
                        <h:outputText value="Tipo de Docto:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.tipodocumento}" />
                        <h:outputText value="Pago Com:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.pagoCom == null ? '' : pagamentoMB.contasPagar.pagoCom == 'B' ? pagamentoMB.contasPagar.chequeList.size() > 0 ? 'Vários bancos' : 'Banco' : 'Caixa'}" />
                        <h:outputText value="Banco Ref:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.chequeList.size() > 0 ? 'Vários bancos' : pagamentoMB.contasPagar.idBanco.nome}" />
                        <h:outputText value="Conta Ref:" />
                        <h:outputText value="#{pagamentoMB.contasPagar.idContaCorrente.numConta} - #{pagamentoMB.contasPagar.idContaCorrente.gestor}" />
                    </h:panelGrid>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <h:outputText value="Oberservação: " style="font-weight: bolder "/>
                            <h:outputText value="#{pagamentoMB.contasPagar.observacao}"/>
                        </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable value="#{pagamentoMB.contasPagar.centrocustoplanocontasList}" 
                                 var="plan" emptyMessage="Nenhum Centro de Custo Adicionado!">
                        <p:column headerText="Cliente">
                            <h:outputText value="#{plan.idCliente.nome}"/>
                        </p:column>
                        <p:column headerText="Centro de Custo">
                            <h:outputText value="#{plan.idCliente.nome}"/>
                        </p:column>
                        <p:column headerText="Plano de Contas">
                            <h:outputText value="#{plan.idPlanoContas.descricao}"/>
                        </p:column>
                        <p:column headerText="Valor" style="text-align: center" width="10%">
                            <h:outputText value="#{plan.valor}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="%" style="text-align: center" width="10%">
                            <h:outputText value="#{plan.percentual} %"/>
                        </p:column>

                    </p:dataTable>
                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable id="dltCheques" value="#{pagamentoMB.contasPagar.chequeList}" var="chq" emptyMessage="Nenhum cheque como pagamento.">
                        <f:facet name="header" >
                            <p:commandButton value="Exportar" id="btnExportar" icon="Salvar" disabled="#{pagamentoMB.contasPagar.chequeList.size() == 0}"
                                             action="#{pagamentoMB.exportarCheque()}" oncomplete="PF('dlgVerContaPagar').hide();" 
                                             update=":msg"  title="Exportar no formato .scq">
                                <p:fileDownload value="#{pagamentoMB.writer}"  />
                            </p:commandButton>
                        </f:facet>
                        <p:column headerText="Número Cheque" width="10%">
                            <h:outputText title="#{chq.idColaborador.nome}" value="#{chq.numeroCheque}"/>
                        </p:column>
                        <p:column headerText="Banco">
                            <h:outputText value="#{chq.idContaCorrente.idBanco.nome}"/>
                        </p:column>
                        <p:column headerText="Conta Corrente">
                            <h:outputText value="#{chq.idContaCorrente.numConta}"/>
                        </p:column>
                        <p:column headerText="Data a Compensar">
                            <h:outputText value="#{chq.dtCompensacaoVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Valor" style="text-align: center" width="10%">
                            <h:outputText value="#{chq.valor}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{chq.idColaborador.nome != null ? 'Colaborador' : 'Observação'}">
                            <h:outputText value="#{chq.idColaborador.nome != null ? chq.idColaborador.nome : chq.observacao}"/>
                        </p:column>

                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>
