<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Unidades" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="unidades" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{unidadeMB.excluir}"/>
            </p:contextMenu>

            <p:dataTable id="unidades" value="#{unidadeMB.listarUnidades()}" var="unidade" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{unidade.idUnidade}" selection="#{unidadeMB.unidade}" selectionMode="single">
                <f:facet name="header">
                    Unidades
                </f:facet>
                <f:facet name="footer">
                    #{unidadeMB.listarUnidades().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{unidade.idUnidade}" width="8%" sortBy="#{unidade.idUnidade}">
                    <center>
                        <h:outputText value="#{unidade.idUnidade}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{unidade.descricao}" width="20%" sortBy="#{unidade.descricao}">
                    <h:outputText value="#{unidade.descricao}" />
                </p:column>
                <p:column headerText="Descrição Resumida" filterBy="#{unidade.descricaoResumida}" width="20%" sortBy="#{unidade.descricaoResumida}">
                    <h:outputText value="#{unidade.descricaoResumida}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>