<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Unidades
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar as unidades dos produtos.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Unidades
            </ui:define>

            <ui:define name="content" id="conteudo">
                <div class="col-md-12">

                    <ui:include src="consultarUnidade.xhtml"/>
                    <ui:include src="inserirUnidade.xhtml"/>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
