<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{unidadeMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{unidadeMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar"/>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-6">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{unidadeMB.unidade.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        <p:outputLabel for="descResumida" value="Desc. Resumida"  />
                        <p:inputText value="#{unidadeMB.unidade.descricaoResumida}" id="descResumida" required="true" maxlength="2"  requiredMessage="Descrição resumida é obrigatória!" placeholder="Ex:KG,LT,UN"/>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>