<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <h:form id="frmNotaFiscalSaida">
            <div class="col-md-12">
                <p:commandButton value="Novo Lançamento" icon="Novo" action="#{notaSaidaMB.novo()}" update=":tabs:frmNotaSaida" oncomplete="PF('dlgLancarNotaSaida').show();" />
                <hr/>
            </div>
            <div class="col-md-12">
                <p:contextMenu for="dtblNotaFiscalSaida">
                    <p:menuitem value="Ver"  icon="Info"  />
                    <p:menuitem value="Editar" icon="Editar" disabled="#{notaSaidaMB.notaSaida == null}" update=":tabs:frmNotaSaida" oncomplete="PF('dlgLancarNotaSaida').show();" />
                    <p:menuitem value="Excluir"  icon="Excluir" action="#{notaSaidaMB.excluir()}" update=":msg"  />
                </p:contextMenu>
                <p:dataTable id="dtblNotaFiscalSaida"  value="#{notaSaidaMB.model}" lazy="true"  var="nfs" 
                             paginator="true" rows="10" emptyMessage="Nenhuma NF de Saída localizada!"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                             rowKey="#{nfs.idNotaSaida}" selection="#{notaSaidaMB.notaSaida}" selectionMode="single">
                    <p:ajax event="rowSelect"  update="dtblNotaFiscalSaida" />
                    <p:ajax event="rowUnselect" listener="#{notaSaidaMB.novo()}" update="dtblNotaFiscalSaida"  />
                    <p:column headerText="Nº Nota" width="8%" sortBy="#{nfs.numero}" filterBy="#{nfs.numero}" styleClass="centralizar">
                        <h:outputText value="#{nfs.numero}" />
                    </p:column>
                    <p:column headerText="Cliente" width="20%" sortBy="#{nfs.idCliente.nome}" filterBy="#{nfs.idCliente.nome}" >
                        <h:outputText value="#{nfs.idCliente.nome}" />
                    </p:column>
                    <p:column headerText="Data Emissão" width="10%" sortBy="#{nfs.dtEmissao}" filterBy="#{nfs.dtEmissao}" styleClass="centralizar">
                        <h:outputText value="#{nfs.dtEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Data Saída" width="10%"  sortBy="#{nfs.dtSaida}" filterBy="#{nfs.dtSaida}" styleClass="centralizar">
                        <h:outputText value="#{nfs.dtSaida}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Valor Total" width="10%" sortBy="#{nfs.valortotalNF}" styleClass="centralizar" >
                        <h:outputText value="#{nfs.valortotalNF}"  />
                    </p:column>
                    <f:facet name="footer">
                        <h:outputText value="Nota Selecionada #{notaSaidaMB.notaSaida.numero}  -  Cliente #{notaSaidaMB.notaSaida.idCliente.nome}" />
                    </f:facet>
                </p:dataTable>
            </div>
        </h:form>

    </body>
</html>
