<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgLancarNotaSaida" modal="true" header="Lançamento de Nota Fiscal de Saida" width="95%" position="top">
        <div class="row">
            <div class="col-md-12">
                <h:form id="frmNotaSaida">
                    <p:messages id="msgs" closable="true" />
                    <p:tabView id="tabNfs" dynamic="true" cache="true">
                        <p:tab title="Cabeçalho" >
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                                    <p:outputLabel for="cliente" value="Cliente" />
                                    <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                                        <p:autoComplete id="cliente" value="#{notaSaidaMB.notaSaida.idCliente}" 
                                                        completeMethod="#{clienteMB.completeMethodCliente}" placeholder="Digite o nome do cliente!"
                                                        converter="Converter" var="cli" itemLabel="#{cli.nome}" itemValue="#{cli}" required="true" requiredMessage="Informe o cliente!" >
                                            <p:column >
                                                <h:outputText value="#{cli.idCliente}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{cli.nome}" />
                                            </p:column>
                                            <p:column >
                                                <h:outputText value="#{cli.cgccpf}" />
                                            </p:column>
                                            <p:ajax event="itemSelect"  oncomplete="$(function(){PrimeFaces.focus('tabs:frmNotaSaida:tabNfs:num');});" />
                                        </p:autoComplete>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="num" value="Nº NF" />
                                    <p:inputText id="num" value="#{notaSaidaMB.notaSaida.numero}" required="true" requiredMessage="Informe o número da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="serie" value="Série" />
                                    <p:inputText id="serie" value="#{notaSaidaMB.notaSaida.serie}" required="true" requiredMessage="Informe a série da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="dtemissao" value="Data de Emissão" />
                                    <p:calendar id="dtemissao" value="#{notaSaidaMB.notaSaida.dtEmissao}" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt" required="true" requiredMessage="Informe a data de emissão da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="dtsaida" value="Data de Saída" />
                                    <p:calendar id="dtsaida" value="#{notaSaidaMB.notaSaida.dtSaida}" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt" required="true" requiredMessage="Informe a data de saída da nota!" />
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="vlrTotal" value="Valor Total NF" />
                                    <p:inputText id="vlrTotal" value="#{notaSaidaMB.notaSaida.valortotalNF}"  readonly="true" >
                                        <f:convertNumber type="currency" />
                                    </p:inputText>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="vlrDesconto" value="Valor Desconto" />
                                    <pe:inputNumber id="vlrDesconto" value="#{notaSaidaMB.notaSaida.valorDesconto}"   symbol="R$ " 
                                                    decimalSeparator="," thousandSeparator="." >
                                    </pe:inputNumber>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" >
                                    <p:outputLabel for="vlrProdutos" value="Valor Produtos" />
                                    <p:inputText id="vlrProdutos" value="#{notaSaidaMB.notaSaida.valorTotalProdutos}"  readonly="true" >
                                        <f:convertNumber type="currency" />
                                    </p:inputText>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                                    <p:outputLabel for="locTrab" value="Local de Trabalho" />
                                    <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                        <p:selectOneMenu id="locTrab"   styleClass="form-control" filter="true" filterMatchMode="contains"
                                                         value="#{notaSaidaMB.notaSaida.idLocalTrabalho}"  
                                                         converter="Converter" var="loct"   >
                                            <f:selectItem itemLabel="Selecione o local de trabalho!" itemValue="" />
                                            <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loct2"
                                                           itemLabel="#{loct2.descricao}" itemValue="#{loct2}" />
                                            <p:column >
                                                <h:outputText value="#{loct.descricao}" />
                                            </p:column>
                                        </p:selectOneMenu>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2" >
                                    <p:outputLabel for="Contrato" value="Contrato" />
                                    <p:selectOneMenu id="Contrato" value="#{notaSaidaMB.notaSaida.idComunicado}" converter="Converter" styleClass="form-control" filter="true" >    
                                        <f:selectItem itemLabel="Selecione o contrato" itemValue="" />
                                        <f:selectItems value="#{contratoMB.listarComunicadosAGerarMovimentaca()}" var="cts" 
                                                       itemLabel="#{cts.idContrato.idContrato} - #{cts.idContrato.idCliente.nome}" itemValue="#{cts}"  />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Itens" >
                            <h:panelGroup id="grupoItem">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                                        <p:outputLabel for="proditem" value="Produto" />
                                        <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                            <p:autoComplete id="proditem"    placeholder="Digite o nome do produto!"
                                                            value="#{notaSaidaMB.notaSaidaItem.idProduto}"   
                                                            completeMethod="#{produtoMB.completeMethodProduto}" 
                                                            converter="Converter" var="prod" itemLabel="#{prod.descricao}" itemValue="#{prod}"  >
                                                <p:column >
                                                    <h:outputText value="#{prod.idProduto}" />
                                                </p:column>
                                                <p:column >
                                                    <h:outputText value="#{prod.descricao}" />
                                                </p:column>
                                                <p:ajax event="itemSelect" update="unidadeitem" oncomplete="$(function(){PrimeFaces.focus('tabs:frmNotaSaida:tabNfs:qntitem_input');});" />
                                            </p:autoComplete>
                                            <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" onclick="PF('dlgAtalhoProduto').show();" />
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1" >
                                        <p:outputLabel for="unidadeitem" value="Unidade" />
                                        <p:inputText id="unidadeitem" value="#{notaSaidaMB.notaSaidaItem.idProduto.idUnidadeSaida.descricaoResumida}" readonly="true" />
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-1" >
                                        <p:outputLabel for="qntitem" value="Qntde" />
                                        <pe:inputNumber id="qntitem" 
                                                        value="#{notaSaidaMB.notaSaidaItem.quantidade}"  
                                                        decimalSeparator="," thousandSeparator="."  >
                                            <p:ajax event="blur" listener="#{notaSaidaMB.verquantidade()}" />
                                        </pe:inputNumber>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" >
                                        <p:outputLabel for="vlrUnitItem" value="Vlr Unit" />
                                        <pe:inputNumber id="vlrUnitItem" 
                                                        value="#{notaSaidaMB.notaSaidaItem.valorUnitario}"  symbol="R$ " 
                                                        decimalSeparator="," thousandSeparator="." >
                                            <p:ajax event="blur" listener="#{notaSaidaMB.calcularTotalItem()}" update="vlrTotalItem" />
                                        </pe:inputNumber>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" >
                                        <p:outputLabel for="vlrDescItem" value="Vlr Descto" />
                                        <pe:inputNumber id="vlrDescItem" symbol="R$ " minValue="0"
                                                        decimalSeparator="," thousandSeparator="."
                                                        value="#{notaSaidaMB.notaSaidaItem.valorDesconto}"   >
                                            <p:ajax event="blur" listener="#{notaSaidaMB.calcularTotalItem()}" update="vlrTotalItem" />
                                        </pe:inputNumber>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" >
                                        <p:outputLabel for="vlrTotalItem" value="Vlr Total" />
                                        <pe:inputNumber id="vlrTotalItem" 
                                                        value="#{notaSaidaMB.notaSaidaItem.valorTotal}"  symbol="R$ " 
                                                        decimalSeparator="," thousandSeparator="."  />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <br/>
                                        <script>
                                            function limparCampos(){
                                                $(function(){PrimeFaces.focus('tabs:frmNotaSaida:tabNfs:proditem_input');});
                                                document.getElementById('tabs:frmNotaSaida:tabNfs:qntitem_input').value = '';
                                                document.getElementById('tabs:frmNotaSaida:tabNfs:vlrUnitItem_input').value = '';
                                                document.getElementById('tabs:frmNotaSaida:tabNfs:vlrDescItem_input').value = '';
                                                document.getElementById('tabs:frmNotaSaida:tabNfs:vlrTotalItem_input').value = '';
                                            }
                                        </script>
                                        <p:commandButton value="Adicionar" icon="new_adicionar"  action="#{notaSaidaMB.adicionarItem()}" oncomplete="limparCampos()" update="@form"  />
                                        <hr/>
                                        <h:panelGroup id="tabelaItens">
                                            <p:dataTable id="tblItens" value="#{notaSaidaMB.notaSaida.notaSaidaItemList}" var="item" rowIndexVar="riv" paginator="true" paginatorAlwaysVisible="false" rows="10" paginatorPosition="bottom" 
                                                         editable="true" editMode="cell" emptyMessage="Nenhum item adicionado!">
                                                <p:column headerText="Produto" width="15%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.idProduto.descricao}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:autoComplete    required="true" requiredMessage="Informe o Produto!" 
                                                                               value="#{item.idProduto}"  
                                                                               completeMethod="#{produtoMB.completeMethodProduto}" 
                                                                               converter="Converter" var="prod2" itemLabel="#{prod2.descricao}" itemValue="#{prod2}"  >
                                                                <p:column >
                                                                    <h:outputText value="#{prod2.idProduto}" />
                                                                </p:column>
                                                                <p:column >
                                                                    <h:outputText value="#{prod2.descricao}" />
                                                                </p:column>
                                                            </p:autoComplete>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="UN"  styleClass="centralizar" width="5%">
                                                    <h:outputText value="#{item.idProduto.idUnidadeSaida.descricaoResumida}" />
                                                </p:column>
                                                <p:column headerText="Qnt"  styleClass="centralizar" width="5%" >
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.quantidade}" />
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText value="#{item.quantidade}" >
                                                                <p:ajax listener="#{notaSaidaMB.calcularTotalItem(item)}" update=":tabs:frmNotaSaida:tabNfs:tblItens" />
                                                            </p:inputText>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Vlr Unit." styleClass="centralizar" width="8%" >
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorUnitario}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorUnitario}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                                <p:ajax listener="#{notaSaidaMB.calcularTotalItem(item)}" update=":tabs:frmNotaSaida:tabNfs:tblItens" />
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Vlr Desc."  styleClass="centralizar" width="8%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorDesconto}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorDesconto}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                                <p:ajax listener="#{notaSaidaMB.calcularTotalItem(item)}" update=":tabs:frmNotaSaida:tabNfs:tblItens" />
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Vlr Tot." styleClass="centralizar" width="8%">
                                                    <p:cellEditor>
                                                        <f:facet name="output">
                                                            <h:outputText value="#{item.valorTotal}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <pe:inputNumber value="#{item.valorTotal}"  symbol="R$ " 
                                                                            decimalSeparator="," thousandSeparator="." >
                                                            </pe:inputNumber>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column width="5%">
                                                    <p:commandButton icon="Excluir" action="#{notaSaidaMB.excluirItem(item)}" update="tblItens" />
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Recebimentos" >
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
                                    <p:outputLabel  value="Forma de Pagamento" />
                                    <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                                        <p:selectOneMenu  value="#{notaSaidaMB.notaSaida.idFormaPagamento}" converter="Converter"
                                                          filter="true" filterMatchMode="contains" styleClass="form-control" >
                                            <f:selectItem itemLabel="Selecione a forma de pagamento!" itemValue="" />
                                            <f:selectItems value="#{formaPagamentoMB.listaFormaDePagamentos()}" var="forma"
                                                           itemLabel="#{forma.descricao}" itemValue="#{forma}" />
                                            <p:ajax  event="change" update="grupo, tblContas ,grpParcelas, grpCentroCusto" />
                                        </p:selectOneMenu>
                                        <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
                                    </h:panelGrid>
                                </div>
                                <h:panelGroup id="grupo">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                                        <p:outputLabel for="planoContas" value="Conta" />
                                        <p:selectOneMenu id="planoContas" filter="true" filterMatchMode="contains"  styleClass="form-control" 
                                                         converter="Converter" effect="fade"
                                                         value="#{notaSaidaMB.contasReceber.idPlanoContas}" var="vpc">
                                            <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                                            <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="planos" 
                                                           itemLabel="#{planos.codigo} - #{planos.descricao}" itemDisabled="#{planos.tipo=='S'?'true':'false'}" />
                                            <p:column>
                                                <h:outputText value="#{vpc.codigo}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{vpc.descricao}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                            </p:column>
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                                        <p:outputLabel for="tipoDocumento" value="Tipo de Documento" />
                                        <p:selectOneMenu id="tipoDocumento" filter="true" filterMatchMode="contains"  styleClass="form-control"
                                                         effect="fade"
                                                         requiredMessage="Informe o Tipo de Documento!" value="#{notaSaidaMB.contasReceber.tipodocumento}">
                                            <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                            <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                            <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                            <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                            <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                            <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                            <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                            <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                            <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                            <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                            <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                            <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                        <p:outputLabel value="Nº de Parcelas" rendered="#{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'P' and notaSaidaMB.notaSaida.idFormaPagamento != null}" />
                                        <h:panelGrid columns="2" columnClasses="colunaInput, colunaAtalho">
                                            <p:spinner value="#{notaSaidaMB.contasReceber.numParcela}"  rendered="#{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'P' and notaSaidaMB.notaSaida.idFormaPagamento != null}" 
                                                       min="1" />
                                            <p:commandButton style="height: 30px;" action="#{notaSaidaMB.gerarParcelas()}"  update="tblContas, grupo" icon="Gerar" rendered="#{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'P' and notaSaidaMB.notaSaida.idFormaPagamento != null}" />
                                        </h:panelGrid>
                                        <p:outputLabel value="Data do Vencimento" rendered="#{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'V' and notaSaidaMB.notaSaida.idFormaPagamento != null}" />
                                        <p:calendar locale="pt" value="#{notaSaidaMB.contasReceber.dtVencimento}"  rendered="#{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'V' and notaSaidaMB.notaSaida.idFormaPagamento != null}" />
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup id="grpParcelas"  >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: #{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'P' ? 'block' : 'none' }">
                                        <hr/>
                                        <p:dataTable id="tblContas" value="#{notaSaidaMB.notaSaida.contasReceberList}" var="ctr" 
                                                     paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="15"
                                                     emptyMessage="Nenhum recebimento adicionado!" editable="true" editMode="cell">
                                            <p:column width="5%">
                                                <p:rowToggler />
                                            </p:column>
                                            <p:column headerText="Documento" width="8%" styleClass="centralizar">
                                                <p:cellEditor>
                                                    <f:facet name="output">  <h:outputText value="#{ctr.numDocto}"  /></f:facet>
                                                    <f:facet name="input"><p:inputText  value="#{ctr.numDocto}" style="width:96%"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Parcela" width="8%" styleClass="centralizar">
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText value="#{ctr.numParcela}/#{ctr.totalParcelas}" /></f:facet>
                                                    <f:facet name="input"><p:inputText  value="#{ctr.numParcela}" style="width:96%"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Data Vencimento" width="10%" styleClass="centralizar">
                                                <p:cellEditor>
                                                    <f:facet name="output">  
                                                        <h:outputText value="#{ctr.dtVencimento}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </h:outputText>
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <p:calendar value="#{ctr.dtVencimento}" pattern="dd/MM/yyyy" locale="pt" />
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Valor" width="10%" styleClass="centralizar">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText value="#{ctr.valorDuplicata}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <pe:inputNumber id="vlrDesconto" value="#{ctr.valorDuplicata}" style="width:96%"  symbol="R$ " 
                                                                        decimalSeparator="," thousandSeparator="." />
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Cliente" width="20%" >
                                                <h:outputText value="#{ctr.idCliente.nome}" />
                                            </p:column>
                                            <p:column headerText="Conta" width="20%" >
                                                <h:outputText value="#{ctr.idPlanoContas.descricao}" />
                                            </p:column>
                                            <p:column width="5%" headerText="Centro de Custo" styleClass="font-table">
                                                <p:commandButton icon="new_adicionar" action="#{notaSaidaMB.adicionarCentroCusto(ctr.centrocustoplanocontasList)}" update="tblCentroCusto" />
                                            </p:column>
                                            <p:rowExpansion>
                                                <p:dataTable value="#{ctr.centrocustoplanocontasList}" id="tblCentroCusto" var="ok"  editable="true" editMode="cell" rowIndexVar="rv">
                                                    <p:column headerText="Local" width="15%" styleClass="font-table">
                                                        <p:selectOneMenu value="#{ok.idLocalTrabalho}" styleClass="form-control" filter="true"
                                                                         id="localTraqb"   converter="Converter" filterMatchMode="contains" effect="fade"
                                                                         required="true" requiredMessage="Informe o centro de custo!">
                                                            <f:selectItem itemLabel="Selecione o Local" itemValue="" />
                                                            <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                                                           itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                                                            <p:ajax event="change"  update="cliente, centro" listener="#{notaSaidaMB.selecionarLocalDeTrabalho(ok, rv)}" />
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column headerText="Cliente" width="15%" styleClass="font-table">
                                                        <h:outputText id="cliente" value="#{ok.idCliente.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Centro de Custo" width="15%" styleClass="font-table">
                                                        <h:outputText id="centro" value="#{ok.idCentroCusto.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Plano de Contas" width="15%" styleClass="font-table">
                                                        <p:selectOneMenu value="#{ok.idPlanoContas}" styleClass="form-control" filter="true"
                                                                         id="planContas"  effect="fade"  converter="Converter" filterMatchMode="contains" var="pca2" required="true" requiredMessage="Informe o plano de contas!" >
                                                            <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                                                            <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                                                           itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                                                            <p:column>
                                                                <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                            </p:column>
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column headerText="Valor" style="text-align: center" width="10%" styleClass="font-table">
                                                        <pe:inputNumber value="#{ok.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                                                        decimalSeparator="," thousandSeparator="." maxValue="#{ctp.valorDuplicata}"/>
                                                    </p:column>
                                                    <p:column headerText="%" style="text-align: center" width="10%" styleClass="font-table">
                                                        <pe:inputNumber value="#{ok.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol=" %"
                                                                        decimalSeparator="," thousandSeparator="." maxValue="100"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </div>
                                </h:panelGroup>


                                <h:panelGroup id="grpCentroCusto"  >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="display: #{notaSaidaMB.notaSaida.idFormaPagamento.tipo == 'V' ? 'block' : 'none' }">
                                        <hr/>
                                        <p:dataTable id="dtlCentrosUnicos" value="#{notaSaidaMB.contasReceber.centrocustoplanocontasList}" var="cnt" rowIndexVar="rov">
                                            <f:facet name="header">
                                                <p:commandButton value="Adicionar Centro de Custo" icon="new_adicionar" immediate="true" action="#{notaSaidaMB.adicionarCentroCusto(notaSaidaMB.contasReceber.centrocustoplanocontasList)}" update=":tabs:frmNotaSaida:tabNfs:dtlCentrosUnicos"  /> 
                                            </f:facet>
                                            <p:column headerText="Local" width="15%" styleClass="font-table">
                                                <p:selectOneMenu value="#{cnt.idLocalTrabalho}" styleClass="form-control" filter="true"
                                                                 id="localTraqb"   converter="Converter" filterMatchMode="contains" effect="fade"
                                                                 required="true" requiredMessage="Informe o centro de custo!">
                                                    <f:selectItem itemLabel="Selecione o Local" itemValue="" />
                                                    <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                                                   itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                                                    <p:ajax event="change"  update="cliente, centro" listener="#{notaEntradaMB.selecionarLocalDeTrabalho(cnt, rov)}" />
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Cliente" width="15%" styleClass="font-table">
                                                <h:outputText id="cliente" value="#{cnt.idCliente.nome}" />
                                            </p:column>
                                            <p:column headerText="Centro de Custo" width="15%" styleClass="font-table">
                                                <h:outputText id="centro" value="#{cnt.idCentroCusto.descricao}" />
                                            </p:column>
                                            <p:column headerText="Plano de Contas" width="15%" styleClass="font-table">
                                                <p:selectOneMenu value="#{cnt.idPlanoContas}" styleClass="form-control" filter="true"
                                                                 id="planContas"  effect="fade"  converter="Converter" filterMatchMode="contains" var="pca2" required="true" requiredMessage="Informe o plano de contas!" >
                                                    <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue="" />
                                                    <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="pca"
                                                                   itemLabel="#{pca.codigo} - #{pca.descricao}" itemValue="#{pca}" itemDisabled="#{pca.tipo=='S'?'true':'false'}" />
                                                    <p:column>
                                                        <h:outputText value="#{pca2.codigo}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{pca2.descricao}"  style="font-weight: #{pca2.tipo=='S'?'':'bolder'}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Valor" style="text-align: center" width="10%" styleClass="font-table">
                                                <pe:inputNumber value="#{cnt.valor}" id="valorCentro"  required="true" requiredMessage="Informe o Valor do Centro de Custo!" symbol="R$ "
                                                                decimalSeparator="," thousandSeparator="." maxValue="#{notaEntradaMB.contasPagar.valorDuplicata}"/>
                                            </p:column>
                                            <p:column headerText="%" style="text-align: center" width="10%" styleClass="font-table">
                                                <pe:inputNumber value="#{cnt.percentual}" id="percentualCentro"  required="true" requiredMessage="Informe o Percentual do Centro de Custo!" symbol=" %"
                                                                decimalSeparator="," thousandSeparator="." maxValue="100"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </h:panelGroup>



                            </div>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton value="Salvar" icon="Salvar" update="@form, :msg, :tabs:frmNotaFiscalSaida" action="#{notaSaidaMB.salvar()}" oncomplete="if(!args.validationFailed)PF('dlgLancarNotaSaida').hide();" />
                </h:form>
            </div>
        </div>
    </p:dialog>

</ui:composition>