<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <div class="col-md-12">
            <h:form id="frmAnaliseAlmox">
                <p:blockUI block="tblItens" trigger=":tabs:frmAnaliseAlmox:tblItens:btnconfirmarItem" >
                      Processando<br />
                    <p:graphicImage name="images/82.GIF"/>
                </p:blockUI>
                <p:blockUI block="tblItens" trigger=":tabs:frmAnaliseAlmox:tblItens:btnCotarItem">
                    Processando<br />
                    <p:graphicImage name="images/82.GIF"/>
                </p:blockUI>

                <p:dataTable value="#{requisicaoMaterialMB.listaRequisicoesParaAlmoxarifado()}" id="tblItens" var="reqAl"  emptyMessage="Nenhuma requisição aguardando análise de almoxarifado!" rowIndexVar="vvIndex"
                             paginator="true" rows="10" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,20,25,30,40,50,100,200,500,1000">
                    <f:facet name="header">
                        <div class="header-right">
                            <p:commandButton id="btnconfirmarItem" title="Confirmar Item" value="Confirmar Todos Itens" action="#{requisicaoMaterialMB.confirmarTodosItensComEstoque()}" icon="Selecionar" update="@form" />
                            <p:commandButton id="btnCotarItem" title="Cotar Item" value="Cotar Todos Itens"   action="#{requisicaoMaterialMB.cotarTodosItensSemEstoque()}"   icon="Solicitar" update="@form"  />
                        </div>
                    </f:facet>
                    <p:column width="5%"  >
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Requisição" width="8%" styleClass="centralizar font-table"  filterBy="#{reqAl.idRequisicaoMaterial}">
                        <h:outputText value="#{reqAl.idRequisicaoMaterial}" />
                    </p:column>
                    <p:column headerText="Cliente" width="20%" styleClass="font-table" filterBy="#{reqAl.idCliente.nome}" >
                        <h:outputText value="#{reqAl.idCliente.nome}" />
                    </p:column>
                    <p:column headerText="Local" width="20%"   styleClass="font-table"  filterBy="#{reqAl.idLocalTrabalho.descricao}" >
                        <h:outputText value="#{reqAl.idLocalTrabalho.descricao}" />
                    </p:column>
                    <p:column headerText="Usuário" width="10%" styleClass="font-table"  filterBy="#{reqAl.idUsuario.nome}" >
                        <h:outputText value="#{reqAl.idUsuario.nome}" />
                    </p:column>
                    <p:column headerText="Data" styleClass="centralizar font-table" width="10%"  >
                        <h:outputText value="#{reqAl.dtCadastro}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Status" styleClass="centralizar font-table" width="15%"   filterBy="#{reqAl.status}" >
                        <h:outputText value="#{reqAl.status}" styleClass="#{requisicaoMaterialMB.statusRequisicao(reqAl.status)}"  />
                    </p:column>
                    <p:column width="10%" >
                        <p:commandButton title="Confirmar Saída " icon="Baixa" styleClass="btn-sm" rendered="#{reqAl.tipo != 'R'}" action="#{requisicaoMaterialMB.finalizarSaidaRequisicaoMaterial(reqAl)}" update="@form, :msg"  disabled="#{reqAl.status!='Aguardando Saída'}"/>
                        <p:commandButton title="Confirmar Saída Sem Baixa " icon="Finalizar2" rendered="#{reqAl.tipo == 'R'}" styleClass="btn-sm" action="#{requisicaoMaterialMB.finalizarSaidaRequisicaoMaterialSemMovimentarEstoque(reqAl)}" update="@form, :msg"  disabled="#{reqAl.status!='Aguardando Saída'}"/>
                        <p:commandButton title="Imprimir Requisição" icon="Imprimir" styleClass="btn-sm" action="#{requisicaoMaterialMB.imprimirRequisicao(reqAl.idRequisicaoMaterial)}"   ajax="false"   onclick="this.form.target='_blank'"/>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable  value="#{reqAl.requisicaoMaterialItemList}" var="itmReq" id="tblSubItens"  rowIndexVar="itmReqIndex"
                                      editable="true" editMode="cell">
                            <p:column headerText="Produto" width="35%" >
                                <h:outputText value="#{itmReq.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Est. Disponível" width="10%" styleClass="centralizar font-table"  >
                                <h:outputText styleClass="centralizar"  value="#{requisicaoMaterialMB.verificarEstoqueHue(itmReq) }" />
                            </p:column>
                            <p:column headerText="Qnt. Requisitada" styleClass="centralizar font-table" width="10%"  >
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText  value="#{itmReq.quantidadeAprovada}"   /></f:facet>
                                    <f:facet name="input">
                                        <pe:inputNumber value="#{requisicaoMaterialMB.requisicaoMaterialItemQuantidade.quantidadeAprovada}" maxValue="#{itmReq.quantidadeAprovada}"   >
                                            <p:ajax event="blur" listener="#{requisicaoMaterialMB.ver(reqAl.requisicaoMaterialItemList, itmReqIndex)}" update="@form" />
                                        </pe:inputNumber>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Situação" style=" text-align: center" width="10%" styleClass="font-table"  >
                                <h:outputText value="#{itmReq.status}" styleClass="#{itmReq.status=='Cotação'?'label label-warning':itmReq.status=='Aceito'?'label label-success':itmReq.status=='Aguardando' ? 'label label-default' : itmReq.status=='Solicitado'?'label label-primary':'label label-primary'}"/>
                            </p:column>
                            <p:column  width="10%" >
                                <p:commandButton title="Confirmar Item"  icon="Selecionar" disabled="#{requisicaoMaterialMB.verificaSePodeCotar(itmReq)  or itmReq.status=='Aceito' or itmReq.status=='Cotação'  }" action="#{requisicaoMaterialMB.confirmarAnaliseDeItem(itmReq, reqAl.requisicaoMaterialItemList, vvIndex)}"  />
                                <p:commandButton title="Cotar Item"      icon="Solicitar"  disabled="#{requisicaoMaterialMB.desabilitarCotacao(itmReq)   or itmReq.status=='Aceito' or itmReq.status=='Cotação'  or itmReq.status=='Solicitado' or itmReq.status =='Aguardando Saida' or itmReq.status =='Aguardando Chegada' or itmReq.status =='Cotado' }" action="#{requisicaoMaterialMB.cotarItem(itmReq)}" update=":tabs:frmAnaliseAlmox:tblItens, :msg" />
                                <p:commandButton title="Voltar Situação" icon="Voltar"     disabled="#{itmReq.status=='Aguardando'  or itmReq.status =='Aguardando Saida' or itmReq.status =='Aguardando Chegada'}"  action="#{requisicaoMaterialMB.rollbackSituacao(itmReq)}" update=":tabs:frmAnaliseAlmox:tblItens, :msg"/>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </h:form>

        </div>
    </div>
</ui:composition>