#container_demo{
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 2%;
    -webkit-box-shadow: -2px 5px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -2px 5px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -2px 5px 9px 0px rgba(50, 50, 50, 0.75);
}
.uname{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}
.youpasswd{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}
footer{
    /*background-color: #000 !important;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    
}