.panel-toolbar:after,
.page-header:after,
.header-bar-stats .page-stats li:after,
.panel-heading:after { content: ""; display: table; clear: both; }

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: relative;
    min-height: 100%;
   
}

a {
    cursor: pointer;
}
a:hover,
a:focus {
    color: #3D9AE4;
    text-decoration: none;
    outline: 0;
}

button:hover, 
button:focus {
    outline: 0;

}


h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    font-weight: 600;
    line-height: 1.42857143;
    margin-top: 0;
}

h1,
.h1 {
    font-size: 24px;
}
h2,
.h2 {
    font-size: 22px;
}
h3,
.h3 {
    font-size: 20px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 16px;
}
h6,
.h6 {
    font-size: 14px;
}


h1 .label, 
h2 .label, 
h3 .label, 
h4 .label, 
h5 .label, 
h6 .label, 
.h1 .label, 
.h2 .label, 
.h3 .label, 
.h4 .label, 
.h5 .label, 
.h6 .label { 
    vertical-align: middle; 
}


h1 > i, 
.h1 > i { 
    margin: 8px 8px 0 0; 
    float: left; 
}
h2 > i, 
.h2 > i { 
    margin: 7px 8px 0 0; 
    float: left; 
}
h3 > i, 
.h3 > i { 
    margin: 4px 8px 0 0; 
    float: left; 
}
h4 > i, 
.h4 > i { 
    margin: 4px 8px 0 0; 
    float: left; 
}
h5 > i, 
.h5 > i { 
    margin: 2px 8px 0 0; 
    float: left; 
}
h6 > i, 
.h6 > i { 
    margin: 1px 8px 0 0; 
    float: left; 
}


h1 small.display-block,
.h1 small.display-block,
h1 .small.display-block,
.h1 .small.display-block {
    margin-top: 8px;
    margin-bottom: 10px;
}

h2 small.display-block,
.h2 small.display-block,
h2 .small.display-block,
.h2 .small.display-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 small.display-block,
.h3 small.display-block,
h3 .small.display-block,
.h3 .small.display-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

h4 small.display-block,
.h4 small.display-block,
h4 .small.display-block,
.h4 .small.display-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

h5 small.display-block,
.h5 small.display-block,
h5 .small.display-block,
.h5 .small.display-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

h6 small.display-block,
.h6 small.display-block,
h6 .small.display-block,
.h6 .small.display-block {
    margin-top: 6px;
    margin-bottom: 8px;
}

ul, ol {
    padding-left: 16px;
}

ul.square, 
ol.square { 
    list-style-type: square; 
    margin: 0; 
    padding-left: 26px; 
}

ul.icons-list { 
    list-style-type: none; 
    margin-left: 0; 
    margin-bottom: 0; 
    padding-left: 10px; 
}
ul.icons-list > li { 
    margin-top: 6px; 
}
ul.icons-list > li i { 
    float: left; 
    margin: 0 6px 0 0; 
}

ul.icons-list > li > ul { 
    margin: 0; 
    padding-left: 40px; 
}
ul.icons-list li ul li:first-child { 
    margin-top: 6px; 
}

ul.icons-list > li:first-child { 
    margin-top: 0; 
}


dl {
    margin-bottom: 0;
}
dt {
    font-weight: 600;
}
dd + dt {
    margin-top: 10px;
}

.text-primary {
    color: #428bca;
}
.text-warning {
    color: #C7845E;
}
.text-danger {
    color: #D65C4F;
}
.text-success {
    color: #239169;
}
.text-info {
    color: #428BCA;
}

.text-semibold {
    font-weight: 600;
}
.text-smaller {
    font-size: 11px;
}
.display-block {
    display: block;
}
.position-relative {
    position: relative;
}

.heading-hr {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

small.display-block { 
    margin-top: 4px; 
}

.img-media {
    height: 40px;
    border-radius: 2px;
}

label { 
    font-weight: 600; 
}

code {
    background-color: #FEFEFE;
    border: 1px solid #DDD;
    border-radius: 2px;
    font-weight: 400;
    white-space: normal;
}

pre {
    border-radius: 0;
    background-color: #fcfcfc;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0;
    font-size: 14px;
    border-left-color: #65B688;
}

.container-fluid, 
.container {
    position: relative;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}
.page-container {
    background-color: #fff;
}

@media (max-width: 767px) {
    [class*="col-sm-"] + [class*="col-sm-"] { 
        margin-top: 20px; 
    }
    label[class*="col-sm-"] + [class*="col-sm-"] { 
        margin-top: 0; 
    }
    [class*="col-sm-"] + [class*="col-xs-"], 
    [class*="col-sm-"] + [class*="col-md-"], 
    [class*="col-sm-"] + [class*="col-lg-"] { 
        margin-top: 0; 
    }

    .form-horizontal label[class*="col-sm-"] { 
        padding-top: 0; 
    }
}


@media (max-width: 991px) {
    [class*="col-md-"] + [class*="col-md-"] { 
        margin-top: 20px; 
    }
    label[class*="col-md-"] + [class*="col-md-"] { 
        margin-top: 0; 
    }
    [class*="col-md-"] + [class*="col-xs-"], 
    [class*="col-md-"] + [class*="col-sm-"], 
    [class*="col-md-"] + [class*="col-lg-"] { 
        margin-top: 0; 
    }

    .form-horizontal label[class*="col-md-"] { 
        padding-top: 0; 
    }
}


@media (max-width: 1199px) {
    [class*="col-lg-"] + [class*="col-lg-"] { 
        margin-top: 20px; 
    }
    label[class*="col-lg-"] + [class*="col-lg-"] { 
        margin-top: 0; 
    }
    [class*="col-lg-"] + [class*="col-xs-"], 
    [class*="col-lg-"] + [class*="col-sm-"], 
    [class*="col-lg-"] + [class*="col-md-"] { 
        margin-top: 0; 
    }

    .form-horizontal label[class*="col-lg-"] { 
        padding-top: 0; 
    }
}

.navbar {
    z-index: 1000;
    min-height: 54px;
    border-radius: 0;
    margin: 0;
    border: 0;
}

.navbar-fixed {
    padding-top: 54px;
}

.navbar-fixed-top, 
.navbar-fixed-bottom {
    position: fixed;
}

.navbar-default {
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    border-color: #e5e5e5;
}
.navbar-default .navbar-nav > li {
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.02);
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #eee;
}

.navbar-default .sidebar-toggle {
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar-default .sidebar-toggle:hover,
.navbar-default .sidebar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse {
    background-color: #518CA3;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, 0.06);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
    opacity: 0.4;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.navbar-inverse .navbar-nav > li > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-link {
    color: #fff;
}


@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navbar-nav {
    margin: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 25px;
}

.navbar-nav > li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 0;
    font-size: 12px;
    display: inline-block;
}
.navbar-nav > li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 10px;
    border-radius: 2px;
}

.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
    height: 54px;
}

.navbar-nav > li > a > .label {
    padding: 3px 6px 4px 6px;
    float: right;
    margin-left: 4px;
}

.navbar-nav > li > a > [class*="icon-"] {
    float: left;
    margin: 2px 4px;
    line-height: 1;
}

@media (max-width: 991px) {

    .navbar-nav {
        text-align: center;
        font-size: 0;
        float: none;
    }
    .navbar-nav > li {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

}

.navbar-header {
    position: relative;
    min-width: 203px;
    margin-left: 25px;
    margin-right: 15px;
}
.container .navbar-header { 
    min-width: 240px; 
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-brand {
    height: 54px;
    padding: 14px 15px 0 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-form {
    padding: 0;
    margin: 10px 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form .form-group {
    margin-top: 0!important;
}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-bottom-color: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-form .form-control {
    border: 0;
    border-radius: 2px;
}

.navbar-btn {
    margin: 10px 15px;
}

.navbar-text {
    margin-top: 18px;
    margin-bottom: 19px;
    font-size: 12px;
    text-align: left;
}
.navbar-text i {
    float: left;
    margin-right: 6px;
}

.navbar-toggle {
    display: block; 
    float: right; 
    color: #fff; 
    border: 0; 
    padding: 6px 7px 7px 7px; 
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.2); 
    margin: 12px 0 12px 10px;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #3A4B55;
}

.user.dropdown { vertical-align: top; }
.user.dropdown > a { padding-top: 7px; padding-bottom: 7px; }
.user.dropdown > a > img { float: left; margin: 4px 0; max-height: 32px; }
.user.dropdown > a > span { display: inline-block; margin: 10px 0 10px 8px; }




@media (min-width: 992px) {

    .navbar-form,
    .navbar-text,
    .navbar-nav,
    .navbar-button,
    .sidebar {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }

}



@media (max-width: 991px) {

    .navbar-header {
        float: none;
        margin-right: 25px;
    }

    .navbar-nav {
        text-align: center;
        font-size: 0;
        position: absolute;
        width: 100%;
    }
    .navbar-inverse .navbar-nav {
        background-color: #303D44;
    }
    .navbar-default .navbar-nav {
        background-color: #f2f2f2;
    }

    .navbar-nav > li {
        float: none;
        position: static;
        border: 0;
    }
    .navbar-nav > li:first-child {
        border-left: 0;
    }
    .navbar-nav > li > .dropdown-menu {
        width: 60%;
        margin: 2px 20%;
    }

    .navbar-inverse .navbar-nav > li > a:hover, 
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > .open > a, 
    .navbar-inverse .navbar-nav > .open > a:hover, 
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }

    .navbar-nav .dropdown-menu .popup-header:after,
    .navbar-nav .dropdown-menu > li:first-child:after,
    .navbar-nav .dropdown-menu > li:first-child:before {
        content: "";
        border: 0;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    .navbar-form {
        margin: 0;
        text-align: center;

    }
    .navbar-inverse .navbar-form,
    .navbar-inverse .navbar-nav {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .navbar-default .navbar-form,
    .navbar-default .navbar-nav {
        border-top: 1px solid #e5e5e5;
    }

    .navbar-form .btn {
        margin: 15px 15px 15px 0;
    }

    .navbar-form .form-group {
        padding: 15px;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-text {
        padding: 0 15px;
    }

    .navbar-inverse .navbar-form {
        background-color: #3A4B55;
    }

    .navbar-default .navbar-form {
        background-color: #f2f2f2;
    }

}



@media (max-width: 768px) {

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse,
    .navbar-header {
        margin: 0 15px;
    }

    .navbar-nav > li > .dropdown-menu,
    .navbar-nav .open .dropdown-menu,  
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: 90%;
        margin: 5px 5% 0 5%;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .navbar-nav .open .dropdown-menu > li > a, 
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 12px 11px 12px;
        line-height: 1.42857143;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #3A4B55;
        box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
        -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
        -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    }

}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.03);
}

.nav .caret {
    border-top-color: #444444;
    border-bottom-color: #444444;
}
.nav a:hover .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.nav > li > a {
    cursor: pointer;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.03);
}

.nav-justified > li > a {
    margin-bottom: 0;
}

.nav-list {
    background-color: #FCFCFC;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0 0 2px 2px;
}
.nav-list > li {
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
.nav-list > li > a {
    padding: 10px 14px 11px 14px;
}
.nav-list > li.nav-header {
    padding: 9px 14px 10px 14px;
    background-color: #50626D;
    border-color: #50626D;
    color: #FFF;
    border-radius: 2px 2px 0 0;
}
.nav-list + .nav-list {
    margin-top: 35px;
}
.nav-list > li .label {
    margin: -3px -4px -3px 0;
    float: right;
}
.nav-list > li > i, 
.nav-list > li > a > i {
    float: left;
    margin-right: 6px;
}
.nav-list > li > a > i {
    color: #333;
}

.nav-list > li.nav-header i {
    margin-right: 0;
    float: right;
}

.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: 11px 12px;
}

.list-group-item i {
    float: left;
    margin-right: 8px;
}
.list-group-item .btn {
    position: absolute;
    top: 3px;
    right: 3px;
}
.list-group-item.has-button {
    padding-right: 36px;
}

.list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.list-group-item > .badge, 
.list-group-item > .label {
    float: right;
    margin-top: -3px;
}
.list-group-item > .label + .label {
    margin-right: 5px;
}

a.list-group-item:hover, 
a.list-group-item:focus {
    background-color: #FAFAFA;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.list-group-item-success {
    color: #2D552D;
    background-color: #F5FAF4;
}
a.list-group-item-success {
    color: #2D552D;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
    color: #2D552D;
    background-color: #ECF6EA;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
    background-color: #65B688;
    border-color: #65B688;
}

.list-group-item-danger {
    color: #923E3C;
    background-color: #FDF5F5;
}
a.list-group-item-danger {
    color: #923E3C;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
    color: #923E3C;
    background-color: #F8EFEF;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
    background-color: #D65C4F;
    border-color: #D65C4F;
}

.list-group-item-warning {
    color: #725A32;
    background-color: #FFFDF0;
}
a.list-group-item-warning {
    color: #725A32;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
    color: #725A32;
    background-color: #FAF8E9;
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
    background-color: #EE8366;
    border-color: #EE8366;
}

.list-group-item-info {
    color: #426A7E;
    background-color: #F5FBFD;
}
a.list-group-item-info {
    color: #426A7E;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
    color: #426A7E;
    background-color: #ECF6FA;
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 0;
    font-weight: 600;
    color: #333;
    padding: 11px 14px 12px 14px;
}

.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
    border-color: #e5e5e5;
    color: #676767;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #fefefe;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #428BCA;
    border-top-color: #D65C4F;
}

.nav-tabs > li > a > i { 
    float: left; 
    margin: 0px 6px 0 0; 
}

.nav-tabs > li > a .label { 
    margin: -5px -5px -5px 5px; 
}

.nav-tabs > li > a .label-text { 
    font-weight: 700;
    font-size: 11px;
    margin-left: 4px; 
}

.nav-tabs .open > a, 
.nav-tabs .open > a:hover, 
.nav-tabs .open > a:focus {
    background-color: #FCFCFC;
    border-color: #DDD;
    color: #428BCA;
}

.nav-tabs .dropdown-menu {
    margin-top: 10px;
}

.nav-tabs.toolbar-tabs {
    margin: -1px -1px 0 -1px;
}

.nav .tab-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 6px;
    margin-top: -2px;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -1px;
    border-radius: 0;
}
.nav-tabs.nav-justified > li:first-child > a {
    margin-left: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-top-color: #D65C4F;
    border-bottom-color: #ffffff;
}

.page-tabs > .nav-tabs, .page-tabs > .nav-pills { margin-bottom: 35px; }
.page-tabs > .tab-content { border: 0; }

.tab-content { border: 1px solid #ddd; border-top: 0; background-color: #fff; }
.panel > .tabbable > .tab-content { border: 0; }
.modal .tab-content { border: 0; padding-top: 20px; }
.pill-content {
    border: 0; 
    margin-top: 16px;
}



@media (max-width: 767px) {

    .nav-tabs.nav-justified > li > a {
        margin-left: 0;
        border: 1px solid #ddd;
    }
    .nav-tabs.nav-justified > .active > a, 
    .nav-tabs.nav-justified > .active > a:hover, 
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ddd;
    }

}


@media (max-width: 480px) {

    .nav-tabs > li {
        float: none;
    }
    .nav-tabs > li.pull-right {
        float: none!important;
    }

    .nav-tabs > li > a {
        border: 1px solid #ddd;
        margin-right: 0;
    }

    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        border-bottom-color: #ddd;
    }

}

.nav-pills > li > a {
    color: #333;
    padding: 9px 14px 10px 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-weight: 600;
}
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus { 
    background-color: #fcfcfc; 
    box-shadow: none; 
}

.nav-pills > li > a > i { 
    float: left; 
    margin: 0px 6px 0 0; 
}
.nav-pills > li > a > i.pull-right { 
    margin: 0px -6px 0 0; 
}

.nav-pills > li > a .label { 
    margin: -5px -8px -5px 8px; 
}
.nav-pills > li.active > a .label { 
    background-color: #444; 
}
.nav-pills.nav-justified > li > a .label { 
    float: right; 
    margin: -3px -8px -3px 8px; 
}

.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
    color: #ffffff;
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.nav-pills .open a .caret,
.nav-pills .open a:hover .caret,
.nav-pills > li.active .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #3CA2BB;
    border-color: #3CA2BB;
}

.nav-pills > li > a:after { 
    position: absolute; 
    bottom: 7px;
    left: 50%;
    margin-left: -7px;
    border-color: transparent;
    content: ''; 
}

.nav-pills > li.active > a:after { 
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    display: block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #3CA2BB;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}

.nav-pills.nav-justified > li > a { 
    margin-left: 4px; 
    text-align: left; 
}
.nav-pills.nav-justified > li:first-child > a { 
    margin-left: 0; 
}

.nav-pills.nav-justified > li > a:after,
.nav-pills.nav-justified > li.active > a:after {
    left: 15px;
    margin-left: 0;
}
.nav-pills.nav-justified .dropdown-menu { 
    margin-left: 4px; 
}
.nav-pills.nav-justified .dropdown-menu.dropdown-menu-right { 
    margin-right: 4px; 
}
.nav-pills.nav-stacked > li.active > a:after {
    border: 0;
}



@media (max-width: 767px) {

    .nav-pills.nav-justified > li + li {
        margin-left: 0;
        margin-top: 2px;
    }
    .nav-pills.nav-justified > li > a {
        margin-left: 0;
    }
    .nav-pills.nav-justified > li.active > a:after {
        content: ""; 
        border: 0;
    }
    .nav-pills.nav-justified .dropdown-menu {
        margin-left: 0;
    }

}


@media (max-width: 480px) {

    .nav-pills > li {
        float: none;
    }
    .nav-pills > li + li {
        margin-left: 0;
        margin-top: 2px;
    }
    .nav-pills > li.active > a:after {
        content: ""; 
        border: 0;
    }

}

.page-header { 
    padding: 0; 
    margin: 0; 
    position: 
        relative; border: 0; 
}

.page-header small {
    display: block;
    font-size: 11px;
    color: #999;
    margin: 8px 0 0 0;
}

.page-title {
    float: left;
}

.page-title h3 {
    padding: 29px 0;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
}


.page-header .progress { 
    width: 200px; 
}
.page-header .progress-micro { 
    width: auto; 
}

.header-progress { 
    margin: 38px 0; 
    float: right; 
    z-index: 10; 
}
.header-progress span { 
    font-weight: 600; 
    float: left; 
    margin: 1px 12px 0 0; 
    font-size: 11px; 
}



.header-search { 
    width: 250px; 
    margin: 31px 0; 
    float: right; 
    z-index: 10; 
}

.header-buttons { 
    float: right; 
    margin: 31px 0; 
    z-index: 10; 
}

.header-buttons .well, 
.header-progress .well, 
.header-statistics .well, 
.header-search .well, 
.header-info-buttons .well, 
.header-select .well, 
.header-bar-stats .well { 
    padding: 0; 
    background: none; 
    border: 0; 
}

.header-element-toggle { 
    position: absolute; 
    top: 26px; 
    right: 0; 
}


.header-statistics { 
    float: right; 
    z-index: 10; 
}
.header-statistics .statistics > li { 
    margin-top: 25px; 
    margin-bottom: 25px; 
    margin-right: 0; 
    margin-left: 25px; 
}
.header-statistics .statistics > li:first-child { 
    margin-left: 0; 
}
.header-statistics .statistics-info { 
    margin-bottom: 6px; 
}
.header-statistics .statistics-info > a > i { 
    padding: 4px; 
    font-size: 14px; 
}
.header-statistics .statistics-info > strong { 
    margin-top: -1px; 
}
.header-statistics .statistics > li > span { 
    margin-top: 6px; 
    text-transform: none; 
}


.header-info-buttons { 
    float: right; 
    z-index: 10; 
}
.header-info-buttons .info-buttons { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
.header-info-buttons .info-buttons li { 
    float: left; 
    margin-left: 15px; 
}
.header-info-buttons .info-buttons li:first-child { 
    margin-left: 0; 
}
.header-info-buttons .info-buttons a strong { 
    padding: 3px 5px; 
}
.header-info-buttons .info-buttons a { 
    white-space: nowrap; 
    padding: 8px 14px; 
    margin: 21px 0; 
}
.header-info-buttons .info-buttons a i { 
    font-size: 16px; 
}
.header-info-buttons .info-buttons a span { 
    margin-top: 6px; 
    font-size: 11px; 
    line-height: 14px;
    margin-bottom: 0; 
}


.header-select { 
    margin-top: 31px; 
    float: right; 
    z-index: 10; 
}
.header-select label { 
    margin: 7px 16px 0 0; 
    float: left; 
}


.header-bar-stats { 
    float: right; 
    margin: 27px 0; 
    z-index: 10; 
    text-align: center; 
}
.header-bar-stats .page-stats li { 
    padding: 0 0 0 30px; 
    border: 0; 
    padding: 0 0 0 30px; 
}
.header-bar-stats .page-stats li:first-child { 
    padding: 0; 
}
.header-bar-stats .page-stats { 
    margin-bottom: 0; 
}




@media (min-width: 768px) {

    .header-buttons > div, 
    .header-progress > div, 
    .header-statistics > div, 
    .header-search > div, 
    .header-info-buttons > div, 
    .header-select > div, 
    .header-bar-stats > div { 
        display: block; 
    }

}

@media (max-width: 767px) {

    .page-header .page-title { 
        float: none; 
        padding-right: 40px; 
    }
    .page-header .page-title h3 { 
        font-size: 18px; 
        padding: 25px 0; 
    }
    .page-header h3 small { 
        margin-top: 6px; 
    }

    .header-progress { 
        margin: 0; 
        float: right; 
        width: 100%; 
    }
    .header-progress .progress { 
        width: auto; 
    }

    .header-statistics { 
        width: 100%; 
    }
    .header-statistics .statistics > li { 
        margin: 0 10px; 
    }

    .header-search, 
    .header-buttons, 
    .header-info-buttons, 
    .header-select { 
        width: 100%; 
    }

    .header-info-buttons .info-buttons { 
        text-align: center; 
    }
    .header-info-buttons .info-buttons li { 
        float: none; 
        display: inline-block; 
    }
    .header-info-buttons .info-buttons a { 
        margin: 0; 
    }

    .header-select { 
        text-align: center; 
    }
    .header-select label { 
        margin: 0 8px 5px 0; 
        float: none; 
    }

    .header-bar-stats { 
        margin: 0; 
        width: 100%; 
        line-height: 1; 
    }
    .header-bar-stats .page-stats li { 
        line-height: 1.42857143; 
    }

    .header-buttons, 
    .header-progress, 
    .header-statistics, 
    .header-search, 
    .header-info-buttons, 
    .header-select, 
    .header-bar-stats { 
        position: absolute; 
        right: 0; 
        top: 70px; 
        margin: 0;  
    }
    .header-buttons .well, 
    .header-progress .well, 
    .header-statistics .well, 
    .header-search .well, 
    .header-info-buttons .well, 
    .header-select .well, 
    .header-bar-stats .well { 
        padding: 12px; 
        background-color: #fcfcfc; 
        border: 1px solid #E5E5E5; 
        text-align: center; 
    }

}


@media (max-width: 480px) {

    .header-statistics .statistics > li { 
        margin: 20px 0 0 0; 
    }
    .header-statistics .statistics > li:first-child { 
        margin-top: 0; 
    }

    .header-bar-stats .page-stats li { 
        padding: 20px 0 0 0; 
        display: block; 
    }
    .header-bar-stats .page-stats li:first-child { 
        padding-top: 0; 
    }

    .header-info-buttons .info-buttons li { 
        display: block; 
        margin: 10px 0 0 0; 
    }
    .header-info-buttons .info-buttons li:first-child { 
        margin-top: 0; 
    }

}


.breadcrumb {
    padding: 9px 12px 10px 12px;
    float: left;
    margin: 0;
    background: none;
    border-radius: 0;
}
.breadcrumb > li {
    font-weight: 600;
}
.breadcrumb > li:first-child > a {
    background: url(../images/interface/breadcrumb_home.png) no-repeat 0;
    padding-left: 16px;
}
.breadcrumb > li > a {
    color: #444;
}

@media (max-width: 767px) {
    .breadcrumb { 
        padding-right: 40px; 
        background-color: #fcfcfc; 
        border: 1px solid #e5e5e5; 
        float: none; 
    }
}






.label {
    display: inline-block;
    font-size: 10px;
    padding: 2.5px;
    line-height: 13px;
    font-weight: 600;
    color: #FFF;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.label-block {
    margin-top: 6px;
    display: block;
}
.label-block.text-left {
    text-align: left;
}
.label-block.text-right {
    text-align: right;
}

.label-default {
    background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #808080;
}
.label-primary {
    background-color: #445661;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3071a9;
}
.label-success {
    background-color: #65B688;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}
.label-info {
    background-color: #3CA2BB;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}
.label-warning {
    background-color: #E7804F;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}
.label-danger {
    background-color: #D65C4F;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}


.badge {
    padding: 6px 10px 7px 10px;
    font-weight: 600;
    background-color: #445661;
    border-radius: 100px;
    font-size: 11px;
}






.dropdown-menu {
    margin: 10px 0 0 0;
    text-align: left;
    padding: 0;
    font-size: 12px;
    border: 1px solid #CCC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu.dropdown-menu-right {
    right: -1px;
}

.dropdown-menu > li > a {
    padding: 10px 12px 11px 12px;
    text-align: left;
    font-weight: 600;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    outline: 0;
    color: #ffffff;
    background-color: #3A4B55;
    box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
}

.dropdown-menu > li > a .label {
    float: right;
    margin-top: -2px;
    margin-right: -5px;
}
.dropdown-menu > li > a:hover .label,
.dropdown-menu > li.active > a:hover .label {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-menu > li > a > i, 
.dropdown-menu > li > a > img { 
    opacity: 0.4; 
    color: #505050; 
    float: left;
    margin-right: 8px;
}
.dropdown-menu > li > a > img {
    margin-top: 3px;
}

.dropdown-menu > li > a:hover > i, 
.dropdown-menu > li > a:hover > img { 
    color: #fff; 
    opacity: 1; 
}

.dropdown-menu > li { 
    position: relative; 
}
.dropdown-menu > li:first-child { 
    margin-top: -1px; 
}
.dropdown-menu > li:last-child { 
    margin-bottom: -1px; 
}

.dropdown-menu.icons-right > li > a > i { 
    float: right; 
    margin-left: 8px; 
    margin-right: 0; 
}


.dropdown-menu > li:first-child > a { 
    border-radius: 2px 2px 0 0; 
    -webkit-border-radius: 2px 2px 0 0; 
    -moz-border-radius: 2px 2px 0 0; 
}
.dropdown-menu > li:last-child > a { 
    border-radius: 0 0 2px 2px; 
    -webkit-border-radius: 0 0 2px 2px; 
    -moz-border-radius: 0 0 2px 2px;
}


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #65B688;
    box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
    -webkit-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
    -moz-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
}
.dropdown-menu > .active > a > img,
.dropdown-menu > .active > a:hover > img,
.dropdown-menu > .active > a:focus > img,
.dropdown-menu > .active > a > i,
.dropdown-menu > .active > a:hover > i,
.dropdown-menu > .active > a:focus > i {
    opacity: 1;
    color: #fff;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    box-shadow: none;
}

.dropdown-menu > .disabled > a > img,
.dropdown-menu > .disabled > a:hover > img,
.dropdown-menu > .disabled > a:focus > img,
.dropdown-menu > .disabled > a i,
.dropdown-menu > .disabled > a:hover i,
.dropdown-menu > .disabled > a:focus i {
    color: #999;
    opacity: 0.4;
}

.dropdown-menu-right {
    right: -1px;
}
.dropdown-menu-left {
    left: -1px;
}

.dropdown-header {
    padding: 11px 12px 12px 12px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.pull-right > .dropdown-menu {
    right: -1px;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    margin-bottom: 10px;
}


.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3A4B55;
    box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-border-radius: 2px 2px 2px 0;
    -moz-border-radius: 2px 2px 2px 0;
    border-radius: 2px 2px 2px 0;
}
.dropdown-submenu > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-left-color: #999;
    margin-top: 7px;
    margin-right: -4px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none!important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: -2px;
    -webkit-border-radius: 2px 0 2px 2px;
    -moz-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
}

.dropdown-submenu .dropdown-menu > li:first-child:before,
.dropdown-submenu .dropdown-menu > li:first-child:after,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:before,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:after {
    border: 0;
}


.dropdown-menu > li:first-child:before {
    position: absolute;
    top: -6px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #ccc;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropdown-menu > li:first-child:after {
    position: absolute;
    top: -5px;
    left: 12px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #FFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropdown-menu.dropdown-menu-right > li:first-child:before, 
.dropup .dropdown-menu.dropdown-menu-right > li:first-child:before {
    left: auto; 
    right: 13px;
}

.dropdown-menu.dropdown-menu-right > li:first-child:after,
.dropup .dropdown-menu.dropdown-menu-right > li:first-child:after {
    left: auto; 
    right: 14px;
}

.dropup .dropdown-menu > li:last-child:before {
    position: absolute;
    bottom: -6px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #ccc;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropup .dropdown-menu > li:last-child:after {
    position: absolute;
    bottom: -5px;
    left: 12px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #fff;
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropup .dropdown-menu > li:first-child:before,
.dropup .dropdown-menu > li:first-child:after {
    border: 0;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:after {
    left: auto; 
    right: 14px;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:before {
    left: auto; 
    right: 13px;
}

.dropdown-menu > li:first-child:hover:after,
.dropdown-menu > li:first-child:hover:before {
    border-bottom-color: #3A4B55;
}

.dropup .dropdown-menu > li:last-child:hover:after,
.dropup .dropdown-menu > li:last-child:hover:before {
    border-top-color: #3A4B55;
}

.dropdown-menu > li.active:first-child:after,
.dropdown-menu > li.active:first-child:before {
    border-bottom-color: #65B688;
}

.dropup .dropdown-menu > li.active:last-child:after,
.dropup .dropdown-menu > li.active:last-child:before {
    border-top-color: #65B688;
}

.dropdown-menu > li.disabled:first-child:hover:after {
    border-bottom-color: #fff;
}
.dropdown-menu > li.disabled:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropup .dropdown-menu > li.disabled:last-child:hover:after {
    border-top-color: #fff;
}
.dropup .dropdown-menu > li.disabled:last-child:hover:before {
    border-top-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:after {
    border-bottom-color: #fff;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:before {
    border-top-color: #ccc;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:after {
    border-top-color: #fff;
}


.panel {
    border-radius: 0px;
    margin-bottom: 1px;
    box-shadow: none;
}

.panel .panel-body .panel:last-child {
    margin-bottom: 0;
}

.panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0;
    position: relative;
}

.panel .panel-footer, 
.task .panel-footer { 
    border: 0; 
    border-top: 1px solid #e5e5e5; 
    border-radius: 0 0 2px 2px; 
}

.panel-footer {
    background-color: #fcfcfc;
    padding: 0;
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.panel-footer:after {
    content: "";
    display: table;
    clear: both;
}
.panel-footer .pull-left i { 
    float: left; 
    margin: 0 6px 0 0; 
}
.panel-footer .pull-left > span { 
    padding: 9px 12px 10px 12px; 
    display: block; 
    color: #777; 
}



@media (max-width: 767px) {

    .panel-footer {
        text-align: center;
    }
    .panel-footer > .pull-left {
        float: none!important;
    }

    .panel-footer > .pull-right {
        float: none!important;
    }

}

.panel-heading .btn, .panel-heading .btn-group {
    margin: 3px 3px 0 0;
}

.panel-heading .btn-link { 
    margin-right: 0; 
}

.panel-heading .btn-group .btn, 
.panel-heading .btn-group .btn-sm, 
.panel-heading .btn-group .btn-xs { 
    margin: 0; 
}

.panel-heading .btn-sm {
    margin: 4px 4px 0 0;
}
.panel-heading .btn-group .btn-sm {
    margin-top: 1px;
}

.panel-heading .btn-xs {
    margin: 5px 5px 0 0;
}
.panel-heading .btn-group .btn-xs {
    margin-top: 2px;
}

.panel .panel-heading .btn-default { 
    border-color: #fcfcfc; 
}

.panel-default .panel-heading .btn-default { 
    border-color: #ccc; 
}


.panel-icon { 
    padding: 11px 12px; 
    display: block; 
    line-height: 1; 
    color: #333;
}

.panel-icons-group { 
    float: right; 
    margin-right: 2px; 
}
.panel-icons-group .btn { 
    float: left; 
    margin-right: 0; 
    margin-left: -8px; 
}
.panel-default .panel-heading .panel-icon:hover { 
    color: #777; 
}


.panel-heading .label, 
.panel-heading .badge {
    margin: 8px;
}


.panel-title {
    float: left;
    display: block;
    font-size: 12px;
    padding: 11px 12px 12px 12px;
}
.panel-title > i {
    float: left;
    margin: 0 8px 0 0;
}
.panel-default > .panel-heading {
    background-color: #fafafa;
}


.panel-primary {
    border-color: #4C5D68;
}
.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #4C5D68;
    border-bottom: 0;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #4C5D68;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #4C5D68;
}

.panel-success {
    border-color: #65B688;
}
.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #65B688;
    border-bottom: 0;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #65B688;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #65B688;
}

.panel-warning {
    border-color: #DB765B;
}
.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: #DB765B;
    border-bottom: 0;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #DB765B;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #DB765B;
}

.panel-danger {
    border-color: #D65C4F;
}
.panel-danger > .panel-heading {
    color: #ffffff;
    background-color: #D65C4F;
    border-bottom: 0;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #D65C4F;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #D65C4F;
}

.panel-info {
    border-color: #3CA2BB;
}
.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #3CA2BB;
    border-bottom: 0;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #3CA2BB;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #3CA2BB;
}


.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 2px;
}
.panel-group .panel + .panel {
    margin-top: 2px;
}


.panel-trigger { 
    width: 100%; 
    padding: 0; 
}
.panel-trigger > a { 
    width: 100%; 
    display: block; 
    padding: 10px 40px 10px 14px ;
}
.panel-trigger > a:hover, 
.panel-trigger > a:focus, 
.panel-trigger.active > a { 
    background-color: #fcfcfc; 
}
.panel-trigger.active { 
    color: #3D9AE4; 
}
.panel-trigger > a:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 12px;
    top: 11px;
    background-color: #546672;
    background-image: url(../images/interface/plus.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.panel-trigger.active > a:after {
    content: "";
    background-color: #ccc;
    background-image: url(../images/interface/minus.png);
}


.panel-toolbar { 
    border-bottom: 1px solid #ddd; 
    background-color: #fff; 
    margin: 0; 
    padding: 0; 
}

.panel-toolbar .dropdown.open > a { 
    background: #fff; 
    color: #999; 
}
.panel-toolbar .dropdown.open > a .caret { 
    border-top-color: #999999; 
    border-bottom-color: #999999; 
    outline: 0; 
}

.panel-toolbar > li { 
    display: block; 
    float: left; 
    border-right: 1px solid #DDD; 
}
.panel-toolbar > li > a { 
    display: inline-block; 
    white-space: nowrap; 
    color: #555; 
    padding: 11px 14px; 
    font-size: 12px; 
    font-weight: 600; 
}
.panel-toolbar > li > a:hover, 
.panel-toolbar > li > a:focus { 
    color: #428BCA; 
}
.panel-toolbar > li > a:active { 
    background-color: #fcfcfc; 
}
.panel-toolbar > li.active > a { 
    background-color: #fff; 
    color: #428BCA; 
}
.panel-toolbar > li > a > i { 
    float: left; 
    margin-right: 6px; 
} 

@media (max-width: 479px) {

    .panel-toolbar > li > a { 
        text-indent: -9999px; 
    }
    .panel-toolbar > li > a > i { 
        text-indent: 0; 
        margin-right: 0; 
    }

}


.form-group {
    margin-bottom: 20px;
}

.panel .form-group:first-child, 
.well .form-group:first-child {
    margin-top: 5px;
}

.rtl-inputs [class*="col-"], 
.rtl-inputs [class^="col-"] { 
    float: right!important; 
}

.form-control {
    padding: 7px 9px 8px 9px;
    font-size: 12px;
    border-color: #ddd;
    box-shadow: none;
    border-radius: 0;
}

input[type=text], 
input[type=password], 
textarea {
    -webkit-appearance: none;
}

.form-control:focus {
    border-color: #D5D5D5;
    box-shadow: none;
}

.form-control + .form-control,
.input-group + .input-group {
    margin-top: 20px;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
    background-color: #FAFAFA;
}

.form-actions {
    margin-bottom: 5px;
}


.has-feedback .form-control-feedback {
    top: 22px;
    color: #999;
}
.has-feedback-no-label .form-control-feedback {
    top: 0;
}
.has-feedback-left .form-control {
    padding-right: 0;
    padding-left: 32px;
}

.has-feedback-left .form-control-feedback {
    right: auto;
    left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    right: 0;
    left: 15px;
}


.input-sm {
    font-size: 11px;
    border-radius: 0;
}

.input-lg {
    height: 40px;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 0;
}

.help-block {
    margin-top: 7px;
    margin-bottom: 12px;
    color: #999;
    font-size: 11px;
}


.form-bordered .form-group { 
    border-top: 1px solid #eeeeee; 
    margin-bottom: 0; 
    padding-top: 20px; 
    padding-bottom: 20px; 
}
.form-bordered .panel .form-group:first-child { 
    border-top: 0; 
    margin-top: 5px; 
    padding-top: 0; 
}


.form-separate .form-group { 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; 
    margin: 0 0 20px 0;
    padding: 16px 14px;
}
.form-horizontal.form-separate .form-group { 
    padding: 16px 0; 
    margin-left: 0; 
    margin-right: 0; 
}
.form-horizontal.form-separate .radio-inline, 
.form-horizontal.form-separate .checkbox-inline { 
    padding-bottom: 7px; 
}

.form-separate .form-group { 
    background-color: #fefefe; 
}


.form-horizontal .control-label, 
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
    margin-bottom: 5px;
}
.form-horizontal .control-label i {
    vertical-align: -2px;
    margin-right: 6px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }

    .form-horizontal .control-label.text-right {
        text-align: right;
    }
}



.radio.radio-block { 
    display: block; 
    cursor: pointer; 
    padding: 12px 14px; 
    margin-bottom: 0; 
    margin-top: 0; 
    background-color: #fcfcfc; 
    border: 1px solid #ddd; 
    border-radius: 2px; 
}
.radio-block + .radio-block { 
    margin-top: 10px; 
}




.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline,
.has-error .form-control-feedback {
    color: #D65C4F;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #D65C4F;
    box-shadow: none;
}


.has-success .help-block, 
.has-success .control-label, 
.has-success .radio, 
.has-success .checkbox, 
.has-success .radio-inline, 
.has-success .checkbox-inline,
.has-success .form-control-feedback {
    color: #239169;
}

.has-success .form-control,
.has-success .form-control:focus {
    border-color: #239169;
    box-shadow: none;
}


.has-warning .help-block, 
.has-warning .control-label, 
.has-warning .radio, 
.has-warning .checkbox, 
.has-warning .radio-inline, 
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
    color: #CC6E30;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    border-color: #CC6E30;
    box-shadow: none;
}






.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    height: 40px;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 2px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
    height: 40px;
    line-height: 40px;
}


.input-group-addon {
    font-size: 12px;
    border-color: #ddd;
    background-color: #fafafa;
    border-radius: 2px;
}
.input-group-addon > i {
    display: block;
}
.input-group-addon > label {
    margin: 0;
}
.input-group-addon .checker,
.input-group-addon .choice {
    margin: 0;
}






input[type="radio"], 
input[type="checkbox"] {
    margin: 3px 0 0;
}

.radio-inline,
.checkbox-inline {
    padding-left: 0;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-left: 0;
    margin-right: 8px;
}

select[multiple] {
    height: 250px;
}

.radio, .checkbox {
    padding-left: 0;
}

@media (max-width: 480px) {

    .radio-inline,
    .checkbox-inline {
        display: block;
    }
    .radio-inline + .radio-inline,
    .checkbox-inline + .checkbox-inline {
        margin-left: 0;
        margin-top: 9px;
    }

}






.caret {
    border-width: 3px;
}


.close {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    opacity: 0.8;
    text-shadow: none;
    filter: alpha(opacity=80);
}
.close:hover, .close:focus {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
    outline: 0;
}


.well {
    padding: 15px;
    margin-bottom: 0;
    background-color: #FCFCFC;
    border-color: #E5E5E5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: none;
}


.callout { 
    margin: 0 0 35px 0; 
    padding: 20px; 
    border-left: 3px solid #eee; 
}
.callout h5 { 
    margin-top: 0; 
    margin-bottom: 6px; 
}
.callout p:last-child { 
    margin-bottom: 0; 
}
.callout code { 
    background-color: #fff; 
    border-radius: 3px; 
}

.callout-default { 
    background-color: #f5f5f5; 
    border-color: #ddd; 
}
.callout-default h5 { 
    color: #555; 
}

.callout-danger { 
    background-color: #fdf7f7; 
    border-color: #D65C4F; 
}
.callout-danger h5 { 
    color: #D65C4F; 
}

.callout-warning { 
    background-color: #fcf8f2; 
    border-color: #E7804F; 
}
.callout-warning h5 { 
    color: #E7804F; 
}

.callout-info { 
    background-color: #f2f7f9; 
    border-color: #1992C2; 
}
.callout-info h5 { 
    color: #1992C2; 
}

.callout-success{ 
    background-color: #f4faf5; 
    border-color: #239169; 
}
.callout-success h5 { 
    color: #239169; 
}






.modal-content {
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.modal-header {
    padding: 13px 16px 14px 16px;
    background-color: #65B688;
    color: #FFF;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}
.modal-header .close {
    margin-top: 1px;
    color: #fff;
}
.modal-title {
    font-size: 12px;
}
.modal-title i {
    float: left;
    margin: 0 6px 0 0;
}

.modal-body {
    padding: 0;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.modal-footer {
    border-radius: 0 0 3px 3px;
    padding: 16px;
    margin-top: 0;
    border: 1px solid #DDD;
    background-color: #FCFCFC;
}


@media (min-width: 768px) {
    .modal-content {
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1000px;
    }
}







.progress {
    margin-bottom: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.progress-thin { 
    height: 6px; 
    border-radius: 100px; 
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
}

.progress-micro {
    height: 2px;
}


.progress-bar {
    font-size: 11px;
    background-color: #546672;
}
.progress-bar-danger {
    background-color: #D65C4F;
}
.progress-bar-success {
    background-color: #65B688;
}
.progress-bar-warning {
    background-color: #E48561;
}
.progress-bar-info {
    background-color: #50ABC2;
}






.alert {
    padding: 13px 14px 14px 14px;
    margin-bottom: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: 600;
}
.alert i {
    float: left;
    margin-right: 8px;
}
.alert h6 {
    margin-top: 0;
}
.alert .alert-link {
    font-weight: 600;
}
.alert .btn {
    margin-top: 14px;
}
.alert hr {
    margin: 12px -14px
}


.alert-success {
    color: #2D552D;
    background-color: #F5FAF4;
    border-color: #D6E9C6;
}
.alert-success hr {
    border-top-color: #D6E9C6;
}
.alert-success .alert-link {
    color: #2D552D;
}


.alert-info {
    color: #426A7E;
    background-color: #F5FBFD;
    border-color: #C8DEE2;
}
.alert-info hr {
    border-top-color: #C8DEE2;
}
.alert-info .alert-link {
    color: #426A7E;
}


.alert-warning {
    color: #725A32;
    background-color: #FFFDF0;
    border-color: #E9DDC4;
}
.alert-warning hr {
    border-top-color: #E9DDC4;
}
.alert-warning .alert-link {
    color: #725A32;
}


.alert-danger {
    background-color: #FDF5F5;
    border-color: #EED3D7;
    color: #923E3C;
}
.alert-danger hr {
    border-top-color: #EED3D7;
}
.alert-danger .alert-link {
    color: #923E3C;
}

.bg-primary, .bg-primary a {
    color: #fff;
    background-color: #32434D;
}

.bg-success, .bg-success a {
    color: #fff;
    background-color: #65B688;
}
.bg-info, .bg-info a {
    color: #fff;
    background-color: #3CA2BB;
}
.bg-warning, .bg-warning a {
    color: #fff;
    background-color: #EE8366;
}
.bg-danger, .bg-danger a {
    color: #fff;
    background-color: #D65C4F;
}







.tooltip {
    font-weight: 600;
}
.tooltip-inner {
    padding: 9px 16px;
    background-color: #32434D;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #32434D;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #32434D;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #32434D;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #32434D;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #32434D;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #32434D;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #32434D;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #32434D;
}








.popover {
    border: 0;
    padding: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075);
}

.popover-title {
    font-size: 12px;
    border-bottom: 0;
    line-height: 20px;
    color: #FFF;
    background-color: #3A4B55;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}

.popover-content {
    border: 1px solid #DDD;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
}

.popover > .arrow {
    border-width: 7px;
}
.popover > .arrow:after {
    border-width: 6px;
}

.popover.top > .arrow {
    bottom: -6px;
    margin-left: -7px;
}
.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -6px;
}

.popover.right > .arrow {
    left: -6px;
    margin-top: -7px;
}
.popover.right > .arrow:after {
    left: 1px;
    bottom: -6px;
}

.popover.bottom .arrow {
    margin-left: -7px;
    top: -7px;
}
.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -6px;
    border-bottom-color: #3A4B55;
}

.popover.left .arrow {
    right: -6px;
    margin-top: -7px;
}
.popover.left .arrow:after {
    right: 1px;
    bottom: -6px;
}








.pagination {
    margin: 0;
    border-radius: 0;
    font-size: 0;
}
.pagination > li {
    display: inline-block;
    margin-left: 1px;
    font-size: 12px;
}
.pagination > li:first-child {
    margin-left: 0;
}

.pagination > li > a,
.pagination > li > span {
    float: none;
    margin-left: 0;
    border: 0;
    display: block;
    color: #333;
    font-weight: 600;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-radius: 2px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #65B688;
    color: #fff;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #32434D;
    cursor: default;
}





.pager {
    margin: 0;
}
.pager li > a,
.pager li > span {
    border-radius: 2px;
    font-weight: 600;
    padding: 6px 14px 7px 14px;
    color: #333;
}
.pager li > a:hover,
.pager li > a:focus {
    background-color: #32434D;
    border-color: #32434D;
    color: #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    border-color: #ddd;
}







.btn {
    padding: 7px 16px 8px 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.btn > i { 
    float: left; 
    margin: 0 6px 0 -4px; 
}
.btn-sm > i, .btn-xs > i { 
    margin-left: 0; 
}
.btn.btn-right-icon > i { 
    float: right; 
    margin: 0 -4px 0 6px; 
}

.btn-icon { 
    padding: 5px 6px 6px 6px; 
}
.btn-lg.btn-icon { 
    padding: 7px 10px 8px 10px; 
}
.btn-sm.btn-icon { 
    padding: 4px 5px 5px 5px; 
}
.btn-xs.btn-icon { 
    padding: 3px 4px 4px 4px; 
}

.btn-icon i { 
    display: block; 
    padding: 2px; 
    margin: 0; 
}


.btn.btn-icon .caret { 
    margin: 9px 4px; 
}
.btn-lg .caret {
    border-width: 3px 3px 0;
}
.btn .caret {
    margin-left: 4px;
    margin-right: -4px;
}
.btn .caret.caret-split {
    margin-left: 1px;
    margin-right: 1px;
}
.dropup .caret, 
.navbar-fixed-bottom .dropdown .caret {
    border-bottom-width: 3px;
}


.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
    margin-left: 1px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.btn-lg,
.btn-group-lg > .btn {
    padding: 9px 18px 10px 18px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 6px 12px 7px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 5px 10px 6px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 2px;
}


.btn-default {
    background-color: #fcfcfc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #fafafa;
}


.btn-primary {
    background-color: #546672;
    border-color: #546672;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #657580;
    border-color: #657580;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #4C5B66;
    border-color: #4C5B66;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #4C5B66;
    border-color: #4C5B66;
}


.btn-success {
    background-color: #65B688;
    border-color: #65B688;
}
.btn-success:hover,
.btn-success:focus {
    background-color: #74bd94;
    border-color: #74bd94;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #59A87B;
    border-color: #59A87B;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #59A87B;
    border-color: #59A87B;
}


.btn-warning {
    background-color: #E48561;
    border-color: #E48561;
}
.btn-warning:hover,
.btn-warning:focus {
    background-color: #e69171;
    border-color: #e69171;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #DB805D;
    border-color: #DB805D;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #DB805D;
    border-color: #DB805D;
}


.btn-danger {
    background-color: #D65C4F;
    border-color: #D65C4F;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #da6c61;
    border-color: #da6c61;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #C75549;
    border-color: #C75549;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #C75549;
    border-color: #C75549;
}


.btn-info {
    background-color: #50ABC2;
    border-color: #50ABC2;
}
.btn-info:hover,
.btn-info:focus {
    background-color: #61b3c8;
    border-color: #61b3c8;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #4DA2B8;
    border-color: #4DA2B8;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #4DA2B8;
    border-color: #4DA2B8;
}


.btn-link {
    color: #555;
}
.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}
.btn-link:active {
    box-shadow: none;
}






.table {
    margin-bottom: 0;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    outline: 0;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    vertical-align: middle;
    padding: 10px 12px;
}

.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > tbody > tr > td, 
.table-condensed > tfoot > tr > td {
    padding: 8px 10px;
}

.table > thead > tr > td.danger, 
.table > tbody > tr > td.danger, 
.table > tfoot > tr > td.danger, 
.table > thead > tr > th.danger, 
.table > tbody > tr > th.danger, 
.table > tfoot > tr > th.danger, 
.table > thead > tr.danger > td, 
.table > tbody > tr.danger > td, 
.table > tfoot > tr.danger > td, 
.table > thead > tr.danger > th, 
.table > tbody > tr.danger > th, 
.table > tfoot > tr.danger > th {
    background-color: #FDF5F5;
}

.table > thead > tr > td.success, 
.table > tbody > tr > td.success, 
.table > tfoot > tr > td.success, 
.table > thead > tr > th.success, 
.table > tbody > tr > th.success, 
.table > tfoot > tr > th.success, 
.table > thead > tr.success > td, 
.table > tbody > tr.success > td, 
.table > tfoot > tr.success > td, 
.table > thead > tr.success > th, 
.table > tbody > tr.success > th, 
.table > tfoot > tr.success > th {
    background-color: #F5FAF4;
}

.table > thead > tr > td.warning, 
.table > tbody > tr > td.warning, 
.table > tfoot > tr > td.warning, 
.table > thead > tr > th.warning, 
.table > tbody > tr > th.warning, 
.table > tfoot > tr > th.warning, 
.table > thead > tr.warning > td, 
.table > tbody > tr.warning > td, 
.table > tfoot > tr.warning > td, 
.table > thead > tr.warning > th, 
.table > tbody > tr.warning > th, 
.table > tfoot > tr.warning > th {
    background-color: #FFFDF0;
}

.table > thead > tr > td.info, 
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th {
    background-color: #F5FBFD;
}

.table > thead > tr > td.active, 
.table > tbody > tr > td.active, 
.table > tfoot > tr > td.active, 
.table > thead > tr > th.active, 
.table > tbody > tr > th.active, 
.table > tfoot > tr > th.active, 
.table > thead > tr.active > td, 
.table > tbody > tr.active > td, 
.table > tfoot > tr.active > td, 
.table > thead > tr.active > th, 
.table > tbody > tr.active > th, 
.table > tfoot > tr.active > th {
    background-color: #fafafa;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th,
.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
    background-color: #fcfcfc;
}


.table-feedback thead > tr > th,
.table-feedback tbody > tr > td { 
    text-align: center; 
    width: 10%; 
}
.table-feedback thead > tr > th:first-child,
.table-feedback tbody > tr > td:first-child { 
    text-align: left; 
    width: auto; 
}
.table-feedback .radio, 
.table-feedback .checkbox, 
.table-feedback .checker, 
.table-feedback .choice { 
    margin: 0; 
}


.panel .table-bordered,
.panel .table-responsive > .table-bordered {
    border: 0;
}

.panel .panel-body .table-bordered {
    border: 1px solid #ddd;
}

.panel > .table + .panel-body, 
.panel > .table-responsive + .panel-body {
    border-top: 1px solid #DDD;
}


.panel .table:first-child,
.panel .table-responsive:first-child > .table:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 0;
}
.panel .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 0;
}
.panel .table:last-child,
.panel .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.panel .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 0;
}
.panel .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 0;
}

.panel .table-bordered > thead > tr > th:first-child,
.panel .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel .table-bordered > tbody > tr > th:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel .table-bordered > tfoot > tr > th:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel .table-bordered > thead > tr > td:first-child,
.panel .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel .table-bordered > tbody > tr > td:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel .table-bordered > tfoot > tr > td:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}

.panel .table-bordered > thead > tr > th:last-child,
.panel .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel .table-bordered > tbody > tr > th:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel .table-bordered > tfoot > tr > th:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel .table-bordered > thead > tr > td:last-child,
.panel .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel .table-bordered > tbody > tr > td:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel .table-bordered > tfoot > tr > td:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}

.panel .table-bordered > thead > tr:first-child > td,
.panel .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel .table-bordered > tbody > tr:first-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel .table-bordered > thead > tr:first-child > th,
.panel .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel .table-bordered > tbody > tr:first-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}
.panel .table-bordered > tbody > tr:last-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel .table-bordered > tfoot > tr:last-child > td,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel .table-bordered > tbody > tr:last-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel .table-bordered > tfoot > tr:last-child > th,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
}

.panel .table-bordered.dataTable {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.panel-body .table-bordered {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}






.thumbnail {
    background: none;
    position: relative;
    border: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
.thumbnail .caption {
    padding: 12px 0 0 0;
    text-align: left;
}
.thumbnail .caption.text-center {
    text-align: center;
}
.thumbnail .caption h6 small {
    display: block;
    margin-top: 4px;
}


.thumbnail-boxed .caption { 
    padding: 12px 12px; 
}
.caption .caption-title { 
    font-size: 14px; 
    font-weight: 600; 
    margin-bottom: 8px; 
    display: block; 
}

.thumbnail-boxed {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
    background-color: #fff;
}
.thumbnail-boxed .item-info {
    margin-bottom: 12px;
}

.thumbnail img,
.thumbnail a img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 2;
    border-radius: 2px;
}

.thumb { 
    position: relative; 
    display: inline-block; 
}
.thumb:hover 
.thumb-options {
    opacity: 1;
}

.thumbnail iframe {
    width: 100%;
    max-width: 100%;
    height: 250px;
    border: 0;
}


.thumb-zoom { 
    background: #32434D url(../images/interface/zoom.png) no-repeat 50%; 
    display: inline-block; 
    border-radius: 2px; 
    border: 0; 
}
.thumb-zoom img { 
    opacity: 1; 
}
.thumb-zoom:hover img { 
    opacity: 0.2; 
}


.thumb-options {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(50,67,77,0.8);
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
}
.thumb-options span {
    display: block;
    top: 50%;
    position: absolute;
    margin-top: -17px;
    width: 100%;

}
.thumb-options span a + a {
    margin-left: 5px;
}








.media { position: relative; }
.media-object {
    max-width: 100%;
    height: 44px;
    width: 44px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.media-heading {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 4px;
    color: #333;
}

.clearfix .media-heading {
    float: left;
}

.media-body {
    margin-top: 3px;
}

.media > .pull-left {
    margin-right: 12px;
}

.media, .media .media {
    margin-top: 25px;
}

.media-body .headline-info {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.media-body:hover .headline-info {
    opacity: 1;
    visibility: visible;
    float: none;
}

.media-notice {
    display: block;
    font-size: 11px;
    color: #999;
    float: right;
}

@media (max-width: 480px) {

    .clearfix .media-heading {
        float: none;
    }
    .media-notice {
        float: none;
        margin-bottom: 5px;
    }

}


.media-body .headline-info { 
    margin: 0; 
}
.headline-info { 
    margin: 0 0 16px 0; 
    padding: 0; 
    list-style: none; 
}
.headline-info > li { 
    float: left; 
    display: block; 
    color: #999; 
    padding: 0 12px; 
    font-size: 11px; 
    border-left: 1px solid #eee; 
}
.headline-info > li:first-child { 
    padding-left: 0; 
    border-left: 0; 
}
.headline-info > li > a { 
    font-weight: 600; 
}
.headline-info > li > a > i { 
    float: left; 
    margin: -1px 6px 0 0; 
    color: #999; 
}

@media (max-width: 479px) {
    .headline-info > li { 
        float: none; 
        border: 0; 
        padding: 0; 
    }
    .media-body .headline-info { 
        display: none; 
    }
}

.ui-chkbox-icon.ui-icon{
    margin-left: -1px !important;
    margin-top: -1px !important;
}

.hidden-ul{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: white;
}
.ui-button-text-icon-left .ui-icon{
      margin-left: -3px !important;
}