<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Tipos de Ativos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="grupos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{ativoModeloMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="grupos" value="#{ativoModeloMB.listarTodos()}" var="model" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{model.idModeloVeiculo}" selection="#{ativoModeloMB.modeloAtivo}" selectionMode="single">
                <f:facet name="header">
                    Modelos de Ativo
                </f:facet>
                <f:facet name="footer">
                    #{ativoModeloMB.listarTodos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{model.idModeloVeiculo}" width="8%" sortBy="#{model.idModeloVeiculo}">
                    <center>
                        <h:outputText value="#{model.idModeloVeiculo}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{model.descricao}" width="20%" sortBy="#{model.descricao}">
                    <h:outputText value="#{model.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>

</ui:composition>