<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Cadastro de grupo de Ativo
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer o cadastro dos grupos de ativo.
            </ui:define>
            <ui:define name="breadcrumb">
                Cadastro de grupo de Ativo
            </ui:define>
            <ui:define name="content">
                <p:panel header="Cadastro de Grupo de Ativos" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAtivo}" >
                    <div class="row">
                        <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAtivo}"/>
                        <ui:include src="Inserir.xhtml" />
                        <ui:include src="Consultar.xhtml" />
                    </div>
                </p:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>
