<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmCadastro">
        <div class="col-md-12">
            <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                <p:ajax update="@form, :frmCadastro" listener="#{ativoModeloMB.novo()}"  resetValues="true"  />
            </p:commandButton>
            <p:commandButton  value="Salvar" action="#{ativoModeloMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar"/>
            <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
            <hr/>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p:outputLabel for="descricao" value="Descrição"  />
                    <p:inputText value="#{ativoModeloMB.modeloAtivo.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>