<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Locais de Trabalho" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="locaisTrabalho" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{localTrabalhoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="locaisTrabalho" value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="localTrabalho" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{localTrabalho.idLocalTrabalho}" selection="#{localTrabalhoMB.localTrabalho}" selectionMode="single">
                <f:facet name="header">
                    Setores
                </f:facet>
                <f:facet name="footer">
                    #{localTrabalhoMB.listarLocaisDeTrabalho().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{localTrabalho.idLocalTrabalho}" width="8%" sortBy="#{localTrabalho.idLocalTrabalho}">
                    <center>
                        <h:outputText value="#{localTrabalho.idLocalTrabalho}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{localTrabalho.descricao}" width="20%" sortBy="#{localTrabalho.descricao}">
                    <h:outputText value="#{localTrabalho.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>