<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:xc="http://xpert.com/faces">

    <div class="row">
        <div class="col-md-12">
            <p:tabView id="tabsCotacoes">
                <p:tab  >
                    <f:facet name="title">
                        <i class="icon-bubble-plus"></i> Cotações
                    </f:facet>
                    <div class="row">
                        <h:form id="frmIndexCotacao">
                            <p:commandButton   value="Novo Lançamento" icon="Novo" oncomplete="PF('dlgLancamentoCotacao').show();" update=":tabs:frmLancarCotacao" />
                            <p:commandButton   value="Pesquisar" icon="Consultar" />
                            <hr/>
                            <ui:include src="tabelaCotacoes.xhtml" />
                        </h:form>
                    </div>
                </p:tab>
                <p:tab  >
                    <f:facet name="title">
                        <i class="icon-stack"></i> Cotações Em Lote &nbsp;
                    </f:facet>
                    <div class="row">
                        <ui:include src="tabelaCotacoesLote.xhtml"  />
                    </div>
                </p:tab>
                <p:tab  >
                    <f:facet name="title">
                        <i class="icon-tags2"></i> Produtos Pendentes de Cotação &nbsp;
                        <span class="label label-danger">#{cotacaoMB.retornaItensPendentes().size()}</span>
                    </f:facet>
                    <div class="row">
                        <ui:include src="produtosPendentes.xhtml" />
                    </div>
                </p:tab>
            </p:tabView>
            <ui:include src="lancar.xhtml" />
            <ui:include src="lancarLote.xhtml" />
            <ui:include src="lancarEditar.xhtml" />
        </div>
    </div>


</ui:composition>
