<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog  widgetVar="dlgCotacao2" header="Edição de Cotação" modal="true" width="90%" position="top" draggable="false" resizable="false" closeOnEscape="true" >
        <h:form id="frmCotas2" >
            <p:messages />
            <p:scrollPanel mode="native" style="max-height:700px">
                <ui:repeat id="rpt" value="#{cotacaoMB.cotacoesTemporarias}" var="list2" varStatus="toindex2" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title panel-trigger">
                                <a data-toggle="collapse" href="##{list2.idCotacao}" class="collapsed">Cotação de #{list2.cotacaoItemList.get(0).idProduto.idGrupo.descricao}</a>
                            </h6>
                        </div>
                        <div id="#{list2.idCotacao}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <p:commandButton   value="Imprimir" action="#{cotacaoMB.imprimirCotacao(list2)}" ajax="false"   onclick="this.form.target='_blank'" icon="Imprimir" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <hr/>
                                    </div>
                                </div>
                                <p:dataTable value="#{list2.cotacaoItemList}" var="cotaItem2" id="tblCotacaoProduto" emptyMessage="Nenhum Produto Nesta Cotação" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="cotaItemIndex2" >
                                    <p:ajax event="rowToggle"  update="tblCotacaoProduto"/>
                                    <p:column width="3%">
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Produto" width="30%">
                                        <h:outputText value="#{cotaItem2.idProduto.descricao}" />
                                    </p:column>
                                    <p:column headerText="Unidade" width="7%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem2.idProduto.idUnidadeEntrada.descricaoResumida}" />
                                    </p:column>
                                    <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem2.quantidade}" />
                                    </p:column>
                                    <p:column headerText="Valor Unit" width="10%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem2.valorCotado}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Valor Total" width="10%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem2.valorTotal}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Fornecedor" width="30%">
                                        <h:outputText value="#{cotaItem2.idFornecedorSelecionado.nome}" />
                                    </p:column>
                                    <p:column headerText="Requisições" width="10%" rendered="false">
                                        <h:outputText value="#{cotaItem2.requisicoesReferentes}" />
                                    </p:column>
                                    <p:column width="5%" styleClass="centralizar" >
                                        <p:commandButton icon="Cotar" update="tblCotacaoProdutoFornecedor2" action="#{cotacaoMB.adicionarCotacaoFornecedor(cotaItem2, cotaItem2.cotacaoItemFornecedorList)}" />
                                    </p:column>
                                    <p:rowExpansion>
                                        <p:dataTable value="#{cotaItem2.cotacaoItemFornecedorList}" var="cotaItemFornecedor2" id="tblCotacaoProdutoFornecedor2" emptyMessage="Nenhum fornecedor cotado para este item!" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="varIndex2">
                                            <p:column headerText="Fornecedor" width="25%" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <p:autoComplete  value="#{cotaItemFornecedor2.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="fron" 
                                                                 itemLabel="#{fron.nome}" itemValue="#{fron}" placeholder="Digite o nome!" required="true" requiredMessage="Informe o fornecedor na cotação do produto #{cotaItem2.idProduto.descricao}!">
                                                    <p:column>
                                                        <h:outputText value="#{fron.idFornecedor}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{fron.nome}" />
                                                    </p:column>
                                                    <p:ajax event="itemSelect"  update="@this"  listener="#{cotaItemFornecedor2.setIdFornecedor(cotaItemFornecedor2.idFornecedor)}" />
                                                </p:autoComplete>
                                            </p:column>
                                            <p:column headerText="Vlr Cotado" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor2.status == 'S'?'#deffe4 !important':''} ">
                                                <pe:inputNumber value="#{cotaItemFornecedor2.valorCotado}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor !" symbol="R$ "
                                                                decimalSeparator="," thousandSeparator=".">
                                                    <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor2)}"  event="blur"/>
                                                </pe:inputNumber>
                                            </p:column>
                                            <p:column headerText="Qnt" width="5%" styleClass="centralizar" style="background: #{cotaItemFornecedor2.status == 'S'?'#deffe4 !important':''} ">
                                                <pe:inputNumber  value="#{cotaItemFornecedor2.quantidade}" minValue="#{cotaItem2.quantidade}" >
                                                    <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor2)}" event="blur" />
                                                </pe:inputNumber>
                                            </p:column>
                                            <p:column headerText="Vlr Total" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor2.status == 'S'?'#deffe4 !important':''} ">
                                                <h:outputText id="vlrTotalCotado" value="#{cotaItemFornecedor2.valorTotal}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column width="5%" style="background: #{cotaItemFornecedor2.status == 'S'?'#deffe4 !important':''} ">
                                                <p:commandButton icon="Selecionar" action="#{cotacaoMB.selecionarFornecedorCotado(cotaItemFornecedor2, cotaItem2, toindex2.index)}"  />
                                                <p:commandButton icon="Excluir"  action="#{cotacaoMB.excluirCotacaoFornecedor(cotaItem2, cotaItemFornecedor2, varIndex2)}"  update="tblCotacaoProdutoFornecedor2" immediate="true"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </p:scrollPanel>
            <hr/>
            <p:commandButton value="Salvar" icon="Salvar"  action="#{cotacaoMB.salvarCotacoesEmLoteEdicao()}" update="@form, :msg, :tabs:tabsCotacoes:frmTblCotacoesLote" oncomplete="if(!args.validationFailed)PF('dlgCotacao2').hide();"/>
        </h:form>
    </p:dialog>
</ui:composition>