<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:dialog  widgetVar="dlgCotacao" header="Gerar Cotação de Produtos Pendentes" modal="true" width="90%" position="top" draggable="false" resizable="false" closeOnEscape="true" >
        <h:form id="frmCotas" >
            <p:messages />
            <p:scrollPanel mode="native" style="max-height:700px">
                <ui:repeat id="rpt" value="#{cotacaoMB.listaCotacaoGerar}" var="list" varStatus="toindex" >
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h6 class="panel-title panel-trigger">
                                <a data-toggle="collapse" href="##{toindex.index}" class="collapsed">Cotação de #{list.get(0).idProduto.idGrupo.descricao}</a>
                            </h6>
                        </div>
                        <div id="#{toindex.index}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <p:commandButton   value="Imprimir" action="#{cotacaoMB.imprimirCotacao(list)}" ajax="false"   onclick="this.form.target='_blank'" icon="Imprimir" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <hr/>
                                    </div>
                                </div>
                                <p:dataTable value="#{list}" var="cotaItem" id="tblCotacaoProduto" emptyMessage="Nenhum Produto Nesta Cotação" editable="true" editMode="cell" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="cotaItemIndex" >
                                    <p:ajax event="rowToggle"  update="tblCotacaoProduto"/>
                                    <p:column width="3%">
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Produto" width="30%">
                                        <h:outputText value="#{cotaItem.idProduto.descricao}" />
                                    </p:column>
                                    <p:column headerText="Unidade" width="7%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem.idProduto.idUnidadeEntrada.descricaoResumida}" />
                                    </p:column>
                                    <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem.quantidade}" />
                                    </p:column>
                                    <p:column headerText="Valor Unit" width="10%" styleClass="centralizar">
                                        <p:cellEditor>
                                            <f:facet name="output">   
                                                <h:outputText value="#{cotaItem.valorCotado}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </f:facet>
                                            <f:facet name="input">
                                                <pe:inputNumber value="#{cotaItem.valorCotado}" symbol="R$ "  required="true" requiredMessage="Informe o valor unitario do produto #{cotaItem.idProduto.descricao}"
                                                                decimalSeparator="," thousandSeparator="." style="width:96%">
                                                    <p:ajax update="vlrTotalCotacaoItem" listener="#{cotacaoMB.calcularTotalCotacaoItem(cotaItem)}" />
                                                </pe:inputNumber>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Valor Total" width="10%" styleClass="centralizar">
                                        <h:outputText value="#{cotaItem.valorTotal}" id="vlrTotalCotacaoItem" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Fornecedor" width="30%">
                                        <h:outputText value="#{cotaItem.idFornecedorSelecionado.nome}" />
                                    </p:column>
                                    <p:column headerText="Requisições" width="10%" rendered="false">
                                        <h:outputText value="#{cotaItem.requisicoesReferentes}" />
                                    </p:column>
                                    <p:column width="10%" >
                                        <p:commandButton icon="Cotar" update="tblCotacaoProdutoFornecedor" action="#{cotacaoMB.adicionarCotacaoFornecedor(cotaItem, cotaItem.cotacaoItemFornecedorList)}" />
                                        <p:commandButton icon="Excluir" title="Excluir item!" update="tblCotacaoProduto" action="#{cotacaoMB.excluirProdutoCotacao(cotaItem, cotaItemIndex, list)}" />
                                    </p:column>
                                    <p:rowExpansion>
                                        <p:dataTable value="#{cotaItem.cotacaoItemFornecedorList}" var="cotaItemFornecedor" id="tblCotacaoProdutoFornecedor" emptyMessage="Nenhum fornecedor cotado para este item!" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="varIndex">
                                            <p:column headerText="Fornecedor" width="25%" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <p:autoComplete  value="#{cotaItemFornecedor.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="fron" 
                                                                 itemLabel="#{fron.nome}" itemValue="#{fron}" placeholder="Digite o nome!" required="true" requiredMessage="Informe o fornecedor na cotação do produto #{cotaItem.idProduto.descricao}!">
                                                    <p:column>
                                                        <h:outputText value="#{fron.idFornecedor}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{fron.nome}" />
                                                    </p:column>
                                                    <p:ajax event="itemSelect"  update="@this"  listener="#{cotaItemFornecedor.setIdFornecedor(cotaItemFornecedor.idFornecedor)}" />
                                                </p:autoComplete>
                                            </p:column>
                                            <p:column headerText="Vlr Cotado" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <pe:inputNumber value="#{cotaItemFornecedor.valorCotado}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor !" symbol="R$ "
                                                                decimalSeparator="," thousandSeparator=".">
                                                    <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor)}"  event="blur"/>
                                                </pe:inputNumber>
                                            </p:column>
                                            <p:column headerText="Qnt" width="5%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <pe:inputNumber  value="#{cotaItemFornecedor.quantidade}" minValue="#{cotaItem.quantidade}" >
                                                    <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor)}" event="blur" />
                                                </pe:inputNumber>
                                            </p:column>
                                            <p:column headerText="Vlr Total" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <h:outputText id="vlrTotalCotado" value="#{cotaItemFornecedor.valorTotal}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column width="5%" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                                <p:commandButton icon="Selecionar" action="#{cotacaoMB.selecionarFornecedorCotado(cotaItemFornecedor, cotaItem, toindex.index)}"  />
                                                <p:commandButton icon="Excluir"  action="#{cotacaoMB.excluirCotacaoFornecedor(cotaItem, cotaItemFornecedor, varIndex)}"  update="tblCotacaoProdutoFornecedor" immediate="true"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
            </p:scrollPanel>
            <hr/>
            <p:commandButton value="Salvar" icon="Salvar"  action="#{cotacaoMB.salvarCotacoesEmLote()}" update="@form, :msg, :tabs:tabsCotacoes:frmProdutosPendentesCotacao, :tabs:tabsCotacoes:frmTblCotacoesLote:cotacoesLote" oncomplete="if(!args.validationFailed)PF('dlgCotacao').hide();"/>
        </h:form>
    </p:dialog>

</ui:composition>