<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dialog id="dialogLanca" widgetVar="dlgLancamentoCotacao" header="Lançamento de Cotação" modal="true" width="90%" position="top" draggable="false" resizable="false" closeOnEscape="true" >
        <h:form id="frmLancarCotacao" >
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:messages id="msgDialog" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1> Cotação  </h1> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div style="float: right">
                        <p:ajaxStatus onsuccess="setTimeout(function() { $('.ui-messages').slideUp(); }, 10000); "   >
                            <f:facet name="start">
                                <p:graphicImage name="images/ajax-loader.gif" />
                            </f:facet>
                        </p:ajaxStatus>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <p:outputLabel value="Usuário"  />
                <p:inputText value="#{cotacaoMB.cotacao.idUsuario.nome}" readonly="true" />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <p:outputLabel value="Data"  />
                <p:calendar mask="99/99/9999" locale="pt" pattern="dd/MM/yyyy" value="#{cotacaoMB.cotacao.dtCadastro}" />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <p:outputLabel value="Status"  />
                <p:inputText value="#{cotacaoMB.cotacao.status}" readonly="true" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div style="  margin-top: 10px;">
                    <h3> <i class="icon-coin"/>  Total Cotação:
                        <h:outputText id="vlrTotalCota" value="#{cotacaoMB.cotacao.valortotal}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr/>
                <h1> Itens</h1>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-7 col-lg-5">
                <p:outputLabel value="Produto"  for="autoProduto" />
                <h:panelGrid columns="2" style="width: 100%">
                    <p:autoComplete id="autoProduto" value="#{cotacaoMB.cotacaoItem.idProduto}" converter="Converter" completeMethod="#{produtoMB.completeMethodProduto}" var="pro" 
                                    itemLabel="#{pro.descricao}" itemValue="#{pro}" placeholder="Digite o nome ou código!" required="true" requiredMessage="Informe o produto!">
                        <p:column>
                            <h:outputText value="#{pro.idProduto}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{pro.descricao}" />
                        </p:column>
                        <p:ajax event="itemSelect"  update="unidaa, qntaa"  oncomplete="$(function(){PrimeFaces.focus('tabs:frmLancarCotacao:qntaa');});" />
                    </p:autoComplete>
                    <p:commandButton icon="Atalho"  style="height: 30px !important;"   onfocus="$(function(){PrimeFaces.focus('tabs:frmLancarCotacao:qntaa');});" />
                </h:panelGrid>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <p:outputLabel value="Unidade"  />
                <p:inputText id="unidaa" value="#{cotacaoMB.cotacaoItem.idProduto.idUnidadeEntrada.descricaoResumida}" readonly="true"  />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                <p:outputLabel value="Quantidade"  for="qntaa" />
                <h:panelGrid columns="2" style="width: 100%">
                    <p:inputText id="qntaa"  value="#{cotacaoMB.cotacaoItem.quantidade}"  required="true"  requiredMessage="Informe a quantidade!" />
                    <p:commandButton icon="new_adicionar"  style="height: 30px !important;" action="#{cotacaoMB.adicionarProdutoCotacao()}" update="qntaa,unidaa, autoProduto, msgDialog, :tabs:frmDtlItens"  oncomplete="$(function(){PrimeFaces.focus('tabs:frmLancarCotacao:autoProduto_input');});"/>
                </h:panelGrid>
            </div>
        </h:form>
        <h:form id="frmDtlItens">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <hr/>
                    <p:dataTable value="#{cotacaoMB.cotacao.cotacaoItemList}" var="cotaItem" id="tblCotacaoProduto" emptyMessage="Nenhum Produto Nesta Cotação" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="cotaItemIndex" >
                        <p:column width="3%">
                            <p:rowToggler />
                        </p:column>
                        <p:column headerText="Produto" width="30%">
                            <h:outputText value="#{cotaItem.idProduto.descricao}" />
                        </p:column>
                        <p:column headerText="Unidade" width="7%" styleClass="centralizar">
                            <h:outputText value="#{cotaItem.idProduto.idUnidadeEntrada.descricaoResumida}" />
                        </p:column>
                        <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                            <h:outputText value="#{cotaItem.quantidade}" />
                        </p:column>
                        <p:column headerText="Valor Unit" width="10%" styleClass="centralizar">
                            <h:outputText value="#{cotaItem.valorCotado}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Valor Total" width="10%" styleClass="centralizar">
                            <h:outputText value="#{cotaItem.valorTotal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Fornecedor" width="30%">
                            <h:outputText value="#{cotaItem.idFornecedorSelecionado.nome}" />
                        </p:column>
                        <p:column headerText="Requisições" width="10%">
                            <h:outputText value="#{cotaItem.requisicoesReferentes}" />
                        </p:column>
                        <p:column width="10%" >
                            <p:commandButton icon="Cotar" update="tblCotacaoProdutoFornecedor" action="#{cotacaoMB.adicionarCotacaoFornecedor(cotaItem, cotaItem.cotacaoItemFornecedorList)}"/>
                            <p:commandButton icon="Excluir" title="Excluir item!" update="tblCotacaoProduto" action="#{cotacaoMB.excluirProdutoCotacao(cotaItem, cotaItemIndex, cotacaoMB.cotacao.cotacaoItemList)}" />
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable value="#{cotaItem.cotacaoItemFornecedorList}" var="cotaItemFornecedor" id="tblCotacaoProdutoFornecedor" emptyMessage="Nenhum fornecedor cotado para este item!" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" rowIndexVar="varIndex">
                                <p:column headerText="Fornecedor" width="25%" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                    <p:autoComplete  value="#{cotaItemFornecedor.idFornecedor}" converter="Converter" completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="fron" 
                                                     itemLabel="#{fron.nome}" itemValue="#{fron}" placeholder="Digite o nome!" required="true" requiredMessage="Informe o fornecedor!">
                                        <p:column>
                                            <h:outputText value="#{fron.idFornecedor}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{fron.nome}" />
                                        </p:column>
                                        <p:ajax event="itemSelect"  update="@this"  listener="#{cotaItemFornecedor.setIdFornecedor(cotaItemFornecedor.idFornecedor)}" />
                                    </p:autoComplete>
                                </p:column>
                                <p:column headerText="Vlr Cotado" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                    <pe:inputNumber value="#{cotaItemFornecedor.valorCotado}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor !" symbol="R$ "
                                                    decimalSeparator="," thousandSeparator=".">
                                        <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor)}"  event="blur"/>
                                    </pe:inputNumber>
                                </p:column>
                                <p:column headerText="Qnt" width="5%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                    <pe:inputNumber  value="#{cotaItemFornecedor.quantidade}" >
                                        <p:ajax update="vlrTotalCotado" listener="#{cotacaoMB.calcularTotalDoItem(cotaItemFornecedor)}" event="blur" />
                                    </pe:inputNumber>
                                </p:column>
                                <p:column headerText="Vlr Total" width="10%" styleClass="centralizar" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                    <h:outputText id="vlrTotalCotado" value="#{cotaItemFornecedor.valorTotal}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:column width="5%" style="background: #{cotaItemFornecedor.status == 'S'?'#deffe4 !important':''} ">
                                    <p:commandButton icon="Selecionar" action="#{cotacaoMB.selecionarFornecedorCotado(cotaItemFornecedor, cotaItem, varIndex)}" update=":tabs:frmLancarCotacao, :tabs:frmDtlItens:tblCotacaoProduto" />
                                    <p:commandButton icon="Excluir"  action="#{cotacaoMB.excluirCotacaoFornecedor(cotaItem, cotaItemFornecedor, varIndex)}"  update="tblCotacaoProdutoFornecedor" immediate="true"/>
                                </p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                    <hr/>
                    <p:commandButton value="Salvar" icon="Salvar"  action="#{cotacaoMB.salvarCotacao()}" oncomplete="PF('dlgLancamentoCotacao').hide();" update="@form, :msg"/>
                    <p:commandButton value="Limpar" icon="Limpar" />
                </div>
            </div>
        </h:form>
    </p:dialog> 




     
</ui:composition>
