<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmProdutosPendentesCotacao">
        <p:dataTable value="#{cotacaoMB.retornaItensPendentes()}" var="pdt" 
                     selection="#{cotacaoMB.listaProdutoTempoSelecionar}" rowKey="#{pdt.idRequisicaoMaterialItem}"
                     emptyMessage="Nenhum produto pendente para cotação!">
            <p:ajax event="toggleSelect" update="btnGerar" />
            <p:ajax event="rowSelect"  update="btnGerar" />
            <p:ajax event="rowUnselect"  update="btnGerar" />
            <p:ajax event="rowSelectCheckbox"  update="btnGerar" />
            <p:ajax event="rowUnselectCheckbox"  update="btnGerar" />
           
            <f:facet name="header">
                <p:commandButton id="btnGerar"  value="Gerar Cotações" icon="Importar" action="#{cotacaoMB.importarProdutosPendentesParaCotacao()}" update=":tabs:frmCotas, :tabs:tabsCotacoes:frmTblCotacoesLote" oncomplete="PF('dlgCotacao').show();" disabled="#{cotacaoMB.listaProdutoTempoSelecionar.size()==0}"  />
            </f:facet>
            <p:column selectionMode="multiple" width="3%" />
            <p:column headerText="Requisição" width="10%" styleClass="centralizar" filterBy="#{pdt.idRequisicaoMaterial.idRequisicaoMaterial}">
                <h:outputText value="#{pdt.idRequisicaoMaterial.idRequisicaoMaterial}" />
            </p:column>
            <p:column headerText="Produto" width="20%" filterBy="#{pdt.idProduto.descricao}" >
                <h:outputText value="#{pdt.idProduto.descricao}" />
            </p:column>
            <p:column headerText="Grupo" width="15%" filterBy="#{pdt.idProduto.idGrupo.descricao}">
                 <h:outputText value="#{pdt.idProduto.idGrupo.descricao}" />
            </p:column>
            <p:column headerText="Quantidade P/ Comprar" width="20%" styleClass="centralizar" >
                <h:outputText value="#{pdt.quantidadeCotada}" />
            </p:column>
            <p:column headerText="Cliente" width="25%" filterBy="#{pdt.idRequisicaoMaterial.idCliente.nome}" >
                <h:outputText value="#{pdt.idRequisicaoMaterial.idCliente.nome}" />
            </p:column>
            <p:column headerText="Usuário" width="15%" >
                <h:outputText value="#{pdt.idRequisicaoMaterial.idUsuario.nome}" />
            </p:column>
            
        </p:dataTable>
    </h:form>
</ui:composition>
