<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="dtlHuePor500Reais">
        <p:dataTable value="#{cotacaoMB.listaDeCotacoesAbertas()}" var="cotacao"  emptyMessage="Nenhuma Cotação">
            <f:facet name="header">
                Lista de Cotações
            </f:facet>
            <p:column width="5%" >
                <p:rowToggler />
            </p:column>
            <p:column headerText="Cotação" styleClass="centralizar" width="10%" >
                <h:outputText value="#{cotacao.idCotacao}" />
            </p:column>
            <p:column headerText="Usuário"  width="25%" >
                <h:outputText value="#{cotacao.idUsuario.nome}" />
            </p:column>
            <p:column headerText="Data" styleClass="centralizar" width="15%" >
                <h:outputText value="#{cotacao.dtCadastro}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </p:column>
            <p:column headerText="Autorizada" styleClass="centralizar" width="15%" rendered="false" >
                <h:outputText value="#{cotacao.dtAutorizacao}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </p:column>
            <p:column headerText="Status" styleClass="centralizar" width="10%" >
                <h:outputText value="#{cotacao.status}"/>
            </p:column>
            <p:column headerText="Total" styleClass="centralizar" width="10%">
                <h:outputText value="#{cotacao.valortotal}">
                    <f:convertNumber type="currency" />
                </h:outputText>
            </p:column>
            <p:column  styleClass="centralizar" width="8%">
                <!--<p:commandButton  title="Editar"  icon="Editar"   />-->
                <p:commandButton  title="Gerar Ordem de Compra " immediate="true" action="#{pedidoCompraMB.gerarPedidoCompra2(cotacao)}" disabled="#{cotacao.status != 'Aguardando Pedido' or cotacao.lote != null}" icon="Importar" oncomplete="PF('dlgPedidoCompra').show()"  update=":tabs:frmpedidoCompra"  />
            </p:column>
            <p:rowExpansion>
                <p:dataTable value="#{cotacao.cotacaoItemList}" var="cotacaoItem" emptyMessage="Nenhum Produto Nesta Cotação" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" >
                    <p:column width="5%" >
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Produto" width="25%" >
                        <h:outputText value="#{cotacaoItem.idProduto.descricao}" />
                    </p:column>
                    <p:column headerText="Quantidade" width="10%" styleClass="centralizar" >
                        <h:outputText value="#{cotacaoItem.quantidade}" />
                    </p:column>
                    <p:column headerText="Valor Cotado" width="10%" styleClass="centralizar" >
                        <h:outputText value="#{cotacaoItem.valorCotado}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Valor Total" width="10%" styleClass="centralizar" >
                        <h:outputText value="#{cotacaoItem.valorTotal}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Fornecedor Selecionado" width="20%"  >
                        <h:outputText value="#{cotacaoItem.idFornecedorSelecionado.nome}" />
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{cotacaoItem.cotacaoItemFornecedorList}" var="cotacaoItemFornecedor" emptyMessage="Nenhum Fornecedor Cotado!" >
                            <p:column headerText="Fornecedor" width="20%" >
                                <h:outputText value="#{cotacaoItemFornecedor.idFornecedor.nome}"  />
                            </p:column>
                            <p:column headerText="Valor Cotado" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItemFornecedor.valorCotado}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Quantidade" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItemFornecedor.quantidade}" />
                            </p:column>
                            <p:column headerText="Valor Total" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItemFornecedor.valorTotal}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:rowExpansion>
        </p:dataTable>
    </h:form>
</ui:composition>
