<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmTblCotacoesLote"> 
        <p:dataTable id="cotacoesLote" value="#{cotacaoMB.listaDeCotacoesEmLote()}" var="lote"  emptyMessage="Nenhuma Cotação" >
            <f:facet name="header">
                Lista de Cotações em Lote
            </f:facet>
            <p:column width="5%" >
                <p:rowToggler />
            </p:column>
            <p:column headerText="Lote" styleClass="centralizar" width="10%" >
                <h:outputText value="#{lote.lote}" />
            </p:column>
            <p:column headerText="Usuário"  width="25%" >
                <h:outputText value="#{lote.idUsuario.nome}" />
            </p:column>
            <p:column headerText="Data" styleClass="centralizar" width="15%" >
                <h:outputText value="#{lote.dtCadastro}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </p:column>
            <p:column headerText="Status"  width="10%" >
                <h:outputText value="#{lote.status}" styleClass="#{cotacaoMB.statusCotacaoLote(lote.status)}" />
            </p:column>
            <p:column  width="8%">
                <center>
                    <p:commandButton  title="Editar"  icon="Editar" disabled="#{lote.status == 'Aguardando Chegada'}" action="#{cotacaoMB.carregarCotacoesPorLote(lote.lote, lote.status)}" oncomplete="PF('dlgCotacao2').show()" update=":tabs:frmCotas2" />
                    <p:commandButton  title="Gerar Ordem de Compra  " disabled="#{lote.status != 'Aguardando Pedido' or cotacaoMB.verificarSeLoteEstaDividido(lote.lote)}" icon="Importar" action="#{pedidoCompraMB.gerarPedidoCompra(lote.lote, lote.status) }" oncomplete="PF('dlgPedidoCompra').show()"  update=":tabs:frmpedidoCompra"  />
                </center>
            </p:column>
            <p:rowExpansion>
                <p:dataTable value="#{cotacaoMB.listarCotacoesPorLote(lote.lote, lote.status)}" var="cotaLote" emptyMessage="Nenhum Produto Nesta Cotação" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" >
                    <p:column width="5%" >
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Cotação" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{cotaLote.idCotacao}" />
                    </p:column>
                    <p:column headerText="Grupo"  width="15%" >
                        <h:outputText value="#{cotaLote.cotacaoItemList.get(0)!=null?cotaLote.cotacaoItemList.get(0).idProduto.idGrupo.descricao:''}" />
                    </p:column>
                    <p:column headerText="Usuário"  width="25%" >
                        <h:outputText value="#{cotaLote.idUsuario.nome}" />
                    </p:column>
                    <p:column headerText="Data" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{cotaLote.dtCadastro}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Autorizada" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{cotaLote.dtAutorizacao}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Status" styleClass="centralizar " width="13%"   >
                        <h:outputText value="#{cotaLote.status}"   />
                    </p:column>
                    <p:column headerText="Total" styleClass="centralizar" width="10%">
                        <h:outputText value="#{cotaLote.valortotal}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                    <p:column  styleClass="centralizar" width="10%">
                        <p:commandButton  title="Gerar Ordem de Compra " immediate="true" action="#{pedidoCompraMB.gerarPedidoCompra2(cotaLote)}" disabled="#{cotaLote.status != 'Aguardando Pedido'}" icon="Importar" oncomplete="PF('dlgPedidoCompra').show()"  update=":tabs:frmpedidoCompra"  />
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{cotaLote.cotacaoItemList}" var="cotacaoItem2" emptyMessage="Nenhum Produto Nesta Cotação" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="10" >
                            <p:column width="5%" >
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="Produto" width="25%" >
                                <h:outputText value="#{cotacaoItem2.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Quantidade" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItem2.quantidade}" />
                            </p:column>
                            <p:column headerText="Valor Cotado" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItem2.valorCotado}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Valor Total" width="10%" styleClass="centralizar" >
                                <h:outputText value="#{cotacaoItem2.valorTotal}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Fornecedor Selecionado" width="20%"  >
                                <h:outputText value="#{cotacaoItem2.idFornecedorSelecionado.nome}" />
                            </p:column>
                            <p:rowExpansion>
                                <p:dataTable value="#{cotacaoItem2.cotacaoItemFornecedorList}" var="cotacaoItemFornecedor2" emptyMessage="Nenhum Fornecedor Cotado!" >
                                    <p:column headerText="Fornecedor" width="20%" >
                                        <h:outputText value="#{cotacaoItemFornecedor2.idFornecedor.nome}"  />
                                    </p:column>
                                    <p:column headerText="Valor Cotado" width="10%" styleClass="centralizar" >
                                        <h:outputText value="#{cotacaoItemFornecedor2.valorCotado}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Quantidade" width="10%" styleClass="centralizar" >
                                        <h:outputText value="#{cotacaoItemFornecedor2.quantidade}" />
                                    </p:column>
                                    <p:column headerText="Valor Total" width="10%" styleClass="centralizar" >
                                        <h:outputText value="#{cotacaoItemFornecedor2.valorTotal}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:rowExpansion>
        </p:dataTable>
    </h:form>

</ui:composition>
