<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:xc="http://xpert.com/faces"  >



    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Gestão de Resultados
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode fazer a gestão dos resultados.
            </ui:define>

            <ui:define name="breadcrumb">
                Gestão de Resultados
            </ui:define>

            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.gestaoResultado}"/>
                <p:panel header="Gestão de Resultados" id="conteudo" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.gestaoResultado}">
                    <h:form id="frmGestao">
                        <div class="row">
                            <div class="col-md-12">
                                <p:commandButton  value="Pesquisar" icon="Consultar"   oncomplete="PF('dlgPesquisar').show()" />
                                <p:commandButton   value="Imprimir" action="#{gestaoResultadoMB.imprimirGestao()}" ajax="false"   onclick="this.form.target='_blank'" icon="Imprimir" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" >
                                <hr/>
                                <p:dataTable id="tblFluxo" value="#{gestaoResultadoMB.fluxosCaixa}" var="gr" 
                                             emptyMessage="Nenhum resultado encontrado!" 
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15,25,30,40,50,60,70,80,90,100,150,200,300,500"
                                             paginator="true" paginatorPosition="bottom" rows="20">
                                    <f:facet name="header"  > 
                                        <h:outputText value="Saldo anterior em #{gestaoResultadoMB.formataData(gestaoResultadoMB.dtIni)}: " />
                                        <h:outputText value="#{gestaoResultadoMB.formataMoeda(gestaoResultadoMB.saldoAnterior)}" style="text-align: right; #{gestaoResultadoMB.saldoAnterior > 0?'':'color:rgb(255, 173, 173)'}" />
                                        <p:spacer />
                                        <p:spacer />
                                        <p:spacer />
                                        <h:commandLink title="Exportar para Excel">
                                            <p:graphicImage name="/icons/Excel.png" />
                                            <p:dataExporter type="xls" target="tblFluxo" fileName="fluxo_caixa"  />
                                            <!--<pe:exporter type="xls" target="tblFluxo" fileName="GroupedTable"/>-->  
                                        </h:commandLink>
                                        <p:spacer />
                                        <p:spacer />
                                        <p:spacer />
                                        <h:commandLink title="Exportar para PDF">
                                            <p:graphicImage name="/icons/Pdf.png" />
                                            <p:dataExporter type="pdf" target="tblFluxo" fileName="fluxo_caixa"  />
                                        </h:commandLink>
                                        <p:spacer />
                                        <p:spacer />
                                        <p:spacer />
                                        <h:commandLink title="Exportar para XML">
                                            <p:graphicImage name="/icons/XML.png" />
                                            <p:dataExporter type="xml" target="tblFluxo" fileName="fluxo_caixa"  />
                                        </h:commandLink>
                                    </f:facet>
                                    <p:column  headerText="Data" width="7%" style="text-align: center; font-size: 10px; " sortBy="#{gr.dtMovimento}"   >
                                        <h:outputText  value="#{gestaoResultadoMB.formatarData(gr.dtMovimento)} " style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}" />
                                    </p:column>
                                    <p:column  headerText="Docto" width="7%" style="text-align: center; font-size: 10px; " sortBy="#{gr.dtMovimento}"   >
                                        <h:outputText  value="#{gr.numDocto} "  style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}" />
                                    </p:column>
                                    <p:column headerText="Entrada" style="font-size: 10px;" >
                                        <h:outputText id="col1" value="#{gr.contasReceber.idCliente.nome}"  style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}" />
                                        <p:tooltip for="col1" >
                                            <center>Documento Referente</center>
                                            <style>
                                                .colunaLabel{
                                                    font-weight: bolder;
                                                    background-color: #e2e2e2;
                                                }
                                                .colunaValue{
                                                    width: auto;
                                                }
                                            </style>
                                            <p:panelGrid columns="4" columnClasses="colunaLabel,colunaValue,colunaLabel,colunaValue">
                                                <h:outputText value="Referido:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.idCliente.nome  : gr.contasPagar.idFornecedor.nome}" />
                                                <h:outputText value="Nº Doc" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.numDocto : gr.contasPagar.numDocto}" />
                                                <h:outputText value="Parcela" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.numParcela : gr.contasPagar.numParcela}" />
                                                <h:outputText value="Lançamento:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtLancamento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtLancamento)}" />
                                                <h:outputText value="Vencimento:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtVencimento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtVencimento)}" />
                                                <h:outputText value="Baixa:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtPagamento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtPagamento)}" />
                                                <h:outputText value="Situacao:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.status==true?'Recebido':'Aberto'  : gr.contasPagar.status==true?'Pago':'Aberto'}" />
                                                <h:outputText value="Valor:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.valorDuplicata  : gr.contasPagar.valorDuplicata}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:panelGrid>
                                        </p:tooltip>
                                    </p:column>
                                    <p:column headerText="Valor" width="10%" style="text-align: center; font-size: 10px;">
                                        <h:outputText value="#{gr.contasReceber.valorDuplicata}"   style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}"  >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Saída" style="font-size: 10px;">
                                        <h:outputText id="col2" value="#{gr.contasPagar.idFornecedor.nome}"  style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}" />
                                        <p:tooltip for="col2" >
                                            <center>Documento Referente</center>
                                            <style>
                                                .colunaLabel{
                                                    font-weight: bolder;
                                                    background-color: #e2e2e2;
                                                }
                                                .colunaValue{
                                                    width: auto;
                                                }
                                            </style>
                                            <p:panelGrid columns="4" columnClasses="colunaLabel,colunaValue,colunaLabel,colunaValue">
                                                <h:outputText value="Referido:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.idCliente.nome  : gr.contasPagar.idFornecedor.nome}" />
                                                <h:outputText value="Nº Doc" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.numDocto : gr.contasPagar.numDocto}" />
                                                <h:outputText value="Parcela" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.numParcela : gr.contasPagar.numParcela}" />
                                                <h:outputText value="Lançamento:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtLancamento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtLancamento)}" />
                                                <h:outputText value="Vencimento:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtVencimento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtVencimento)}" />
                                                <h:outputText value="Baixa:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gestaoResultadoMB.formataData(gr.contasReceber.dtPagamento)  : gestaoResultadoMB.formataData(gr.contasPagar.dtPagamento)}" />
                                                <h:outputText value="Situacao:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.status==true?'Recebido':'Aberto'  : gr.contasPagar.status==true?'Pago':'Aberto'}" />
                                                <h:outputText value="Valor:" />
                                                <h:outputText value=" #{gr.contasPagar==null? gr.contasReceber.valorDuplicata  : gr.contasPagar.valorDuplicata}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:panelGrid>
                                        </p:tooltip>
                                    </p:column>
                                    <p:column headerText="Valor" width="10%" style="text-align: center; font-size: 10px;">
                                        <h:outputText value="#{gr.contasPagar.valorDuplicata}" style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}"  >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>

                                    <p:column headerText="Saldo" style="text-align: center; font-size: 10px;" width="10%">
                                        <h:outputText value="#{gr.saldo}" style="color: #{gr.saldo > 0 ? 'blue;':'red'}"  >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Observacao" style="font-size: 10px;"  >
                                        <h:outputText value="#{gr.observacao}"  style="#{gestaoResultadoMB.verificaSeTaBaixada(gr)}"/>
                                    </p:column>
                                    <p:columnGroup type="footer">
                                        <p:row>
                                            <p:column colspan="4" style="text-align:right; " footerText="Total Entrada: #{sessaoMB.formatarMoedaView(xc:sum(gestaoResultadoMB.fluxosCaixa, 'entradaValor'))}" />
                                            <p:column colspan="2" style="text-align:right; " footerText="Total Saida: #{sessaoMB.formatarMoedaView(xc:sum(gestaoResultadoMB.fluxosCaixa, 'saidaValor'))}" />
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="4" style="text-align:right; " footerText="Total Recebidas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalRecebidas)}" />
                                            <p:column colspan="2" style="text-align:right; " footerText="Total Pagas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalPagas)}" />
                                        </p:row>
                                         <p:row>
                                             <p:column colspan="4" style="text-align:right;  " footerText="Vencidas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalrVencidas)}" />
                                            <p:column colspan="2" style="text-align:right; " footerText="Vencidas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalpVencidas)}" />
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="4" style="text-align:right; " footerText="Abertas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalrAbertas)}" />
                                            <p:column colspan="2" style="text-align:right;" footerText="Abertas: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalpAbertas)}" />
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="8" style=" background: #3A4B55; color: white;" footerText="Saldo Final: #{sessaoMB.formatarMoedaView(gestaoResultadoMB.totalRecebidas - gestaoResultadoMB.totalPagas)}" />
                                        </p:row>
                                    </p:columnGroup>
                                </p:dataTable>
                                <hr/>

                            </div>
                        </div>
                    </h:form>
                    <p:dialog widgetVar="dlgPesquisar" header="Pesquisa de Movimento" draggable="false" position="top" resizable="false"  modal="true">
                        <h:form>
                            <p:panelGrid columns="2">
                                <p:outputLabel for="dtIni"  value="Data Inicial"/>
                                <p:calendar id="dtIni"   value="#{gestaoResultadoMB.dtIni}" pattern="dd/MM/yyyy" locale="pt" />
                                <p:outputLabel for="dtFim"  value="Data Final"/>
                                <p:calendar id="dtFim" value="#{gestaoResultadoMB.dtFim}" pattern="dd/MM/yyyy" locale="pt" />
                            </p:panelGrid>
                            <hr/>
                            <p:commandButton value="Pesquisar" action="#{gestaoResultadoMB.pesquisarFlux()}" styleClass="btn btn-block btn-success" update=":frmGestao" oncomplete="PF('dlgPesquisar').hide();"/>
                        </h:form>
                    </p:dialog>
                </p:panel>
            </ui:define>
        </ui:composition>

    </body>
</html>
