<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Sub Grupo
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os sub grupos de produtos.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Sub Grupos
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Sub Grupos" id="conteudo">
                        <ui:include src="consultarSubGrupo.xhtml"/>
                        <ui:include src="inserirSubGrupo.xhtml"/>
                    </p:panel> 
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
