<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{subGrupoMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{subGrupoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="mode" value="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{subGrupoMB.subGrupo.descricao}" id="descricao" required="#{param['mode']}" requiredMessage="Descrição é obrigatória!" />
                    </div>
                    <div class="col-md-4">
                        <p:outputLabel for="grupo" value="Grupo"  />
                        <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoGrupo" nameWidgetVar="wvaGrupo" nameFunc="atalhoGrupo" valueToOpenDialog="Cadastrar Grupo" />
                        <p:selectOneMenu id="grupo" value="#{subGrupoMB.grupo}" converter="Converter"
                                         onchange="atalhoGrupo(this)" widgetVar="wvaGrupo"
                                         styleClass="form-control" filter="true" filterMatchMode="contains" var="grup"
                                         required="#{param['mode']}" requiredMessage="Grupo é obrigatório!">
                            <f:selectItem itemLabel="Selecione um grupo" itemValue="" />
                            <f:selectItems value="#{grupoMB.listarGrupos()}" var="grupo" 
                                           itemLabel="#{grupo.idGrupo} | #{grupo.descricao}" itemValue="#{grupo}" />
                            <f:selectItem itemLabel="Cadastrar Grupo" itemValue="cadGrupo"  />
                            <p:column>
                                <h:outputText value="#{grup.idGrupo}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{grup.descricao}" />
                            </p:column>
                            <p:ajax event="change" update="@this" />
                        </p:selectOneMenu>
                        <p:dialog header="Cadastro de Grupo" widgetVar="dlgAtalhoGrupo" modal="true"  width="80%" height="500"  position="top">
                            <p:ajax event="close" update="grupo" />
                            <iframe src="../Grupo/index.xhtml#conteudo"  width="100%" height="99%" />
                        </p:dialog>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>
