<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:xc="http://xpert.com/faces">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                MSC - Inicio
            </ui:define>

            <ui:define name="descriptionpage">
                Dashboard
            </ui:define>

            <ui:define name="breadcrumb">
                Dashboard
            </ui:define>

            <ui:define name="content">

                <div class="col-md-12">
                    <!--<p:panel header="Dashboard" >-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <bcr:panel title="Previsões de Contas à Pagar e Receber" type="success" >
                                    <h:form>
                                        <div class="col-xs-12">
                                            <center>
                                                <p:selectOneButton  value="#{dashboardMB.tipoFiltro}">
                                                    <f:selectItem itemLabel="Semanal" itemValue="s" />
                                                    <f:selectItem itemLabel="Mensal" itemValue="m" />
                                                    <f:selectItem itemLabel="Anual" itemValue="a" />
                                                    <p:ajax event="change" update="@form" />
                                                </p:selectOneButton>
                                            </center>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <br/>
                                            <ul class="page-stats list-justified">
                                                <li class="bg-danger">
                                                    <div class="page-stats-showcase">
                                                        <span>Previsão de Pagamentos</span>
                                                        <h:outputText style="font-size: 17px;" value="#{dashboardMB.totalContasPagarSemana()!= null ? dashboardMB.totalContasPagarSemana() : 0}">
                                                            <f:convertNumber type="currency" /> 
                                                        </h:outputText>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <br/>
                                            <ul class="page-stats list-justified">
                                                <li class="bg-success">
                                                    <div class="page-stats-showcase">
                                                        <span>Previsão de Recebimento</span>
                                                        <h:outputText style="font-size: 17px;" value="#{dashboardMB.totalContasReceberSemana() != null ? dashboardMB.totalContasReceberSemana() : 0.00 }">
                                                            <f:convertNumber type="currency" /> 
                                                        </h:outputText>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </h:form>
                                </bcr:panel>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <bcr:panel title="Cheques a serem compensados" type="success" >
                                    <h:form>
                                        <div class="col-xs-12">
                                            <center>
                                                <p:selectOneButton  value="#{dashboardMB.tipoFiltro}">
                                                    <f:selectItem itemLabel="Semanal" itemValue="s" />
                                                    <f:selectItem itemLabel="Mensal" itemValue="m" />
                                                    <f:selectItem itemLabel="Anual" itemValue="a" />
                                                    <p:ajax event="change" update="@form" />
                                                </p:selectOneButton>
                                            </center>
                                            <hr/>
                                            <p:dataTable  value="#{dashboardMB.listarChequesNaoCompensados()}" var="ch" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"
                                                          paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                          rowsPerPageTemplate="5,10,15,20" emptyMessage="Nenhum cheque para ser compensado!">
                                                <p:column headerText="Banco" width="20%"  styleClass="font-table">
                                                    #{ch.idContaCorrente.idBanco.nome}
                                                </p:column>
                                                <p:column headerText="Cheque" width="12%"  styleClass="font-table">
                                                    #{ch.numeroCheque}
                                                </p:column>
                                                <p:column headerText="Valor" width="13%"  styleClass="font-table">
                                                    <bcr:outputMoney value="#{ch.valor}"/>
                                                </p:column>
                                                <p:column headerText="Compensação" width="15%"  styleClass="font-table">
                                                    <bcr:outputDate value="#{ch.dtCompensacaoVencimento}"/>
                                                </p:column>
                                                <p:column headerText="Nominal" width="35%"  styleClass="font-table">
                                                    <bcr:outputMoney value="#{ch.nominal}"/>
                                                </p:column>
                                                <p:columnGroup type="footer">
                                                    <p:row>
                                                        <p:column colspan="2"  styleClass="font-table" style="text-align:right; background: #cccccc;" footerText="Total:" />
                                                        <p:column  styleClass="font-table" style="background: #cccccc;" footerText="#{sessaoMB.formatarMoedaView(xc:sum(dashboardMB.listarChequesNaoCompensados(), 'valor'))}    " />
                                                    </p:row>
                                                </p:columnGroup>
                                            </p:dataTable>
                                        </div>
                                    </h:form>

                                </bcr:panel>
                            </div>
                            <div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
                                <bcr:panel title="Relação de Contas à Pagar x Contas Receber" type="info">
                                    <p:chart type="bar" model="#{dashboardMB.animatedModel2}"  responsive="true"   />
                                </bcr:panel>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <bcr:panel title="Contas Pagar Vencidas" type="warning" >
                                    <h:form>
                                        <div class="col-xs-12">
                                            <center>
                                                <p:selectOneButton  value="#{dashboardMB.tipoFiltro}">
                                                    <f:selectItem itemLabel="30 Dias" itemValue="30" />
                                                    <f:selectItem itemLabel="60 Dias" itemValue="60" />
                                                    <f:selectItem itemLabel="90 Dias" itemValue="90" />
                                                    <f:selectItem itemLabel="120 Dias" itemValue="120" />
                                                    <p:ajax event="change" update="@form" />
                                                </p:selectOneButton>
                                            </center>
                                            <hr/>
                                            <p:dataTable  value="#{dashboardMB.listarContasPagarVencendo()}" var="pgv" paginator="true" paginatorAlwaysVisible="false" rows="5" paginatorPosition="bottom"
                                                          paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                          rowsPerPageTemplate="5,10,15,20">
                                                <p:column headerText="Fornecedor" width="40%" styleClass="font-table">
                                                    #{pgv.idFornecedor.nome}
                                                </p:column>
                                                <p:column headerText="Docto" width="12%" styleClass="font-table">
                                                    #{pgv.numDocto}
                                                </p:column>
                                                <p:column headerText="Vencto" width="13%" styleClass="font-table">
                                                    <bcr:outputDate value="#{pgv.dtVencimento}" />
                                                </p:column>
                                                <p:column headerText="Valor" width="15%" styleClass="font-table">
                                                    <bcr:outputMoney value="#{pgv.valorDuplicata}" />
                                                </p:column>
                                                <p:columnGroup type="footer">
                                                    <p:row>
                                                        <p:column colspan="3"  styleClass="font-table" style="text-align:right; background: #cccccc;" footerText="Total:" />
                                                        <p:column styleClass="font-table" style="background: #cccccc;" footerText="#{sessaoMB.formatarMoedaView(xc:sum(dashboardMB.listarContasPagarVencendo(), 'valorDuplicata'))}    " />
                                                    </p:row>
                                                </p:columnGroup>
                                            </p:dataTable>
                                        </div>
                                    </h:form>
                                </bcr:panel>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <bcr:panel title="Contas Receber Vencidas" type="warning" >
                                    <h:form>
                                        <div class="col-xs-12">
                                            <center>
                                                <p:selectOneButton  value="#{dashboardMB.tipoFiltro}">
                                                    <f:selectItem itemLabel="30 Dias" itemValue="30" />
                                                    <f:selectItem itemLabel="60 Dias" itemValue="60" />
                                                    <f:selectItem itemLabel="90 Dias" itemValue="90" />
                                                    <f:selectItem itemLabel="120 Dias" itemValue="120" />
                                                    <p:ajax event="change" update="@form" />
                                                </p:selectOneButton>
                                            </center>
                                            <hr/>
                                            <p:dataTable  value="#{dashboardMB.listarContasReceberVencendo()}" var="crv" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"
                                                          paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                          rowsPerPageTemplate="5,10,15,20">
                                                <p:column headerText="Cliente" width="40%"  styleClass="font-table">
                                                    #{crv.idCliente.nome}
                                                </p:column>
                                                <p:column headerText="Docto" width="12%"  styleClass="font-table">
                                                    #{crv.numDocto}
                                                </p:column>
                                                <p:column headerText="Vencto" width="13%"  styleClass="font-table">
                                                    <bcr:outputDate value="#{crv.dtVencimento}"/>
                                                </p:column>
                                                <p:column headerText="Valor" width="15%"  styleClass="font-table">
                                                    <bcr:outputMoney value="#{crv.valorDuplicata}"/>
                                                </p:column>
                                                <p:columnGroup type="footer">
                                                    <p:row>
                                                        <p:column colspan="3"  styleClass="font-table" style="text-align:right; background: #cccccc;" footerText="Total:" />
                                                        <p:column  styleClass="font-table" style="background: #cccccc;" footerText="#{sessaoMB.formatarMoedaView(xc:sum(dashboardMB.listarContasReceberVencendo(), 'valorDuplicata'))}    " />
                                                    </p:row>
                                                </p:columnGroup>

                                            </p:dataTable>
                                        </div>
                                    </h:form>
                                </bcr:panel>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
