<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="visible" type="java.lang.Boolean"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dialog modal="true" closable="false" draggable="false" resizable="false" visible="#{!cc.attrs.visible}">
            <h:graphicImage name="images/negado.jpg"/>
            <hr/>
            <center>
                <p:button value="Voltar" outcome="../index.xhtml" />
            </center>
        </p:dialog>
    </cc:implementation>
</html>