<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="label"  />
        <cc:attribute name="value"  />

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <style>
            .labelInfo{
                color: #518CA3;
                font-weight: bolder;
            }
        </style>
        <span class="labelInfo">#{cc.attrs.label}: </span>
        <h:outputText value="#{cc.attrs.value}" >
            <f:convertDateTime pattern="dd/MM/yyyy"/>
        </h:outputText>

    </cc:implementation>
</html>