<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-coin"></i> Estoque
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você ajusta e consulta o estoque dos produtos.
            </ui:define>
            <ui:define name="breadcrumb">
                Estoque
            </ui:define>
            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaEstoque}"/>
                <div class="col-lg-12">
                    <p:tabView id="tabs" dynamic="true" cache="true" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaEstoque}">
                        <p:tab title="Ajuste de Estoque"  >
                            <h:form id="frmAjusteEstoque">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p:messages closable="true" />
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                        <p:outputLabel for="tipo" value="Tipo Movimento" />
                                        <p:selectOneMenu value="#{estoqueMB.tipoMovimento}" styleClass="form-control" id="tipo" required="true" requiredMessage="Informe o tipo de movimento!" >
                                            <f:selectItem itemLabel="Selecione o movimento!" itemValue="" />
                                            <f:selectItem itemLabel="Entrada" itemValue="E" />
                                            <f:selectItem itemLabel="Saída" itemValue="S" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
                                        <p:outputLabel for="produto" value="Produto" />
                                        <p:autoComplete  value="#{estoqueMB.produto}"  converter="Converter" id="produto" placeholder="Digite o nome do produto!" styleClass="form-control"
                                                         completeMethod="#{produtoMB.completeMethodProduto}" required="true" requiredMessage="Informe o produto!"
                                                         var="prod" itemLabel="#{prod.descricao}" itemValue="#{prod}"  forceSelection="true" >
                                            <p:ajax event="itemSelect" update="unid, estAtu, qntRes"  listener="#{estoqueMB.onItemSelect}"/>
                                        </p:autoComplete>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                        <p:outputLabel for="qnt" value="Quantidade" />
                                        <p:inputText id="qnt" value="#{estoqueMB.quantidade}"  />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-1 col-lg-1">
                                        <p:outputLabel for="unid" value="Unidade" />
                                        <p:inputText id="unid" value="#{estoqueMB.tipoMovimento == 'E'?estoqueMB.produto.idUnidadeEntrada.descricaoResumida: estoqueMB.produto.idUnidadeSaida.descricaoResumida}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                        <p:outputLabel for="estAtu" value="Est Físico" />
                                        <p:inputText id="estAtu" value="#{estoqueMB.produto.quantidade}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                        <p:outputLabel for="qntRes" value="Est Disponível" />
                                        <p:inputText id="qntRes" value="#{estoqueMB.produto.quantidade - estoqueMB.produto.quantidadeReservada}" readonly="true" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <hr/>
                                        <p:commandButton value="Salvar" icon="Salvar" action="#{estoqueMB.salvar()}" update="@form" />
                                    </div>
                                </div>
                            </h:form>
                        </p:tab>
                        <p:tab title="Consulta de Estoque" >
                            <h:form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <p:outputLabel for="produto" value="Produto" />
                                        <p:autoComplete  value="#{estoqueMB.produto}"  converter="Converter" id="produto" placeholder="Digite o nome do produto!" styleClass="form-control"
                                                         completeMethod="#{produtoMB.completeMethodProduto}" required="true" requiredMessage="Informe o produto!"
                                                         var="prod2" itemLabel="#{prod2.descricao}" itemValue="#{prod2}"  forceSelection="true"  >
                                            <p:ajax event="itemSelect" update="@form"  listener="#{estoqueMB.onItemSelect}"/>
                                            <p:column>
                                                <h:outputText value="#{prod2.descricao}"  />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{prod2.quantidade}" />
                                            </p:column>
                                        </p:autoComplete>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-1 col-lg-1">
                                        <p:outputLabel for="unidS" value="Medida" />
                                        <p:inputText id="unidS" value="#{estoqueMB.produto.idUnidadeSaida.descricaoResumida}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                        <p:outputLabel for="estMin" value="Minimo" />
                                        <p:inputText id="estMin" value="#{estoqueMB.produto.estoqueMin}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                        <p:outputLabel for="estAtu" value="Físico" />
                                        <p:inputText id="estAtu" value="#{estoqueMB.produto.quantidade}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                        <p:outputLabel for="estRes" value="Reservado" />
                                        <p:inputText id="estRes" value="#{estoqueMB.produto.quantidadeReservada}" readonly="true" />
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                        <p:outputLabel for="qntRes" value="Disponível" />
                                        <p:inputText id="qntRes" value="#{(estoqueMB.produto.quantidade - estoqueMB.produto.estoqueMin )- estoqueMB.produto.quantidadeReservada}" readonly="true" style="background-color:  #99ff99 !important;" />
                                    </div>
                                </div>
                            </h:form>
                        </p:tab>
                        <p:tab title="Imprimir Estoque" >
                            <h:form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <p:outputLabel for="grupo" value="Grupo" />
                                        <p:selectOneMenu id="grupo" value="#{estoqueMB.paramGrupo}" styleClass="form-control"  converter="Converter" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Selecione o grupo" itemValue="" />
                                            <f:selectItems value="#{grupoMB.listarGrupos()}" var="grps" 
                                                           itemLabel="#{grps.descricao}" itemValue="#{grps}" /> 
                                            <p:ajax event="change" update="subgrupo" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <p:outputLabel for="subgrupo" value="Subgrupo" />
                                        <p:selectOneMenu id="subgrupo" value="#{estoqueMB.paramSubgrupo}" styleClass="form-control"  converter="Converter" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Selecione o subgrupo" itemValue="" />
                                            <f:selectItems value="#{estoqueMB.paramGrupo.subGrupoList}" var="sgrps" 
                                                           itemLabel="#{sgrps.descricao}" itemValue="#{sgrps}" /> 
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <p:outputLabel for="estoque" value="Estoque" />
                                        <p:selectOneMenu id="estoque" value="#{estoqueMB.paramEstoque}" styleClass="form-control"  converter="Converter" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Estoque Total" itemValue="T" />
                                            <f:selectItem itemLabel="Estoque Negativo" itemValue="N" />
                                            <f:selectItem itemLabel="Estoque Positivo" itemValue="P" />
                                            <f:selectItem itemLabel="Estoque Zerado" itemValue="Z" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <p:outputLabel for="situacao" value="Situacao" />
                                        <p:selectOneMenu id="situacao" value="#{estoqueMB.paramSituacao}" styleClass="form-control"  converter="Converter" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Somente Ativos" itemValue="A" />
                                            <f:selectItem itemLabel="Somente Desativados" itemValue="N" />
                                            <f:selectItem itemLabel="Todos" itemValue="T" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <hr/>
                                        <p:commandButton value="Imprimir" icon="Imprimir" actionListener="#{estoqueMB.processarEstoque()}" ajax="false"   onclick="this.form.target='_blank'"/>
                                    </div>
                                </div>
                            </h:form>
                        </p:tab>
                    </p:tabView>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
