<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Localização
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os locais dos produtos.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Localização
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Localização" id="conteudo">
                    <div class="row">
                        <h:form id="frmCadastro">
                            <div class="col-md-12">
                                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                            <p:ajax update="@form, :frmCadastro" listener="#{localizacaoMB.novo()}"  resetValues="true"  />
                                        </p:commandButton>
                                        <p:commandButton  value="Salvar" action="#{localizacaoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar"/>
                                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                                <hr/>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p:outputLabel for="descricao" value="Descrição"  />
                                        <p:inputText value="#{localizacaoMB.localizacao.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                                    </div>
                                </div>
                            </div>
                        </h:form>
                        <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Estados" width="80%" resizable="false" position="center top" >
                            <p:messages id="msg2" closable="true"/>
                            <h:form id="frmConsultar">
                                <p:contextMenu for="estados" >
                                    <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                                    <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{localizacaoMB.excluir()}"/>
                                </p:contextMenu>
                                <p:dataTable id="estados" value="#{localizacaoMB.listaTodos()}" var="uf" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                             paginatorPosition="bottom"
                                             rowKey="#{uf.idLocalizacao}"
                                             selection="#{localizacaoMB.localizacao}" selectionMode="single">
                                    <f:facet name="header">
                                        Localizações
                                        <bcr:datatableExporter datatableExport="dtlLocalizacoes" fileName="Localizacoes" />
                                    </f:facet>
                                    <f:facet name="footer">
                                        #{localizacaoMB.listaTodos().size()} Registros encontrados.
                                    </f:facet>
                                    <p:column headerText="Código" filterBy="#{uf.idLocalizacao}" width="5%" sortBy="#{uf.idLocalizacao}" style="text-align: center">
                                        <h:outputText value="#{uf.idLocalizacao}" />
                                    </p:column>
                                    <p:column headerText="Localização" filterBy="#{uf.descricao}" width="95%" sortBy="#{uf.descricao}">
                                            <h:outputText value="#{uf.descricao}"  />
                                    </p:column>
                                    
                                </p:dataTable>
                            </h:form>
                        </p:dialog>
                    </div>
                </p:panel>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
