<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head>
        <title>MSC - #{sessaoMB.usuario.idEmpresa.nomeFantasia} </title>
        <link rel = "icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css" />
        <h:outputStylesheet name="css/font-awesome.min.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/styles.css" />
        <h:outputStylesheet name="css/icons.css" />
        <h:outputStylesheet name="css/colapse-horizontal.css" />
        <h:outputStylesheet name="icons/icons.css"/>
        <h:outputStylesheet name="plugins/sweetAlert/sweetalert.css"/>
        <!-- JS -->
        <h:outputScript name="js/plugins/interface/daterangepicker.js" />
        <h:outputScript name="js/plugins/interface/moment.js" />
        <h:outputScript name="js/plugins/interface/jgrowl.min.js" />
        <h:outputScript name="js/bootstrap.min.js" />
        <h:outputScript name="js/application_blank.js" />
        <h:outputScript name="js/shortcut.js" />
        <h:outputScript name="plugins/sweetAlert/sweetalert.min.js" />
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>


        <script>
            PrimeFaces.locales['pt'] = {  
                closeText: 'Fechar',  
                prevText: 'Anterior',  
                nextText: 'Próximo',  
                currentText: 'Começo',  
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],  
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],  
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],  
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],  
                dayNamesMin: ['D','S','T','Q','Q','S','S'],  
                weekHeader: 'Semana',  
                firstDay: 1,  
                isRTL: false,  
                showMonthAfterYear: false,  
                yearSuffix: '',  
                timeOnlyTitle: 'Só Horas',  
                timeText: 'Tempo',  
                hourText: 'Hora',  
                minuteText: 'Minuto',  
                secondText: 'Segundo',  
                currentText: 'Data Atual',  
                ampm: false,  
                month: 'Mês',  
                week: 'Semana',  
                day: 'Dia',  
                allDayText : 'Todo Dia'  
            };  
            $(function(){
                
                var rx = /INPUT|SELECT|TEXTAREA/i;

                $(document).bind("keydown keypress", function(e){
                    if( e.which == 8 ){ // 8 == backspace
                        if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                            e.preventDefault();
                        }
                    }
                });
            });
        </script>
        <script>
            function checkUrlActive(a, id){
                var path = window.location.pathname;
                if(path.indexOf(a) > -1){
                    $(id ).addClass( "active" );
                }
            }

        </script>



    </h:head>
    <h:body  >
        <!--    <h:body styleClass="sidebar-narrow">-->
        <p:log id="log"  />
        <script>
            function mostaOcultaLog(){
                var situacao = $('#log').css("display");
                if(situacao=="none"){
                    $("#log").css("display", "block");
                }else{
                    $("#log").css("display", "none");
                }
            }
        </script>

        <style>
            #log{
                display: none ;
            }

            .navbar-inverse{
                background-color:#{sessaoMB.usuario.idEmpresa.idParametrizacao.corTopo} !important;
            }
            .ui-widget-header{
                background: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corBarras} !important;
            }
            .sidebar{
                background-color: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} !important;
            }
            .sidebar-narrow .navigation > li > ul{
                background-color: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} !important;
            }
            .user-menu > a{
                background: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} url(../images/interface/nav_arrow_right.png) no-repeat 220px !important;
            }

        </style>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header" style="margin-left: 7px !important;">
                <a class="navbar-brand" href="#" style="padding-top: 10px !important; ">
                    <p:graphicImage name="images/LOGO_.png" width="40" height="36" style="margin-right: 10px !important;" />
                    #{sessaoMB.usuario.idEmpresa.nomeFantasia}
                </a>
                <a class="sidebar-toggle" title="Clique aqui para expandir o menu!" ><i class="icon-stack"></i></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
                    <span class="sr-only">Toggle navbar</span>
                    <i class="icon-grid3"></i>
                </button>
                <button type="button" class="navbar-toggle offcanvas">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-paragraph-justify2"></i>
                </button>
            </div>
            <div  >
                <div  class="navbar-form navbar-left collapse" style="width: 25% !important" role="search" id="navbar-search2">
                    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                    <script>
                        $(function() {
                            var data = [
                                { label: "Cadastro de Cliente ", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCliente == true ? '/MSC/Restrito/Cliente/' : '/MSC/Restrito/#' }" },
                                { label: "Cadastro de Local de Trabalho", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroLocalTrabalho == true ? '/MSC/Restrito/LocalTrabalho/': '#' }" },
                                { label: "Cadastro de Fornecedor", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroFornecedor == true ? '/MSC/Restrito/Fornecedor/':'#'}" },
                                { label: "Cadastro de Empresa", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEmpresa == true ? '/MSC/Restrito/Empresa/':'#' } " },
                                { label: "Cadastro de Colaborador", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroColaborador == true ? '/MSC/Restrito/Colaborador/':'#' }" },
                                { label: "Cadastro de Usuário", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroUsuario == true ? '/MSC/Restrito/Usuario/':'#' }" },
                                { label: "Cadastro de Perfil", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPerfil == true ? '/MSC/Restrito/Perfil/':'#' }" },
                                { label: "Cadastro de Setor", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroSetor == true ? '/MSC/Restrito/Setor/':'#' }" },
                                { label: "Cadastro de Cargo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCargo == true ? '/MSC/Restrito/Cargo/':'#' } " },
                                { label: "Cadastro de Produto", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroProduto == true ? '/MSC/Restrito/Produto/':'#' }" },
                                { label: "Cadastro de Grupo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroGrupo == true ? '/MSC/Restrito/Grupo/':'#' }" },
                                { label: "Cadastro de Sub-Grupo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroSubgrupo == true ? '/MSC/Restrito/Subgrupo/':'#' }" },
                                { label: "Cadastro de Ativo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAtivo == true ? '/MSC/Restrito/Ativo/':'#' }" },
                                { label: "Cadastro de Grupo Ativo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroGrupoativo == true ? '/MSC/Restrito/AtivoGrupo/':'#' }" },
                                { label: "Cadastro de Tipo Ativo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroTipoativo == true ? '/MSC/Restrito/AtivoTipo/':'#' }" },
                                { label: "Cadastro de Modelo Ativo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroModeloativo == true ? '/MSC/Restrito/AtivoModelo/':'#' }" },
                                { label: "Cadastro de Unidade", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroUnidade == true ? '/MSC/Restrito/Unidade/':'#' }" },
                                { label: "Cadastro de NCM", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroNcm == true ? '/MSC/Restrito/NCM/':'#' }" },
                                { label: "Cadastro de Localização", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroLocalizacao == true ? '/MSC/Restrito/Localizacao/':'#' }" },
                                { label: "Cadastro de Transportadora", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroTransportadora == true ? '/MSC/Restrito/Transportadora/':'#' }" },
                                { label: "Cadastro de Plano de Contas", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanoContas == true ? '/MSC/Restrito/PlanoConta/':'#' }" },
                                { label: "Cadastro de Agrupamento", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAgrupamento == true ? '/MSC/Restrito/Agrupamento/':'#' }" },
                                { label: "Cadastro de Centro de Custo", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCentrocusto == true ? '/MSC/Restrito/CentroCusto/':'#' }" },
                                { label: "Cadastro de Banco", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroBanco == true ? '/MSC/Restrito/Banco/':'#' }" },
                                { label: "Cadastro de Conta Corrente", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroContacorrente == true ? '/MSC/Restrito/ContaCorrente/':'#' }" },
                                { label: "Cadastro de Forma de Pagamento", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroFormapagamento == true ? '/MSC/Restrito/FormaPagamento/':'#' }" },
                                { label: "Cadastro de Mão de Obra", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanilha == true ? '/MSC/Restrito/PlanilhaMaoObra/':'#' }" },
                                { label: "Cadastro de Estado", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEstado == true ? '/MSC/Restrito/Estado/':'#' }" },
                                { label: "Cadastro de Cidade", category: "#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCidade == true ? '/MSC/Restrito/Cidade/':'#' }" },
                                { label: "Financeiro Contas a Pagar", category: "#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasPagar == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true ? '/MSC/Restrito/Financeiro/':'#' }" },
                                { label: "Financeiro Contas a Receber", category: "#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasReceber == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true ? '/MSC/Restrito/Financeiro/':'#' }" },
                                { label: "Financeiro Movimento Caixa", category: "#{sessaoMB.usuario.idPerfil.idAcesso.financeiroCaixa == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true ? '/MSC/Restrito/Financeiro/':'#' }" },
                                { label: "Financeiro Movimento Bancario", category: "#{sessaoMB.usuario.idPerfil.idAcesso.financeiroBanco == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true ? '/MSC/Restrito/Financeiro/':'#' }" },
                                { label: "Financeiro Cheque", category: "#{sessaoMB.usuario.idPerfil.idAcesso.financeiroCheque == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true ? '/MSC/Restrito/Financeiro/':'#' }" },
                                { label: "Logistica Requisição", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaRequisicao == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Requisicao/':'#' }" },
                                { label: "Logistica Análise Requisição", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaAnaliseRequisicao == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Requisicao/':'#' }" },
                                { label: "Logistica Compras", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCompras == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Compras/':'#' }" },
                                { label: "Logistica Compras Saídas de Requisições", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaSaidaRequisicao == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Compras/':'#' }" },
                                { label: "Logistica Compras Cotação", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCotacao == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Compras/':'#' }" },
                                { label: "Logistica Pedido de Compras", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCompras == true  and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Compras/':'#' }" },
                                { label: "Logistica Nota de Entrada", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaNotaEntrada == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Lancamentos/':'#' }" },
                                { label: "Logistica Nota de Saídas", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaNotaSaida == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Lancamentos/':'#' }" },
                                { label: "Logistica Lançamentos", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaLancamentos == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Lancamentos/':'#' }" },
                                { label: "Logistica Estoque", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaEstoque == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Estoque/':'#' }" },
                                { label: "Logistica Depreciações", category: "#{sessaoMB.usuario.idPerfil.idAcesso.logisticaDepreciacao == true and sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica == true ? '/MSC/Restrito/Depreciacao/':'#' }" },
                                { label: "Comercial Proposta Financeira", category: "#{sessaoMB.usuario.idPerfil.idAcesso.comercialProposta == true and sessaoMB.usuario.idPerfil.idAcesso.moduloComercial == true ? '/MSC/Restrito/PropostaFinanceira/':'#' }" },
                                { label: "Comercial Contratos ", category: "#{sessaoMB.usuario.idPerfil.idAcesso.comercialContrato == true and sessaoMB.usuario.idPerfil.idAcesso.moduloComercial == true  ? '/MSC/Restrito/Contrato/':'#' }" },
                                { label: "Gestão de Resultados", category: "#{sessaoMB.usuario.idPerfil.idAcesso.gestaoResultado == true and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro == true  ? '/MSC/Restrito/GestaoResultado/':'#' }" },
                                { label: "Configurações", category: "#{sessaoMB.usuario.idPerfil.idAcesso.configuracao == true ? '/MSC/Restrito/Configuracoes/':'#' }" }
                                          
                            ];
                            $( "#tags" ).autocomplete({
                                source: data,
                                width: 280,
                                select: function( event, ui ) {
                                    var link = ui.item.category ;
                                    var http = window.location.protocol;
                                    var host = window.location.host;
                                    if(link.indexOf("#") > -1){
                                        sweetAlert("Oops...", "Você não tem acesso á este módulo", "error");
                                    }   else{
                                        $(location).attr('href', http+"//"+host+link);
                                    }            
                                   
                                }
                            });
                        });
                    </script>
                    <script>
                        var wi = $('#navbar-search2').width();
                        $('#tags').width(wi);
                        //                        $( "#"+window.location.pathname ).addClass( "active" );
                    </script>
                    <script type="text/javascript">
                        var idleTime = 0;
                        $(document).ready(function () {
                            //Increment the idle time counter every minute.
                            idleInterval = setInterval(timerIncrement, 60000); // a cada minuto parado incrementa

                            //Zero the idle timer on mouse movement.
                            $('body').mousemove(function (e) {
                                idleTime = 0;
                            });

                            $('body').keypress(function (e) {
                                idleTime = 0;
                            });

                            $('body').click(function() {
                                idleTime = 0;
                            });

                        });
                        function timerIncrement() {
                            idleTime = idleTime + 1;
                            var http = window.location.protocol;
                            var host = window.location.host;
                            var link = http+"//"+host+"/MSC";
                            if (idleTime > 30) { // 30 Envia o aviso
                                swal({
                                    title: "Sessão foi expirada!",   
                                    text: "O Sistema detectou inatividade do usuário e encerrou o sessão por segurança!",   
                                    type: "warning",   
                                    showCancelButton: false,   
                                    confirmButtonColor: "#DD6B55",   
                                    confirmButtonText: "OK, entendo!",   
                                    closeOnConfirm: false 
                                }, function(){
                                    window.location.assign(link)}
                            );
                              
                            }
                        }
                    </script> 
                    <script>
                        //                        ATALHOS
                        shortcut.add("Shift+F",function() {
                            $('#tags').focus();
                        });
                        
                    </script>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Digite o que deseja pesquisar! Shift+F" id="tags"  style="width:300% ;     height: 29px; margin-top: 2.5px; "/>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
                <li class="dropdown" style="display:#{sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica==false?'none':''}" >
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Alertas"> 
                        <i class="icon-warning"></i>
                        <span class="label label-warning">
                            <h:form >
                                <h:outputText  value="#{produtoMB.produtosEstoqueMinimoAtingido().size()}" />
                            </h:form>
                        </span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <span>Produtos com Est Min Atingido</span>
                        </div>
                        <h:form>
                            <ul class="popup-messages">
                                <ui:repeat value="#{produtoMB.produtosEstoqueMinimoAtingido()}" var="proa">
                                    <li class="unread">
                                        <a href="#">
                                            <strong><h:outputText value="#{proa.descricao}" /></strong>
                                            <span>Estoque: <h:outputText value="#{proa.quantidade}" /></span><br/>
                                            <span>Minimo: <h:outputText value="#{proa.estoqueMin}" /></span><br/>
                                        </a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </h:form>
                    </div>
                </li>

                <li class="dropdown" style="display:#{sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro==false?'none':''}">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Contas á Pagar"> 
                        <i class="icon-tag5"></i>
                        <span class="label label-danger">
                            <h:form id="qntPagar">
                                <h:outputText  value="#{pagamentoMB.listarContasVencendoHoje().size()}" />
                            </h:form>
                        </span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <span>Contas á Pagar</span>
                        </div>
                        <h:form>
                            <ul class="popup-messages">
                                <ui:repeat value="#{pagamentoMB.listarContasVencendoHoje()}" var="cph">
                                    <li class="unread">
                                        <a href="#">
                                            <h:graphicImage  name="images/Pagar.png" styleClass="user-face" />
                                            <strong><h:outputText value="#{cph.idFornecedor.nome}" /></strong>
                                            <span>Documento: <h:outputText value="#{cph.numDocto}" /></span><br/>
                                            <span>
                                                <h:outputText value="#{cph.valorDuplicata}" >
                                                    <f:convertNumber  type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                </h:outputText>
                                            </span>
                                            <br/>
                                            <p:commandButton value="Pagar" styleClass="btn btn-danger"  action="#{pagamentoMB.pagar(cph)}" update="@all, :msg, :qntPagar" />
                                            <p:commandButton value="Adiar"  styleClass="btn btn-default" action="#{pagamentoMB.adiar(cph)}" update="@all, :msg, :qntPagar" />
                                        </a>
                                    </li>
                                </ui:repeat>

                            </ul>
                        </h:form>
                    </div>
                </li>  
                <li class="dropdown" style="display:#{sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro==false?'none':''}">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Contas à Receber">
                        <i class="icon-coin"></i>
                        <span class="label label-success">
                            <h:form id="frmTotalVencendoHoje">
                                <h:outputText value="#{recebimentoMB.contarContasVencendoHoje()}"  />
                            </h:form>
                        </span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <span>Contas á Receber</span>
                        </div>
                        <h:form>
                            <ul class="popup-messages">
                                <ui:repeat value="#{recebimentoMB.listarContasVencendoHoje()}" var="crh">
                                    <li class="unread">
                                        <a href="#">
                                            <h:graphicImage  name="images/Receber.png" styleClass="user-face" />
                                            <strong>
                                                <h:outputText value="#{crh.idCliente.nome}" />
                                            </strong>
                                            <span>
                                                Documento: <h:outputText value="#{crh.numDocto}" />
                                            </span><br/>
                                            <span>
                                                <h:outputText value="#{crh.valorDuplicata}">
                                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                                </h:outputText>
                                            </span>
                                            <br/>
                                            <p:commandButton value="Receber" styleClass="btn btn-success" action="#{recebimentoMB.receber(crh)}" update="@all, :msg,:frmTotalVencendoHoje " />
                                            <p:commandButton value="Adiar"  styleClass="btn btn-default"  action="#{recebimentoMB.adiar(crh)}" update="@all, :msg,:frmTotalVencendoHoje "/>
                                        </a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </h:form>
                    </div>
                </li>



                <li class="user dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <h:graphicImage name="images/Digital.png" />
                        <span>#{sessaoMB.usuario.nome} </span>
                        <i class="caret"></i>
                    </a>
                    <script>
                        var currFFZoom = 1;
                        var currIEZoom = 100;

                        function plus(){
                            //alert('sad');
                            var step = 5;
                            currFFZoom += step;
                            $('body').css('MozTransform','scale(' + currFFZoom + ')');
                            var stepie = 5;
                            currIEZoom += stepie;
                            $('body').css('zoom', ' ' + currIEZoom + '%');

                        };
                        function minus(){
                            //alert('sad');
                            var step = 5;
                            currFFZoom -= step;
                            $('body').css('MozTransform','scale(' + currFFZoom + ')');
                            var stepie = 5;
                            currIEZoom -= stepie;
                            $('body').css('zoom', ' ' + currIEZoom + '%');
                        };
                    </script>
                    <ul class="dropdown-menu dropdown-menu-right icons-right">
                        <li><a href="/MSC/Restrito/Profile/"><i class="icon-user"></i> Perfil</a></li>
                        <li><a href="#"><i class="icon-cog"></i> Configurações</a></li>
                        <li><a href="#" onclick="plus()" ><i class="icon-zoom-in"></i> Zoom ++</a></li>
                        <li><a href="#" onclick="minus()"><i class="icon-zoom-out"></i> Zoom --</a></li>
                        <li><a href="#" onclick="mostaOcultaLog()" ><i class="icon-file4"></i>Logs</a></li>
                        <li><a data-toggle="modal" data-target="#myModal" ><i class="icon-file4"></i>Logs Glassfish</a></li>
                        <li><a href="#{request.contextPath}/j_spring_security_logout" ><i class="icon-switch"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <style>
            .modal .modal-body {
                max-height: 420px;
                overflow-y: auto;
            }
        </style>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h:form>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Logs de Erro Glassfish</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <p>
                                    <h:outputText value="#{configuracaoMB.log}" />
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p:commandButton value="Reload" styleClass="btn btn-default" action="#{configuracaoMB.verlog()}" update="@form" />
                            <p:commandButton value="Limpar" styleClass="btn btn-default" action="#{configuracaoMB.limparLog()}" update="@form" />
                            <button type="button" styleClass="btn btn-default"  data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>




        <p:dialog widgetVar="dlgLogs" modal="true" header="Logs de Erros" width="90%" closeOnEscape="true">
            <div class="row">
                <div class="col-md-12" >
                    <p:scrollPanel style="width:50%;height:500px">
                        <h:form style="overflow:scroll; height: 100%; ">

                        </h:form>
                    </p:scrollPanel>  

                </div>
            </div>
        </p:dialog>
        <div class="page-container">
            <div class="sidebar">
                <div class="sidebar-content">

                    <div class="user-menu dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <h:graphicImage name="images/Digital.png" />
                            <div class="user-info">
                                #{sessaoMB.usuario.nome} <span>#{sessaoMB.usuario.idPerfil.descricao}</span>
                            </div>
                        </a>
                        <div class="popup dropdown-menu dropdown-menu-right" style="display: none;">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <h:graphicImage name="images/Digital.png" />
                                </div>

                                <div class="caption text-center">
                                    <h6> #{sessaoMB.usuario.nome} <span>#{sessaoMB.usuario.idPerfil.descricao}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="navigation">
                        <li><a id="/MSC/Restrito/index.xhtml"  href="/MSC/Restrito/index.xhtml"><span>Inicio</span> <i class="icon-home"></i></a></li>
                        <li >
                            <a href="#" title="Cadastros"><span>Cadastros</span> <i class="icon-drawer3"></i></a>
                            <ul>
                                <bcr:subMenu label="Cliente" rendered="#{sessaoMB.verificaMenuCliente()}">
                                    <bcr:menuItem  label="Novo / Editar" url="/MSC/Restrito/Cliente/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCliente}" />
                                    <bcr:menuItem label="Local de Trabalho" url="/MSC/Restrito/LocalTrabalho/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroLocalTrabalho}" />
                                </bcr:subMenu>
                                <bcr:menuItem label="Fornecedor" url="/MSC/Restrito/Fornecedor/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroFornecedor}" />
                                <bcr:subMenu label="Produto"  rendered="#{sessaoMB.verificaMenuProduto()}">
                                    <bcr:menuItem label="Novo / Editar" url="/MSC/Restrito/Produto/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroProduto}" />
                                    <bcr:menuItem label="Grupo" url="/MSC/Restrito/Grupo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroGrupo}" />
                                    <bcr:menuItem label="Sub-Grupo" url="/MSC/Restrito/Subgrupo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroSubgrupo}" />
                                    <bcr:menuItem label="Unidade" url="/MSC/Restrito/Unidade/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroUnidade}" />
                                    <bcr:menuItem label="NCM" url="/MSC/Restrito/NCM/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroNcm}"/>
                                    <bcr:menuItem label="Localizações" url="/MSC/Restrito/Localizacao/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroLocalizacao}"/>
                                </bcr:subMenu>
                                <bcr:subMenu label="Empresa" rendered="#{sessaoMB.verificaMenuEmpresa()}">
                                    <bcr:menuItem label="Nova / Editar" url="/MSC/Restrito/Empresa/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEmpresa}"/>
                                    <bcr:menuItem label="Colaborador" url="/MSC/Restrito/Colaborador/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroColaborador}" />
                                    <bcr:menuItem label="Usuário" url="/MSC/Restrito/Usuario/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroUsuario}" />
                                    <bcr:menuItem label="Perfil" url="/MSC/Restrito/Perfil/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPerfil}" />
                                    <bcr:menuItem label="Setor" url="/MSC/Restrito/Setor/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroSetor}" />
                                    <bcr:menuItem label="Cargo" url="/MSC/Restrito/Cargo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCargo}" />
                                </bcr:subMenu>

                                <bcr:subMenu label="Logística" rendered="#{sessaoMB.verificaMenuLogistica()}">

                                    <bcr:subMenu label="Ativo"  rendered="#{sessaoMB.verificaMenuAtivo()}">
                                        <bcr:menuItem label="Novo / Editar" url="/MSC/Restrito/Ativo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAtivo}" />
                                        <bcr:menuItem label="Grupo Ativo" url="/MSC/Restrito/AtivoGrupo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroGrupoativo}" />
                                        <bcr:menuItem label="Tipo Ativo" url="/MSC/Restrito/AtivoTipo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroTipoativo}" />
                                        <bcr:menuItem label="Modelo Ativo" url="/MSC/Restrito/AtivoModelo/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroModeloativo}"/>
                                    </bcr:subMenu>
                                    <bcr:menuItem label="Transportadora" url="/MSC/Restrito/Transportadora/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroTransportadora}"/>
                                </bcr:subMenu>

                                <bcr:subMenu label="Financeiro" rendered="#{sessaoMB.verificaMenuFinanceiro() and sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro}">
                                    <bcr:subMenu label="Plano de Contas/Centro de Custo" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanoContas}">
                                        <bcr:menuItem label="Novo / Editar" url="/MSC/Restrito/PlanoConta/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanoContas}" />
                                        <bcr:menuItem label="Agrupamento" url="/MSC/Restrito/Agrupamento/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroAgrupamento}" />
                                        <bcr:menuItem label="Centro de Custo" url="/MSC/Restrito/CentroCusto/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCentrocusto}" />
                                    </bcr:subMenu>
                                    <bcr:subMenu label="Bancos" rendered="#{sessaoMB.verificaMenuBancos()}">
                                        <bcr:menuItem label="Novo / Editar" url="/MSC/Restrito/Banco/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroBanco}" />
                                        <bcr:menuItem label="Conta Corrente" url="/MSC/Restrito/ContaCorrente/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroContacorrente}" />
                                    </bcr:subMenu>
                                    <bcr:menuItem label="Forma de pagamento" url="/MSC/Restrito/FormaPagamento/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroFormapagamento}" />
                                </bcr:subMenu>

                                <bcr:subMenu label="Comercial" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanilha}">
                                    <bcr:menuItem label="Tipo de Propostas" url="/MSC/Restrito/TipoProposta/" rendered="false" />
                                    <bcr:menuItem label="Planilhas de Produto" url="/MSC/Restrito/PlanilhaProdutos/" rendered="false" />
                                    <bcr:menuItem label="Levant. Téc. de Mão-de-Obra" url="/MSC/Restrito/PlanilhaMaoObra/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanilha}" />
                                </bcr:subMenu>
                                <bcr:subMenu label="Outros" rendered="#{sessaoMB.verificaMenuOutros()}">
                                    <bcr:menuItem label="Estado" url="/MSC/Restrito/Estado/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEstado}" />
                                    <bcr:menuItem label="Cidade" url="/MSC/Restrito/Cidade/" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCidade}" />
                                </bcr:subMenu>
                            </ul>
                        </li>
                        <bcr:menuItemSingle url="/MSC/Restrito/Financeiro" icon="icon-coin" title="Financeiro"
                                            rendered="#{sessaoMB.usuario.idPerfil.idAcesso.moduloFinanceiro}"/>
                        <li style="display:#{sessaoMB.usuario.idPerfil.idAcesso.moduloLogistica==false?'none':''}">
                            <a href="#" title="Logística"><span>Logística</span> <i class="icon-cart-checkout"></i></a>
                            <ul>
                                <bcr:menuItem label="Requisição" url="/MSC/Restrito/Requisicao" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaRequisicao}" />
                                <bcr:menuItem label="Compras" url="/MSC/Restrito/Compras" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaCompras}" />
                                <bcr:menuItem label="Lançamentos" url="/MSC/Restrito/Lancamentos"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaLancamentos}"/>
                                <bcr:menuItem label="Estoque" url="/MSC/Restrito/Estoque" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaEstoque}" />
                                <bcr:subMenu label="Depreciações" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaDepreciacao}">
                                    <bcr:menuItem label="Consultar" url="/MSC/Restrito/Depreciacao" />
                                </bcr:subMenu>
                            </ul>
                        </li>
                        <li style="display:#{sessaoMB.usuario.idPerfil.idAcesso.moduloComercial==false?'none':''}">
                            <a href="#" title="Comercial"><span>Comercial</span> <i class="icon-file6"></i></a>
                            <ul>
                                <bcr:menuItem label="Proposta Financeira" url="/MSC/Restrito/PropostaFinanceira"  />
                                <bcr:menuItem label="Contratos" url="/MSC/Restrito/Contrato"   />
                            </ul>
                        </li>
                        <bcr:menuItemSingle url="/MSC/Restrito/GestaoResultado" icon="icon-stats2" title="Gestão de Resultado" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.gestaoResultado}" />
                        <bcr:menuItemSingle url="/MSC/Restrito/Configuracoes" icon="icon-cogs" title="Configurações" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.configuracao}" />

                    </ul>
                </div>
            </div>
            <div class="page-content">

                <div class="page-header">
                    <div class="page-title">
                        <h3> <ui:insert name="titulo"></ui:insert> <small><ui:insert name="descriptionpage"></ui:insert></small></h3>
                    </div>
                    <div class="range">

                    </div>
                    <div class="range">
                        <h:panelGrid columns="1">
                            <p:clock pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:panelGrid>
                    </div>
                </div>

                <!-- Breadcrumbs line -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Inicio</a></li>
                                <li class="active"><ui:insert name="breadcrumb"></ui:insert></li>
                            </ul>
                            <div class="visible-xs breadcrumb-toggle">
                                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
                            </div>
                            <ul class="breadcrumb-buttons collapse">
                                <!--                                <p:ajaxStatus >
                                                                    <f:facet name="start">
                                                                        <p:graphicImage name="images/82.GIF" />
                                                                    </f:facet>
                                                       </p:ajaxStatus> -->         
                                <p:ajaxStatus onsuccess="setTimeout(function() { $('.ui-messages').slideUp(); }, 10000); "   >
                                    <f:facet name="start">
                                        <p:graphicImage name="images/82.GIF" />
                                    </f:facet>
                                </p:ajaxStatus> 
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Default panel --> 
                <div class="row">
                    <div class="col-md-12">
                        <p:messages id="msg" closable="true"  />
                    </div>
                </div>
                <div class="row">
                    <ui:insert name="content">

                    </ui:insert>
                    <div class="col-md-12">

                    </div>
                </div>

                <!-- Footer -->
                <div class="footer clearfix">
                    <hr/>
                    <div class="pull-left">&copy; 2015. MSC by <a href="http://www.uxsolucoes.com.br" target="_blank">UX Soluções em TI</a></div>
                    <div class="pull-right icons-group">

                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>

