<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Tipos de Propostas" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="tipoProposta" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form, :msg2" icon="Excluir" actionListener="#{tipoPropostaMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="tipoProposta" value="#{tipoPropostaMB.listarTodos()}" var="tipo" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{tipo.idTipoProposta}" selection="#{tipoPropostaMB.tipoProposta}" selectionMode="single">
                <f:facet name="header">
                    Tipos de Propostas
                </f:facet>
                <f:facet name="footer">
                    #{tipoPropostaMB.listarTodos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{tipo.idTipoProposta}" width="8%" sortBy="#{tipo.idTipoProposta}">
                    <center>
                        <h:outputText value="#{tipo.idTipoProposta}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{tipo.descricao}" width="20%" sortBy="#{tipo.descricao}">
                    <h:outputText value="#{tipo.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>