<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Tipos de Propostas
            </ui:define>
            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os tipos a ser usados em Propostas Financeiras.
            </ui:define>
            <ui:define name="breadcrumb">
                Cadastro de Tipo de Propostas.
            </ui:define>  
            <ui:define name="content" id="conteudo">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Tipos de Proposta" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroTipoProposta}">
                        <ui:include src="consultarTipoProposta.xhtml"/>
                        <ui:include src="inserirTipoProposta.xhtml"/>
                    </p:panel>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
