<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgSuprimento" header="Lançamento de Suprimento" modal="true" width="60%" resizable="false"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaSuprimento}">
        <h:form id="frmSuprimento">
            <p:messages id="msgSuprimento" closable="true" />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <p:outputLabel for="ccDest2" value="Caixa Destino" />
                    <p:inputText id="ccDest2" value="#{caixaMB.caixa.dtCaixa}" readonly="true" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </p:inputText>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <p:outputLabel for="valSup" value="Valor" />
                    <pe:inputNumber id="valSup" value="#{caixaMB.caixaItem.valor}"
                                    required="true" requiredMessage="Informe o valor!" symbol="R$ "
                                    decimalSeparator="," thousandSeparator="." />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="historicSup" value="Histórico" />
                    <p:inputText id="historicSup" value="#{caixaMB.caixaItem.historico}" required="true" requiredMessage="Informe o histórico!" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano7" nameFunc="atalhoPlano7" valueToOpenDialog="Cadastrar Plano" />
                    <p:outputLabel for="planContas5" value="Plano de Contas" />
                    <p:selectOneMenu id="planContas5" value="#{caixaMB.planoContas}" converter="Converter"
                                     styleClass="form-control" filter="true" filterMatchMode="contains"  var="p7" 
                                     requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano7"  onchange="atalhoPlano7(this)">
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans7" 
                                       itemDisabled="#{plans7.tipo=='S'?'true':'false'}"
                                       itemLabel="#{plans7.codigo} - #{plans7.descricao} " itemValue="#{plans67}" /> 
                        <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                        <p:column   >
                            <h:outputText value="#{p7.codigo}" style="font-weight: #{p7.tipo=='S'?'':'bolder'}"  />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{p7.descricao}" style="font-weight: #{p7.tipo=='S'?'':'bolder'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <p:outputLabel for="observacaoSup" value="Observação" />
                    <p:inputText id="observacaoSup" value="#{caixaMB.caixaItem.observacao}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <hr/>
                    <p:commandButton value="Confirmar" action="#{caixaMB.lancarSuprimento(caixaMB.caixa)}"  update="@form,:msg,:tabs:frmMovimentoCaixa, :tabs:frmMovimentoCaixa:dtlMovimento" oncomplete="if (!args.validationFailed){PF('dlgSuprimento').hide();}"  icon="Selecionar"/>
                </div>
            </div>
        </h:form>
    </p:dialog>


</ui:composition>