<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i>Logística
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode gerenciar, prover recursos, equipamentos e informações para a execução de todas as atividades.
            </ui:define>
            <ui:define name="breadcrumb">
                Logística
            </ui:define>
            <ui:define name="content">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <p:tabView id="tabs" dynamic="true" cache="true">
                                <p:tab title="Requisição de Materiais" >
                                    <div class="row">
                                        <ui:include src="../RequisicaoMaterial/index.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Lancar.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Ver.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Pesquisar.xhtml" />
                                    </div>
                                </p:tab>
                                <p:tab   id="analise" >
                                    <f:facet name="title">
                                        Análise de Requisições
                                    </f:facet>
                                    <ui:include src="../RequisicaoMaterial/Analisar.xhtml" />
                                </p:tab>
                                <p:tab >
                                    <f:facet name="title">
                                        Análise de Almoxarifado
                                    </f:facet>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p:accordionPanel>
                                                <p:tab title="Requisições Aguardando Análise">
                                                    <h:form>
                                                        <p:dataTable value="#{requisicaoMaterialMB.listaRequisicoesParaAlmoxarifado()}" var="reqAl" >
                                                            <p:column width="5%">
                                                                <p:rowToggler />
                                                            </p:column>
                                                            <p:column headerText="Requisição" width="8%" styleClass="centralizar">
                                                                <h:outputText value="#{reqAl.idRequisicaoMaterial}" />
                                                            </p:column>
                                                            <p:column headerText="Cliente" >
                                                                <h:outputText value="#{reqAl.idCliente.nome}" />
                                                            </p:column>
                                                            <p:column headerText="Local" >
                                                                <h:outputText value="#{reqAl.idLocalTrabalho.descricao}" />
                                                            </p:column>
                                                            <p:column headerText="Data" styleClass="centralizar" width="10%">
                                                                <h:outputText value="#{reqAl.dtCadastro}" >
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </h:outputText>
                                                            </p:column>
                                                            <p:column headerText="Status" styleClass="centralizar" width="10%">
                                                                <h:outputText value="#{reqAl.status}" />
                                                            </p:column>
                                                            <p:column >
                                                                <p:commandButton value="Saída" styleClass="btn-sm" action="#{requisicaoMaterialMB.finalizarSaidaRequisicaoMaterial(reqAl)}" update="@form, :msg"  disabled="#{requisicaoMaterialMB.verificarSePodeSair(reqAl.requisicaoMaterialItemList)}"/>
                                                                <p:commandButton value="Imprimir" styleClass="btn-sm"  />
                                                            </p:column>
                                                            <p:rowExpansion>
                                                                <p:dataTable value="#{reqAl.requisicaoMaterialItemList}" var="itmReq"  >
                                                                    <p:column headerText="Produto" style="background: #{itmReq.status=='Aceito'? 'rgb(212, 255, 212)':''} " >
                                                                        <h:outputText value="#{itmReq.idProduto.descricao}" />
                                                                    </p:column>
                                                                    <p:column headerText="Est. Disponível" styleClass="centralizar" style="background: #{itmReq.status=='Aceito'? 'rgb(212, 255, 212)':''} " >
                                                                        <h:outputText value="#{itmReq.idProduto.quantidade}" />
                                                                    </p:column>
                                                                    <p:column headerText="Qnt. Requisitada" styleClass="centralizar" style="background: #{itmReq.status=='Aceito'? 'rgb(212, 255, 212)':''} " >
                                                                        <h:outputText value="#{itmReq.quantidade}" />
                                                                    </p:column>
                                                                    <p:column styleClass="centralizar"  style="background: #{itmReq.status=='Aceito'? 'rgb(212, 255, 212)':''} " >
                                                                        <h:graphicImage name="#{requisicaoMaterialMB.verificarQuantidadeItemEstoque(itmReq)}" /> 
                                                                    </p:column>
                                                                    <p:column headerText="Situação" style="background: #{itmReq.status=='Aceito'? 'rgb(212, 255, 212)':''} "  >
                                                                        <h:outputText value="#{itmReq.status}" />
                                                                    </p:column>
                                                                    <p:column  width="20%" >
                                                                        <p:commandButton value="Confirmar"  icon="Selecionar" disabled="#{ itmReq.quantidade > itmReq.idProduto.quantidade or itmReq.status=='Aceito' }" action="#{requisicaoMaterialMB.confirmarAnaliseDeItem(itmReq)}" update="@form"  />
                                                                        <p:commandButton value="Cotar" icon="Solicitar" action="#{requisicaoMaterialMB.cotarItem(itmReq)}"  disabled="#{itmReq.idProduto.quantidade >=  itmReq.quantidade or itmReq.status=='Aceito' }" />
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </p:rowExpansion>
                                                        </p:dataTable>
                                                    </h:form>
                                                </p:tab>
                                                <p:tab title="Cotação" id="tbCotacao">
                                                    <h:form id="frmCotacao">
                                                        <div class="col-md-2">
                                                            <p:outputLabel for="dtCotacao" value="Data da Cotação" />
                                                            <p:calendar id="dtCotacao" value="#{requisicaoMaterialMB.cotacao.dtCadastro}"/>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p:outputLabel for="Status" value="Status" />
                                                            <p:inputText readonly="true" id="Status" value="#{requisicaoMaterialMB.cotacao.status}" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p:outputLabel for="usuario" value="Usuário" />
                                                            <p:inputText  id="usuario" value="#{requisicaoMaterialMB.cotacao.idUsuario.nome}" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p:outputLabel for="vlrTotal" value="Total" />
                                                            <p:inputText  id="vlrTotal" value="#{requisicaoMaterialMB.cotacao.valortotal}" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <hr/>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p:dataTable value="#{requisicaoMaterialMB.cotacao.cotacaoItemList}" var="cotItem" emptyMessage="Nenhum item cotado!" >

                                                            </p:dataTable>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <hr/>
                                                            <p:commandButton value="Salvar Cotação" />
                                                            <br/>
                                                        </div>
                                                    </h:form>
                                                </p:tab>
                                                <p:tab title="Ordem de Compra">

                                                </p:tab>
                                            </p:accordionPanel>
                                        </div>
                                    </div>
                                </p:tab>
                                <p:tab >
                                    <f:facet name="title">
                                        Ordem de Compra
                                    </f:facet>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
