<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgDepositoBancario" modal="true" position="top" header="Consulta de Movimentação Bancária" width="80%" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoDeposito}">
        <h:form id="frmDeposito">
            <p:messages closable="true" />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"  >
                    <p:outputLabel for="dtDeposit" value="Data do Depósito"  />
                    <p:calendar id="dtDeposit" locale="pt" value="#{movimentacaoBancariaMB.movimentacaoBancaria.dtMovimentacaoBancariaItem}"  required="true" requiredMessage="Informe a data do depósito!"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"  >
                    <p:outputLabel for="vlrDeposito" value="Valor do Depósito" />
                    <pe:inputNumber id="vlrDeposito" value="#{movimentacaoBancariaMB.movimentacaoBancaria.valor}" symbol="R$ "   
                                    decimalSeparator="," thousandSeparator="." required="true" requiredMessage="Informe o valor do depósito!">  
                    </pe:inputNumber> 
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano9" nameFunc="atalhoPlano9" valueToOpenDialog="Cadastrar Plano" />
                    <p:outputLabel for="planContas9" value="Plano de Contas" />
                    <p:selectOneMenu id="planContas9" value="#{movimentacaoBancariaMB.movimentacaoBancaria.idPlanoContas}" converter="Converter"
                                     styleClass="form-control" filter="true" filterMatchMode="contains"  var="p9"  required="true" 
                                     requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano9"  onchange="atalhoPlano9(this)">
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans9" 
                                       itemDisabled="#{plans9.tipo=='S'}"
                                       itemLabel="#{plans9.codigo} - #{plans9.descricao} " itemValue="#{plans9}" /> 
                        <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                        <p:column   >
                            <h:outputText value="#{p9.codigo}" style="#{p9.tipo=='S'? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{p9.descricao}" style="#{p9.tipo=='S' ? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="HistDeposito" value="Histórico" />
                    <p:inputText id="HistDeposito" value="#{movimentacaoBancariaMB.movimentacaoBancaria.historico}" required="true" requiredMessage="Informe o histórico!" />
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="obsDeposito" value="Observação" />
                    <p:inputText id="obsDeposito" value="#{movimentacaoBancariaMB.movimentacaoBancaria.observacao}" />
                </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                <hr/>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                <p:commandButton value="Confirmar" action="#{movimentacaoBancariaMB.depositar()}" update="@form, :msg, :tabs:frmMovimentoBancario:dtlMovimentoBancario" oncomplete="if (!args.validationFailed ) PF('dlgDepositoBancario').hide();"  />
            </div>
            <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                <p:panelGrid columns="2">
                    <h:outputText value="Banco Destino: " />
                    <h:outputText value="#{movimentacaoBancariaMB.banco.nome}" />
                    <h:outputText value="Conta: " />
                    <h:outputText value="#{movimentacaoBancariaMB.contaCorrente.numConta}" />
                    <h:outputText value="Gestor: " />
                    <h:outputText value="#{movimentacaoBancariaMB.contaCorrente.gestor}" />
                </p:panelGrid>
            </div>

        </h:form>
    </p:dialog>


</ui:composition>