<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
 
    <p:dialog widgetVar="dlgPesquisaMovBancario" modal="true" position="top" header="Consulta de Movimentação Bancária" width="30%" resizable="false" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoPesquisar}">
        <h:form id="frmConsultaMovBancario">
            <p:messages closable="true" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                <p:outputLabel for="idBank" value="Banco" />
                <p:selectOneMenu id="idBank" value="#{movimentacaoBancariaMB.banco}" converter="Converter" styleClass="form-control"
                                 required="true" requiredMessage="Informe o banco" filter="true" filterMatchMode="contains" var="bak" >
                    <f:selectItem itemLabel="Selecione o banco!" itemValue="" />
                    <f:selectItems value="#{bancoMB.listarBancos()}" var="baks"
                                   itemLabel="#{baks.numeroBanco} - #{baks.nome}" itemValue="#{baks}" />
                    <f:selectItem itemLabel="Cadastrar Banco" itemValue="cadban" />
                    <p:column>
                        <h:outputText value="#{bak.numeroBanco}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{bak.nome}" />
                    </p:column>
                    <p:ajax event="change" update=":tabs:frmConsultaMovBancario:idContaCorr" />
                </p:selectOneMenu>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                <p:outputLabel for="idContaCorr" value="Conta Corrente" />
                <p:selectOneMenu id="idContaCorr" value="#{movimentacaoBancariaMB.contaCorrente}" converter="Converter" 
                                 required="true" requiredMessage="Informe a conta" filter="true"  styleClass="form-control"
                                 filterMatchMode="contains" var="contaCor" >
                    <f:selectItem itemLabel="Selecione a conta!" itemValue="" />
                    <f:selectItems value="#{movimentacaoBancariaMB.banco.contaCorrenteList}" var="ccontas"
                                   itemLabel="#{ccontas.numConta} - #{ccontas.numAgencia} - #{ccontas.gestor}" itemValue="#{ccontas}" />
                    <f:selectItem itemLabel="Cadastrar Conta" itemValue="cadCon" />
                    <p:column>
                        <h:outputText value="#{contaCor.numConta}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{contaCor.numAgencia}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{contaCor.gestor}" />
                    </p:column>
                </p:selectOneMenu>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                <p:outputLabel for="dtMovBanco" value="Data do Movimento" />
                <h:panelGrid id="dtMovBanco" columns="3" width="100%" cellpadding="25%">
                    <p:calendar value="#{movimentacaoBancariaMB.dtMovimentoInicial}" locale="pt" pattern="dd/MM/yyyy" showButtonPanel="true" />
                    <h:outputText value=" à " />
                    <p:calendar value="#{movimentacaoBancariaMB.dtMovimentoFinal}" locale="pt" pattern="dd/MM/yyyy" showButtonPanel="true"/>
                </h:panelGrid>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                <hr/>
                <p:commandButton value="Pesquisar" icon="Consultar" action="#{movimentacaoBancariaMB.pesquisarMovimentoBancario()}" update="@form,:tabs:frmMovimentoBancario:dtlMovimentoBancario, :tabs:frmMovimentoBancario, :tabs:frmDeposito" oncomplete="if (!args.validationFailed ) PF('dlgPesquisaMovBancario').hide();"/>
            </div>
        </h:form>
    </p:dialog>




</ui:composition>