<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <h:form id="frmMovimentoBancario">
        <div class="col-md-12">

            <p:commandButton  value="Pesquisar" icon="Consultar" update=":tabs:frmConsultaMovBancario"  oncomplete="PF('dlgPesquisaMovBancario').show();"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoPesquisar}" />
            <p:commandButton  value="Depósito " icon="Deposito" action="#{movimentacaoBancariaMB.novoLancamentoBancario()}" update=":tabs:frmDeposito" oncomplete="PF('dlgDepositoBancario').show();"  disabled="#{movimentacaoBancariaMB.verificaSePodeSacarDepositarTransferir()}" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoDeposito}"  />
            <p:commandButton  value="Saque " icon="Saque" action="#{movimentacaoBancariaMB.novoLancamentoBancario()}" update=":tabs:frmSaque" oncomplete="PF('dlgSaqueBancario').show();"  disabled="#{movimentacaoBancariaMB.verificaSePodeSacarDepositarTransferir()}"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoSaque}" />
            <p:commandButton  value="Transferencia Caixa" icon="Transferencia" action="#{movimentacaoBancariaMB.novoLancamentoBancario()}" update=":tabs:frmTransferenciaBancoCaixa" oncomplete="PF('dlgTransferenciaBancoCaixa').show();"  disabled="#{movimentacaoBancariaMB.verificaSePodeSacarDepositarTransferir()}" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoTransferencia}" />
            <p:commandButton  value="Transferencia Bancária" icon="Transferencia" action="#{movimentacaoBancariaMB.novoLancamentoBancario()}" update=":tabs:frmTransferenciaBancaria2" oncomplete="PF('dlgTransferenciaBancaria2').show();" disabled="#{movimentacaoBancariaMB.verificaSePodeSacarDepositarTransferir()}" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoTransferencia}" />
            <p:commandButton  value="Extrato Bancário" icon="Imprimir" oncomplete="PF('dlgExtratoBancario').show();" />

            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contextMovimentoBancario" for="dtlMovimentoBancario" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoPesquisar}">
                <p:menuitem value="Ver"   icon="Info" />
                <p:menuitem value="Excluir" icon="Excluir" />
            </p:contextMenu>
            <p:dataTable id="dtlMovimentoBancario" var="movBanc" value="#{movimentacaoBancariaMB.listaMovimentacoes}"
                         selectionMode="single"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoPesquisar}"
                         selection="#{movimentacaoBancariaMB.movimentacaoBancaria}" rowKey="#{movBanc.idmovimentacaobancariaItem}"
                         paginator="true" rows="10" emptyMessage="Nenhuma movimento!" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom">
                <f:facet name="header">
                    <h:outputText value="Listagem do Movimento Bancário"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtlMovimentoBancario" fileName="movimentoBancario"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtlMovimentoBancario" fileName="movimentoBancario"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para XML">
                        <p:graphicImage name="/icons/XML.png" />
                        <p:dataExporter type="xml" target="dtlMovimentoBancario" fileName="movimentoBancario"  />
                    </h:commandLink>
                </f:facet>
                <p:column headerText="Historico" width="30%"  style="font-size: 10px;" >
                    <h:outputText value="#{movBanc.historico}" />
                </p:column>
                <p:column headerText="Conta" width="15%" styleClass="hidden-xs hidden-sm " style="font-size: 10px;" >
                    <h:outputText value="#{movBanc.idPlanoContas.descricao}" />
                </p:column>
                <p:column headerText="Data" width="15%" styleClass="centralizar"  >
                    <h:outputText value="#{movBanc.dtMovimentacaoBancariaItem}" >
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="12%"  style="text-align: center;" >
                    <h:outputText value="#{movBanc.valor}" style=" #{movBanc.tipo=='C'?'color:green':'color:red'}" >
                        <f:convertNumber  type="currency" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Tipo" width="8%"  style="text-align: center;" >
                    <h:outputText value="#{movBanc.tipo}" style=" #{movBanc.tipo=='C'?'color:green':'color:red'}" />
                </p:column>
                <p:column headerText="Movimento" width="10%" styleClass="hidden-xs hidden-sm " >
                    <h:outputText value="#{movBanc.tipoMovimento}" />
                </p:column>
                <f:facet name="footer">
                    <h:outputText value="Banco: #{movimentacaoBancariaMB.banco.nome} | Agência: #{movimentacaoBancariaMB.contaCorrente.numAgencia} | Conta: #{movimentacaoBancariaMB.contaCorrente.numConta} | Responsável: #{movimentacaoBancariaMB.contaCorrente.gestor} " />
                </f:facet>
            </p:dataTable>   
            <hr/>
        </div>
        <h:panelGroup id="pnlResultadosBancarios">
            <div class="block">
                <ul class="statistics">
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-success"><i class="icon-coin"></i></a>
                            <h5>
                                <h:outputText value="#{movimentacaoBancariaMB.credito==null?0:movimentacaoBancariaMB.credito}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Créditos</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-warning"><i class="icon-thumbs-down2"></i></a>
                            <h5>
                                <h:outputText value="#{movimentacaoBancariaMB.debito==null?0:movimentacaoBancariaMB.debito}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Débitos</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-info"><i class="icon-point-up"></i></a>
                            <h5>
                                <h:outputText value="#{movimentacaoBancariaMB.saldo}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo</span>
                    </li>
                </ul>
            </div>
        </h:panelGroup>

    </h:form>


</ui:composition>