<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                <p:toolbar id="tb">
                    <f:facet name="left">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{cartaoMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{cartaoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                            <f:param name="mode" value="true"  />
                        </p:commandButton>

                    </f:facet>
                    <f:facet name="right">
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                    </f:facet>
                </p:toolbar>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <p:outputLabel for="descricao" value="Descricão"  />
                        <p:inputText value="#{cartaoMB.cartao.descricao}" id="descricao" required="#{param['mode']}" requiredMessage="Descricão é obrigatório!" />
                    </div>
                    
                    <div class="col-md-4">
                        <p:outputLabel for="tipo" value="Tipo"/>
                        <p:inputText value="#{cartaoMB.cartao.tipo}" id="tipo"/> 
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="inativo" value="Inativo"/>
                        <p:selectOneRadio id="inativo" value="#{cartaoMB.cartao.inativo}" required="#{param['mode']}" requiredMessage="Informe se o cartão está inativo">
                            <f:selectItem itemLabel="Não" itemValue="false"/>
                            <f:selectItem itemLabel="Sim" itemValue="true"/>
                        </p:selectOneRadio>
                    </div>
                    <div class="col-md-4">
                        <p:outputLabel for="taxa_desa" value="Taxa Desagio"/>
                        <pe:inputNumber id="taxa_desa" value="#{cartaoMB.cartao.taxaDesagio}"  readOnly="true" decimalSeparator=","/>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p:outputLabel for="banco" value="Banco"/>
                        <h:panelGrid columns="2" style="width: 100%;">
                            <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoBanco" nameWidgetVar="wvaBanco" nameFunc="atalhoBanco" valueToOpenDialog="Cadastrar Banco" />
                            <p:selectOneMenu id="banco" value="#{cartaoMB.banco}" converter="Converter" 
                                             widgetVar="wvaBanco" onchange="atalhoBanco(this)"
                                             styleClass="form-control" filter="true" filterMatchMode="contains" var="banco" >
                                <f:selectItem itemLabel="Selecione o Banco" itemValue="" />
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="bancos"
                                               itemLabel="#{bancos.idBanco} | #{bancos.nome}" itemValue="#{bancos}" />
                                <f:selectItem itemLabel="Cadastrar Banco" itemValue="cadbc" />
                                <p:column>
                                    <h:outputText value="#{banco.idBanco}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{banco.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{banco.numeroBanco}" />
                                </p:column>
                            </p:selectOneMenu>
                            <p:dialog header="Cadastro de Banco" widgetVar="dlgAtalhoBanco" modal="true"  width="50%" height="600"  position="top">
                                <p:ajax event="close" update="banco" />
                                <iframe src="../Banco/index.xhtml"  width="100%" height="99%" />
                            </p:dialog>
                        </h:panelGrid>

                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>
