<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Estados" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="estados" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{estadoMB.excluir}"/>
            </p:contextMenu>
            <p:dataTable id="estados" value="#{estadoMB.listarEstados()}" var="uf" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom"
                         rowKey="#{uf.idEstado}"
                         selection="#{estadoMB.estado}" selectionMode="single">
                <f:facet name="header">
                    Estados
                </f:facet>
                <f:facet name="footer">
                    #{estadoMB.listarEstados().size()} Registros encontrados.
                </f:facet>
                <p:column headerText="Estado" filterBy="#{uf.nome}" width="20%" sortBy="#{uf.nome}">
                    <h:outputText value="#{uf.nome}" />
                </p:column>
                <p:column headerText="Sigla" filterBy="#{uf.sigla}" width="10%" sortBy="#{uf.sigla}">
                    <center>
                        <h:outputText value="#{uf.sigla}"  />
                    </center>
                </p:column>
                <p:column headerText="Região" filterBy="#{uf.regiao}" sortBy="#{uf.regiao}">
                    <h:outputText value="#{uf.regiao}" />
                </p:column>
                <p:column headerText="Sub Região" filterBy="#{uf.subRegiao}" sortBy="#{uf.subRegiao}">
                    <h:outputText value="#{uf.subRegiao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>