<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="frmCheque">
        <div class="col-md-12">
            <p:commandButton  value="Novo Lançamento" icon="Novo" onclick="PF('dlgLancarChequeAvulso').show();" 
                              action="#{chequeMB.novo()}" update=":tabs:frmLancarChequeAvulso" />
            <p:commandButton  value="Pesquisar" action="#{chequeMB.novo()}" 
                              icon="Consultar" update=":tabs:frmPesquisaCheque"  oncomplete="PF('dlgPesquisaCheques').show();" />
            <p:commandButton value="Imprimir" id="btnExportar" title="Exportar no formato .scq" disabled="#{chequeMB.listaChequeSelecionado.size() == 0}"
                             update=":msg" icon="Salvar" action="#{chequeMB.exportarCheque(null)}"/>
            <p:commandButton value="Compensar" icon="Selecionar" action="#{chequeMB.verificarSePodeCompensar()}" disabled="#{chequeMB.listaChequeSelecionado.size() == 0 or !chequeMB.verificarSePodeCompensar()}"
                             oncomplete="PF('dlgChequesSelecionados').show();" update=":tabs:dtlChequeSelecionados"/>
            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contexto" for="dtblCheques">
                <p:menuitem value="Ver"    icon="Info" disabled="#{chequeMB.verificaSePodeVer()}" update=":tabs:frmVerCheque" 
                            onclick="PF('dlgVerCheque').show();"/>
                <p:menuitem value="Editar"  icon="Editar" action="#{chequeMB.selecionarCheque()}" 
                            onclick="PF('dlgLancarChequeAvulso').show()" 
                            update=":tabs:frmLancarChequeAvulso" disabled="#{chequeMB.verificaSePodeExcluirEeditar()}" />
                <p:menuitem value="Cancelar" icon="Excluir" action="#{chequeMB.selecionarCheque()}" 
                            onclick="PF('dlgExcluir').show()" update=":msg, @form, :tabs:frmExclusao" disabled="#{chequeMB.verificaSePodeExcluirEeditar()}" />
            </p:contextMenu>
            <p:dataTable id="dtblCheques" value="#{chequeMB.listagemCheques}" var="chq" paginator="true" rows="10" 
                         emptyMessage="Nenhum cheque localizado." 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,30,40,50,60,65,75,90,100" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         selectionMode="multiple" resizableColumns="true" draggableColumns="true"
                         selection="#{chequeMB.listaChequeSelecionado}" rowKey="#{chq.idCheque}" >
                <p:ajax event="rowSelect" listener="#{chequeMB.disable()}" update="@form" />
                <p:ajax event="rowUnselect" listener="#{chequeMB.disable()}"  update="@form" />
                <f:facet name="header">
                    <h:outputText value="Listagem de Cheques"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtblCheques" fileName="cheques"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtblCheques" fileName="cheques"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para XML">
                        <p:graphicImage name="/icons/XML.png" />
                        <p:dataExporter type="xml" target="dtblCheques" fileName="cheques"  />
                    </h:commandLink>
                </f:facet>
                <p:column headerText="ID" width="5%">
                    <center>
                        <h:outputText value="#{chq.idCheque}"/>
                    </center>
                </p:column>
                <p:column headerText="Número Cheque" width="10%">
                    <h:outputText value="#{chq.numeroCheque}"/>
                </p:column>
                <p:column headerText="Tipo" width="10%">
                    <center>
                        <h:outputText styleClass="#{chq.tipo == 'Cancelado' ? 'label label-danger' : chq.tipo == 'Saque' ? 'label label-success' : 'label label-default'}" value="#{chq.tipo}"/>
                    </center>
                </p:column>
                <p:column headerText="Banco">
                    <h:outputText value="#{chq.idContaCorrente.idBanco.nome}"/>
                </p:column>
                <p:column headerText="Conta Corrente">
                    <h:outputText value="#{chq.idContaCorrente.numConta}"/>
                </p:column>
                <p:column headerText="Compensado">
                    <center>
                        <h:outputText styleClass="#{chq.compensado == 'S' ? 'label label-success' : 'label label-danger'}" 
                                      value="#{chq.compensado == 'S' ? 'Sim' : 'Não'}"/>
                    </center>
                </p:column>
                <p:column headerText="Data a Compensar" width="15%">
                    <h:outputText value="#{chq.dtCompensacaoVencimento}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" style="text-align: center" width="10%">
                    <h:outputText value="#{chq.valor}">
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Observação">
                    <h:outputText value="#{chq.observacao}"/>
                </p:column>
                <f:facet name="footer">
                    <h:outputText id="totalSel" value="Cheques selecionados: #{chequeMB.listaChequeSelecionado.size()}" />
                </f:facet>
            </p:dataTable>
            <hr/>
        </div>
    </h:form>

    <!-- Excluir Cheques --> 
    <p:dialog widgetVar="dlgExcluir" header="Confirmação" modal="true" closable="false" resizable="false"> 
        <h:form id="frmExclusao">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja cancelar o cheque nº #{chequeMB.chequeExcluir.numeroCheque} no valor de R$ #{chequeMB.chequeExcluir.valor}" />
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton value="Sim, quero cancelar." icon="Selecionar" action="#{chequeMB.cancelar()}" 
                                     update="@form, :tabs:frmCheque, :msg" 
                                     oncomplete="PF('dlgExcluir').hide()"/>
                    <p:commandButton value="Não."  icon="Excluir" action="#{chequeMB.zerarChequeAExcluir()}" oncomplete="PF('dlgExcluir').hide();"  update="@form, :tabs:frmCheque" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>

    <!-- Compensar vários cheques --> 
    <p:dialog widgetVar="dlgChequesSelecionados" header="Compensar cheques selecionados" modal="true" closable="true" 
              width="60%" closeOnEscape="true" position="top" >
        <div class="row">
            <div class="col-md-12" >
                <p:dataTable id="dtlChequeSelecionados" value="#{chequeMB.listaChequeSelecionado}" rendered="#{chequeMB.verificarSePodeCompensar()}"
                             var="chq"  paginatorPosition="bottom"  editable="true" editMode="cell"   
                             paginator="true" rows="5" paginatorAlwaysVisible="false" 
                             sortBy="#{chq.idCheque}">
                    <p:column headerText="ID" width="5%">
                        <h:outputText  value="#{chq.idCheque}"/>                                                                            
                    </p:column>
                    <p:column headerText="Número Cheque" width="10%">
                        <h:outputText  value="#{chq.numeroCheque}"/>                                                                        
                    </p:column>
                    <p:column headerText="Fornecedor" width="25%">
                        <h:outputText  value="#{chq.idFornecedor.nome}"/>                                                                        
                    </p:column>
                    <p:column headerText="Nominal a:" width="25%">
                        <h:outputText  value="#{chq.nominal}"/>                                                                        
                    </p:column>
                    <p:column headerText="Recebido em:" width="15%">
                        <h:outputText  value="#{chq.dtRecebimentoEmissao}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Compensar em:" width="15%" style="color: #009900;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText  value="#{chq.dtRecebimentoEmissao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" value="#{chq.dtRecebimentoEmissao}" locale="pt" showButtonPanel="true" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Valor" width="15%">
                        <center>
                            <h:outputText value="#{chq.valor}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </center>                                                                        
                    </p:column>
                    <f:facet name="footer">
                        <h:outputText id="totalSel" value="Cheques selecionados: #{chequeMB.listaChequeSelecionado.size()}" />
                        &nbsp;
                        <h:outputText id="valorTotalSel" value="Valor Total: #{chequeMB.valorTotalSelecionado}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                        </h:outputText>
                    </f:facet>
                </p:dataTable>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p:commandButton id="btnPagar" update=":msg, tabs:frmCheque:dtblCheques" 
                                     value="Compensar selecionados" icon="Selecionar" actionListener="#{chequeMB.compensarSelecionados()}" 
                                     oncomplete="PF('dlgChequesSelecionados').hide();"/>
                    &nbsp;
                    <p:commandButton id="btnCancelar" update="tabs:frmCheque:dtblCheques" value="Cancelar" icon="Excluir"  
                                     onclick="PF('dlgChequesSelecionados').hide();"/>
                </center>
            </div>
        </div>
    </p:dialog> 
</ui:composition>