<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog  header="Lançar Cheque" widgetVar="dlgLancarChequeAvulso" modal="true" width="80%" height="80%" resizable="false" position="top"  
               closeOnEscape="true">
        <p:ajax event="close" />
        <h:form id="frmLancarChequeAvulso" style="overflow:scroll; height: 100%; ">
            <p:messages id="msg2" closable="true" showDetail="true" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <div class="row" id="rwEmitente">
                    <div class="col-xs-6 col-sm-2 col-md-4 col-lg-3" >
                        <p:outputLabel for="tipo" value="Tipo" />
                        <p:selectOneMenu id="tipo" filter="true" filterMatchMode="contains" converter="Converter" 
                                         styleClass="form-control"
                                         value="#{chequeMB.cheque.tipo}" var="tipo" >
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItem itemLabel="Normal" itemValue="Normal" />
                            <f:selectItem itemLabel="Saque" itemValue="Saque" />
                            <p:ajax event="change" update=":tabs:frmLancarChequeAvulso"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4" style="#{chequeMB.renderizar()}">
                        <p:outputLabel for="fornecedor" value="Fornecedor" />
                        <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                            <p:autoComplete id="fornecedor" value="#{chequeMB.cheque.idFornecedor}"
                                            completeMethod="#{fornecedorMB.completeMethodFornecedor}"  
                                            converter="Converter" var="forn" itemLabel="#{forn.nome}" itemValue="#{forn}">
                                <p:column >
                                    <h:outputText value="#{forn.idFornecedor}" />
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{forn.nome}" />
                                </p:column>
                                <p:column >
                                    <h:outputText value="#{forn.cgccpf}" />
                                </p:column>
                                <p:ajax event="blur" update="nominal" listener="#{chequeMB.preencherNominal()}"/>
                            </p:autoComplete>
                            <p:commandButton icon="Atalho" style="height: 30px !important;" title="Cadastrar um novo!" />
                            
                        </h:panelGrid>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-5" style="display: none" >
                        <p:outputLabel for="colaborador" value="Colaborador" />
                        <p:selectOneMenu id="colaborador" filter="true" filterMatchMode="contains"  converter="Converter" effect="fade"
                                         styleClass="form-control"
                                         value="#{chequeMB.cheque.idColaborador}" var="cola" >
                            <f:selectItem itemLabel="Selecione o colaborador" itemValue="" />
                            <f:selectItems value="#{colaboradorMB.listarColaboradores()}" var="col"
                                           itemLabel="#{col.idColaborador} - #{col.nome}  - #{col.cpf}" />
                            <p:column>
                                <h:outputText value="#{cola.idColaborador}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cola.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cola.cpf}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-5" style="#{chequeMB.renderizar()}">
                        <p:outputLabel for="nominal" value="Nominal a:" />
                        <p:inputText value="#{chequeMB.cheque.nominal}" id="nominal"  />
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3" >
                        <p:outputLabel for="contaCorrente" value="Conta Corrente" />
                        <p:selectOneMenu id="contaCorrente"  value="#{chequeMB.cheque.idContaCorrente}" styleClass="form-control" filter="true" 
                                         converter="Converter" effect="fade" var="conta"
                                         filterMatchMode="contains">
                            <f:selectItem itemLabel="" itemValue=""/>
                            <f:selectItems  value="#{contaCorrenteMB.listarContaCorrente()}" var="ccorrente"
                                            itemLabel="#{ccorrente.idContaCorrente} - #{ccorrente.idBanco.nome} - #{ccorrente.numConta}"  />
                            <p:column>
                                <h:outputText value="#{conta.idContaCorrente}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.idBanco.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.numConta}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" style="#{chequeMB.renderizar()}">
                        <p:outputLabel for="dtEmissao" value="Data Emissão" />
                        <p:calendar value="#{chequeMB.cheque.dtRecebimentoEmissao}" id="dtEmissao" pattern="dd/MM/yyyy" mask="99/99/9999" 
                                    locale="pt" showButtonPanel="true" disabled="#{chequeMB.cheque.tipo == 'Saque'}"
                                    navigator="true" />
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                        <p:outputLabel for="numCheque" value="Nº Cheque" />
                        <p:inputText value="#{chequeMB.cheque.numeroCheque}" required="#{chequeMB.cheque.tipo != null}" requiredMessage="Informe o número do cheque." id="numCheque"  />
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3" >
                        <p:outputLabel for="valorCheque" value="Valor" />
                        <pe:inputNumber id="valorCheque"  required="#{chequeMB.cheque.tipo != null}" requiredMessage="Informe o valor do cheque." symbol="R$ "
                                        value="#{chequeMB.cheque.valor}" decimalSeparator="," thousandSeparator="."/>
                    </div>
                    
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" style="#{chequeMB.renderizar()}">
                        <p:outputLabel for="dtVencimento" value="Data Compensar" rendered="#{chequeMB.cheque.tipo == 'Saque' ? 'false' : 'true'   }"/>
                        <p:calendar value="#{chequeMB.cheque.dtCompensacaoVencimento}" id="dtVencimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" 
                                    navigator="true" requiredMessage="Informe a data p/ Compensar!" rendered="#{chequeMB.cheque.tipo == 'Saque' ? 'false' : 'true'   }" />
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 #{chequeMB.cheque.tipo == 'Saque' ? 'col-md-4' : 'col-lg-12'}" >
                        <p:outputLabel for="observacao" value="Observação" />
                        <p:inputText value="#{chequeMB.cheque.observacao}" id="observacao"  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <hr/>
                        <h:panelGrid columns="4" >
                            <p:commandButton value="Incluir" action="#{chequeMB.lancar()}" 
                                             disabled="#{chequeMB.cheque.tipo == 'Saque'}" icon="Novo" id="btnIncluir" 
                                             update="@form, :tabs:frmLancarChequeAvulso:dtlCheques, :msg" />
                            <p:commandButton value="Salvar e Sair" icon="Salvar" id="btnSair"
                                             update="@form, :tabs:frmCheque, :msg" 
                                             action="#{chequeMB.Salvar()}" oncomplete="if (!args.validationFailed){PF('dlgLancarChequeAvulso').hide();}" />
                            &nbsp;
                            <p:ajaxStatus onsuccess="setTimeout(function() { $('.ui-messages').slideUp(); }, 10000); "   >
                                <f:facet name="start">
                                    <p:graphicImage name="images/82.GIF" />
                                </f:facet>
                            </p:ajaxStatus>
                        </h:panelGrid>
                        <br/>
                        <hr/>
                    </div>
                </div>
                <div class="row" style="#{chequeMB.renderizar()}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p:dataTable id="dtlCheques" value="#{chequeMB.listaCheque}" paginator="true" rows="5"  
                                     paginatorPosition="bottom" var="chq" emptyMessage="Nenhum cheque lançado.">
                            <p:column headerText="Número Cheque">
                                <h:outputText value="#{chq.numeroCheque}"/>
                            </p:column>
                            <p:column headerText="Banco">
                                <h:outputText value="#{chq.idContaCorrente.idBanco.nome}"/>
                            </p:column>
                            <p:column headerText="Conta Corrente">
                                <h:outputText value="#{chq.idContaCorrente.numConta}"/>
                            </p:column>
                            <p:column headerText="Data a Compensar" width="15%">
                                <h:outputText value="#{chq.dtCompensacaoVencimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Valor" style="text-align: center" width="10%">
                                <h:outputText value="#{chq.valor}">
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Observação">
                                <h:outputText value="#{chq.observacao}"/>
                            </p:column>
                            <p:column headerText="Excluir" width="8%">
                                <center>
                                    <p:commandButton icon="Excluir" update=":tabs:frmExclusaoCheque"
                                                     action="#{chequeMB.selecionarChequeExcluir(chq)}" immediate="true"
                                                     oncomplete="PF('dlgExcluirCheque').show();" />
                                </center>
                            </p:column>

                        </p:dataTable>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <!-- Excluir Cheques --> 
    <p:dialog widgetVar="dlgExcluirCheque" header="Confirmação" modal="true" closable="false" resizable="false"> 
        <h:form id="frmExclusaoCheque">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja excluir o cheque nº #{chequeMB.chequeExcluir.numeroCheque} no valor de R$ #{chequeMB.chequeExcluir.valor}" />
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton value="Sim, quero excluir." icon="Selecionar" action="#{chequeMB.excluirTemp()}" 
                                     update="@form, :tabs:frmLancarChequeAvulso" 
                                     oncomplete="PF('dlgExcluirCheque').hide()"/>
                    <p:commandButton value="Não."  icon="Excluir" action="#{chequeMB.zerarChequeAExcluir()}" oncomplete="PF('dlgExcluirCheque').hide();"  update="@form" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</ui:composition>