<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog  header="Pesquisa de Cheques emitidos" widgetVar="dlgPesquisaCheques" modal="true" position="center" width="50%" 
               rendered="#{sessaoMB.usuario.idPerfil.idAcesso.chequePesquisar}" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:form id="frmPesquisaCheque">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
                    <h:outputText value="Nº Cheque"  />
                    <p:inputText  value="#{chequeMB.cheque.numeroCheque}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8" >
                    <h:outputText value="Colaborador" />
                    <p:selectOneMenu value="#{chequeMB.cheque.idColaborador}" converter="Converter" filter="true" 
                                     filterMatchMode="contains" var="clie" styleClass="form-control"  >
                        <f:selectItem  itemLabel="Selecione o colaborador" itemValue=""  />
                        <f:selectItems value="#{colaboradorMB.listarColaboradores()}" var="colab"
                                       itemLabel="#{colab.idColaborador} - #{colab.nome} - #{colab.cpf} " itemValue="#{colab}" />
                        <p:column>
                            <h:outputText value="#{colab.idColaborador}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{colab.nome}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{colab.cpf}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <h:outputText value="Status"  />
                    <p:selectOneMenu styleClass="form-control"  value="#{chequeMB.status}" >
                        <f:selectItem itemLabel="Todos" itemValue="T" />
                        <f:selectItem itemLabel="Compensados" itemValue="S" />
                        <f:selectItem itemLabel="Não Compensados" itemValue="N" />                        
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                    <h:outputText value="Conta Corrente" />
                    <p:selectOneMenu id="contaCorrente"  value="#{chequeMB.cheque.idContaCorrente}" styleClass="form-control" filter="true" 
                                         converter="Converter" effect="fade" var="conta"
                                         filterMatchMode="contains" >
                            <f:selectItem itemLabel="Selecione a Conta Corrente" itemValue=""/>
                            <f:selectItems  value="#{contaCorrenteMB.listarContaCorrente()}" var="ccorrente"
                                            itemLabel="#{ccorrente.idContaCorrente} - #{ccorrente.idBanco.nome} - #{ccorrente.numConta}"  />
                            <p:column>
                                <h:outputText value="#{conta.idContaCorrente}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.idBanco.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.numConta}" />
                            </p:column>
                        </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <style>
                        .colunm1{
                            width: 150px;
                        }
                    </style>
                    <h:panelGroup >
                        <h:outputText value="Por" />
                        <p:selectOneMenu styleClass="form-control" value="#{chequeMB.por}">
                            <f:selectItem itemLabel="Emissão" itemValue="E" /> 
                            <f:selectItem itemLabel="Compensação" itemValue="C" /> 
                        </p:selectOneMenu>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                    <h:panelGrid columns="3" style="width: 100%">
                        <h:panelGroup>
                            Data Inicial
                            <p:calendar value="#{chequeMB.dtIni}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                        à
                        <h:panelGroup>
                            Data Final
                            <p:calendar value="#{chequeMB.dtFim}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <hr/>
                    <p:commandButton value="Pesquisar" action="#{chequeMB.pesquisar()}" 
                                     update=":tabs:frmCheque, :tabs:frmCheque:dtblCheques" icon="Consultar" oncomplete="PF('dlgPesquisaCheques').hide();"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>