<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgVerCheque" header="Info Cheque" width="60%" modal="true" position="top">
        <h:form id="frmVerCheque" >
            <div class="row">
                <div class="col-lg-12">
                    <strong style="font-size: 15px;">ID: #{chequeMB.cheque.idCheque}</strong><br/>
                    <strong style="font-size: 15px;">#{chequeMB.cheque.idEmpresa.nomeFantasia}</strong><br/>
                    <span style="font-size: 15px;">#{chequeMB.cheque.numeroCheque} - #{chequeMB.cheque.idContaCorrente.idBanco.nome} - #{chequeMB.cheque.idContaCorrente.numConta}</span>
                    <hr/>
                </div>
                <div class="col-md-6">
                    <h:panelGrid columns="2" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Nominal a:"/>
                        <h:outputText value="#{chequeMB.cheque.idColaborador.idColaborador != null ? chequeMB.cheque.idColaborador.nome : chequeMB.cheque.nominal}" >
                        </h:outputText>
                        <h:outputText value="Data de Emissão:" />
                        <h:outputText value="#{chequeMB.cheque.dtRecebimentoEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Dt. Emissão:" />
                        <h:outputText value="#{chequeMB.cheque.dtRecebimentoEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Dt.Compensado:" />
                        <h:outputText value="#{chequeMB.cheque.dtCompensacaoVencimento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Valor:" />
                        <h:outputText value="#{chequeMB.cheque.valor}" class="label label-success">
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                    </h:panelGrid>
                </div>
                <div class="col-md-6">
                    <h:panelGrid columns="2" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Tipo:" />
                        <h:outputText class="#{chequeMB.cheque.tipo == 'Cancelado' ? 'label label-danger' : 'label label-default'}" value="#{chequeMB.cheque.tipo}" />
                        <h:outputText value="Compensado:" />
                        <h:outputText value="#{chequeMB.cheque.compensado == 'N' ? 'Não' : 'Sim'}" />                        
                        <h:outputText value="Banco:" />
                        <h:outputText value="#{chequeMB.cheque.idContaCorrente.idBanco.nome}" />
                        <h:outputText value="Número banco:" />
                        <h:outputText value="#{chequeMB.cheque.idContaCorrente.idBanco.numeroBanco}" />
                        <h:outputText value="Agência:" />
                        <h:outputText value="#{chequeMB.cheque.idContaCorrente.numAgencia}" />
                        <h:outputText value="Conta Corrente: " />
                        <h:outputText value="#{chequeMB.cheque.idContaCorrente.numConta}" />
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <h:outputText value="Oberservação: " style="font-weight: bolder "/>
                    <br/>
                    <h:outputText value="#{chequeMB.cheque.observacao}"/>
                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable value="#{chequeMB.cheque.contasPagarList}" var="cp" emptyMessage="Nenhum contas a pagar relacionado">
                        <f:facet name="header">
                            <h:outputText value="Listagem de Contas a Pagar pagos"/>
                        </f:facet>
                        <p:column>
                            <p:rowToggler/>
                        </p:column>
                        <p:column headerText="Fornecedor">
                            <h:outputText value="#{cp.idFornecedor.nome}"/>
                        </p:column>
                        <p:column headerText="Plano de Contas">
                            <h:outputText value="#{cp.idPlanoContas.descricao}"/>
                        </p:column>
                        <p:column headerText="Valor" style="text-align: center" width="10%">
                            <h:outputText value="#{cp.valorDuplicata}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Valor Pago" style="text-align: center " width="10%">
                            <h:outputText value="#{cp.valorPago}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Observação" style="text-align: center">
                            <h:outputText value="#{cp.observacao}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable value="#{cp.centrocustoplanocontasList}" var="centro" emptyMessage="Nenhum contas a pagar relacionado">
                                <p:column headerText="Cliente">
                                    <h:outputText value="#{centro.idCliente.nome}"/>
                                </p:column>
                                <p:column headerText="Centro de Custo">
                                    <h:outputText value="#{centro.idCentroCusto.descricao}"/>
                                </p:column>
                                <p:column headerText="Percentual">
                                    <h:outputText value="#{centro.percentual}"/>
                                </p:column>
                                <p:column headerText="Valor">
                                    <h:outputText value="#{centro.valor}"/>
                                </p:column>                                
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>