<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:xc="http://xpert.com/faces">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Propostas Financeiras
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer suas propostas financeiras, antes de gerar contratos.
            </ui:define>
            <ui:define name="breadcrumb">
                Proposta Financeira
            </ui:define>
            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Propostas Financeiras" >
                        <div class="row">
                            <h:form id="frmCadastro">
                                <div class="col-md-12">
                                    <p:commandButton value="Nova Proposta Financeira" oncomplete="PF('dlgInserir').show();" action="#{propostaMB.novo()}"  icon="Novo"   update=":frmPropostaFinanceira" />
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <p:dataTable value="#{propostaMB.listarPropostasFinanceiras()}" var="prop"  emptyMessage="Nenhuma Proposta Financeira!">
                                        <p:column width="3%">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column headerText="Código" styleClass="centralizar" width="5%" >
                                            <h:outputText value="#{prop.idPropostaFinanceira}" />
                                        </p:column>
                                        <p:column headerText="Cliente" >
                                            <h:outputText value="#{prop.idCliente.nome}" />
                                        </p:column>
                                        <p:column headerText="Cadastro"  styleClass="centralizar" width="10%">
                                            <h:outputText value="#{prop.dtCadastro}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Finalização"  width="10%">
                                            <h:outputText value="#{prop.dtFinalizacao}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Total Geral"  width="10%">
                                            <h:outputText value="#{prop.valorTotal}" >

                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column   width="5%" styleClass="centralizar">
                                            <p:commandButton  icon="new_adicionar" title="Adiciona uma nova proposta de serviço!" action="#{propostaMB.addProposta(prop)}" update=":frmNovaProposta" onclick="$('.ui-row-toggler').click()" oncomplete="PF('dlgInserirNovaProposta').show();" />
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable value="#{prop.propostaList}" var="pro" rowIndexVar="propRow">
                                                <p:column headerText="Proposta" width="5%" styleClass="centralizar" >
                                                    <h:outputText value="#{pro.idProposta}"/>
                                                </p:column>
                                                <p:column headerText="Serviço" width="15%" >
                                                    <h:outputText value="#{pro.nome}"/>
                                                </p:column>
                                                <p:column headerText="Usuário" width="10%" styleClass="centralizar">
                                                    <h:outputText value="#{pro.idUsuario.nome}"/>
                                                </p:column>
                                                <p:column headerText="Emissão"  width="10%" styleClass="centralizar">
                                                    <h:outputText value="#{pro.dtEmissao}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Validade"  width="10%" styleClass="centralizar">
                                                    <h:outputText value="#{pro.dtValidade}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Status"  width="10%" styleClass="centralizar">
                                                    <h:outputText value="#{pro.status}" />
                                                </p:column>
                                                <p:column headerText="Total" width="10%" styleClass="centralizar">
                                                    <h:outputText value="#{pro.valorTotal}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column width="15%" styleClass="centralizar">
                                                    <p:commandButton icon="Editar" action="#{propostaMB.editarProposta(pro,prop)}" update=":frmNovaProposta" oncomplete="PF('dlgInserirNovaProposta').show();"  />
                                                    <p:commandButton icon="Excluir"  action="#{propostaMB.excluirProposta(pro)}" update="@form, :msg"/>
                                                    <p:commandButton icon="Info" />
                                                    <p:commandButton icon="Imprimir" />
                                                    <p:commandButton icon="Contrato" title="Gerar Contrato" action="#{propostaMB.gerarContrato(pro)}"
                                                                     update=":frmContrato"  oncomplete="PF('dlgContrato').show();"/>
                                                </p:column>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </div>
                            </h:form>

                            <p:dialog widgetVar="dlgInserirProposta" modal="true" header="Inserção de Proposta Financeira" 
                                      width="90%" resizable="false" position="center top" >
                                <h:form id="frmInserirProposta">
                                    <div class="col-md-12">
                                        <h3>
                                            <h:outputText value="Proposta Financeira: #{propostaMB.propostaFinanceira.idPropostaFinanceira} " /><br/>
                                            <h:outputText value="Cliente: #{propostaMB.propostaFinanceira.idCliente.nome} " />
                                        </h3>
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                        <p:commandButton value="Nova Proposta de Serviço" icon="new_adicionar" oncomplete="PF('dlgInserirNovaProposta').show();" />
                                        <br/>
                                        <br/>
                                        <p:dataTable value="#{propostaMB.propostaFinanceira.propostaList}" var="propo" emptyMessage="Nenhuma proposta de serviço foi adicionada!">
                                            <p:column headerText="Código" >
                                                <h:outputText value="#{propo.idProposta}" />
                                            </p:column>
                                            <p:column headerText="Serviço" >
                                                <h:outputText value="#{propo.introducao}" />
                                            </p:column>
                                            <p:column headerText="Emissão" >
                                                <h:outputText value="#{propo.dtEmissao}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Validade" >
                                                <h:outputText value="#{propo.dtValidade}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Status" >
                                                <h:outputText value="#{propo.status}"  />
                                            </p:column>
                                            <p:column headerText="Valor" >
                                                <h:outputText value="#{propo.valorTotal}"  >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgInserirNovaProposta" modal="true" header="Inserção de Nova Proposta" width="90%" resizable="false" position="center top"  >
                                <p:scrollPanel mode="native" style="max-height:700px">
                                    <h:form id="frmNovaProposta" style="overflow:auto;"> 
                                        <p:tabView id="tabsOne">
                                            <p:tab title="Proposta">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>
                                                            <h:outputText value="Proposta Financeira: #{propostaMB.propostaFinanceira.idPropostaFinanceira} " /><br/>
                                                            <h:outputText value="Cliente: #{propostaMB.propostaFinanceira.idCliente.nome} " />
                                                        </h3>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                        <p:outputLabel for="descricao" value="Serviço" />
                                                        <p:inputText id="descricao" value="#{propostaMB.proposta.nome}"  required="true" requiredMessage="Informe a descrição do serviço!"/>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="emissao" value="Emissão" />
                                                        <p:inputText id="emissao" value="#{propostaMB.proposta.dtEmissao}"  readonly="true" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                                                        </p:inputText>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="validade" value="Validade" />
                                                        <p:calendar id="validade" value="#{propostaMB.proposta.dtValidade}"  pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" />
                                                    </div>

                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="valorTotal" value="Valor Total" />
                                                        <p:inputText id="valorTotal" value="#{propostaMB.proposta.valorTotal}"  readonly="true"  >
                                                            <f:convertNumber type="currency" />
                                                        </p:inputText>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <p:outputLabel for="obs" value="Observação" />
                                                        <p:inputTextarea id="obs" value="#{propostaMB.proposta.observacao}" styleClass="form-control" />
                                                    </div>
                                                </div>
                                            </p:tab>
                                            <p:tab title="Planilhas">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <br/>
                                                        <p:tabView  id="tabs">
                                                            <p:tab title="Levantamento Técnico de Materiais"  rendered="false">
                                                                <div class="row">
                                                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                                        <p:commandButton value="Importar Materiais" icon="Importar"  action="#{propostaMB.importarMateriais()}" immediate="true" oncomplete="PF('dlgImportarMateriais').show();" update=":frmImportarMateriais" /> 
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                                        <p:outputLabel for="qntFuncionarios" value="Nº Funcionario" />
                                                                        <pe:inputNumber  id="qntFuncionarios" value="#{propostaMB.proposta.numeroFinanceiro}" required="true"  requiredMessage="Informe a quantidade de funcionarios!" >
                                                                            <p:ajax event="blur" listener="#{propostaMB.carregarResumoPropostaItem(propostaMB.proposta)}" update="@form" />
                                                                        </pe:inputNumber>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                                        <p:outputLabel for="perctoAplicado" value="% Aplicado" />
                                                                        <pe:inputNumber  id="perctoAplicado" value="#{propostaMB.proposta.percentualAplicado}"  symbol=" %" symbolPosition="s"  required="true" requiredMessage="Informe o percentual aplicado!">
                                                                            <p:ajax event="blur" listener="#{propostaMB.carregarResumoPropostaItem(propostaMB.proposta)}" update="@form" />
                                                                        </pe:inputNumber>
                                                                    </div>
                                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                                        <p:outputLabel for="descto" value="Desconto" />
                                                                        <pe:inputNumber  id="descto" value="#{propostaMB.proposta.valorDesconto}"  symbol="R$ "
                                                                                         decimalSeparator="," required="true" requiredMessage="Informe o desconto!"  >
                                                                            <p:ajax event="blur" listener="#{propostaMB.carregarResumoPropostaItem(propostaMB.proposta)}" update="@form" />
                                                                        </pe:inputNumber>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <hr/>
                                                                        <h:panelGroup id="listaDeGruposProdutos">
                                                                            <p:accordionPanel id="acordiion">
                                                                                <p:tab title="Materiais" >
                                                                                    <div class="col-lg-12">
                                                                                        <p:dataTable id="tblPropostaItemProduto" value="#{propostaMB.proposta.propostaItemProdutoList}" var="pipp" >
                                                                                            <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                                                                                <p:cellEditor>
                                                                                                    <f:facet name="output">
                                                                                                        <h:outputText styleClass="centralizar" style="color: #009900 !important;" value="#{pipp.quantidade}" />
                                                                                                    </f:facet>
                                                                                                    <f:facet name="input">
                                                                                                        <pe:inputNumber value="#{pipp.quantidade}" >
                                                                                                        </pe:inputNumber>
                                                                                                    </f:facet>
                                                                                                </p:cellEditor>
                                                                                            </p:column>
                                                                                            <p:column headerText="Medida" width="10%" >
                                                                                                <h:outputText value="#{pipp.idProduto.idUnidadeEntrada.descricaoResumida}" />
                                                                                            </p:column>
                                                                                            <p:column headerText="Material" width="25%"  >
                                                                                                <h:outputText value="#{pipp.idProduto.descricao}" />
                                                                                            </p:column>
                                                                                            <p:column headerText="Grupo" width="15%" >
                                                                                                <h:outputText value="#{pipp.idProduto.idGrupo.descricao}" />
                                                                                            </p:column>
                                                                                            <p:column headerText="Depreciação" width="10%" styleClass="centralizar font-table">
                                                                                                <p:cellEditor>
                                                                                                    <f:facet name="output"><h:outputText  style="color: #009900 !important;" value="#{pipp.mesesDepreciacao}" /></f:facet>
                                                                                                    <f:facet name="input">
                                                                                                        <pe:inputNumber value="#{pipp.mesesDepreciacao}" >
                                                                                                        </pe:inputNumber>
                                                                                                    </f:facet>
                                                                                                </p:cellEditor>
                                                                                            </p:column>
                                                                                            <p:column headerText="Valor Unit." width="10%">
                                                                                                <h:outputText value="#{pipp.valorUnitario}" >
                                                                                                    <f:convertNumber type="currency" />
                                                                                                </h:outputText>
                                                                                            </p:column>
                                                                                            <p:column headerText="Valor Total" width="10%">
                                                                                                <h:outputText value="#{pipp.total}" id="vlrTotal" >
                                                                                                    <f:convertNumber type="currency" />
                                                                                                </h:outputText>
                                                                                            </p:column>
                                                                                            <p:column headerText="Depreciação" width="10%">
                                                                                                <h:outputText value="#{pipp.valorDepreciacao}" id="vlrTotalDepre" >
                                                                                                    <f:convertNumber type="currency" />
                                                                                                </h:outputText>
                                                                                            </p:column>
                                                                                        </p:dataTable>
                                                                                    </div>
                                                                                </p:tab>
                                                                                <p:tab title="Resumo">
                                                                                    <div class="col-lg-12">
                                                                                        <p:dataTable value="#{propostaMB.listaProdutosResumo}" var="resumo" id="tblProdutosResumos">
                                                                                            <p:column headerText="Grupo" >
                                                                                                <h:outputText value="#{resumo.grupo.descricao}"/>
                                                                                            </p:column>
                                                                                            <p:column headerText="Custo Mensal" >
                                                                                                <h:outputText value="#{resumo.custo}">
                                                                                                    <f:convertNumber type="currency"  />
                                                                                                </h:outputText>
                                                                                            </p:column>
                                                                                            <p:column headerText="Custo Por Funcionário" >
                                                                                                <h:outputText value="#{resumo.custoPorFuncionario}">
                                                                                                    <f:convertNumber type="currency" />
                                                                                                </h:outputText>
                                                                                            </p:column>
                                                                                        </p:dataTable>
                                                                                        <hr/>   
                                                                                        <p:panelGrid columns="2">  
                                                                                            <h:outputText value="Subtotal do Custo Mensal: "/>  
                                                                                            <h:outputText value="#{xc:sum(propostaMB.listaProdutosResumo, 'custo')}">  
                                                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />  
                                                                                            </h:outputText>  

                                                                                            <h:outputText value="Subtotal do Custo Funcionario: "/>  
                                                                                            <h:outputText value="#{xc:sum(propostaMB.listaProdutosResumo, 'custoPorFuncionario')}">  
                                                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />  
                                                                                            </h:outputText>  
                                                                                        </p:panelGrid>  
                                                                                        <hr/> 
                                                                                        <p:panelGrid columns="2">
                                                                                            <h:outputText value="Valor Total Orçamento Material: "/>  
                                                                                            <h:outputText value="#{propostaMB.valorTotalOrcamentoMensal}">  
                                                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />  
                                                                                            </h:outputText>  
                                                                                            <h:outputText value="Valor Total Orçamento Funcionario: "/>  
                                                                                            <h:outputText value="#{propostaMB.valorTotalOrcamentoFuncionario}">  
                                                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" />  
                                                                                            </h:outputText>  
                                                                                        </p:panelGrid>  
                                                                                    </div>
                                                                                </p:tab>
                                                                            </p:accordionPanel>
                                                                        </h:panelGroup>
                                                                    </div>
                                                                </div>
                                                            </p:tab>
                                                            <p:tab title="Levantamento Técnico de Mão de Obra" >
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <p:commandButton value="Importar Planilhas de Mão de Obra" icon="Importar" oncomplete="PF('dlgPlanilhasMao').show();" update=":frmDlgPlanilhasMao" /> 
                                                                        <hr/>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <h:panelGroup id="grupoTabelasMaoDeObra">
                                                                            <xc:group id="grp1" value="#{propostaMB.proposta.propostaItemList}" var="planMao"     
                                                                                      groupBy="idPlanilha" rowIndexVar="rowPlanMao" >
                                                                                <style>
                                                                                    .coluna1Planilha{
                                                                                        width: 95% !important;
                                                                                    }
                                                                                    .coluna2Planilha{
                                                                                        width: 5% !important;
                                                                                    }
                                                                                </style>
                                                                                <h:panelGrid columns="2" style="width: 100%"  columnClasses="coluna1Planilha,coluna2Planilha" >
                                                                                    <bcr:minPanel id="idMinPanel"  customId="#{rowPlanMao}" label="#{planMao.key.descricao}">
                                                                                        <p:tabView id="tabtwo">
                                                                                            <p:tab title="Mão de Obra" >
                                                                                                <div class="row">
                                                                                                    <xc:group  id="agrp" value="#{planMao.value}" var="groups"   
                                                                                                               groupBy="tipo" rowIndexVar="iidx"  >
                                                                                                        <h:panelGrid columns="4" style="width: 100%"  columnClasses="coo1, coo2, coo3,coo4">
                                                                                                            <h:outputText style="font-weight: bold; color: #045491;" styleClass="h5" value=" #{groups.key}"/>  
                                                                                                        </h:panelGrid>
                                                                                                        <xc:group id="grp2" value="#{groups.value}" var="tips"   
                                                                                                                  groupBy="grupo"  >
                                                                                                            &nbsp;&nbsp;&nbsp; <h:outputText style="font-style: italic;" styleClass="h5"  value="#{tips.key}"/> 
                                                                                                            <p:dataTable id="tblMao"  value="#{tips.value}" var="propItem2"  >
                                                                                                                <p:column  headerText="Posição" width="10% " styleClass="centralizar">
                                                                                                                    <h:outputText value="#{propItem2.posicao}" />
                                                                                                                </p:column>
                                                                                                                <p:column headerText="Descrição" width="45%" >
                                                                                                                    <h:outputText value="#{propItem2.idPlanilhaItem.descricao}" />
                                                                                                                </p:column>
                                                                                                                <p:column headerText="Grupo" width="25%" >
                                                                                                                    <h:outputText value="#{propItem2.idPlanilhaItem.idGrupo.descricao}" />
                                                                                                                </p:column>
                                                                                                                <p:column headerText="%" width="10%" styleClass="centralizar">
                                                                                                                    <pe:inputNumber  value="#{propItem2.percentual}"   disabled="#{propItem2.idPlanilhaItem.percentualEditavel == 'N' }" symbolPosition="s" symbol=" % "
                                                                                                                                     decimalSeparator=","  >
                                                                                                                        <p:ajax listener="#{propostaMB.calcularValores(propItem2.idPlanilhaItem.idPlanilha)}" event="blur"  />
                                                                                                                    </pe:inputNumber>
                                                                                                                </p:column>
                                                                                                                <p:column  headerText="Valor" width="20% " styleClass="centralizar">
                                                                                                                    <pe:inputNumber  value="#{propItem2.valor}"  disabled="#{propItem2.idPlanilhaItem.valorEditavel == 'N' }" symbol="R$ "
                                                                                                                                     decimalSeparator="," thousandSeparator="." >
                                                                                                                        <p:ajax listener="#{propostaMB.calcularValores(propItem2.idPlanilhaItem.idPlanilha)}" event="blur"  />
                                                                                                                    </pe:inputNumber>
                                                                                                                </p:column>
                                                                                                            </p:dataTable>
                                                                                                        </xc:group>
                                                                                                    </xc:group>
                                                                                                </div>
                                                                                            </p:tab>
                                                                                            <p:tab title="Materiais" >
                                                                                                <div class="row">
                                                                                                    <xc:group id="grp2" value="#{propostaMB.proposta.propostaItemProdutoList}" var="prodMao"     
                                                                                                              groupBy="idPlanilha" rowIndexVar="rowProdMao" >
                                                                                                        <p:dataTable id="tbl" value="#{prodMao.value}" var="mate" rendered="#{planMao.key.idPlanilha == prodMao.key.idPlanilha}"
                                                                                                                     editable="true" editMode="cell" rowIndexVar="pipIndex">
                                                                                                            <f:facet name="header">
                                                                                                                <p:commandButton icon="new_adicionar" value="Adicionar" action="#{propostaMB.adicionarItem(prodMao.key)}" update="tbl" immediate="true" />
                                                                                                            </f:facet>
                                                                                                            <p:column headerText="Quantidade" width="10%" style="color: #009900;" styleClass="centralizar font-table">
                                                                                                                <p:cellEditor>
                                                                                                                    <f:facet name="output"><h:outputText id="qnt" value="#{mate.quantidade}" /></f:facet>
                                                                                                                    <f:facet name="input"><p:inputText  value="#{mate.quantidade}" style="width:96%">
                                                                                                                            <p:ajax event="blur" listener="#{propostaMB.calcularTotaisPropostaItemProduto(mate, '1')}" update="total,cusDep" />
                                                                                                                        </p:inputText></f:facet>
                                                                                                                </p:cellEditor>
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Medida" width="10%" styleClass="centralizar font-table">
                                                                                                                <h:outputText id="med" value="#{mate.idProduto.idUnidadeEntrada.descricaoResumida}"/> 
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Produto" width="20%" styleClass="font-table">
                                                                                                                <p:cellEditor>
                                                                                                                    <f:facet name="output">
                                                                                                                        <h:outputText value="#{mate.idProduto.descricao}"/> 
                                                                                                                    </f:facet>
                                                                                                                    <f:facet name="input">
                                                                                                                        <p:autoComplete  value="#{mate.idProduto}" converter="Converter" completeMethod="#{produtoMB.completeMethodProduto}" var="pro" 
                                                                                                                                         itemLabel="#{pro.descricao}" itemValue="#{pro}" placeholder="Digite o nome ou código!" required="true" requiredMessage="Informe o produto!">
                                                                                                                            <p:column>
                                                                                                                                <h:outputText value="#{pro.idProduto}" />
                                                                                                                            </p:column>
                                                                                                                            <p:column>
                                                                                                                                <h:outputText value="#{pro.descricao}" />
                                                                                                                            </p:column>
                                                                                                                            <p:ajax event="itemSelect"  listener="#{propostaMB.selecionarProduto(mate)}" update="med,qnt,grp,custo,total,mesDepresc,totDep,cusDep" />
                                                                                                                        </p:autoComplete>
                                                                                                                    </f:facet>
                                                                                                                </p:cellEditor>
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Grupo" width="10%" styleClass="font-table" >
                                                                                                                <h:outputText id="grp" value="#{mate.idProduto.idGrupo.descricao}"/> 
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Custo" width="10%" styleClass="centralizar font-table">
                                                                                                                <h:outputText id="custo" value="#{mate.valorUnitario}">
                                                                                                                    <f:convertNumber type="currency" />
                                                                                                                </h:outputText> 
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Total" width="10%" styleClass="centralizar font-table">
                                                                                                                <h:outputText id="total" value="#{mate.total}">
                                                                                                                    <f:convertNumber type="currency" />
                                                                                                                </h:outputText> 
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Meses Dep." width="10%" style="color: #009900;" styleClass="centralizar font-table">
                                                                                                                <p:cellEditor>
                                                                                                                    <f:facet name="output"><h:outputText id="mesDepresc" value="#{mate.mesesDepreciacao}" /></f:facet>
                                                                                                                    <f:facet name="input"><p:inputText  value="#{mate.mesesDepreciacao}" style="width:96%">
                                                                                                                            <p:ajax event="blur" listener="#{propostaMB.calcularTotaisPropostaItemProduto(mate, '2')}" update="totDep, cusDep" />
                                                                                                                        </p:inputText></f:facet>
                                                                                                                </p:cellEditor>
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Valor Dep. Mes" width="10%" styleClass="centralizar font-table">
                                                                                                                <h:outputText id="totDep" value="#{mate.valorDepreciacao}">
                                                                                                                    <f:convertNumber type="currency" />
                                                                                                                </h:outputText> 
                                                                                                            </p:column>
                                                                                                            <p:column headerText="Custo Final" width="10%" styleClass="centralizar font-table">
                                                                                                                <h:outputText id="cusDep" value="#{mate.valorTotalDepreciacao}">
                                                                                                                    <f:convertNumber type="currency" />
                                                                                                                </h:outputText> 
                                                                                                            </p:column>
                                                                                                            <p:column width="5%" >
                                                                                                                <p:commandButton icon="Excluir" action="#{propostaMB.excluirPropostaProdutoItem(mate, pipIndex)}" immediate="true"  update="@form" />
                                                                                                            </p:column>
                                                                                                        </p:dataTable>
                                                                                                    </xc:group>
                                                                                                </div>
                                                                                            </p:tab>
                                                                                        </p:tabView>
                                                                                    </bcr:minPanel>
                                                                                    <p:commandButton icon="Excluir" action="#{propostaMB.excluirPropostaPlanilha(planMao.key.idPlanilha)}" update="@form" style="height: 39.5px !important;"  />
                                                                                </h:panelGrid>
                                                                            </xc:group>
                                                                        </h:panelGroup>
                                                                    </div>
                                                                </div>
                                                            </p:tab>
                                                        </p:tabView>
                                                    </div>
                                                </div>
                                            </p:tab>
                                            <p:tab title="Pessoal">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <p:dataTable id="tblPessoal" value="#{propostaMB.proposta.propostaPessoalList}" var="pes" paginator="true" paginatorPosition="bottom" 
                                                                     editable="true" editMode="cell" rowIndexVar="indexPP">
                                                            <f:facet name="header">
                                                                <p:commandButton value="Adicionar" icon="new_adicionar" action="#{propostaMB.adicionarPessoal()}" update="tblPessoal" immediate="true" />
                                                            </f:facet>
                                                            <p:column headerText="Cargo" width="25%" >
                                                                <p:cellEditor>
                                                                    <f:facet name="output">
                                                                        <h:outputText value="#{pes.idCargo.descricao == null ? 'Clique para adicionar'  : pes.idCargo.descricao}" />
                                                                    </f:facet>
                                                                    <f:facet name="input">
                                                                        <p:selectOneMenu value="#{pes.idCargo}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains">
                                                                            <f:selectItem itemLabel="Selecione o cargo" itemValue="" /> 
                                                                            <f:selectItems value="#{cargoMB.listarCargos()}" var="car" itemLabel="#{car.descricao}" 
                                                                                           itemValue="#{car}"/>
                                                                        </p:selectOneMenu>
                                                                    </f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Setor" width="25%" >
                                                                <p:cellEditor>
                                                                    <f:facet name="output">
                                                                        <h:outputText value="#{pes.idSetor.descricao == null ? 'Clique para adicionar' : pes.idSetor.descricao}" />
                                                                    </f:facet>
                                                                    <f:facet name="input">
                                                                        <p:selectOneMenu value="#{pes.idSetor}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains">
                                                                            <f:selectItem itemLabel="Selecione o setor" itemValue="" /> 
                                                                            <f:selectItems value="#{setorMB.listarsetores()}" var="set" itemLabel="#{set.descricao}" 
                                                                                           itemValue="#{set}"/>
                                                                        </p:selectOneMenu>
                                                                    </f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Planilha Referente" width="25%" >
                                                                <p:cellEditor>
                                                                    <f:facet name="output">
                                                                        <h:outputText value="#{pes.idPlanilha.descricao}" />
                                                                    </f:facet>
                                                                    <f:facet name="input">
                                                                        <p:selectOneMenu value="#{pes.idPlanilha}" converter="Converter" styleClass="form-control" filter="true" filterMatchMode="contains">
                                                                            <f:selectItem itemLabel="Selecione o setor" itemValue="" /> 
                                                                            <f:selectItems value="#{propostaMB.listaPlanilhasUsadas()}" var="plu" itemLabel="#{plu.descricao}" 
                                                                                           itemValue="#{plu}"/>
                                                                        </p:selectOneMenu>
                                                                    </f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Quantidade Funcionarios" width="10%" >
                                                                <p:cellEditor>
                                                                    <f:facet name="output">
                                                                        <h:outputText value="#{pes.quantidade}" />
                                                                    </f:facet>
                                                                    <f:facet name="input">
                                                                        <p:inputText value="#{pes.quantidade}" styleClass="form-control"  />
                                                                    </f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column width="5%" >
                                                                <p:commandButton icon="Excluir"  action="#{propostaMB.excluirPessoal(pes, indexPP)}" immediate="true" update="tblPessoal"/>
                                                            </p:column>
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                            </p:tab>
                                        </p:tabView>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <hr/>
                                            <p:commandButton value="Salvar" icon="Salvar" action="#{propostaMB.salvarPropostaComplete()}" update="@form, :msg, :frmCadastro" oncomplete="PF('dlgInserirNovaProposta').hide();" />
                                        </div>
                                    </h:form>
                                </p:scrollPanel>
                            </p:dialog>


                            <p:dialog widgetVar="dlgImportarMateriais" modal="true" width="80%" position="top" header="Importação de Materiais" resizable="false">
                                <p:scrollPanel mode="native" style="max-height:700px">
                                    <h:form id="frmImportarMateriais" style="overflow: auto">
                                        <p:dataTable value="#{propostaMB.listaMateriais}" var="mat" paginator="true" rows="10"  paginatorPosition="bottom"
                                                     widgetVar="wdtlMateriais" editable="true" editMode="cell"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowsPerPageTemplate="5,10,15,20,40,50,60">
                                            <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText styleClass="centralizar" style="color: #009900 !important;" value="#{mat.quantidade}" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <pe:inputNumber value="#{mat.quantidade}" >
                                                            <p:ajax event="blur" listener="#{propostaMB.calcularValoresDosMateriais(mat)}" update="vlrTotal, vlrTotalDepre"  />
                                                        </pe:inputNumber>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Medida" width="10%" >
                                                <h:outputText value="#{mat.produto.idUnidadeEntrada.descricaoResumida}" />
                                            </p:column>
                                            <p:column headerText="Material" width="25%" filterBy="#{mat.produto.descricao}" >
                                                <h:outputText value="#{mat.produto.descricao}" />
                                            </p:column>
                                            <p:column headerText="Grupo" width="15%" filterBy="#{mat.produto.idGrupo.descricao}" >
                                                <h:outputText value="#{mat.produto.idGrupo.descricao}" />
                                            </p:column>
                                            <p:column headerText="Depreciação" width="10%" styleClass="centralizar font-table">
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText  style="color: #009900 !important;" value="#{mat.mesesDepreciacao}" /></f:facet>
                                                    <f:facet name="input">
                                                        <pe:inputNumber value="#{mat.mesesDepreciacao}" >
                                                            <p:ajax event="blur" listener="#{propostaMB.calcularValoresDosMateriais(mat)}" update="vlrTotal, vlrTotalDepre"  />
                                                        </pe:inputNumber>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column headerText="Valor Unit." width="10%">
                                                <h:outputText value="#{mat.produto.precoCusto}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Valor Total" width="10%">
                                                <h:outputText value="#{mat.valorTotal}" id="vlrTotal" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Depreciação" width="10%">
                                                <h:outputText value="#{mat.valorTotalDepreciado}" id="vlrTotalDepre" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                        </p:dataTable>
                                        <hr/>
                                        <p:commandButton value="Confirmar" icon="Selecionar" update=":frmNovaProposta:tabsOne:tabs:acordiion:tblPropostaItemProduto, :frmNovaProposta:tabsOne:tabs:acordiion:tblProdutosResumos, :frmNovaProposta" action="#{propostaMB.importarMateriaisSelecionados()}" oncomplete="PF('dlgImportarMateriais').hide();" />
                                    </h:form>
                                </p:scrollPanel>
                            </p:dialog>




                            <p:dialog widgetVar="dlgPlanilhasMao" width="60%" modal="true" position="top center">
                                <h:form id="frmDlgPlanilhasMao">
                                    <p:dataTable value="#{planilhaProdutoMB.listarPlanilhasMaoDeObra()}" var="plani" >
                                        <p:column headerText="Descrição" width="70%">
                                            <h:outputText value="#{plani.descricao}" />
                                        </p:column>
                                        <p:column headerText="Tipo" width="15%">
                                            <h:outputText value="#{plani.tipo=='P'?'Produto':'Mão de Obra'}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton value="Adicionar" icon="Selecionar" action="#{propostaMB.importarPlanilhas(plani)}" disabled="#{propostaMB.verificarPlanilhaMaoEmUso(plani)}" oncomplete="PF('dlgPlanilhasMao').hide();" update=":frmNovaProposta"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>







                            <p:dialog widgetVar="dlgPlanilhasProd" width="60%" modal="true" position="top center">
                                <h:form id="frmDlgPlanilhasProds">
                                    <p:dataTable value="#{planilhaProdutoMB.listarPlanilhasProdutos()}" var="plani2" >
                                        <p:column headerText="Descrição" width="70%">
                                            <h:outputText value="#{plani2.descricao}" />
                                        </p:column>
                                        <p:column headerText="Tipo" width="15%">
                                            <h:outputText value="#{plani2.tipo=='P'?'Produto':'Mão de Obra'}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton value="Adicionar" icon="Selecionar" action="#{propostaMB.importarPlanilhaProdutos(plani2)}" disabled="#{propostaMB.verificarPlanilhaProdutoEmUso(plani2)}" oncomplete="PF('dlgPlanilhasProd').hide();" update=":frmNovaProposta"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgContrato" width="60%" modal="true" position="top" header="Contrato">
                                <h:form id="frmContrato">
                                    <p:tabView id="tabsss" >
                                        <p:tab title="Contrato" >
                                            <style>
                                                .cooll1{
                                                    width: 30%;

                                                }
                                                .cooll2{
                                                    width: 70%;
                                                    font-weight: bolder;
                                                    font-size: 11px;
                                                }
                                            </style>
                                            <div class="col-xs-12 row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <p:panelGrid columns="2" columnClasses="cooll1, cooll2">
                                                        <h:outputText value="Contrato" />
                                                        <h:outputText value="#{propostaMB.numeroDoContratoAtual()}" />
                                                        <h:outputText value="Cliente" />
                                                        <h:outputText value="#{propostaMB.contrato.idCliente.nome}" />
                                                        <h:outputText value="Início" />
                                                        <bcr:outputDate value="#{propostaMB.contrato.dtInicio}" />
                                                        <h:outputText value="Fim" />
                                                        <bcr:outputDate value="#{propostaMB.contrato.dtFim}" />
                                                    </p:panelGrid>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <p:panelGrid columns="2" columnClasses="cooll1, cooll2">
                                                        <h:outputText value="Valor" />
                                                        <bcr:outputMoney value="#{propostaMB.contrato.valor}" />
                                                        <h:outputText value="Status" />
                                                        <h:outputText value="#{propostaMB.contrato.status}" />
                                                    </p:panelGrid>
                                                </div>

                                            </div>
                                        </p:tab>
                                        <p:tab title="Resumo de Materiais" >
                                            <xc:group value="#{propostaMB.contrato.idProposta.propostaItemProdutoList}" var="val"   
                                                      groupBy="idProduto"  itemSortOrder="descending" rowIndexVar="riix">
                                                <bcr:minPanel label="#{val.key.idGrupo.descricao}" customId="riix" >
                                                    <p:dataTable value="#{val.value}" var="propi"  >  
                                                        <p:column headerText="Produto" width="55%">
                                                            <h:outputText value="#{propi.idProduto.descricao}" />
                                                        </p:column>
                                                        <p:column headerText="Quantidade" width="15%" styleClass="centralizar">
                                                            <h:outputText value="#{propi.quantidade}" />
                                                        </p:column>
                                                        <p:column headerText="Custo Unitário"  width="15%" styleClass="centralizar">
                                                            <bcr:outputMoney value="#{propi.valorDepreciacao}" />
                                                        </p:column>
                                                        <p:column headerText="Custo Total" width="15%" styleClass="centralizar">
                                                            <bcr:outputMoney value="#{propi.valorTotalDepreciacao}" />
                                                        </p:column>
                                                        <f:facet name="footer" >
                                                            <h:outputText value="Total: #{sessaoMB.formatarMoedaView((xc:sum(val.value, 'valorTotalDepreciacao')))}" />
                                                        </f:facet>
                                                    </p:dataTable>  
                                                </bcr:minPanel>
                                            </xc:group>  


                                        </p:tab>
                                        <p:tab title="Resumo de Pessoal" >
                                            <p:dataTable value="#{propostaMB.contrato.idProposta.propostaPessoalList}" var="pes" >
                                                <p:column headerText="Cargo"  width="40%">
                                                    <h:outputText value="#{pes.idCargo.descricao}" />
                                                </p:column>
                                                <p:column headerText="Setor"  width="40%">
                                                    <h:outputText value="#{pes.idSetor.descricao}" />
                                                </p:column>
                                                <p:column headerText="Quantidade"  width="20%" styleClass="centralizar">
                                                    <h:outputText value="#{pes.quantidade}" />
                                                </p:column>
                                            </p:dataTable>
                                        </p:tab>

                                    </p:tabView>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <hr/>
                                        <p:outputLabel value="Observação" />
                                        <p:inputTextarea value="#{propostaMB.contrato.observação}"  />
                                        <hr/>
                                        <p:commandButton value="Confirmar" icon="Selecionar" action="#{propostaMB.salvarContrato()}" update="@form,:msg" oncomplete="PF('dlgContrato').hide();" />
                                    </div>
                                </h:form>
                            </p:dialog>
                            <ui:include src="InserirPropostaFinanceira.xhtml" />
                        </div>
                    </p:panel>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
