<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgInserir" modal="true" header="Inserção de Proposta Financeira" width="50%" resizable="false" position="center top" >
        <h:form id="frmPropostaFinanceira">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p:outputLabel for="cliente" value="Cliente" />
                    <p:autoComplete id="cliente" value="#{propostaMB.propostaFinanceira.idCliente}" converter="Converter" 
                                    completeMethod="#{clienteMB.completeMethodCliente}" var="clie" maxResults="10"
                                    itemLabel="#{clie.nome}" itemValue="#{clie}" placeholder="Digite o nome do cliente!" required="true" 
                                    requiredMessage="Informe o cliente! " />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display: none">
                    <p:outputLabel for="dtFinalizacao" value="Finalização" />
                    <p:calendar id="dtFinalizacao" value="#{propostaMB.propostaFinanceira.dtFinalizacao}" mask="99/99/9999" locale="pt"  pattern="dd/MM/yyyy" readonly="true" showOn="false" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display: none">
                    <p:outputLabel for="desc" value="Descrição" />
                    <p:inputText id="desc" value="#{propostaMB.propostaFinanceira.descricao}" placeholder="Informe um descrição para o plano."  />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display: none">
                    <p:outputLabel for="dtCadastro" value="Cadastro" />
                    <p:calendar id="dtCadastro" value="#{propostaMB.propostaFinanceira.dtCadastro}" mask="99/99/9999" locale="pt"  pattern="dd/MM/yyyy" readonly="true" showOn="false" />
                </div>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display: none">
                    <p:outputLabel for="vlrTotal" value="Total" />
                    <p:inputText id="vlrTotal" value="#{propostaMB.propostaFinanceira.valorTotal}"  readonly="true"  >
                        <f:convertNumber type="currency" />
                    </p:inputText>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p:outputLabel for="obs" value="Observação" />
                    <p:inputTextarea id="obs" value="#{propostaMB.propostaFinanceira.observacao}" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <hr/>
                    <p:commandButton value="Salvar" icon="Salvar" update="@form, :frmCadastro, :msg" action="#{propostaMB.salvar()}" 
                                     oncomplete="if (!args.validationFailed ){ PF('dlgInserir').hide();  } " />
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>