<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgConsultaCidade"  header="Consulta de Cidades" width="80%" resizable="false" position="center top" modal="true">
        <h:form id="frmConsultarCidade">
            <p:dataTable id="cidades" value="#{clienteMB.cidadesLazy}" var="cidade" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" lazy="true"  >
                <f:facet name="header">
                    Cidades
                </f:facet>
                <f:facet name="footer">
                    #{clienteMB.cidades.size()} Registros encontrados.
                </f:facet>
                <p:column >
                    <p:commandButton value="Selecionar" action="#{clienteMB.setCidade(cidade)}" update=":frmCadastro:tabs:cidade, :frmCadastro:tabs:estado" oncomplete="PF('dlgConsultaCidade').hide();"  />
                </p:column>
                <p:column headerText="Cidade" filterBy="#{cidade.nome}" width="20%" sortBy="#{cidade.nome}">
                    <h:outputText value="#{cidade.nome}" />
                </p:column>
                <p:column headerText="Estado" filterBy="#{cidade.idEstado.sigla}" width="10%" sortBy="#{cidade.idEstado.nome}">
                    <center>
                        <h:outputText value="#{cidade.idEstado.sigla}"  />
                    </center>
                </p:column>
                <p:column headerText="CEP Unico" filterBy="#{cidade.cep}" sortBy="#{cidade.cep}">
                    <h:outputText value="#{cidade.cep}" />
                </p:column>
                <p:column headerText="Código IBGE" filterBy="#{cidade.codigoIBGE}" sortBy="#{cidade.codigoIBGE}">
                    <h:outputText value="#{cidade.codigoIBGE}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
    
</ui:composition>