<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
                 >



    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Clientes" width="80%" resizable="false" position="center top " modal="true">
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="clientes" >
                <p:menuitem value="Ficha / Informação"  icon="Info" oncomplete="PF('dlgInformacao').show()"  update=":frmInformacao"   />
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"   >
                    <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{clienteMB.excluir}"/>
            </p:contextMenu>

            <p:dataTable id="clientes" value="#{clienteMB.clientesLazy}" var="cliente" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" lazy="true"  paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15"  widgetVar="clientesTable"
                         rowKey="#{cliente.idCliente}" selection="#{clienteMB.cliente}" selectionMode="single">
                <p:column headerText="Código" filterBy="#{cliente.idCliente}" filterMatchMode="contains" width="8%" styleClass="centralizar" >
                        <h:outputText value="#{cliente.idCliente}" />
                </p:column>
                <p:column headerText="Nome" filterBy="#{cliente.nome}" filterMatchMode="contains" >
                    <h:outputText value="#{cliente.nome}" />
                </p:column>
                <p:column headerText="Tipo" filterBy="#{cliente.tipo}" filterMatchMode="contains" width="15%" >
                    <h:outputText value="#{cliente.tipo=='F'?'Física':'Jurídica'}" />
                </p:column>
                <p:column headerText="CPF/CNPJ" filterBy="#{cliente.cgccpf}" filterMatchMode="contains" width="13%" >
                    <h:outputText value="#{cliente.cgccpf}" />
                </p:column>
                <p:column headerText="Email" filterBy="#{cliente.email}" filterMatchMode="contains" width="22%" >
                    <h:outputText value="#{cliente.email}" />
                </p:column>
               
            </p:dataTable>
             
        </h:form>
    </p:dialog>

</ui:composition>