<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Cliente
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os clientes.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Cliente 
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <script type="text/javascript" >
    
                        function limpa_formulário_cep() {
                            //Limpa valores do formulário de cep.
                            document.getElementById('frmCadastro:tabs:logradouro').value=("");
                            document.getElementById('frmCadastro:tabs:bairro').value=("");
                        }

                        function meu_callback(conteudo) {
                            if (!("erro" in conteudo)) {
                                //Atualiza os campos com os valores.
                                document.getElementById('frmCadastro:tabs:logradouro').value=(conteudo.logradouro);
                                document.getElementById('frmCadastro:tabs:bairro').value=(conteudo.bairro);
                            } //end if.
                            else {
                                //CEP não Encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        }
        
                        function pesquisacep(cep) {

                            //Verifica se campo cep possui valor informado.
                            if (cep != "") {

                                //Expressão regular para validar o CEP.
                                var validacep = /^[0-9]{5}-?[0-9]{3}$/;

                                //Valida o formato do CEP.
                                if(validacep.test(cep)) {

                                    //Preenche os campos com "..." enquanto consulta webservice.
                                    document.getElementById('frmCadastro:tabs:logradouro').value="...";
                                    document.getElementById('frmCadastro:tabs:bairro').value="...";
                                

                                    //Cria um elemento javascript.
                                    var script = document.createElement('script');

                                    //Sincroniza com o callback.
                                    script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                                    //Insere script no documento e carrega o conteúdo.
                                    document.body.appendChild(script);

                                } //end if.
                                else {
                                    //cep é inválido.
                                    limpa_formulário_cep();
                                    alert("Formato de CEP inválido.");
                                }
                            } //end if.
                            else {
                                //cep sem valor, limpa formulário.
                                limpa_formulário_cep();
                            }
                        };





                        function limpa_formulário_cep2() {
                            //Limpa valores do formulário de cep.
                            document.getElementById('frmCadastro:tabs:logradouro2').value=("");
                            document.getElementById('frmCadastro:tabs:bairro2').value=("");
                        }

                        function meu_callback2(conteudo) {
                            if (!("erro" in conteudo)) {
                                //Atualiza os campos com os valores.
                                document.getElementById('frmCadastro:tabs:logradouro2').value=(conteudo.logradouro);
                                document.getElementById('frmCadastro:tabs:bairro2').value=(conteudo.bairro);
                            } //end if.
                            else {
                                //CEP não Encontrado.
                                limpa_formulário_cep()2;
                                alert("CEP não encontrado.");
                            }
                        }
        
                        function pesquisacep2(cep) {

                            //Verifica se campo cep possui valor informado.
                            if (cep != "") {

                                //Expressão regular para validar o CEP.
                                var validacep = /^[0-9]{5}-?[0-9]{3}$/;

                                //Valida o formato do CEP.
                                if(validacep.test(cep)) {

                                    //Preenche os campos com "..." enquanto consulta webservice.
                                    document.getElementById('frmCadastro:tabs:logradouro2').value="...";
                                    document.getElementById('frmCadastro:tabs:bairro2').value="...";
                                

                                    //Cria um elemento javascript.
                                    var script = document.createElement('script');

                                    //Sincroniza com o callback.
                                    script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                                    //Insere script no documento e carrega o conteúdo.
                                    document.body.appendChild(script);

                                } //end if.
                                else {
                                    //cep é inválido.
                                    limpa_formulário_cep()2;
                                    alert("Formato de CEP inválido.");
                                }
                            } //end if.
                            else {
                                //cep sem valor, limpa formulário.
                                limpa_formulário_cep()2;
                            }
                        };
                    </script>
                    <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCliente}"/>
                    <p:panel header="Cadastro de Cliente " rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroCliente}" >
                        <div class="row">
                            <ui:include src="formInserirCliente.xhtml" />
                            <ui:include src="consultarCidade.xhtml" />
                            <ui:include src="consultarCidade2.xhtml" />
                            <ui:include src="adicionarTelefone.xhtml" />
                            <ui:include src="adicionarResponsavel.xhtml" />
                            <ui:include src="adicionarCentroCusto.xhtml" />
                        </div>
                        <ui:include src="formconsultaCliente.xhtml" />
                        <ui:include src="fichaInfo.xhtml" />
                    </p:panel>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
