<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Requisição
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode requisitar e gerenciar as requisições para a execução de suas atividades.
            </ui:define>
            <ui:define name="breadcrumb">
                Requisição
            </ui:define>
            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaRequisicao}"/>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <p:tabView id="tabs" dynamic="true" cache="true" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.logisticaRequisicao}">
                                <p:tab title="Requisição de Materiais" >
                                    <div class="row">
                                        <ui:include src="../RequisicaoMaterial/index.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Lancar.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Ver.xhtml" />
                                        <ui:include src="../RequisicaoMaterial/Pesquisar.xhtml" />
                                    </div>
                                </p:tab>
                                <p:tab   id="analise" >
                                    <f:facet name="title">
                                        Análise de Requisições &nbsp;
                                        <span class="label label-danger">#{requisicaoMaterialMB.listaRequisicoesParaAnalise().size()}</span>
                                    </f:facet>
                                    <ui:include src="../RequisicaoMaterial/Analisar.xhtml" />
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
