<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Perfil
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode alterar dados cadastrais do seu usuário.
            </ui:define>

            <ui:define name="breadcrumb">
                Perfil
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Profile" >
                        <h:form>
                            <div class="row">
                                <div class="col-md-12">
                                    <p:commandButton  value="Atualizar"  action="#{sessaoMB.atualizarUsuario()}" update="@form, :msg"  icon="Salvar" />
                                    <hr/>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <bcr:outputInfo label="Usuário" value="#{sessaoMB.usuario.login}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <bcr:outputInfoDate label="Cadastrado em" value="#{sessaoMB.usuario.dtCadastro}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <bcr:outputInfoDate label="Perfil" value="#{sessaoMB.usuario.idPerfil.descricao}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <bcr:outputInfoDate label="Empresa" value="#{sessaoMB.usuario.idEmpresa.nomeFantasia}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <h:outputText value="Nome" />
                                    <p:inputText value="#{sessaoMB.usuario.nome}" required="true" requiredMessage="Informe o nome!" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <h:outputText value="Senha" />
                                    <p:inputText type="password" value="#{sessaoMB.usuario.senha}"   required="true" requiredMessage="Informe a senha!" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <h:outputText value="Email" />
                                    <p:inputText type="text" value="#{sessaoMB.usuario.email}" />
                                </div>
                            </div>
                        </h:form>
                    </p:panel>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
