<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Grupos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="grupos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{grupoMB.excluir}"/>
            </p:contextMenu>

            <p:dataTable id="grupos" value="#{grupoMB.listarGrupos()}" var="grupo" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{grupo.idGrupo}" selection="#{grupoMB.grupo}" selectionMode="single">
                <f:facet name="header">
                    Grupos
                </f:facet>
                <f:facet name="footer">
                    #{grupoMB.listarGrupos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{grupo.idGrupo}" width="8%" sortBy="#{grupo.idGrupo}">
                    <center>
                        <h:outputText value="#{grupo.idGrupo}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{grupo.descricao}" width="20%" sortBy="#{grupo.descricao}">
                    <h:outputText value="#{grupo.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>