<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Empresa
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar/alterar os dados da empresa.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Empresa
            </ui:define>

            <ui:define name="content">
                <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEmpresa}"/>
                <p:panel header="Cadastro de Empresa" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEmpresa}">
                    <div class="row">
                        <h:form id="frmCadastro">
                            <div class="col-md-12">
                                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                            <p:ajax update="@form, :frmCadastro" listener="#{empresaMB.novo()}"  resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton  value="Salvar" action="#{empresaMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                                            <f:param name="mode" value="true"  />
                                        </p:commandButton>
                                        <p:commandButton  value="Consultar" icon="Consultar" update=":frmConsultarEmpresa" oncomplete="PF('dlgConsultaEmpresa').show();"   />
                                <hr/>
                            </div>

                            <div class="col-md-12">
                                <p:tabView id="tabs">
                                    <p:tab title="Dados da Empresa" >
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                                                <p:outputLabel for="codigo" value="Código" />
                                                <p:inputText id="codigo" value="#{empresaMB.empresa.idEmpresa}"  readonly="true"/>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-10 col-lg-4">
                                                <p:outputLabel for="nomeFantasia" value="Nome Fantasia" />
                                                <p:inputText id="nomeFantasia" value="#{empresaMB.empresa.nomeFantasia}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                                <p:outputLabel for="razaoSocial" value="Razão Social" />
                                                <p:inputText id="razaoSocial" value="#{empresaMB.empresa.razaoSocial}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2">
                                                <p:outputLabel for="cnpj" value="CNPJ" />
                                                <p:inputMask id="cnpj" mask="99.999.999/9999-99" value="#{empresaMB.empresa.cnpj}" />
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="ie" value="Inscrição Estadual"  />
                                                <p:inputText id="ie" value="#{empresaMB.empresa.ie}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="im" value="Inscrição Municipal"  />
                                                <p:inputText id="im" value="#{empresaMB.empresa.im}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="cnae" value="CNAE"  />
                                                <p:inputText id="cnae" value="#{empresaMB.empresa.cnae}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="nire" value="Nire"  />
                                                <p:inputText id="nire" value="#{empresaMB.empresa.nire}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-1">
                                                <p:outputLabel for="inativo" value="Inativo"  />
                                                <p:selectOneRadio  id="inativo" value="#{empresaMB.empresa.inativo}" required="#{param['mode']}" requiredMessage="Informe se o empresa está inativo!" >
                                                    <f:selectItem itemLabel="Não  " itemValue="N"   />
                                                    <f:selectItem itemLabel="Sim  " itemValue="S" />
                                                </p:selectOneRadio>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="suframa" value="Suframa"  />
                                                <p:inputText id="suframa" value="#{empresaMB.empresa.inscricaoSuframa}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="numjuridico" value="Nº Jurídico"  />
                                                <p:inputText id="numjuridico" value="#{empresaMB.empresa.numJuridico}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="email" value="Email"  />
                                                <p:inputText id="email" value="#{empresaMB.empresa.email}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="contato" value="Contato"  />
                                                <p:inputText id="contato" value="#{empresaMB.empresa.contato}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <p:outputLabel for="obs" value="Observação"  />
                                                <p:inputTextarea id="obs" value="#{empresaMB.empresa.observacao}"  rows="4"/>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano2" nameFunc="atalhoPlano" valueToOpenDialog="Cadastrar Plano" />
                                                <p:outputLabel for="planContas" value="Plano de Contas Caixa Abertura" />
                                                <p:selectOneMenu id="planContas" value="#{empresaMB.planoContas}" converter="Converter"
                                                                 styleClass="form-control" filter="true" filterMatchMode="contains"  var="p2" 
                                                                 requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano2"  onchange="atalhoPlano(this)">
                                                    <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                                                    <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans" 
                                                                   itemDisabled="#{plans.tipo=='S'}"
                                                                   itemLabel="#{plans.codigo} - #{plans.descricao} " itemValue="#{plans}" /> 
                                                    <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                                                    <p:column style=""  >
                                                        <h:outputText value="#{p2.codigo}" style="#{p2.tipo=='S' ? '':'font-size:15px; font-weight:bolder;'}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{p2.descricao}" style="#{p2.tipo=='S' ? '':'font-size:15px; font-weight:bolder;'}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <p:outputLabel for="dtPrimeiro" value="Data do 1ºCaixa"  />
                                                <p:calendar id="dtPrimeiro" pattern="dd/MM/yyyy" mask="99/99/9999" value="#{empresaMB.dtPrimeiroCaixa}"/>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <p:outputLabel for="vlrSaldoIniciall" value="Saldo do Caixa Inicial"  />
                                                <pe:inputNumber id="vlrSaldoIniciall" value="#{empresaMB.empresa.caixaInicialValor}" symbol="R$ "
                                                                decimalSeparator="," thousandSeparator="."  required="#{param['mode']}" requiredMessage="Valor Caixa Inicial é obrigatório!">  
                                                </pe:inputNumber>  
                                            </div>

                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano3" nameFunc="atalhoPlano3" valueToOpenDialog="Cadastrar Plano" />
                                                <p:outputLabel for="planContas3" value="Plano de Contas Referente á Receita" />
                                                <p:selectOneMenu id="planContas3" value="#{empresaMB.empresa.idPlanoReceita}" converter="Converter"
                                                                 styleClass="form-control" filter="true" filterMatchMode="contains"  var="p3"  required="#{param['mode']}"
                                                                 requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano3"  onchange="atalhoPlano3(this)">
                                                    <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                                                    <f:selectItems value="#{planoContasMB.listaPlanoContasCredito()}" var="plans3" 
                                                                   itemLabel="#{plans3.codigo} - #{plans3.descricao} " itemValue="#{plans3}" /> 
                                                    <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                                                    <p:column style=""  >
                                                        <h:outputText value="#{p3.codigo}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{p3.descricao}"  />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano4" nameFunc="atalhoPlano" valueToOpenDialog="Cadastrar Plano" />
                                                <p:outputLabel for="planContas24" value="Plano de Contas Referente á Despesa" />
                                                <p:selectOneMenu id="planContas24" value="#{empresaMB.empresa.idPlanoDespesa}" converter="Converter"
                                                                 styleClass="form-control" filter="true" filterMatchMode="contains"  var="p4"  required="#{param['mode']}"
                                                                 requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano4"  onchange="atalhoPlano4(this)">
                                                    <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                                                    <f:selectItems value="#{planoContasMB.listaPlanoContasDebito()}" var="plans4" 
                                                                   itemLabel="#{plans4.codigo} - #{plans4.descricao} " itemValue="#{plans4}" /> 
                                                    <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                                                    <p:column style=""  >
                                                        <h:outputText value="#{p4.codigo}"  />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{p4.descricao}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <p:outputLabel for="locTran" value="Local de Trabalho Referente aos Custos Administrativos" />
                                                <p:selectOneMenu id="locTran" value="#{empresaMB.empresa.idLocalTrabalho}" converter="Converter"
                                                                 styleClass="form-control" filter="true" filterMatchMode="contains"    required="#{param['mode']}"
                                                                 requiredMessage="Local de Trabalho é obrigatório!"   >
                                                    <f:selectItem itemLabel="Selecione o Local de Trabalho" itemValue="" />
                                                    <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc" 
                                                                   itemLabel="#{loc.idLocalTrabalho} - #{loc.descricao} " itemValue="#{loc}" /> 
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Endereço" >
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="cep" value="CEP"/>

                                                <p:inputMask id="cep" value="#{empresaMB.empresa.cep}" styleClass="inputSearch" mask="99999-999"  onblur="pesquisacep(this.value);" >
                                                    <p:ajax listener="#{empresaMB.pesquisarCEP()}" update="logradouro,bairro,cidade,estado,:msg" />
                                                </p:inputMask>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="tipologradouro" value="Tipo de Logradouro"/>
                                                <p:inputText id="tipologradouro" value="#{empresaMB.empresa.tipoLogradouro}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                <p:outputLabel for="logradouro"  value="Logradouro"/>
                                                <p:inputText id="logradouro" value="#{empresaMB.empresa.logradouro}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="numero" value="Número"/>
                                                <p:inputText id="numero" value="#{empresaMB.empresa.numero}" />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="complemento" value="Complemento"/>
                                                <p:inputText id="complemento" value="#{empresaMB.empresa.complemento}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <p:outputLabel for="bairro" value="Bairro"/>
                                                <p:inputText id="bairro" value="#{empresaMB.empresa.bairro}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                <p:outputLabel for="cidade" value="Cidade"/>
                                                <h:panelGrid columns="2" style="width: 100%;">
                                                    <p:inputText id="cidade" value="#{empresaMB.cidade.nome}" styleClass="inputSearch" readonly="true" />
                                                    <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"  onclick="PF('dlgConsultaCidade').show();" actionListener="#{empresaMB.carregarDatatableCidade()}" update=":frmConsultarCidade"  >
                                                    </p:commandButton>
                                                </h:panelGrid>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="estado" value="Estado"/>
                                                <p:inputText id="estado" value="#{empresaMB.cidade.idEstado.sigla}"  readonly="true"/>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Dados do Contador" >
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                <p:outputLabel for="nomeContador" value="Nome do Contador"/>
                                                <p:inputText id="nomeContador" value="#{empresaMB.empresa.nomeContador}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="crc" value="CRC do Contador"/>
                                                <p:inputText id="crc" value="#{empresaMB.empresa.CRCcontador}"  />
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                                <p:outputLabel for="junta" value="Nº Junta Comercial"/>
                                                <p:inputText id="junta" value="#{empresaMB.empresa.juntaComercial}"  />
                                            </div>
                                        </div>
                                    </p:tab>
                                    
                                </p:tabView>
                            </div>
                        </h:form>

                        <p:dialog widgetVar="dlgConsultaCidade"  header="Consulta de Cidades" width="80%" resizable="false" position="center top" modal="true">
                            <h:form id="frmConsultarCidade">
                                <p:dataTable id="cidades" value="#{empresaMB.cidadesLazy}" var="cidade" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                             paginatorPosition="bottom" lazy="true"  >
                                    <f:facet name="header">
                                        Cidades
                                    </f:facet>
                                    <f:facet name="footer">
                                        #{empresaMB.cidades.size()} Registros encontrados.
                                    </f:facet>
                                    <p:column >
                                        <p:commandButton value="Selecionar" action="#{empresaMB.setCidade(cidade)}" update=":frmCadastro:tabs:cidade, :frmCadastro:tabs:estado" oncomplete="PF('dlgConsultaCidade').hide();"  />
                                    </p:column>
                                    <p:column headerText="Cidade" filterBy="#{cidade.nome}" width="20%" sortBy="#{cidade.nome}">
                                        <h:outputText value="#{cidade.nome}" />
                                    </p:column>
                                    <p:column headerText="Estado" filterBy="#{cidade.idEstado.sigla}" width="10%" sortBy="#{cidade.idEstado.nome}">
                                        <center>
                                            <h:outputText value="#{cidade.idEstado.sigla}"  />
                                        </center>
                                    </p:column>
                                    <p:column headerText="CEP Unico" filterBy="#{cidade.cep}" sortBy="#{cidade.cep}">
                                        <h:outputText value="#{cidade.cep}" />
                                    </p:column>
                                    <p:column headerText="Código IBGE" filterBy="#{cidade.codigoIBGE}" sortBy="#{cidade.codigoIBGE}">
                                        <h:outputText value="#{cidade.codigoIBGE}" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:dialog>

                        <p:dialog widgetVar="dlgConsultaEmpresa"  header="Consulta de Empresa" width="80%" resizable="false" position="center top" modal="true">
                            <p:messages id="msg2" closable="true" />
                            <h:form id="frmConsultarEmpresa">
                                <p:contextMenu for="cidades" >
                                    <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsultaEmpresa').hide()"  update=":frmCadastro"  >
                                        <f:param name="mode" value="false" />
                                    </p:menuitem>
                                    <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{empresaMB.excluir()}"/>
                                </p:contextMenu>
                                <p:dataTable id="cidades" value="#{empresaMB.listaEmpresas()}" var="emp" 
                                             paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                             paginatorPosition="bottom" rowKey="#{emp.idEmpresa}" selection="#{empresaMB.empresa}" selectionMode="single"  >
                                    <f:facet name="header">
                                        Empresas
                                    </f:facet>
                                    <f:facet name="footer">
                                        #{empresaMB.listaEmpresas().size()} Registros encontrados.
                                    </f:facet>
                                    <p:column headerText="Código" filterBy="#{emp.idEmpresa}" width="10%" style="text-align: center" sortBy="#{emp.idEmpresa}">
                                        <h:outputText value="#{emp.idEmpresa}" />
                                    </p:column>
                                    <p:column headerText="Nome Fantasia" filterBy="#{emp.nomeFantasia}" width="30%" sortBy="#{emp.nomeFantasia}">
                                        <h:outputText value="#{emp.nomeFantasia}"  />
                                    </p:column>
                                    <p:column headerText="Razão Social" filterBy="#{emp.razaoSocial}" sortBy="#{emp.razaoSocial}">
                                        <h:outputText value="#{emp.razaoSocial}" />
                                    </p:column>
                                    <p:column headerText="CNPJ" filterBy="#{emp.cnpj}" sortBy="#{emp.cnpj}">
                                        <h:outputText value="#{emp.cnpj}" />
                                    </p:column>
                                    <p:column headerText="CNAE" filterBy="#{emp.cnae}" sortBy="#{emp.cnae}">
                                        <h:outputText value="#{emp.cnae}" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:dialog>
                        
                    </div>
                </p:panel>

            </ui:define>

        </ui:composition>

    </body>
</html>
