<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Modelo de NFE" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="modelos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{modeloNfeMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="modelos" value="#{modeloNfeMB.listarModelos()}" var="modelo" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{modelo.idModelo}" selection="#{modeloNfeMB.modeloNfe}" selectionMode="single">
                <f:facet name="header">
                    Modelo de NFE
                </f:facet>
                <f:facet name="footer">
                    #{modeloNfeMB.listarModelos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{modelo.codigo}" width="8%" sortBy="#{modelo.codigo}">
                    <center>
                        <h:outputText value="#{modelo.codigo}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{modelo.descricao}" width="20%" sortBy="#{modelo.descricao}">
                    <h:outputText value="#{modelo.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>