<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Setores" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="setores" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{setorMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="setores" value="#{setorMB.listarsetores()}" var="setor" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{setor.idSetor}" selection="#{setorMB.setor}" selectionMode="single">
                <f:facet name="header">
                    Setores
                </f:facet>
                <f:facet name="footer">
                    #{setorMB.listarsetores().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{setor.idSetor}" width="8%" sortBy="#{setor.idSetor}">
                    <center>
                        <h:outputText value="#{setor.idSetor}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{setor.descricao}" width="20%" sortBy="#{setor.descricao}">
                    <h:outputText value="#{setor.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>