<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Setor
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os Setores.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Setores
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Setores" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroEmpresa}">
                        <ui:include src="consultarSetor.xhtml"/>
                        <ui:include src="inserirSetor.xhtml"/>
                    </p:panel>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
