<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                <p:toolbar id="tb">
                    <f:facet name="left">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{setorMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{setorMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                            <f:param name="mode" value="true"/>
                        </p:commandButton>
                    </f:facet>
                    <f:facet name="right">
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                    </f:facet>
                </p:toolbar>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{setorMB.setor.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>