<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:xc="http://xpert.com/faces">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Planilha de Mão de Obra
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer o cadastro de planilha de Mão de Obra.
            </ui:define>
            <ui:define name="breadcrumb">
                Planilha de Mão de Obra
            </ui:define>
            <ui:define name="content">
                <div class="col-lg-12">
                    <p:panel header="Cadastro de Planilha de Mão de Obra" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroPlanilha}">
                        <div class="row">
                            <h:form id="frmCadastro" >
                                <div class="col-md-12">
                                    <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                        <p:ajax update="@form, :frmCadastro" listener="#{planilhaMaoObraMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Salvar"   update=" @form ,:msg"   icon="Salvar" action="#{planilhaMaoObraMB.salvar()}">
                                        <f:param name="mode" value="true"  />
                                        <f:param name="mode2" value="false"  />
                                        <f:param name="mode3" value="false"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Consultar"  icon="Consultar" update=":frmConsultar"   oncomplete="PF('dlgConsulta').show()" />
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <p:tabView id="tabss" >
                                        <p:tab title="Levantamento Técnico de Mão de Obra">
                                            <div class="row">
                                                <h:panelGroup id="grupoHeader">
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                        <p:outputLabel for="desc" value="Descrição" />
                                                        <p:inputText id="desc" value="#{planilhaMaoObraMB.planilha.descricao}"  required="#{param['mode']}" requiredMessage="Informe a descrição"/>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                        <p:outputLabel for="setor" value="Setor" />
                                                        <p:selectOneMenu id="setor" value="#{planilhaMaoObraMB.planilha.idSetor}" converter="Converter" styleClass="form-control" >
                                                            <f:selectItem itemLabel="Selecione o setor" itemValue="" />
                                                            <f:selectItems value="#{setorMB.listarsetores()}" var="set" itemLabel="#{set.descricao}" itemValue="#{set}" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                        <p:outputLabel for="cargo" value="Cargo" />
                                                        <p:selectOneMenu id="cargo" value="#{planilhaMaoObraMB.planilha.idCargo}" converter="Converter" styleClass="form-control" required="#{param['mode']}" requiredMessage="Informe o cargo!" >
                                                            <f:selectItem itemLabel="Selecione o cargo" itemValue="" />
                                                            <f:selectItems value="#{cargoMB.listarCargos()}" var="car" itemLabel="#{car.descricao}" itemValue="#{car}" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                </h:panelGroup>
                                                <div class="col-xs-12">
                                                    <hr/>
                                                </div>
                                                <h:panelGroup id="item">
                                                    <div class="col-xs-8 col-sm-9 col-md-3 col-lg-3">
                                                        <p:outputLabel for="desc2" value="Descrição" />
                                                        <p:inputText id="desc2" required="#{param['mode3']}" requiredMessage="Informe a descrição do item!" value="#{planilhaMaoObraMB.planilhaItem.descricao}" />
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="tipo" value="Tipo" />
                                                        <p:selectOneMenu id="tipo" value="#{planilhaMaoObraMB.planilhaItem.tipo}" styleClass="form-control" required="#{param['mode3']}" requiredMessage="Informe o tipo!">
                                                            <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                                                            <f:selectItems value="#{planilhaMaoObraMB.tipos}" var="tpo" itemLabel="#{tpo.descricao}" itemValue="#{tpo.descricao}"  />
                                                            <p:ajax event="change" listener="#{planilhaMaoObraMB.carregarGrupos(planilhaMaoObraMB.planilhaItem.tipo)}" update="grpo" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="grpo" value="Grupo" />
                                                        <p:selectOneMenu id="grpo" value="#{planilhaMaoObraMB.planilhaItem.grupo}" styleClass="form-control" required="#{param['mode3']}" requiredMessage="Informe o grupo!">
                                                            <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                                                            <f:selectItems value="#{planilhaMaoObraMB.grupos}" var="gpr" itemLabel="#{gpr.descricao}" itemValue="#{gpr.descricao}"  />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                                        <p:outputLabel for="percent" value="%" />
                                                        <pe:inputNumber id="percent" value="#{planilhaMaoObraMB.planilhaItem.percentual}" symbolPosition="s"  symbol=" % "
                                                                        decimalSeparator="," thousandSeparator="." maxValue="100.00">
                                                        </pe:inputNumber>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel value="Ação" />
                                                        <p:selectOneMenu value="#{planilhaMaoObraMB.planilhaItem.acao}"  styleClass="form-control">
                                                            <f:selectItem itemLabel="Selecione a ação" itemValue="" />
                                                            <f:selectItem itemLabel="Somar" itemValue="+" />
                                                            <f:selectItem itemLabel="Somar Distinto" itemValue="++" />
                                                            <f:selectItem itemLabel="Subtrair" itemValue="-" />
                                                            <f:selectItem itemLabel="Subtrair Distinto" itemValue="--" />
                                                            <f:selectItem itemLabel="Multiplicar" itemValue="*" />
                                                            <f:selectItem itemLabel="Multiplicar Distinto" itemValue="**" />
                                                            <f:selectItem itemLabel="Dividir" itemValue="/" />
                                                            <f:selectItem itemLabel="Dividir Distinto" itemValue="//" />
                                                            <f:selectItem itemLabel="Percentual" itemValue="%" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                                        <p:outputLabel value="Pos. Inicial" />
                                                        <p:inputText value="#{planilhaMaoObraMB.planilhaItem.posicaoInicial}" />
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                                        <p:outputLabel value="Pos. Final" />
                                                        <p:inputText value="#{planilhaMaoObraMB.planilhaItem.posicaoFinal}" />
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel value="Valor Default" />
                                                        <p:inputText value="#{planilhaMaoObraMB.planilhaItem.valor}" />
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="vlrEdit" value="R$ Editavel" />
                                                        <p:selectOneMenu id="vlrEdit" value="#{planilhaMaoObraMB.planilhaItem.valorEditavel}" styleClass="form-control">
                                                            <f:selectItem itemLabel="Não" itemValue="N"/>
                                                            <f:selectItem itemLabel="Sim" itemValue="S"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="percentEdit" value="% Editavel" />
                                                        <p:selectOneMenu id="percentEdit" value="#{planilhaMaoObraMB.planilhaItem.percentualEditavel}" styleClass="form-control">
                                                            <f:selectItem itemLabel="Não" itemValue="N"/>
                                                            <f:selectItem itemLabel="Sim" itemValue="S"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                                        <p:outputLabel for="TotFinal" value="Totalizador Final" />
                                                        <p:selectOneMenu id="TotFinal" value="#{planilhaMaoObraMB.planilhaItem.registroTotalizador}" styleClass="form-control">
                                                            <f:selectItem itemLabel="Não" itemValue="N"/>
                                                            <f:selectItem itemLabel="Sim" itemValue="S"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                        <p:outputLabel for="fmilia" value="Familia" />
                                                        <p:selectOneMenu id="fmilia" value="#{planilhaMaoObraMB.planilhaItem.idGrupo}" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter">
                                                            <f:selectItem itemLabel="Selecione a familia" itemValue=""/>
                                                            <f:selectItems value="#{grupoMB.listarGrupos()}" var="grps" itemLabel="#{grps.descricao}" itemValue="#{grps}" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                </h:panelGroup>
                                                <div class="col-xs-12 ">
                                                    <br/>
                                                    <p:commandButton value="Adicionar" icon="new_adicionar" update="item, :msg, @form"   action="#{planilhaMaoObraMB.adicionar()}"  oncomplete="$(function(){PrimeFaces.focus('frmCadastro:desc2');});">
                                                        <f:param name="mode3" value="true"  />
                                                    </p:commandButton>
                                                    <xc:group  id="agrp" value="#{planilhaMaoObraMB.planilha.planilhaItemList}" var="groups"   
                                                               groupBy="tipo" rowIndexVar="iidx"  >
                                                        <p:separator />
                                                        <style>
                                                            .coo1{
                                                                width: 90%;
                                                            }
                                                            .coo2{
                                                                width: 5%;
                                                            }
                                                            .coo3{
                                                                width: 4%;
                                                            }
                                                            .coo4{
                                                                width: 1%;
                                                            }
                                                        </style>
                                                        <h:panelGrid columns="4" style="width: 100%"  columnClasses="coo1, coo2, coo3,coo4">
                                                            <h:outputText style="font-weight: bold; color: #045491;" styleClass="h3" value=" #{groups.key}"/>  
                                                            <h:outputText  style="font-weight: bold; color: #045491;" styleClass="h3" value="Total:"/>  
                                                            <h:outputText  style="font-weight: bold; color: #045491;" styleClass="h3" value="#{xc:sum(groups.value, 'percentual')}">  
                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"   />  
                                                            </h:outputText>  
                                                            <h:outputText  style="font-weight: bold; color: #045491;" styleClass="h3" value=" %"/>  
                                                        </h:panelGrid>
                                                        <hr />
                                                        <bcr:minPanel id="pan" customId="22#{iidx}" label="#{groups.key}" >
                                                            <xc:group value="#{groups.value}" var="tips"    id="agrp2"
                                                                      groupBy="grupo" itemSortField="posicao" itemSortOrder="ascending" >
                                                                &nbsp;&nbsp;&nbsp; <h:outputText style="font-style: italic;" styleClass="h5"  value="#{tips.key}"/>  
                                                                <br/>
                                                                <p:dataTable id="tblItens" value="#{tips.value}" var="pil"   rowIndexVar="pindex" editable="true" editMode="cell">
                                                                    <p:column headerText="Pos" style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}" width="5%" styleClass="centralizar font-table" >
                                                                        <h:outputText value="#{pil.posicao}" />
                                                                    </p:column>
                                                                    <p:column headerText="Descrição" style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}" width="20%" styleClass="font-table" >
                                                                        <p:cellEditor>
                                                                            <f:facet name="input"><p:inputText id="modelInput" value="#{pil.descricao}" style="width:96%"/></f:facet>
                                                                            <f:facet name="output"><h:outputText value="#{pil.descricao}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="%" width="5%" styleClass="centralizar font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}">
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <pe:inputNumber value="#{pil.percentual}" symbolPosition="s"  symbol=" % "
                                                                                                decimalSeparator="," thousandSeparator="." maxValue="100.00">
                                                                                </pe:inputNumber>
                                                                            </f:facet>
                                                                            <f:facet name="output"> <h:outputText value="#{pil.percentual}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="% Editavel" width="8%" styleClass="centralizar font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}">
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:selectOneMenu  value="#{pil.percentualEditavel}" styleClass="form-control">
                                                                                    <f:selectItem itemLabel="Não" itemValue="N"/>
                                                                                    <f:selectItem itemLabel="Sim" itemValue="S"/>
                                                                                </p:selectOneMenu>
                                                                            </f:facet>
                                                                            <f:facet name="output"> <h:outputText value="#{pil.percentualEditavel}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="R$ Editavel" width="8%" styleClass="centralizar font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}">
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:selectOneMenu  value="#{pil.valorEditavel}" styleClass="form-control">
                                                                                    <f:selectItem itemLabel="Não" itemValue="N"/>
                                                                                    <f:selectItem itemLabel="Sim" itemValue="S"/>
                                                                                </p:selectOneMenu>
                                                                            </f:facet>
                                                                            <f:facet name="output"> <h:outputText value="#{pil.valorEditavel}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="Ação"  width="5%" styleClass="font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}">
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:inputText value="#{pil.acao}"  />
                                                                            </f:facet>
                                                                            <f:facet name="output">  <h:outputText value="#{pil.acao}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="Tipo"  width="10%"  styleClass="font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}">
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:selectOneMenu  value="#{pil.tipo}" styleClass="form-control">
                                                                                    <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                                                                                    <f:selectItems value="#{planilhaMaoObraMB.tipos}" var="tpo" itemLabel="#{tpo.descricao}" itemValue="#{tpo.descricao}"  />
                                                                                    <p:ajax event="change" listener="#{planilhaMaoObraMB.carregarGrupos(pil.tipo)}" update="tblItens" />
                                                                                </p:selectOneMenu>
                                                                            </f:facet>
                                                                            <f:facet name="output">  <h:outputText value="#{pil.tipo}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="Grupo"  width="10%" styleClass="font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}" >
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:selectOneMenu  value="#{pil.grupo}" styleClass="form-control">
                                                                                    <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                                                                                    <f:selectItems value="#{planilhaMaoObraMB.grupos}" var="gpr" itemLabel="#{gpr.descricao}" itemValue="#{gpr.descricao}"  />
                                                                                </p:selectOneMenu>
                                                                            </f:facet>
                                                                            <f:facet name="output"> <h:outputText value="#{pil.grupo}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column headerText="Família"  width="10%" styleClass="font-table"  style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}" >
                                                                        <p:cellEditor>
                                                                            <f:facet name="input">
                                                                                <p:selectOneMenu  value="#{pil.idGrupo}" styleClass="form-control" converter="Converter" filter="true" filterMatchMode="contains">
                                                                                    <f:selectItem itemLabel="Selecione a familia" itemValue="" />
                                                                                    <f:selectItems value="#{grupoMB.listarGrupos()}" var="gprs2" itemLabel="#{gprs2.descricao}" itemValue="#{gprs2}"  />
                                                                                </p:selectOneMenu>
                                                                            </f:facet>
                                                                            <f:facet name="output"> <h:outputText value="#{pil.idGrupo.descricao}" /></f:facet>
                                                                        </p:cellEditor>
                                                                    </p:column>
                                                                    <p:column width="5%" style="#{planilhaMaoObraMB.escreveCor(pil.tipo)}" styleClass="centralizar"  >
                                                                        <p:commandButton icon="Excluir" action="#{planilhaMaoObraMB.excluirItemPlanilha(pindex, pil)}" update="@form" />
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </xc:group>  
                                                        </bcr:minPanel>
                                                    </xc:group>
                                                    <hr/>
                                                    <div style="height: 50px "></div>
                                                </div>
                                            </div>
                                        </p:tab>  
                                        <p:tab title="Levantamento de Materiais Usados">
                                            <div class="row">
                                                <h:panelGroup id="grupoMaterial">
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                        <p:outputLabel for="produto" value="Produto" />
                                                        <p:autoComplete id="produto" value="#{planilhaMaoObraMB.materiais.idProduto}" converter="Converter" completeMethod="#{produtoMB.completeMethodProduto}" var="pro" 
                                                                        itemLabel="#{pro.descricao}" itemValue="#{pro}" placeholder="Digite o nome ou código!" required="#{param['mode2']}"   requiredMessage="Informe o produto!">
                                                            <p:column>
                                                                <h:outputText value="#{pro.idProduto}" />
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="#{pro.descricao}" />
                                                            </p:column>
                                                            <p:ajax event="itemSelect"    oncomplete="$(function(){PrimeFaces.focus('frmCadastro:tabss:qnt');});" />
                                                        </p:autoComplete>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="qnt" value="Quantidade" />
                                                        <p:inputText id="qnt" value="#{planilhaMaoObraMB.materiais.quantidade}" styleClass="form-control"   required="#{param['mode2']}"  requiredMessage="Informe a quantidade de materiais!" />
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                        <p:outputLabel for="mses" value="Meses Dep" />
                                                        <p:inputText id="mses" value="#{planilhaMaoObraMB.materiais.mesesDepreciado}" styleClass="form-control"  required="#{param['mode2']}"  requiredMessage="Informe quantos meses depreciarão!" />
                                                    </div>
                                                </h:panelGroup>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <br/>
                                                    <p:commandButton icon="new_adicionar" value="Adicionar" action="#{planilhaMaoObraMB.adicionarMaterial()}"  update="grupoMaterial, tblMateriais" >
                                                        <f:param name="mode2" value="true"  />
                                                    </p:commandButton>
                                                    <hr/>
                                                    <p:dataTable value="#{planilhaMaoObraMB.planilha.planilhaMateriaisList}" var="mat" id="tblMateriais" rowIndexVar="indexMaterial" >
                                                        <p:column headerText="Produto" width="20%" >
                                                            <h:outputText value="#{mat.idProduto.descricao}"/>
                                                        </p:column>
                                                        <p:column headerText="Quantidade"  styleClass="centralizar" width="10%">
                                                            <h:outputText value="#{mat.quantidade}" />
                                                        </p:column>
                                                        <p:column headerText="Meses Dep" styleClass="centralizar"  width="10%">
                                                            <h:outputText value="#{mat.mesesDepreciado}" />
                                                        </p:column>
                                                        <p:column  width="5%" styleClass="centralizar">
                                                            <p:commandButton icon="Excluir" action="#{planilhaMaoObraMB.excluirMaterial(mat, indexMaterial)}" update="tblMateriais" immediate="true" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </p:tab>  
                                    </p:tabView>
                                </div>
                            </h:form>


                            <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Planilhas de Mão de Obras" width="80%" resizable="false" position="center top" >
                                <p:messages id="msg2" closable="true"/>
                                <h:form id="frmConsultar">
                                    <p:contextMenu for="planilhas" >
                                        <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  >
                                            <f:param name="mode" value="false" />
                                        </p:menuitem>
                                        <p:menuitem value="Copiar"  icon="Copiar" action="#{planilhaMaoObraMB.copiarPlanilha()}" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  >
                                            <f:param name="mode" value="false" />
                                        </p:menuitem>
                                        <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{planilhaMaoObraMB.excluir()}"/>
                                    </p:contextMenu>
                                    <p:dataTable id="planilhas" value="#{planilhaMaoObraMB.listaPlanilhas()}" var="plan" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                                 paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                                                 rowKey="#{plan.idPlanilha}" selection="#{planilhaMaoObraMB.planilha}" selectionMode="single">
                                        <f:facet name="header">
                                            Planilhas de Mão de Obra
                                        </f:facet>
                                        <f:facet name="footer">
                                            #{planilhaMaoObraMB.listaPlanilhas().size()} Registros encontrados.
                                        </f:facet>

                                        <p:column headerText="Código" filterBy="#{plan.idPlanilha}" width="8%" sortBy="#{plan.idPlanilha}">
                                            <center>
                                                <h:outputText value="#{plan.idPlanilha}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Descrição" filterBy="#{plan.descricao}" width="20%" sortBy="#{plan.descricao}">
                                            <h:outputText value="#{plan.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                        </div>
                    </p:panel>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
