<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Transportadoras" width="80%" resizable="false" position="center top " modal="true" draggable="false">
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="transportadoras" >
                <p:menuitem value="Ficha / Informação"  icon="Info" onclick="PF('dlgInformacao').show()"   update=":frmInformacao"  />
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"   >
                    <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{transportadoraMB.excluir}"/>
            </p:contextMenu>
            <p:dataTable id="transportadoras" value="#{transportadoraMB.listaTransportadoras()}" var="trans" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         emptyMessage="Nenhum transportadora encontrada"  rowKey="#{trans.idTransportadora}" 
                         selection="#{transportadoraMB.transportadora}" selectionMode="single">

                <p:column headerText="Código" filterBy="#{trans.idTransportadora}" >
                    <center><h:outputText value="#{trans.idTransportadora}" /></center>
                </p:column>
                <p:column headerText="Nome Fantasia" filterBy="#{trans.nomeFantasia}" >
                    <center><h:outputText value="#{trans.nomeFantasia}" /></center>
                </p:column>
                <p:column headerText="Cod. ANTT" filterBy="#{trans.codigoANTT}" >
                    <center><h:outputText value="#{trans.codigoANTT}" /></center>
                </p:column>
                <p:column headerText="Razão Social" filterBy="#{trans.razaoSocial}" >
                    <center><h:outputText value="#{trans.razaoSocial}" /></center>
                </p:column>
                <p:column headerText="Insc. Estadual" filterBy="#{trans.ie}" >
                    <center><h:outputText value="#{trans.ie}" /></center>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>

</ui:composition>