<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgInformacao"  header="Informação de Fornecedor" width="70%" resizable="false" position="center top"  modal="true" closeOnEscape="true" height="90%">
                        <h:form id="frmInformacao">
                            <div class="row">
                                <div class="col-md-2">
                                    <bcr:outputInfo label="Código" value="#{transportadoraMB.transportadora.idTransportadora}" />
                                </div>
                                <div class="col-md-4">
                                    <bcr:outputInfo label="Nome" value="#{transportadoraMB.transportadora.nomeFantasia}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfoDate label="Empresa Ref" value="#{fornecedorMB.fornecedor.idEmpresa.nomeFantasia}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Razão Social" value="#{transportadoraMB.transportadora.razaoSocial}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Cod. ANTT" value="#{transportadoraMB.transportadora.codigoANTT}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Insc. Estadual" value="#{transportadoraMB.transportadora.ie}" />
                                </div>
                                <div class="col-md-3">
                                    <bcr:outputInfo label="Endereço" value="#{transportadoraMB.transportadora.endereco}" />
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <div class="col-md-4" >
                                    <bcr:outputInfo label="Cidade" value="#{transportadoraMB.transportadora.idCidade.nome}" />
                                </div>
                                <div class="col-md-2" >
                                    <bcr:outputInfo label="Estado" value="#{transportadoraMB.transportadora.idCidade.idEstado.sigla}" />
                                </div>
                            </div>
                        </h:form>
                    </p:dialog>

</ui:composition>