<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                    <p:ajax update="@form, :frmCadastro" listener="#{transportadoraMB.novo()}"  resetValues="true"  />
                </p:commandButton>
                <p:commandButton  value="Salvar"  update=":frmCadastro, :msg" action="#{transportadoraMB.salvar()}" icon="Salvar">
                    <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                    <f:param name="mode" value="true"  />
                </p:commandButton>
                <p:commandButton  value="Consultar" update=":frmConsultar" icon="Consultar"   oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p:outputLabel for="nome" value="Nome Fantasia" />
                        <p:inputText id="nome" value="#{transportadoraMB.transportadora.nomeFantasia}" styleClass="form-control"  required="#{param['mode']}" requiredMessage="Nome é obrigatório!" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
                        <p:outputLabel for="razao" value="Razão Social" />
                        <p:inputText id="razao" value="#{transportadoraMB.transportadora.razaoSocial}" styleClass="form-control"   />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <p:outputLabel for="codAntt" value="Cod. ANTT" />
                        <p:inputText id="codAntt" value="#{transportadoraMB.transportadora.codigoANTT}" styleClass="form-control"  maxlength="20" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                        <p:outputLabel for="ie" value="Insc. Estadual" />
                        <p:inputText id="ie" value="#{transportadoraMB.transportadora.ie}" styleClass="form-control"  maxlength="20" />
                    </div>                            
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel for="end" value="Endereço" />
                        <p:inputText id="end" value="#{transportadoraMB.transportadora.endereco}" styleClass="form-control"  />
                    </div>
                    <div class="col-md-4">
                <p:outputLabel for="cidade" value="Cidade"/>
                <h:panelGrid columns="2" style="width: 100%;">
                    <p:inputText id="cidade" value="#{transportadoraMB.cidade.nome}" styleClass="inputSearch" readonly="true" />
                    <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"  onclick="PF('dlgConsultaCidade').show();" actionListener="#{transportadoraMB.carregarDatatableCidade()}" update=":frmConsultarCidade"  >
                    </p:commandButton>
                </h:panelGrid>
            </div>
                </div>

            </div>
            
        </h:form>
    </div>


</ui:composition>