<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Cidade
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar as estado.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Cidade
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <script type="text/javascript" >
    
                        function limpa_formulário_cep() {
                            //Limpa valores do formulário de cep.
                            document.getElementById('frmCadastro:tabs:logradouro').value=("");
                            document.getElementById('frmCadastro:tabs:bairro').value=("");
                        }

                        function meu_callback(conteudo) {
                            if (!("erro" in conteudo)) {
                                //Atualiza os campos com os valores.
                                document.getElementById('frmCadastro:tabs:logradouro').value=(conteudo.logradouro);
                                document.getElementById('frmCadastro:tabs:bairro').value=(conteudo.bairro);
                            } //end if.
                            else {
                                //CEP não Encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        }
        
                        function pesquisacep(cep) {
                            //Verifica se campo cep possui valor informado.
                            if (cep != "") {
                                //Expressão regular para validar o CEP.
                                var validacep = /^[0-9]{5}-?[0-9]{3}$/;

                                //Valida o formato do CEP.
                                if(validacep.test(cep)) {
                                    //Preenche os campos com "..." enquanto consulta webservice.
                                    document.getElementById(':frmCadastro:tabs:logradouro').value="...";
                                    document.getElementById('frmCadastro:tabs:bairro').value="...";

                                    //Cria um elemento javascript.
                                    var script = document.createElement('script');

                                    //Sincroniza com o callback.
                                    script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                                    //Insere script no documento e carrega o conteúdo.
                                    document.body.appendChild(script);

                                } //end if.
                                else {
                                    //cep é inválido.
                                    limpa_formulário_cep();
                                    alert("Formato de CEP inválido.");
                                }
                            } //end if.
                            else {
                                //cep sem valor, limpa formulário.
                                limpa_formulário_cep();
                            }
                        };

                    </script>
                    <bcr:block visible="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroOutros}"/>
                    <p:panel header="Cadastro de Cidade" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.cadastroOutros}">                        
                        <ui:include src="inserirCidade.xhtml"/>
                        <ui:include src="consultarCidade.xhtml"/>
                    </p:panel>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
