<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Produtos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="produtos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro">
                    <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" onclick="PF('dlgExcluirProduto').show()"/>
            </p:contextMenu>

            <p:dataTable id="produtos" value="#{produtoMB.produtoLazy}" lazy="true" var="produto" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" emptyMessage="Nenhum registro encontrado!"
                         rowsPerPageTemplate="5,10,15"  widgetVar="produtosTable" 
                         rowKey="#{produto.idProduto}" selection="#{produtoMB.produto}" selectionMode="single">
                <f:facet name="header">
                    Produtos
                </f:facet>
                <f:facet name="footer">
                    #{produtoMB.listarProdutos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{produto.idProduto}" style="text-align: center" width="8%" sortBy="#{produto.idProduto}">
                    <h:outputText value="#{produto.idProduto}" />
                </p:column>
                <p:column headerText="Descrição" filterBy="#{produto.descricao}" filterMatchMode="contains" width="20%" sortBy="#{produto.descricao}">
                    <h:outputText value="#{produto.descricao}" />
                </p:column>
                <p:column headerText="EAN" filterBy="#{produto.ean}" width="10%" sortBy="#{produto.ean}">
                    <h:outputText value="#{produto.ean}" />
                </p:column>
                <p:column headerText="Grupo" filterBy="#{produto.idGrupo.descricao}" width="10%" sortBy="#{produto.idGrupo.descricao}">
                    <h:outputText value="#{produto.idGrupo.descricao}" />
                </p:column>
                <p:column headerText="Sub Grupo" filterBy="#{produto.idSubgrupo.descricao}" width="10%" sortBy="#{produto.idSubgrupo.descricao}">
                    <h:outputText value="#{produto.idSubgrupo.descricao}" />
                </p:column>
                <p:column headerText="Pr. Custo" filterBy="#{produto.precoCusto}" width="5%" sortBy="#{produto.precoCusto}">
                    <h:outputText value="#{produto.precoCusto}" >
                        <f:convertNumber type="currency" />
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
    <p:dialog widgetVar="dlgExcluirProduto" header="Comfirmação" modal="true" closable="false" resizable="false">
        <h:form id="frmNotaAExcluir">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja Excluir o Produto?"/>
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="3">
                    <p:commandButton value="Excluir" icon="Selecionar" action="#{produtoMB.excluir()}" 
                                     update=":msg, :frmConsultar:produtos" oncomplete="PF('dlgExcluirProduto').hide()"/>
                    <p:commandButton value="Cancelar."  icon="Excluir"  onclick="PF('dlgExcluirProduto').hide()" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</ui:composition>
