<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{produtoMB.novo()}"  resetValues="true" />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{produtoMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                            <f:param name="mode" value="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Consultar" icon="Consultar" action="#{produtoMB.carregarDatatableProduto()}"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>

            <div class="col-md-12">
                <p:tabView id="tabs">
                    <p:tab title="Dados Básicos" >
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-5">
                                <p:outputLabel for="descricao" value="Descrição" />
                                <p:inputText id="descricao" value="#{produtoMB.produto.descricao}" required="#{param['mode']}"  requiredMessage="Informe a descrição do produto!"/>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                <p:outputLabel for="dtCadastro" value="Cadastrado em"   />
                                <p:calendar id="dtCadastro"  value="#{produtoMB.produto.dtCadastro}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"  />
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                <p:outputLabel for="dtAtualizacao" value="Atualizado em"   />
                                <p:calendar id="dtAtualizacao"  value="#{produtoMB.produto.dtUltimaAtualizacao}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"  />
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                <p:outputLabel for="ean" value="EAN" />

                                <h:panelGrid columns="2" style="width: 100%">
                                    <p:inputText id="ean" value="#{produtoMB.produto.ean}" maxlength="13" styleClass="form-control" />
                                    <pe:tooltip  for="ean"  
                                                 showDelay="0" myPosition="left center" atPosition="right center" >
                                        <span style="font-weight: bolder; font-size: 11px;">
                                            O EAN é um código de 13 dígitos utilizado em produtos no atacado e varejo mundialmente. <br/>
                                            Todos os produtos no mercado utilizam o código de barras do padrão EAN. As exceções são livros, revistas e medicamentos controlados.<br/>
                                            O EAN é o padrão adotado por todos os países mundialmente, exceto para os EUA e Canadá.<br/>
                                            <h:graphicImage name="images/CodBarras.png" />
                                        </span>
                                    </pe:tooltip>
                                </h:panelGrid>
                            </div>  
                            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                <p:outputLabel for="inativo" value="Inativo"  />
                                <p:selectOneRadio  id="inativo" value="#{produtoMB.produto.inativo}" required="#{param['mode']}" requiredMessage="Informe se o produto está inativo!" >
                                    <f:selectItem itemLabel="Não  " itemValue="0"   />
                                    <f:selectItem itemLabel="Sim  " itemValue="1" />
                                </p:selectOneRadio>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                <p:outputLabel for="grupo" value="Grupo"/>
                                <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoGrupo" nameWidgetVar="wvaGrupo" nameFunc="atalhoGrupo" valueToOpenDialog="Cadastrar Grupo" />
                                <p:selectOneMenu id="grupo" value="#{produtoMB.grupo}" converter="Converter" 
                                                 onchange="atalhoGrupo(this)"  widgetVar="wvaGrupo" required="#{param['mode']}" requiredMessage="Informe o grupo do produto!"
                                                 styleClass="form-control" filter="true" filterMatchMode="contains" var="gr" >
                                    <f:selectItem itemLabel="Selecione o Grupo" itemValue="" />
                                    <f:selectItems value="#{produtoMB.listaGrupos()}" var="grupo"
                                                   itemLabel="#{grupo.idGrupo} | #{grupo.descricao}" itemValue="#{grupo}" />
                                    <f:selectItem itemLabel="Cadastrar Grupo" itemValue="cadGrupo"     />
                                    <p:column>
                                        <h:outputText value="#{gr.idGrupo}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{gr.descricao}" />
                                    </p:column>
                                    <p:ajax event="change" update=":frmCadastro:tabs:grupo,:frmCadastro:tabs:subGrupo" />
                                </p:selectOneMenu>
                                <p:dialog header="Cadastro de Grupo" widgetVar="dlgAtalhoGrupo" modal="true"  width="80%" height="500"  position="top">
                                    <p:ajax event="close" update="grupo" />
                                    <iframe src="../Grupo/index.xhtml#conteudo"  width="100%" height="99%" />
                                </p:dialog>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                <p:outputLabel for="subGrupo" value="Sub Grupo"/>
                                <h:panelGrid columns="2" style="width: 100%;">
                                    <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoSubgrupo" nameWidgetVar="wvaSubGrupo" nameFunc="atalhoSubGrupo" valueToOpenDialog="Cadastrar Sub Grupo" />
                                    <p:selectOneMenu id="subGrupo" value="#{produtoMB.subGrupo}" converter="Converter" 
                                                     widgetVar="wvaSubGrupo" onchange="atalhoSubGrupo(this)"
                                                     styleClass="form-control" filter="true" filterMatchMode="contains" var="sgr" >
                                        <f:selectItem itemLabel="Selecione o Grupo" itemValue="" />
                                        <f:selectItems value="#{produtoMB.listadeSubGrupoPorGrupo()}" var="subgrupo"
                                                       itemLabel="#{subgrupo.idSubgrupo} | #{subgrupo.descricao}" itemValue="#{subgrupo}" />
                                        <f:selectItem itemLabel="Cadastrar Sub Grupo" itemValue="cadSG" />
                                        <p:column>
                                            <h:outputText value="#{sgr.idSubgrupo}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{sgr.descricao}" />
                                        </p:column>
                                    </p:selectOneMenu>
                                    <p:dialog header="Cadastro de Sub Grupo" widgetVar="dlgAtalhoSubgrupo" modal="true"  width="50%" height="500"  position="top">
                                        <p:ajax event="close" update="subGrupo" />
                                        <iframe src="../Subgrupo/index.xhtml#conteudo"  width="100%" height="99%" />
                                    </p:dialog>
                                </h:panelGrid>

                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                <p:outputLabel for="desreduzida" value="Descrição Reduzida" />
                                <p:inputText id="desreduzida" value="#{produtoMB.produto.descricaoReduzida}" maxlength="100" styleClass="form-control" />
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                <p:outputLabel for="referencia" value="Referencia Fabricante" />
                                <p:inputText id="referencia" value="#{produtoMB.produto.referenciaFabricante}" maxlength="18" styleClass="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="preco_custo" value="Preço de custo" />
                                <pe:inputNumber id="preco_custo" value="#{produtoMB.produto.precoCusto}" symbol="R$ " 
                                                decimalSeparator="," thousandSeparator=".">
                                </pe:inputNumber>
                            </div>  
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="preco_custo_anterior" value="Preço Anterior" />
                                <pe:inputNumber id="preco_custo_anterior" value="#{produtoMB.produto.precoCustoAnterior}" symbol="R$ "
                                                decimalSeparator="," thousandSeparator="." />
                            </div>  
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="preco_custo_inicial" value="Preço  Inicial" />
                                <pe:inputNumber id="preco_custo_inicial" value="#{produtoMB.produto.precoCustoInicial}" symbol="R$ "
                                                decimalSeparator="," thousandSeparator="." />
                            </div>  
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="preco_custo_promocional" value="Preço Promocional" />
                                <pe:inputNumber id="preco_custo_promocional" value="#{produtoMB.produto.precoCustoPromocional}" symbol="R$ "
                                                decimalSeparator="," thousandSeparator="." />
                            </div>  
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="mesmax" value="Mes Max Depreciação" />
                                <p:inputText id="mesmax" value="#{produtoMB.produto.mesesMaxDepreciacao}">
                                    <p:ajax event="blur" listener="#{produtoMB.calcularValorRateio()}" update="valorCustoRateio"/>
                                </p:inputText>
                            </div> 
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                <p:outputLabel for="valorCustoRateio" value="Custo Rateio" />
                                <pe:inputNumber id="valorCustoRateio" value="#{produtoMB.produto.valorCustoRateio}" symbol="R$ "
                                                decimalSeparator="," thousandSeparator="." />
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-2  col-md-2 col-lg-1 ">
                                <p:outputLabel for="fracionado" value="Fracionado" />
                                <p:selectOneRadio  id="fracionado" value="#{produtoMB.produto.fracionado}" required="true"
                                                   requiredMessage="Informe se o produto é fracionado!" >
                                    <f:selectItem itemLabel="Não  " itemValue="N"   />
                                    <f:selectItem itemLabel="Sim  " itemValue="S" />
                                    <p:ajax event="change" update=":frmCadastro:tabs:unisaida, :frmCadastro:tabs:baseConversao, :frmCadastro:tabs:fatorConversao" />
                                </p:selectOneRadio>
                            </div>
                            <div class=" col-xs-12  col-sm-3 col-md-3 col-lg-3">
                                <p:outputLabel for="unientrada" value="Unidade de Entrada" />
                                <p:selectOneMenu id="unientrada" value="#{produtoMB.unidadeEntrada}" 
                                                 widgetVar="wvaUnidade" 
                                                 converter="Converter"  styleClass="form-control"  var="unidEnt" filter="true" filterMatchMode="contains" required="#{param['mode']}" requiredMessage="Informe a unidade de entrada!">
                                    <f:selectItem itemLabel="Selecione uma unidade de entrada" itemValue="" />
                                    <f:selectItems value="#{unidadeMB.listarUnidades()}" var="unie" 
                                                   itemLabel="#{unie.idUnidade} | #{unie.descricao}" itemValue="#{unie}" />
                                    <f:selectItem itemLabel="Cadastrar Unidade" itemValue="cadUnid" />
                                    <p:column>
                                        <h:outputText value="#{unidEnt.idUnidade} "/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{unidEnt.descricao} "/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{unidEnt.descricaoResumida} "/>
                                    </p:column>
                                    <p:ajax event="change" listener="#{produtoMB.verificaSeFracionado()}" update="unisaida, baseConversao, fatorConversao" />
                                </p:selectOneMenu>

                            </div>
                            <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3">
                                <p:outputLabel for="unisaida" value="Unidade de Saída" />
                                <p:selectOneMenu id="unisaida" value="#{produtoMB.unidadeSaida}" 
                                                 onchange="atalhoUnidade2(this)"
                                                 converter="Converter"  styleClass="form-control"  var="unidSai" filter="true" filterMatchMode="contains" disabled="#{produtoMB.produto.fracionado=='N'}" >
                                    <f:selectItem itemLabel="Selecione uma unidade de entrada" itemValue="" />
                                    <f:selectItems value="#{unidadeMB.listarUnidades()}" var="unis" 
                                                   itemLabel="#{unis.idUnidade} | #{unis.descricao}" itemValue="#{unis}" />
                                    <f:selectItem itemLabel="Cadastrar Unidade" itemValue="cadUnid" />
                                    <p:column>
                                        <h:outputText value="#{unidSai.idUnidade} "/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{unidSai.descricao} "/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{unidSai.descricaoResumida} "/>
                                    </p:column>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-sm-3  col-md-4 col-lg-2">
                                <p:outputLabel for="baseConversao" value="Base de Conversão" />
                                <p:selectOneRadio  id="baseConversao" value="#{produtoMB.produto.baseConversao}"   disabled="#{produtoMB.produto.fracionado=='N'}" required="#{produtoMB.produto.fracionado=='S'}">
                                    <f:selectItem itemLabel="Divide  " itemValue="D"   />
                                    <f:selectItem itemLabel="Multiplica  " itemValue="M" />
                                </p:selectOneRadio>
                            </div>
                            <div class="col-xs-12 col-sm-3  col-md-4 col-lg-2">
                                <p:outputLabel for="fatorConversao" value="Fator de Conversão" />
                                <pe:inputNumber id="fatorConversao" value="#{produtoMB.produto.fatorConversaoEntrada}" disabled="#{produtoMB.produto.fracionado=='N'}" required="#{produtoMB.produto.fracionado=='S'}"
                                                decimalSeparator="," thousandSeparator="." />
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-2">
                                <p:outputLabel for="quantidade" value="Estoque Atual" />
                                <p:inputText id="quantidade" value="#{produtoMB.produto.quantidade}" styleClass="form-control" readonly="true" />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                                <p:outputLabel for="estoquemin" value="Estoque Mínimo" />
                                <pe:inputNumber id="estoquemin" value="#{produtoMB.produto.estoqueMin}" 
                                                decimalSeparator="," thousandSeparator="." />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                                <p:outputLabel for="estoquemax" value="Estoque Máximo" />
                                <pe:inputNumber id="estoquemax" value="#{produtoMB.produto.estoqueMax}" decimalSeparator="," thousandSeparator="."  />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <p:outputLabel for="localizacao" value="Localizacao" />
                                <bcr:atalhoDialogoOneMenu dialogName="dlgAtalholocalizacao" nameWidgetVar="wvaLocalizacao" nameFunc="atalhoLocalizacao" 
                                                      valueToOpenDialog="Cadastrar Localizacao" />
                                <p:selectOneMenu id="localizacao" value="#{produtoMB.localizacao}" converter="Converter" 
                                                 widgetVar="wvaLocalizacao"
                                                 onchange="atalhoLocalizacao(this)"
                                                 styleClass="form-control" filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Selecione uma localizacao" itemValue="" />
                                    <f:selectItems value="#{produtoMB.listaLocalizacoes()}" var="locs"
                                                   itemLabel="#{locs.idLocalizacao} - #{locs.descricao} "
                                                   itemValue="#{locs}" />
                                    <f:selectItem itemLabel="Cadastrar Localizacao" itemValue="cadLol" />
                                </p:selectOneMenu>
                                 <p:dialog header="Cadastro de Localizacao" widgetVar="dlgAtalholocalizacao" modal="true"  width="50%" height="500"  position="top">
                                    <p:ajax event="close" update="localizacao" />
                                    <iframe src="../Localizacao/index.xhtml#conteudo"  width="100%" height="99%" />
                                </p:dialog>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <p:outputLabel for="localizacao2" value="Localizacao 2" />
                                <p:inputText id="localizacao2" value="#{produtoMB.produto.localizacaoDescrita}" />
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Dados tributários"  rendered="#{sessaoMB.usuario.idEmpresa.idParametrizacao.tipoSistema == 'F'}">
                        <p:accordionPanel id="acoordion">
                            <p:tab title="ICMS">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="st" value="ST" />
                                        <p:selectOneMenu id="st" value="#{produtoMB.produto.tipoTributacao}" styleClass="form-control">
                                            <f:selectItem itemLabel="" itemValue="" />
                                            <f:selectItem itemLabel="Substituição Tributária" itemValue="S" />
                                            <p:ajax event="change" listener="#{produtoMB.setarST()}" update=":frmCadastro:tabs:acoordion:aliqEntrada, :frmCadastro:tabs:acoordion:baseCalc,
                                                    :frmCadastro:tabs:acoordion:aliqSaida, :frmCadastro:tabs:acoordion:cst" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqEntrada" value="Aliq. Entrada" />
                                        <pe:inputNumber id="aliqEntrada" value="#{produtoMB.produto.aliqIcmsEntrada}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." disabled="#{produtoMB.produto.tipoTributacao=='S'}" />
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="baseCalc" value="Base Calculo" />
                                        <pe:inputNumber id="baseCalc" value="#{produtoMB.produto.baseCalculoIcms}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." disabled="#{produtoMB.produto.tipoTributacao=='S'}" />
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqSaida" value="Aliq. Saida" />
                                        <pe:inputNumber id="aliqSaida" value="#{produtoMB.produto.aliqIcmsSaida}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." disabled="#{produtoMB.produto.tipoTributacao=='S'}" />
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                        <p:outputLabel for="ncm" value="NCM" />

                                        <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoNcm" nameWidgetVar="wvaNcm" nameFunc="atalhoNcm" valueToOpenDialog="Cadastrar NCM" />
                                        <p:selectOneMenu id="ncm" value="#{produtoMB.ncm}" converter="Converter"
                                                         widgetVar="wvaNcm"  onchange="atalhoNcm(this)"
                                                         styleClass="form-control" filter="true" filterMatchMode="contains" var="ncm">
                                            <f:selectItem itemLabel="Selecione o NCM" itemValue="" />
                                            <f:selectItems value="#{produtoMB.listaNCM()}" var="ncms" itemLabel="#{ncms.nomeclaturaNcm} | #{ncms.descricao}" itemValue="#{ncms}"
                                                           />
                                            <f:selectItem itemLabel="Cadastrar NCM" itemValue="cadNcm"     />
                                            <p:column>
                                                <h:outputText value="#{ncm.nomeclaturaNcm}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ncm.descricao}" />
                                            </p:column>
                                            <p:ajax event="change" update="@this" /> 
                                        </p:selectOneMenu>
                                        <p:dialog header="Cadastro de NCM" widgetVar="dlgAtalhoNcm" modal="true"  width="50%" height="500"  position="top">
                                            <p:ajax event="close" update="ncm" />
                                            <iframe src="../NCM/index.xhtml#conteudo"  width="100%" height="99%" />
                                        </p:dialog>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="cst" value="CST" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="cst" value="#{produtoMB.produto.cst}" maxlength="3" styleClass="form-control" />
                                            <pe:tooltip  for="cst" showEffect="slideToggle"  
                                                         hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    000 Tributada integralmente<br/>
                                                    010 Tributada e com cobrança do ICMS por substituição tributária <br/>
                                                    020 Com redução de base de cálculo <br/>
                                                    030 Isenta ou não tributada e com cobrança do ICMS por substituição tributária<br/>
                                                    040 Isenta <br/>
                                                    041 Não Tributada<br/>
                                                    050 Suspensão<br/>
                                                    051 Diferimento<br/>
                                                    060 ICMS cobrado anteriormente por substituição tributária<br/>
                                                    070 Com redução de base de cálculo e cobrança do ICMS por substituição tributária<br/>
                                                    090 Outras<br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="csosn" value="CSOSN" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="csosn" value="#{produtoMB.produto.csosn}" maxlength="3" styleClass="form-control" />
                                            <pe:tooltip  for="csosn" showEffect="slideToggle"    
                                                         hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    101 - Tributada pelo Simples Nacional com permissão de crédito <br/>
                                                    102 - Tributada pelo Simples Nacional sem permissão de crédito<br/>
                                                    103 - Isenção do ICMS no Simples Nacional para faixa de receita bruta<br/>
                                                    201 - Tributada pelo Simples Nacional com permissão de crédito e com cobrança do ICMS por substituição tributária<br/>
                                                    202 - Tributada pelo Simples Nacional sem permissão de crédito e com cobrança do ICMS por substituição tributária<br/>
                                                    203 - Isenção do ICMS no Simples Nacional para faixa de receita bruta e com cobrança do ICMS por substituição tributária<br/>
                                                    300 - Imune<br/>
                                                    400 - Não tributada pelo Simples Nacional<br/>
                                                    500 - ICMS cobrado anteriormente por substituição tributária (substituído) ou por antecipação<br/>
                                                    900 - Outros<br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="ipi" value="IPI" />
                                        <pe:inputNumber id="ipi" value="#{produtoMB.produto.aliquotaIpi}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." />
                                    </div>
                                </div>
                            </p:tab>

                            <p:tab title="PIS COFINS">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="pisCST" value="CST PIS Entrada" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="pisCST" value="#{produtoMB.produto.cstPisEntrada}" maxlength="2" />
                                            <pe:tooltip  for="pisCST" showEffect="slideToggle"  
                                                         hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    1 - Operação Tributável com Alíquota Básica <br/>
                                                    2 - Operação Tributável com Alíquota Diferenciada <br/>
                                                    3 - Operação Tributável com Alíquota por Unidade de Medida de Produto <br/>
                                                    4 - Operação Tributável Monofásica – Revenda a Alíquota Zero <br/>
                                                    5 - Operação Tributável por Substituição Tributária <br/>
                                                    6 - Operação Tributável a Alíquota Zero <br/>
                                                    7 - Operação Isenta da Contribuição <br/>
                                                    8 - Operação sem Incidência da Contribuição <br/>
                                                    9 - Operação com Suspensão da Contribuição <br/>
                                                    49 - Outras Operações de Saída <br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqEntradaPis" value="Aliq PIS Entrada" />
                                        <pe:inputNumber id="aliqEntradaPis" value="#{produtoMB.produto.aliquotaPis}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." />
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="pisCSTSaida" value="CST PIS Saida" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="pisCSTSaida" value="#{produtoMB.produto.cstPisSaida}" maxlength="2" />
                                            <pe:tooltip for="pisCSTSaida" showEffect="slideToggle"  
                                                        hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    50 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita Tributada no Mercado Interno <br/>
                                                    51 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno <br/>
                                                    52 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita de Exportação <br/>
                                                    53 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno <br/>
                                                    54 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas no Mercado Interno e de Exportação <br/>
                                                    55 - Operação com Direito a Crédito – Vinculada a Receitas Não-Tributadas no Mercado Interno e de Exportação <br/>
                                                    56 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno, e de Exportação <br/>
                                                    60 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita Tributada no Mercado Interno <br/>
                                                    61 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita Não-Tributada no Mercado Interno <br/>
                                                    62 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita de Exportação <br/>
                                                    63 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno <br/>
                                                    64 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas no Mercado Interno e de Exportação <br/>
                                                    65 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Não-Tributadas no Mercado Interno e de Exportação <br/>
                                                    66 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno, e de Exportação <br/>
                                                    67 - Crédito Presumido – Outras Operações <br/>
                                                    70 - Operação de Aquisição sem Direito a Crédito <br/>
                                                    71 - Operação de Aquisição com Isenção <br/>
                                                    72 - Operação de Aquisição com Suspensão <br/>
                                                    73 - Operação de Aquisição a Alíquota Zero <br/>
                                                    74 - Operação de Aquisição sem Incidência da Contribuição <br/>
                                                    75 - Operação de Aquisição por Substituição Tributária <br/>
                                                    98 - Outras Operações de Entrada <br/>
                                                    99 - Outras Operações <br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqSaidaPis" value="Aliq PIS Saida" />
                                        <pe:inputNumber id="aliqSaidaPis" value="#{produtoMB.produto.aliquotaPisSaida}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="cofinsCST" value="CST Confins Entrada" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="cofinsCST" value="#{produtoMB.produto.cstCofinsEntrada}" maxlength="2" />
                                            <pe:tooltip  for="cofinsCST"  showEffect="slideToggle"  
                                                         hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    1 - Operação Tributável com Alíquota Básica <br/>
                                                    2 - Operação Tributável com Alíquota Diferenciada <br/>
                                                    3 - Operação Tributável com Alíquota por Unidade de Medida de Produto <br/>
                                                    4 - Operação Tributável Monofásica – Revenda a Alíquota Zero <br/>
                                                    5 - Operação Tributável por Substituição Tributária <br/>
                                                    6 - Operação Tributável a Alíquota Zero <br/>
                                                    7 - Operação Isenta da Contribuição <br/>
                                                    8 - Operação sem Incidência da Contribuição <br/>
                                                    9 - Operação com Suspensão da Contribuição <br/>
                                                    49 - Outras Operações de Saída <br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqEntradaCofins" value="Aliq Cofins Entrada" />
                                        <pe:inputNumber id="aliqEntradaCofins" value="#{produtoMB.produto.aliquotaCofins}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." />
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="confinsCSTSaida" value="CST Confins Saida" />
                                        <h:panelGrid columns="2" style="width: 100%">
                                            <p:inputText id="confinsCSTSaida" value="#{produtoMB.produto.cstCofinsSaida}" maxlength="2" />
                                            <pe:tooltip  for="confinsCSTSaida" showEffect="slideToggle"  
                                                         hideEffect="slideToggle" showDelay="0" myPosition="left center" atPosition="right center" >
                                                <span style="font-weight: bolder; font-size: 11px;">
                                                    50 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita Tributada no Mercado Interno <br/>
                                                    51 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita Não Tributada no Mercado Interno <br/>
                                                    52 - Operação com Direito a Crédito – Vinculada Exclusivamente a Receita de Exportação <br/>
                                                    53 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno <br/>
                                                    54 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas no Mercado Interno e de Exportação <br/>
                                                    55 - Operação com Direito a Crédito – Vinculada a Receitas Não-Tributadas no Mercado Interno e de Exportação <br/>
                                                    56 - Operação com Direito a Crédito – Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno, e de Exportação <br/>
                                                    60 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita Tributada no Mercado Interno <br/>
                                                    61 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita Não-Tributada no Mercado Interno <br/>
                                                    62 - Crédito Presumido – Operação de Aquisição Vinculada Exclusivamente a Receita de Exportação <br/>
                                                    63 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno <br/>
                                                    64 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas no Mercado Interno e de Exportação <br/>
                                                    65 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Não-Tributadas no Mercado Interno e de Exportação <br/>
                                                    66 - Crédito Presumido – Operação de Aquisição Vinculada a Receitas Tributadas e Não-Tributadas no Mercado Interno, e de Exportação <br/>
                                                    67 - Crédito Presumido – Outras Operações <br/>
                                                    70 - Operação de Aquisição sem Direito a Crédito <br/>
                                                    71 - Operação de Aquisição com Isenção <br/>
                                                    72 - Operação de Aquisição com Suspensão <br/>
                                                    73 - Operação de Aquisição a Alíquota Zero <br/>
                                                    74 - Operação de Aquisição sem Incidência da Contribuição <br/>
                                                    75 - Operação de Aquisição por Substituição Tributária <br/>
                                                    98 - Outras Operações de Entrada <br/>
                                                    99 - Outras Operações <br/>
                                                </span>
                                            </pe:tooltip>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                                        <p:outputLabel for="aliqSaidaCofins" value="Aliq Cofins Saida" />
                                        <pe:inputNumber id="aliqSaidaCofins" value="#{produtoMB.produto.aliquotaCofinsSaida}" symbolPosition="s"  symbol=" %"
                                                        decimalSeparator="," thousandSeparator="." />
                                    </div>
                                </div>
                            </p:tab>
                        </p:accordionPanel>
                    </p:tab>
                    <p:tab title="Fornecedor">
                        <div class="row">
                            <div class="col-md-12">
                                <p:commandButton value="Adicionar Fornecedor"  icon="ui-icon-plus" onclick="PF('dlgAdicionarFornecedor').show();"/>
                                <hr/>
                                <div class="col-md-6">
                                    <p:dataTable id="fornecedores" value="#{produtoMB.produtoFornecedores}" var="forn" rowIndexVar="indexFornecedor" emptyMessage="Nenhum Fornecedor adicionado">
                                        <f:facet name="header">
                                            Fornecedores
                                        </f:facet>
                                        <p:column headerText="Código" >
                                            <h:outputText value="#{forn.idFornecedor.idFornecedor}" />
                                        </p:column>
                                        <p:column headerText="Nome" >
                                            <h:outputText value="#{forn.idFornecedor.nome}" />
                                        </p:column>
                                        <p:column width="9%" >
                                            <p:commandButton id="excFor" icon="Excluir" action="#{produtoMB.excluirFornecedor(forn, indexfornecedor)}" update="fornecedores" immediate="true" />
                                            <pe:tooltip for="excFor" showEffect="slideToggle"   
                                                        showDelay="0" myPosition="left center" atPosition="right center" value="Clique aqui para remover este Fornecedor!"  hideEffect="fadeIn"/>  
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>
                        </div>
                    </p:tab>
                </p:tabView> 
            </div>
        </h:form>
    </div>
</ui:composition>
