<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Configurações
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode configurar o sistema.
            </ui:define>

            <ui:define name="breadcrumb">
                Configurações
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-12">
                    <h:form id="frmDadosSeguranca">

                        <p:tabView id="tabs" >

                            <p:tab title="Parametrização">
                                <p:tabView id="Subtab" >
                                    <p:tab title="Cadastros">
                                    </p:tab>
                                    <p:tab title="Logística">
                                    </p:tab>
                                    <p:tab title="Financeiro">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                <h:panelGrid columns="1">
                                                    <h:outputLabel id="Retroativo" value="Aceitar Pagamento Retroativo" for="pagRetroativo"/>
                                                    <p:selectBooleanButton id="pagRetroativo" offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{configuracaoMB.parametrizacao.pagamentoRetroativo}" />
                                                </h:panelGrid>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                <h:panelGrid columns="1">
                                                    <h:outputLabel id="exportar" value="Exportar cheques emitidos para SoftCheque (*.scq)" for="exportar"/>
                                                    <p:selectBooleanButton id="exportarSoftCheque" offLabel="Não" onLabel="Sim" 
                                                                           offIcon="SemPermissao" onIcon="ComPermissao" 
                                                                           value="#{configuracaoMB.parametrizacao.exportarChequeSoftcheque}" />
                                                </h:panelGrid>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Gestão de Resultados">
                                    </p:tab>
                                    <p:tab title="Outros">
                                        <div class="row">
                                        </div>
                                    </p:tab>
                                </p:tabView>
                            </p:tab>
                            <p:tab title="Dados e Segurança">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p:commandButton id="btnSalvar" icon="Salvar" value="Salvar" 
                                                         action="#{configuracaoMB.salvarParametrizacao()}" update="@form, :msg"/>
                                        <p:commandButton id="btnBKP" icon="Database" value="Fazer backup"  
                                                         action="#{configuracaoMB.GerarBackup()}" update="@form, :msg"/>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h:outputLabel id="caminhoMySQL" for="TxtCaminhoMySQL" value="Caminho MySQL: " />
                                        <p:inputText id="TxtCaminhoMySQL" value="#{configuracaoMB.parametrizacao.caminhoMysql}" 
                                                     placeholder="Path da instalação do MySQL Server" requiredMessage="Informe o path da instalação do MySQL Server!" 
                                                     styleClass="form-control" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h:outputLabel id="destinoBkp" for="TxtDestinoBkp" value="Destino: " />
                                        <p:inputText id="TxtDestinoBkp" value="#{configuracaoMB.parametrizacao.destinoBkp}" 
                                                     placeholder="Destino do backup." requiredMessage="Informe o path do destino!" styleClass="form-control" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h:outputLabel  for="caminhoLog" value="Caminho Log: " />
                                        <p:inputText id="caminhoLog" value="#{configuracaoMB.parametrizacao.caminhoLog}" 
                                                     placeholder="Destino do log." requiredMessage="Informe o caminho do log!" styleClass="form-control" />
                                    </div>
                                </div>
                            </p:tab>
                        </p:tabView>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
