<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Grupos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="grupos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  >
                     <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{ativoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="grupos" value="#{ativoMB.listarTodos()}" var="atv" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{atv.idAtivo}" selection="#{ativoMB.ativo}" selectionMode="single">
                <f:facet name="header">
                   Ativos
                </f:facet>
                <f:facet name="footer">
                    #{ativoMB.listarTodos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{atv.idAtivo}" width="8%" sortBy="#{atv.idAtivo}">
                    <center>
                        <h:outputText value="#{atv.idAtivo}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{atv.descricao}" width="20%" sortBy="#{atv.descricao}">
                    <h:outputText value="#{atv.descricao}" />
                </p:column>
                <p:column headerText="Tipo" filterBy="#{atv.idTipoAtivo.descricao}" width="20%" sortBy="#{atv.idTipoAtivo.descricao}">
                    <h:outputText value="#{atv.idTipoAtivo.descricao}" />
                </p:column>
                <p:column headerText="Grupo" filterBy="#{atv.idGrupoAtivo.descricao}" width="20%" sortBy="#{atv.idGrupoAtivo.descricao}">
                    <h:outputText value="#{atv.idGrupoAtivo.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>