<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmCadastro">
        <div class="col-md-12">
            <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                <p:ajax update="@form, :frmCadastro" listener="#{ativoMB.novo()}"  resetValues="true"  />
            </p:commandButton>
            <p:commandButton  value="Salvar" action="#{ativoMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                <f:param name="mode" value="true"  />
            </p:commandButton>
            <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar"  oncomplete="PF('dlgConsulta').show()" />
            <hr/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p:outputLabel value="Tipo" for="tpo" />
            <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                <p:selectOneMenu id="tpo" value="#{ativoMB.ativo.idTipoAtivo}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control">
                    <f:selectItem itemLabel="Informe o tipo!" itemValue="" />
                    <f:selectItems value="#{ativoTipoMB.listarTodos()}" var="tpos" itemLabel="#{tpos.descricao}" itemValue="#{tpos}" />
                    <p:ajax event="change" update="@form"  />
                </p:selectOneMenu>
                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
            </h:panelGrid>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p:outputLabel for="desc" value="Descrição" />
            <p:inputText id="desc" value="#{ativoMB.ativo.descricao}" required="#{param['mode']}"  requiredMessage="Informe a descrição!" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p:outputLabel value="Grupo" for="grp" />
            <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                <p:selectOneMenu id="grp" value="#{ativoMB.ativo.idGrupoAtivo}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control">
                    <f:selectItem itemLabel="Informe o grupo!" itemValue="" />
                    <f:selectItems value="#{ativoMB.ativo.idTipoAtivo.grupoAtivoList}" var="grps" itemLabel="#{grps.descricao}" itemValue="#{grps}" />
                </p:selectOneMenu>
                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
            </h:panelGrid>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p:outputLabel value="Local de Trabalho" for="loct" />
            <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                <p:selectOneMenu id="loct" value="#{ativoMB.ativo.idLocalTrabalho}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" >
                    <f:selectItem itemLabel="Informe o local de trabalho!" itemValue="" />
                    <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc" itemLabel="#{loc.descricao}" itemValue="#{loc}" />
                </p:selectOneMenu>
                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
            </h:panelGrid>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="mesDepreciados" value="Meses Depreciados"  />
            <p:inputText value="#{ativoMB.ativo.mesesDepreciado}" id="mesDepreciados"  readonly="true" >
            </p:inputText>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="mesDepre" value="Meses Depreciação"  />
            <pe:inputNumber value="#{ativoMB.ativo.mesesMaxDepreciacao}" id="mesDepre"  required="#{param['mode']}"  requiredMessage="Informe a quantidade de meses para depreciar"  >
                <p:ajax event="blur" listener="#{ativoMB.calcularDataTermino()}" update="dttermino,mesDepreciados" />
            </pe:inputNumber>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="dtCompra" value="Data Compra"  />
            <p:calendar value="#{ativoMB.ativo.dtAquisicao}" id="dtCompra" required="#{param['mode']}"  requiredMessage="Informe a data da Compra" locale="pt" pattern="dd/MM/yyyy" maxdate="today"  >
                <p:ajax event="blur" listener="#{ativoMB.calcularDataTermino()}" update="dttermino,mesDepreciados" />
                <p:ajax event="dateSelect" listener="#{ativoMB.calcularDataTermino()}" update="dttermino,mesDepreciados" />
            </p:calendar>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="dttermino" value="Data Termino"  />
            <p:calendar value="#{ativoMB.ativo.dtTerminoUso}" id="dttermino" required="#{param['mode']}"  requiredMessage="Informe a data da Compra" locale="pt" pattern="dd/MM/yyyy" readonly="true" showOn="false" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="vlrCompra" value="Valor Compra"  />
            <pe:inputNumber value="#{ativoMB.ativo.valorCompra}" id="vlrCompra"  required="#{param['mode']}"  requiredMessage="Informe a o valor da Compra!" symbol="R$ "
                            decimalSeparator="," thousandSeparator=".">
                <p:ajax event="blur" listener="#{ativoMB.calcularValores()}" update="vlrDepreciacao, vlrCustoDepreciado, vlrResiduo" />
            </pe:inputNumber>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="vlrDepreciacao" value="Valor Rateio D."  />
            <p:inputText value="#{ativoMB.ativo.valorRateioDepreciacao}" id="vlrDepreciacao"  readonly="true" >
                <f:convertNumber type="currency" />
            </p:inputText>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="vlrCustoDepreciado" value="Custo Mês"  />
            <p:inputText value="#{ativoMB.ativo.valorCustoMensal}" id="vlrCustoDepreciado"  readonly="true" >
                <f:convertNumber type="currency" />
            </p:inputText>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="vlrResiduo" value="Valor Residual"  />
            <pe:inputNumber value="#{ativoMB.ativo.valorResidual}" id="vlrResiduo"  symbol="R$ "
                            decimalSeparator="," thousandSeparator="." >
            </pe:inputNumber>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="nAtivo" value="Nº Ativo"  />
            <p:inputText value="#{ativoMB.ativo.numeroSerie}" id="nAtivo"  />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="nnf" value="Nº NF"  />
            <p:inputText value="#{ativoMB.ativo.numeroNf}" id="nnf"   />
        </div>
        <h:panelGroup id="grpVeiculo"  rendered="#{ativoMB.ativo.idTipoAtivo.descricao=='Veiculo'}">
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p:outputLabel for="tipoVei" value="Tipo de Veículo"  />
                <p:selectOneMenu  id="tipoVei" value="#{ativoMB.ativo.tipoVeiculo}"  styleClass="form-control" >
                    <f:selectItem itemLabel="Selecione o tipo de veículo" itemValue=""   />
                    <f:selectItem itemLabel="Automotor" itemValue="Automotor"   />
                    <f:selectItem itemLabel="Elétrico" itemValue="Elétrico"   />
                    <f:selectItem itemLabel="Propulsão Humana" itemValue="Propulsão Humana"   />
                    <f:selectItem itemLabel="Tração Animal" itemValue="Traçao Animal"   />
                    <f:selectItem itemLabel="Reboque" itemValue="Reboque"   />
                    <f:selectItem itemLabel="Semi Reboque" itemValue="Semi Reboque"   />
                </p:selectOneMenu>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p:outputLabel for="marca" value="Marca"  />
                <p:inputText id="marca" value="#{ativoMB.ativo.marca}" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <p:outputLabel for="placa" value="Placa"  />
                <p:inputMask id="placa" value="#{ativoMB.ativo.placaVeiculo}" mask="a**-9999"  />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p:outputLabel for="combus" value="Combustível"  />
                <p:selectOneMenu  id="combus" value="#{ativoMB.ativo.combustivel}"  styleClass="form-control" >
                    <f:selectItem itemLabel="Selecione o combustível" itemValue=""   />
                    <f:selectItem itemLabel="Gasolina" itemValue="Gasolina"   />
                    <f:selectItem itemLabel="Etanol" itemValue="Etanol"   />
                    <f:selectItem itemLabel="Diesel" itemValue="Diesel"   />
                    <f:selectItem itemLabel="Flex" itemValue="Flex"   />
                    <f:selectItem itemLabel="Elétrico" itemValue="Elétrico"   />
                    <f:selectItem itemLabel="Outros" itemValue="Outros"   />
                </p:selectOneMenu>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p:outputLabel for="chassi" value="Chassi"  />
                <p:inputText id="chassi" value="#{ativoMB.ativo.chassi}" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3">
                <p:outputLabel for="renavam" value="Renavam"  />
                <p:inputText id="renavam" value="#{ativoMB.ativo.renavam}"   />
            </div>
        </h:panelGroup>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="modelo" value="Modelo"  />
            <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                <p:selectOneMenu  id="modelo" value="#{ativoMB.ativo.idModeloVeiculo}" required="#{param['mode']}" requiredMessage="Informe o modelo!"  converter="Converter" styleClass="form-control">
                    <f:selectItem itemLabel="Selecione o modelo" itemValue=""   />
                    <f:selectItems  value="#{ativoModeloMB.listarTodos()}" var="mode" 
                                    itemLabel="#{mode.descricao}" itemValue="#{mode}"   />
                </p:selectOneMenu>
                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
            </h:panelGrid>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="un" value="Unidade"  />
            <h:panelGrid columns="2"  columnClasses="colunaInput, colunaAtalho">
                <p:selectOneMenu  id="un" value="#{ativoMB.ativo.idUnidade}" required="#{param['mode']}" requiredMessage="Informe a unidade!"  converter="Converter" styleClass="form-control">
                    <f:selectItem itemLabel="Selecione a unidade" itemValue=""   />
                    <f:selectItems  value="#{unidadeMB.listarUnidades()}" var="uns" 
                                    itemLabel="#{uns.descricaoResumida}" itemValue="#{uns}"   />
                </p:selectOneMenu>
                <p:commandButton icon="Atalho"  style="height: 30px !important;"   title="Cadastrar um novo!" />
            </h:panelGrid>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <p:outputLabel for="inativo" value="Inativo"  />
            <p:selectOneRadio  id="inativo" value="#{ativoMB.ativo.status}" required="#{param['mode']}" requiredMessage="Informe se o cliente está inativo!" >
                <f:selectItem itemLabel="Não  " itemValue="N"   />
                <f:selectItem itemLabel="Sim  " itemValue="S" />
            </p:selectOneRadio>
        </div>
    </h:form>
</ui:composition>