<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:dialog widgetVar="dlgAnalisarPedido" modal="true" draggable="false" resizable="false" header="Analise Pedido de Compra" width="90%"  position="top">
        <h:form id="frmAnalisePedido">
            <p:messages   closable="true"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <p:panelGrid columns="2">
                            <h:outputText value="Nº: " styleClass="labell" />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.idPedidoCompra}" />
                            <h:outputText value="Fornecedor: " styleClass="labell"  />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.idFornecedor.nome}"  />
                            <h:outputText value="Status: " styleClass="labell"  />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.status}" />
                            <h:outputText value="Emissão: " styleClass="labell" />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.dtEmissao}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                            <h:outputText value="Previsão: " styleClass="labell"  />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.dtPrevisao}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:panelGrid>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <p:panelGrid columns="2">
                            <h:outputText value="Valor Total: " styleClass="labell"  />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.valorTotal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <h:outputText value="Valor Final: " styleClass="labell"  />
                            <h:outputText value="#{pedidoCompraMB.pedidoCompra.valorFinal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <p:outputLabel for="dtChegada"  value="Chegada: " styleClass="labell" />
                            <p:calendar id="dtChegada" value="#{pedidoCompraMB.pedidoCompra.dtRecebimento}" pattern="dd/MM/yyyy" mask="99/99/9999" required="true" locale="pt" requiredMessage="Informe a data da chegada!" />
                            <p:outputLabel for="movStoque" value="Movimenta Estoque " styleClass="labell" />
                            <p:selectOneMenu id="movStoque" value="#{pedidoCompraMB.pedidoCompra.movimentaEstoque}" styleClass="form-control" required="true">
                                <f:selectItem itemLabel="Sim" itemValue="S" />
                                <f:selectItem itemLabel="Não" itemValue="N" itemDisabled="true"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr/>
                    <p:dataTable value="#{pedidoCompraMB.pedidoCompra.pedidoCompraItemList}" var="pedAn" editable="true" editMode="cell" 
                                 paginator="true"  rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,30,40,50,60,100">
                        <f:facet name="header">
                            <h:outputText value="Itens do Pedido de Compra" />
                        </f:facet>
                        <p:column headerText="Chegou?" width="5%" styleClass="font-table centralizar" >
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{pedAn.status}" style="color: #009900;" />
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{pedAn.status}" styleClass="form-control" >
                                        <f:selectItem itemLabel="Sim" itemValue="S" />
                                        <f:selectItem itemLabel="Não" itemValue="N" />
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Produto" width="15%" styleClass="font-table" filterBy="#{pedAn.idProduto.descricao}">
                            <h:outputText value="#{pedAn.idProduto.descricao}" />
                        </p:column>
                        <p:column headerText="Qnt Ped" width="7%" styleClass="font-table centralizar" >
                            <h:outputText value="#{pedAn.qtdSolicitada}" />
                        </p:column>
                        <p:column headerText="R$ Unit" width="7%" styleClass="font-table centralizar" >
                            <h:outputText value="#{pedAn.valorUnitario}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="R$ Total" width="10%" styleClass="font-table centralizar" >
                            <h:outputText value="#{pedAn.valorTotal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Qnt Cheg" width="10%" styleClass="font-table centralizar" >
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{pedAn.qtdChegada}"  style="color: #009900;"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText  value="#{pedAn.qtdChegada}" style="width:96%">
                                        <p:ajax listener="#{pedidoCompraMB.calcularValoresFinaisAnalise(pedAn)}" update="@form" />
                                    </p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="R$ Unit. F" width="10%" styleClass="font-table centralizar" >
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{pedAn.valorUnitarioChegada}" style="color: #009900;">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <pe:inputNumber value="#{pedAn.valorUnitarioChegada}"  symbol="R$ " decimalSeparator="," thousandSeparator="." style="width:96%" >
                                        <p:ajax listener="#{pedidoCompraMB.calcularValoresFinaisAnalise(pedAn)}" update="@form" />
                                    </pe:inputNumber>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="R$ Total. F" width="10%" styleClass="font-table centralizar" >
                            <h:outputText value="#{pedAn.valorTotalChegada}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    <hr/>
                    <p:commandButton value="Confirmar Análise" icon="Selecionar" action="#{pedidoCompraMB.salvarPedidoAnalise()}" update="@form, :msg, :tabs:frmPedidosCompra, :tabs:frmAnaliseAlmox:tblItens" oncomplete="PF('dlgAnalisarPedido').hide();" />
                </div>
            </div>
        </h:form>

    </p:dialog>

</ui:composition>