<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">



    <p:dialog id="iddlgPedidoCompra"  widgetVar="dlgPedidoCompra" header="Pedido de Compra" modal="true" width="80%" position="top" draggable="true" resizable="false" closeOnEscape="true" >
        <p:scrollPanel  mode="native" style="max-height:700px">
            <h:form id="frmpedidoCompra">
                <p:blockUI block="frmpedidoCompra" trigger="saveBtn" />
                <p:messages />
                <!--<p:scrollPanel mode="native" style="max-height:700px">-->
                <ui:repeat value="#{pedidoCompraMB.listaDePedidos}" var="pedido" varStatus="pdIndex" >
                    <hr/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title panel-trigger">
                                <a data-toggle="collapse" href="##{pdIndex.index}" class="collapsed">Pedido de Compra do Fornecedor  #{pedido.idFornecedor.nome}</a>
                            </h6>
                        </div>
                        <div id="#{pdIndex.index}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <div class="col-md-2">
                                    <h:outputText value="Data Emissão"/>
                                    <p:calendar readonly="true" value="#{pedido.dtEmissao}" pattern="dd/MM/yyyy" required="true" requiredMessage="Informe a data de emissão!" />
                                </div>
                                <div class="col-md-2">
                                    <p:outputLabel for="dtPrevi" value="Data Previsão" />
                                    <p:calendar  id="dtPrevi" value="#{pedido.dtPrevisao}" pattern="dd/MM/yyyy" locale="pt" required="true" requiredMessage="Informe a data de prveisão da ordem do fornecedor  #{pedido.idFornecedor.nome}!" />
                                </div>
                                <div class="col-md-2">
                                    <p:outputLabel for="num" value="Número" />
                                    <p:inputText  id="num" value="#{pedido.numero}"  />
                                </div>
                                <div class="col-md-2">
                                    <p:outputLabel for="Total" value="Total" />
                                    <p:inputText  id="Total" value="#{pedido.valorTotal}"  readonly="true" >
                                        <f:convertNumber type="currency" />
                                    </p:inputText>
                                </div>
                                <div class="col-md-12">
                                    <p:outputLabel for="obs" value="Observação" />
                                    <p:inputText  id="obs" value="#{pedido.observacao}"  />
                                    <hr/>
                                    <p:commandButton value="Imprimir" icon="Imprimir" immediate="true"  action="#{pedidoCompraMB.imprimirPedidoCompraPre(pedido, pedido.pedidoCompraItemList)}" ajax="false"   onclick="this.form.target='_blank'"/>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                    <p:dataTable value="#{pedido.pedidoCompraItemList}" var="ped" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="8" >
                                        <f:facet name="header">
                                            <h:outputText value="Itens" />
                                        </f:facet>
                                        <p:column headerText="Produto" width="25%">
                                            <h:outputText value="#{ped.idProduto.descricao}" />
                                        </p:column>
                                        <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                            <h:outputText value="#{ped.qtdSolicitada}" />
                                        </p:column>
                                        <p:column headerText="Valor Unitário" width="10%" styleClass="centralizar" >
                                            <h:outputText value="#{ped.valorUnitario}" >
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Valor Total" width="10%" styleClass="centralizar" >
                                            <h:outputText value="#{ped.valorTotal}" >
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:repeat>
                <!--</p:scrollPanel>-->
                <hr/>
                <p:commandButton id="saveBtn" value="Salvar" icon="Salvar" update="@form, :msg, :tabs:tabsCotacoes:frmTblCotacoesLote, :tabs:tabsCotacoes:frmIndexCotacao:dtlHuePor500Reais" action="#{pedidoCompraMB.salvarPedidoCompra()}" oncomplete="if(!args.validationFailed) PF('dlgPedidoCompra').hide();" />
            </h:form>
        </p:scrollPanel>
    </p:dialog>



</ui:composition>