<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgLancarPedido" modal="true" draggable="false" resizable="false" header="Lançar Pedido de Compra" width="80%" position="top">
        <h:form id="frmLancarPedido">
            <p:messages id="msg2"  closable="true"/>
            <p:tabView id="tabs">
                <p:tab title="Cabeçalho">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-1 col-lg-1">
                            <p:outputLabel for="num" value="Nº" />
                            <p:inputText id="num" value="#{pedidoCompraMB.pedidoCompra.numero}" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <p:outputLabel for="fornecedor" value="Fornecedor" />
                            <p:autoComplete id="fornecedor" value="#{pedidoCompraMB.pedidoCompra.idFornecedor}" converter="Converter" required="true" requiredMessage="Informe o fornecedor!"
                                            completeMethod="#{fornecedorMB.completeMethodFornecedor}" var="forn" itemLabel="#{forn.nome}"  itemValue="#{forn}" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                            <p:outputLabel for="emissao" value="Emissão" />
                            <p:calendar id="emissao" value="#{pedidoCompraMB.pedidoCompra.dtEmissao}" pattern="dd/MM/yyyy" locale="pt"  readonly="true" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                            <p:outputLabel for="previsao" value="Previsão" />
                            <p:calendar id="previsao" value="#{pedidoCompraMB.pedidoCompra.dtPrevisao}" pattern="dd/MM/yyyy" locale="pt" required="true" requiredMessage="Informe a data de previsão!"  />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                            <p:outputLabel for="status" value="Status" />
                            <p:selectOneMenu id="status" value="#{pedidoCompraMB.pedidoCompra.status}" disabled="true"  styleClass="form-control">
                                <f:selectItem itemLabel="Aguardando Chegada" itemValue="Aguardando Chegada"  />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                            <p:outputLabel for="total" value="Total" />
                            <p:inputText id="total" value="#{pedidoCompraMB.pedidoCompra.valorTotal}" readonly="true" >
                                <f:convertNumber type="currency" />
                            </p:inputText>
                        </div>
                    </div>   
                </p:tab>
                <p:tab title="Itens">
                    <div class="row">
                        <hr/>
                        <div class="col-xs-9 col-sm-8 col-md-4 col-lg-4">
                            <p:outputLabel for="produto" value="Produto:" />
                            <p:autoComplete id="produto" value="#{pedidoCompraMB.pedidoCompraItem.idProduto}" converter="Converter" completeMethod="#{produtoMB.completeMethodProduto}" var="pro" 
                                            itemLabel="#{pro.descricao}" itemValue="#{pro}" placeholder="Digite o nome ou código!" required="#{param['mode']}" requiredMessage="Informe o produto!">
                                <p:column>
                                    <h:outputText value="#{pro.idProduto}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{pro.descricao}" />
                                </p:column>
                                <p:ajax event="itemSelect"  update="un, quantidade, valorUnitario" listener="#{pedidoCompraMB.pegarCustoProduto()}"  oncomplete="$(function(){PrimeFaces.focus('tabs:frmLancarPedido:tabs:quantidade');});" />
                            </p:autoComplete>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-1">
                            <p:outputLabel for="un" value="Unidade" />
                            <p:inputText value="#{pedidoCompraMB.pedidoCompraItem.idProduto.idUnidadeEntrada.descricaoResumida}" id="un" readonly="true"/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p:outputLabel for="quantidade" value="Quantidade:" />
                            <pe:inputNumber value="#{pedidoCompraMB.pedidoCompraItem.qtdSolicitada}" id="quantidade" decimalSeparator="," thousandSeparator="."  required="#{param['mode']}" requiredMessage="Informe a quantidade!">
                                <p:ajax event="blur" update="valorTotal" listener="#{pedidoCompraMB.calcularTotais()}" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <p:outputLabel for="valorUnitario" value="Valor Unitário:"  />
                            <pe:inputNumber value="#{pedidoCompraMB.pedidoCompraItem.valorUnitario}" minValue="0"  symbol="R$ " decimalSeparator="," thousandSeparator="."  id="valorUnitario">
                                <p:ajax event="blur" update="valorTotal" listener="#{pedidoCompraMB.calcularTotais()}" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <p:outputLabel for="valorTotal" value="Valor Total:" />
                            <h:panelGrid columns="3">
                                <p:commandButton   icon="new_adicionar"  action="#{pedidoCompraMB.adicionarProduto()}" update="@form" styleClass="ui-paginator-last ui-state-default ui-corner-all ui-state-disabled"  oncomplete="$(function(){PrimeFaces.focus('tabs:frmLancarPedido:tabs:produto_input');}); ">
                                    <f:param name="mode" value="true" />
                                </p:commandButton>
                                &nbsp;
                                <pe:inputNumber value="#{pedidoCompraMB.pedidoCompraItem.valorTotal}" minValue="0" id="valorTotal" decimalSeparator="," thousandSeparator="." symbol="R$ "  disabled="true"/>
                            </h:panelGrid>
                        </div>
                    </div>
                    <div class="row">
                        <hr/>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <p:dataTable id="dtblItensRequisicaoMaterial" value="#{pedidoCompraMB.pedidoCompra.pedidoCompraItemList}" var="reqItens"  paginator="true" rows="6" emptyMessage="Nenhum item adicionado." 
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"  rowIndexVar="ivar"
                                         rowKey="#{reqItens.idPedidoCompraItem}"     >
                                <f:facet name="header">
                                    <h:outputText value="Itens da Requisição"  />
                                </f:facet>
                                <p:column headerText="ID Produto" width="10%" style="text-align: center" styleClass="hidden-xs hidden-sm ">
                                    <h:outputText value="#{reqItens.idProduto.idProduto}" />
                                </p:column>
                                <p:column headerText="Descrição" width="20%" >
                                    <h:outputText value="#{reqItens.idProduto.descricao}" />                    
                                </p:column>
                                <p:column headerText="Qtd." width="10%" style="text-align: center">
                                    <h:outputText value="#{reqItens.qtdSolicitada}" />                    
                                </p:column>
                                <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                                    <h:outputText value="#{reqItens.valorUnitario}" >
                                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor Total" width="10%" style="text-align: center" styleClass="hidden-xs">
                                    <h:outputText value="#{reqItens.valorTotal}" >
                                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                    </h:outputText>
                                </p:column>
                                <p:column width="10%" style="text-align: center">
                                    <p:commandButton id="btnExcluir"  icon="new_limpar" action="#{pedidoCompraMB.excluirItem(ivar)}"  update="@form" immediate="true"/>
                                </p:column>
                                <f:facet name="footer">
                                    <h:outputText  value="#{pedidoCompraMB.pedidoCompra.valorTotal}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText> 
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>
            <div class="col-md-12">
                <hr/>
                <p:commandButton value="Salvar" icon="Salvar"  update=":msg, msg2, :tabs:frmPedidosCompra" action="#{pedidoCompraMB.salvarPedidoAvulso()}" oncomplete="if(!args.validationFailed) PF('dlgLancarPedido').hide(); ">
                    <f:param name="mode" value="false" />
                </p:commandButton>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>