<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmPedidosCompra">
        <p:commandButton value="Novo Pedido" icon="Novo" action="#{pedidoCompraMB.novo()}"  oncomplete="PF('dlgLancarPedido').show();" />
        <hr/>
        <p:contextMenu for="tblReqs" >
            <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgLancarPedido').show()"  update=":tabs:frmLancarPedido" disabled="#{pedidoCompraMB.pedidoCompra.status == 'Finalizado' or pedidoCompraMB.pedidoCompra.loteReferente != null}"   />
            <p:menuitem value="Excluir" update="@form, :msg" icon="Excluir" onclick="PF('dlgExcluirPedidoCompra').show()" disabled="#{pedidoCompraMB.pedidoCompra.status == 'Finalizado' or pedidoCompraMB.pedidoCompra.loteReferente != null}"/>
            <p:menuitem value="Analisar" update="@form, :msg, :tabs:frmAnalisePedido" oncomplete="PF('dlgAnalisarPedido').show();" action="#{pedidoCompraMB.carregarPedidoParaAnalise()}" icon="Analisar"  disabled="#{pedidoCompraMB.pedidoCompra.status == 'Finalizado' or pedidoCompraMB.pedidoCompra.status == 'Analisado'}"/>
        </p:contextMenu>
        <p:dataTable id="tblReqs" value="#{pedidoCompraMB.listarPedidosCompra()}" var="pcs" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="15"
                     selectionMode="single" selection="#{pedidoCompraMB.pedidoCompra}" rowKey="#{pcs.idPedidoCompra}" emptyMessage="Nenhum pedido lançado!">
            <p:ajax event="rowSelect"  update="@form" />
            <p:ajax event="rowUnselect" update="@form" />
            <p:column width="3%">
                <p:rowToggler />
            </p:column>
            <p:column headerText="Pedido" width="8%" styleClass="centralizar" filterBy="#{pcs.idPedidoCompra}" >
                <h:outputText value="#{pcs.idPedidoCompra}" />
            </p:column>
            <p:column headerText="Fornecedor" width="20%"  filterBy="#{pcs.idFornecedor.nome}"  >
                <h:outputText value="#{pcs.idFornecedor.nome}" />
            </p:column>
            <p:column headerText="Emissão" width="10%" styleClass="centralizar"  >
                <h:outputText value="#{pcs.dtEmissao}" >
                    <f:convertDateTime pattern="dd/MM/yyyy" />
                </h:outputText>
            </p:column>
            <p:column headerText="Previsão" width="10%" styleClass="centralizar" >
                <h:outputText value="#{pcs.dtPrevisao}" >
                    <f:convertDateTime pattern="dd/MM/yyyy" />
                </h:outputText>
            </p:column>
            <p:column headerText="Status" width="10%" styleClass="centralizar"  filterBy="#{pcs.status}">
                <h:outputText value="#{pcs.status}" styleClass="#{pedidoCompraMB.verificarStatusLabel(pcs)}" />
            </p:column>
            <p:column headerText="Total Pedido" width="10%" styleClass="centralizar" >
                <h:outputText value="#{pcs.valorTotal}" >
                    <f:convertNumber type="currency" />
                </h:outputText>
            </p:column>
            <p:column headerText="Total Chegado" width="10%" styleClass="centralizar" >
                <h:outputText value="#{pedidoCompraMB.totalChegada(pcs)}" >
                    <f:convertNumber type="currency" />
                </h:outputText>
            </p:column>
            <p:column width="5%">
                <p:commandButton  ajax="false"   onclick="this.form.target='_blank'" icon="Imprimir" actionListener="#{pedidoCompraMB.imprimirPedidoCompra(pcs.idPedidoCompra)}" />
            </p:column>
            <p:rowExpansion>
                <p:dataTable value="#{pcs.pedidoCompraItemList}" var="itens" >
                    <p:column headerText="Produto" width="20%" >
                        <h:outputText value="#{itens.idProduto.descricao} " />
                    </p:column>
                    <p:column headerText="Qnt" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.qtdSolicitada}" />
                    </p:column>
                    <p:column headerText="Vlr Unit." styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.valorUnitario}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column >
                    <p:column headerText="Vlr Tot." styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.valorTotal}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column headerText="Qnt Chegada" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.qtdChegada}" />
                    </p:column>
                    <p:column headerText="Vlr Unit. Cheg" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.valorUnitarioChegada}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column >
                    <p:column headerText="Vlr Tot. Cheg" styleClass="centralizar" width="10%" >
                        <h:outputText value="#{itens.valorTotalChegada}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </p:rowExpansion>
        </p:dataTable>
    </h:form>

    <p:dialog widgetVar="dlgExcluirPedidoCompra" header="Comfirmação" modal="true" closable="false" resizable="false">
        <h:form id="frmPedidoAExcluir">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja Excluir este Pedido de Compra?"/>
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton value="Excluir" icon="Selecionar" action="#{pedidoCompraMB.excluirPedido}" 
                                     update=":tabs:frmPedidosCompra:tblReqs" oncomplete="PF('dlgExcluirPedidoCompra').hide()"/>
                    <p:commandButton value="Cancelar."  icon="Excluir"  onclick="PF('dlgExcluirPedidoCompra').hide()" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</ui:composition>