<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Contas Corrente" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="contaCorrente" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{contaCorrenteMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="contaCorrente" value="#{contaCorrenteMB.listarContaCorrente()}" var="contaCorrente" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{contaCorrente.idContaCorrente}" selection="#{contaCorrenteMB.contaCorrente}" selectionMode="single">
                <f:facet name="header">
                    Conta Corrente
                </f:facet>
                <f:facet name="footer">
                    #{contaCorrenteMB.listarContaCorrente().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{contaCorrente.idContaCorrente}" width="8%" sortBy="#{contaCorrente.idContaCorrente}">
                    <center>
                        <h:outputText value="#{contaCorrente.idContaCorrente}" />
                    </center>
                </p:column>
                <p:column headerText="Nº Agencia" filterBy="#{contaCorrente.numAgencia}" width="20%" sortBy="#{contaCorrente.numAgencia}">
                    <h:outputText value="#{contaCorrente.numAgencia}" />
                </p:column>
                <p:column headerText="Nº Conta" filterBy="#{contaCorrente.numConta}" width="20%" sortBy="#{contaCorrente.numConta}">
                    <h:outputText value="#{contaCorrente.numConta}" />
                </p:column>
                <p:column headerText="Gestor" filterBy="#{contaCorrente.gestor}" width="20%" sortBy="#{contaCorrente.gestor}">
                    <h:outputText value="#{contaCorrente.gestor}" />
                </p:column>
                <p:column headerText="Banco" filterBy="#{contaCorrente.idBanco.nome}" width="20%" sortBy="#{contaCorrente.idBanco.nome}">
                    <center>
                    <h:outputText value="#{contaCorrente.idBanco.nome}" />
                    </center>
                </p:column>                
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>