<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Planilhas de Produtos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="planilhas" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  >
                     <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{planilhaProdutoMB.excluir()}"/>
            </p:contextMenu>
            <p:dataTable id="planilhas" value="#{planilhaProdutoMB.listarPlanilhas()}" var="plan" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{plan.idPlanilha}" selection="#{planilhaProdutoMB.planilha}" selectionMode="single">
                <f:facet name="header">
                    Planilhas de Produtos
                </f:facet>
                <f:facet name="footer">
                    #{planilhaProdutoMB.listarPlanilhas().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{plan.idPlanilha}" width="8%" sortBy="#{plan.idPlanilha}">
                    <center>
                        <h:outputText value="#{plan.idPlanilha}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{plan.descricao}" width="20%" sortBy="#{plan.descricao}">
                    <h:outputText value="#{plan.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>

</ui:composition>