<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmCadastro" >
        <div class="col-md-12">
            <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                <p:ajax update="@form, :frmCadastro" listener="#{planilhaProdutoMB.novo()}"  resetValues="true"  />
            </p:commandButton>
            <p:commandButton  value="Salvar"  update=":frmCadastro, :msg"  icon="Salvar" action="#{planilhaProdutoMB.salvar()}">
                <f:param name="mode" value="true"  />
            </p:commandButton>
            <p:commandButton  value="Consultar"  icon="Consultar" update=":frmConsultar"   oncomplete="PF('dlgConsulta').show()" />
            <hr/>
        </div>
        <div class="col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <p:outputLabel for="desc" value="Descrição" />
                <p:inputText id="desc" value="#{planilhaProdutoMB.planilha.descricao}"  required="#{param['mode']}" requiredMessage="Informe a descrição"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <p:outputLabel for="setor" value="Setor" />
                <p:selectOneMenu id="setor" value="#{planilhaProdutoMB.planilha.idSetor}" converter="Converter" styleClass="form-control" >
                    <f:selectItem itemLabel="Selecione o setor" itemValue="" />
                    <f:selectItems value="#{setorMB.listarsetores()}" var="set" itemLabel="#{set.descricao}" itemValue="#{set}" />
                </p:selectOneMenu>
            </div>
            <div class="col-xs-12">
                <hr/>
            </div>
            <h:panelGroup id="item">
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <p:outputLabel for="tipo" value="Tipo" />
                    <p:selectOneMenu value="#{planilhaProdutoMB.planilhaItem.tipo}" styleClass="form-control" id="tipo"  >
                        <f:selectItem itemLabel="Produto" itemValue="P" />
                        <f:selectItem itemLabel="Ativo" itemValue="A" />
                        <p:ajax update="item" event="change" listener="#{planilhaProdutoMB.verTipo()}" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-3 col-lg-3">
                    <p:outputLabel for="proat" value="Produto/Ativo" />
                    <p:autoComplete id="proat" value="#{planilhaProdutoMB.planilhaItem.idProduto}" converter="Converter" forceSelection="true" styleClass="form-control"
                                    completeMethod="#{produtoMB.completeMethodProduto}" var="pro" itemLabel="#{pro.descricao}" itemValue="#{pro}" rendered="#{planilhaProdutoMB.planilhaItem.tipo=='P'}" >
                        <p:column>
                            <h:outputText value="#{pro.idProduto}"/> 
                        </p:column>
                        <p:column>
                            <h:outputText value="#{pro.descricao}"/> 
                        </p:column>
                        <p:ajax event="itemSelect" update="grp undSa custa depre" />
                    </p:autoComplete>  
                    <p:autoComplete id="proat2" value="#{planilhaProdutoMB.planilhaItem.idAtivo}" converter="Converter" forceSelection="true" styleClass="form-control"
                                    completeMethod="#{ativoMB.completeMethod}" var="atv" itemLabel="#{atv.descricao}" itemValue="#{atv}" rendered="#{planilhaProdutoMB.planilhaItem.tipo=='A'}"  >
                        <p:column>
                            <h:outputText value="#{atv.idAtivo}"/> 
                        </p:column>
                        <p:column>
                            <h:outputText value="#{atv.descricao}"/> 
                        </p:column>
                        <p:ajax event="itemSelect" update="grp undSa custa depre" />
                    </p:autoComplete>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <p:outputLabel for="grp" value="Grupo" />
                    <p:inputText id="grp" value="#{planilhaProdutoMB.planilhaItem.tipo=='P'?planilhaProdutoMB.planilhaItem.idProduto.idGrupo.descricao:planilhaProdutoMB.planilhaItem.idAtivo.idGrupoAtivo.descricao}"  readonly="true"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1 col-lg-1">
                    <p:outputLabel for="undSa" value="Medida" />
                    <p:inputText id="undSa" value="#{planilhaProdutoMB.planilhaItem.tipo=='P' ? planilhaProdutoMB.planilhaItem.idProduto.idUnidadeSaida.descricaoResumida : planilhaProdutoMB.planilhaItem.idAtivo.idUnidade.descricaoResumida}"  readonly="true"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <p:outputLabel for="custa" value="Custo Compra" />
                    <p:inputText id="custa" value="#{planilhaProdutoMB.planilhaItem.tipo=='P' ? planilhaProdutoMB.planilhaItem.idProduto.precoCusto : planilhaProdutoMB.planilhaItem.idAtivo.valorCompra}"  readonly="true">
                        <f:convertNumber type="currency"  />
                    </p:inputText>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <p:outputLabel for="depre" value="Depreciação Mês" />
                    <p:inputText id="depre" value="#{planilhaProdutoMB.planilhaItem.tipo=='P' ? planilhaProdutoMB.planilhaItem.idProduto.valorCustoRateio : planilhaProdutoMB.planilhaItem.idAtivo.valorCustoMensal }"  readonly="true" >
                        <f:convertNumber type="currency"  />
                    </p:inputText>
                </div>
            </h:panelGroup>
            <div class="col-xs-12 ">
                <p:commandButton value="Adicionar" icon="new_adicionar" update="item @form"  action="#{planilhaProdutoMB.adiciounou()}" />
                <hr/>
                <p:dataTable id="tblItens" value="#{planilhaProdutoMB.planilha.planilhaItemList}" var="pil" >
                    <p:column headerText="Tipo" width="10%" >
                        <h:outputText value="#{pil.tipo=='P'?'Produto':'Ativo'}" />
                    </p:column>
                    <p:column headerText="Produto/Ativo" >
                        <h:outputText value="#{pil.tipo == 'P' ? pil.idProduto.descricao : pil.idAtivo.descricao}" />
                    </p:column>
                    <p:column headerText="Grupo" >
                        <h:outputText value="#{pil.tipo == 'P' ? pil.idProduto.idGrupo.descricao : pil.idAtivo.idGrupoAtivo.descricao}" />
                    </p:column>
                    <p:column headerText="Custo"  width="15%" styleClass="centralizar">
                        <h:outputText value="#{pil.tipo == 'P' ? pil.idProduto.precoCusto : pil.idAtivo.valorCompra}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Unidade"  width="8%" styleClass="centralizar">
                        <h:outputText value="#{pil.tipo == 'P' ? pil.idProduto.idUnidadeSaida.descricaoResumida : pil.idAtivo.idUnidade.descricaoResumida}" />
                    </p:column>
                    <p:column headerText="Depreciação"  width="15%" styleClass="centralizar">
                        <h:outputText value="#{pil.tipo == 'P' ? pil.idProduto.valorCustoRateio : pil.idAtivo.valorCustoMensal}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </h:form>
</ui:composition>