<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Forma de Pagamento" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="formaPagamento" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{formaPagamentoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="formaPagamento" value="#{formaPagamentoMB.listaFormaDePagamentos()}" var="formaPagto" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{formaPagto.idFormaPagamento}" selection="#{formaPagamentoMB.formaPagamento}" selectionMode="single">
                <f:facet name="header">
                    Forma de Pagamento
                </f:facet>
                <f:facet name="footer">
                    #{formaPagamentoMB.listaFormaDePagamentos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{formaPagto.idFormaPagamento}" width="8%" sortBy="#{formaPagto.idFormaPagamento}">
                    <center>
                        <h:outputText value="#{formaPagto.idFormaPagamento}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{formaPagto.descricao}" width="20%" sortBy="#{formaPagto.descricao}">
                    <h:outputText value="#{formaPagto.descricao}" />
                </p:column>
                <p:column headerText="Tipo" filterBy="#{formaPagto.tipo}" width="20%" sortBy="#{formaPagto.tipo}">
                    <h:outputText value="#{formaPagto.tipo}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>