<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{formaPagamentoMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{formaPagamentoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar" />
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{formaPagamentoMB.formaPagamento.descricao}" id="descricao" 
                                     required="true" requiredMessage="Descrição é obrigatória!" 
                                     placeholder="Ex: Á Vista, 2x, 4x"/>
                    </div>
                    <div class="col-md-4">
                        <p:outputLabel for="forma" value="Forma de Pagamento"  />
                        <p:inputText value="#{formaPagamentoMB.formaPagamento.forma}" id="forma" 
                                     required="true" requiredMessage="Forma é obrigatória!" 
                                     placeholder="Ex: Dinheiro, Cheque, Cartão"/>
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="tipo" value="Tipo" />
                        <p:selectOneRadio  id="tipo" value="#{formaPagamentoMB.formaPagamento.tipo}" required="true}" requiredMessage="Informe se o cliente está inativo!" >
                            <f:selectItem itemLabel="À vista" itemValue="V"   />
                            <f:selectItem itemLabel="À Prazo" itemValue="P" />
                        </p:selectOneRadio>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>