<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:xc="http://xpert.com/faces">

    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                Contratos
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode gerenciar os contratos.
            </ui:define>

            <ui:define name="breadcrumb">
                Contratos 
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Contratos" >
                        <div class="row">
                            <div class="col-md-12">
                                <p:commandButton  value="Pesquisar" icon="Consultar"   />
                                <hr/>
                                <p:dataTable value="#{contratoMB.listarContratos()}" var="cont"  emptyMessage="Nenhum contrato localizado!">
                                    <p:column headerText="Contrato" styleClass="centralizar font-table" width="5%">
                                        <h:outputText value="#{cont.idContrato}" />   
                                    </p:column>
                                    <p:column headerText="Proposta" styleClass="centralizar font-table" width="5%">
                                        <h:outputText value="#{cont.idProposta.idProposta}" />   
                                    </p:column>
                                    <p:column headerText="Cliente"  styleClass="font-table">
                                        <h:outputText value="#{cont.idCliente.nome}" />   
                                    </p:column>
                                    <p:column headerText="Serviço" styleClass="font-table" >
                                        <h:outputText value="#{cont.idProposta.nome}" />   
                                    </p:column>
                                    <p:column headerText="Inicio" styleClass="centralizar font-table" width="10%">
                                        <h:outputText value="#{cont.dtInicio}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>   
                                    </p:column>
                                    <p:column headerText="Fim" styleClass="centralizar font-table" width="10%">
                                        <h:outputText value="#{cont.dtFim}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>   
                                    </p:column>
                                    <p:column headerText="Status" styleClass="centralizar font-table"  width="10%">
                                        <h:outputText value="#{cont.status}" />   
                                    </p:column>
                                    <p:column headerText="Valor"  styleClass="centralizar font-table" width="10%">
                                        <h:outputText value="#{cont.valor}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>   
                                    </p:column>
                                    <p:column width="15%">
                                        <p:commandButton icon="Comunicado" title="Gerar Comunicado" oncomplete="PF('dlgComunicado').show();"   action="#{contratoMB.gerarComunicadoDeImplantacao(cont)}" update=":frmComunicado" disabled="#{cont.comunicadoImplantacaoList.size()>0}" />
                                        <p:commandButton icon="Info" title="Informações do Contrato" action="#{contratoMB.setContrato(cont)}" oncomplete="PF('dlgInfo').show();" update=":frmInfo" />
                                        <p:commandButton icon="Imprimir" title="Imprima o Contrato" />
                                        <p:commandButton icon="Aditivo" title="Fazer Aditivo de Outro Contrato!" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </p:panel>

                    <p:dialog widgetVar="dlgInfo" header="Informações do Contrato" position="top" modal="true">
                        <p:scrollPanel mode="native" style="max-height:700px">
                            <h:form id="frmInfo" style="overflow:auto;">
                                <div class="col-lg-12">
                                    <p:tabView>
                                        <p:tab title="Contrato">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfo label="Contrato" value="#{contratoMB.contrato.idContrato}" />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfo label="Proposta Fin." value="#{contratoMB.contrato.idPropostaFinanceira.idPropostaFinanceira}" />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfoDate label="Início" value="#{contratoMB.contrato.dtInicio}" />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfoDate label="Início" value="#{contratoMB.contrato.dtFim}" />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                    <bcr:outputInfo label="Cliente" value="#{contratoMB.contrato.idCliente.nome}" />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfo label="Status" value="#{contratoMB.contrato.status}"  />
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                    <bcr:outputInfoMoney label="Valor" value="#{contratoMB.contrato.valor}"  />
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <bcr:outputInfo label="Observação" value="#{contratoMB.contrato.observação}"  />
                                                </div>
                                            </div>
                                        </p:tab>
                                        <p:tab title="Propostas">
                                            <div class="row">
                                                <p:dataTable value="#{contratoMB.contrato.idPropostaFinanceira.propostaList}" var="props" >
                                                    <p:column width="3%">
                                                        <p:rowToggler />
                                                    </p:column>
                                                    <p:column headerText="Proposta" styleClass="centralizar" >
                                                        <h:outputText value="#{props.idProposta}" />
                                                    </p:column>
                                                    <p:column headerText="Descrição"  >
                                                        <h:outputText value="#{props.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Data" styleClass="centralizar" >
                                                        <h:outputText value="#{props.dtEmissao}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Valor"  >
                                                        <h:outputText value="#{props.valorTotal}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Observação"  >
                                                        <h:outputText value="#{props.observacao}" />
                                                    </p:column>
                                                    <p:rowExpansion>
                                                        <hr/>
                                                        <p:tabView  id="tabs">
                                                            <p:tab title="Planilhas de Produtos" >
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <h:panelGroup id="listaDeGruposProdutos">
                                                                            <xc:group value="#{props.propostaItemProdutoList}" var="planProds"     
                                                                                      groupBy="idPlanilhaItem.idPlanilha" rowIndexVar="rowPlanProds" >
                                                                                <bcr:minPanel  customId="#{rowPlanProds}oo" label="#{planProds.key.descricao}">
                                                                                    <xc:group value="#{planProds.value}" var="planProd"     
                                                                                              groupBy="idPlanilhaItem.idProduto.idGrupo" rowIndexVar="rowPlanProd" >
                                                                                        <bcr:minPanel  customId="#{rowPlanProd}prod" label="#{planProd.key.descricao != null ? planProd.key.descricao : 'Ativo / Sem Grupo'}">
                                                                                            <p:dataTable  id="tblProds"  value="#{planProd.value}" var="propItem" paginator="true" rows="5" paginatorPosition="bottom" paginatorAlwaysVisible="false" >
                                                                                                <p:column headerText="Qnt"   styleClass="centralizar" width="10%">
                                                                                                    <h:outputText value="#{propItem.quantidade}" />
                                                                                                </p:column>
                                                                                                <p:column headerText="Medida"  styleClass="centralizar" width="5%">
                                                                                                    <h:outputText value="#{propItem.idPlanilhaItem.idProduto != null ? propItem.idPlanilhaItem.idProduto.idUnidadeSaida.descricaoResumida : propItem.idPlanilhaItem.idAtivo.idUnidade.descricaoResumida}"   />
                                                                                                </p:column>
                                                                                                <p:column headerText="Produto" >
                                                                                                    <h:outputText value="#{propItem.idPlanilhaItem.idProduto != null ? propItem.idPlanilhaItem.idProduto.descricao : propItem.idPlanilhaItem.idAtivo.descricao}" />
                                                                                                </p:column>
                                                                                                <p:column headerText="Grupo" >
                                                                                                    <h:outputText value="#{propItem.idPlanilhaItem.idProduto != null ? propItem.idPlanilhaItem.idProduto.idGrupo.descricao : propItem.idPlanilhaItem.idAtivo.idGrupoAtivo.descricao}" />
                                                                                                </p:column>
                                                                                                <p:column headerText="Preço" styleClass="centralizar" width="10%" >
                                                                                                    <h:outputText value="#{propItem.idPlanilhaItem.idProduto != null ? propItem.idPlanilhaItem.idProduto.valorCustoRateio : propItem.idPlanilhaItem.idAtivo.valorCustoMensal}" >
                                                                                                        <f:convertNumber type="currency"  />
                                                                                                    </h:outputText>
                                                                                                </p:column>
                                                                                                <p:column headerText="Total" styleClass="centralizar" width="10%" >
                                                                                                    <h:outputText value="#{propItem.total}" />
                                                                                                </p:column>
                                                                                            </p:dataTable>
                                                                                            <h:panelGrid columns="3" style="float: right" >
                                                                                                <h:outputText styleClass="h3" value="Total: " />
                                                                                                &nbsp;
                                                                                                <h:outputText styleClass="h3" value="#{xc:sum(planProd.value, 'total')}">  
                                                                                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />  
                                                                                                </h:outputText>  
                                                                                            </h:panelGrid>
                                                                                        </bcr:minPanel>
                                                                                    </xc:group>
                                                                                </bcr:minPanel>
                                                                            </xc:group>

                                                                        </h:panelGroup>
                                                                    </div>
                                                                </div>
                                                            </p:tab>
                                                            <p:tab title="Planilhas de Mão de Obra" >
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <h:panelGroup id="grupoTabelasMaoDeObra">
                                                                            <xc:group value="#{props.propostaItemList}" var="planMao"     
                                                                                      groupBy="idPlanilhaItem.idPlanilha" rowIndexVar="rowPlanMao" >
                                                                                <bcr:minPanel  customId="#{rowPlanMao}" label="#{planMao.key.descricao}">
                                                                                    <xc:group  id="agrp" value="#{planMao.value}" var="groups"   
                                                                                               groupBy="tipo" rowIndexVar="iidx"  >
                                                                                        <p:separator/>
                                                                                        <h:panelGrid columns="4" style="width: 100%"  columnClasses="coo1, coo2, coo3,coo4">
                                                                                            <h:outputText style="font-weight: bold; color: #045491;" styleClass="h5" value=" #{groups.key}"/>  
                                                                                        </h:panelGrid>
                                                                                        <xc:group value="#{groups.value}" var="tips"   
                                                                                                  groupBy="grupo"  >
                                                                                            &nbsp;&nbsp;&nbsp; <h:outputText style="font-style: italic;" styleClass="h5"  value="#{tips.key}"/> 
                                                                                            <p:dataTable id="tblMao"  value="#{tips.value}" var="propItem2" paginator="true" rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="false"  sortBy="#{propItem2.posicao}">
                                                                                                <p:column  headerText="Posição" width="10% " styleClass="centralizar" >
                                                                                                    <h:outputText value="#{propItem2.posicao}" />
                                                                                                </p:column>
                                                                                                <p:column headerText="Descrição" width="65%" >
                                                                                                    <h:outputText value="#{propItem2.idPlanilhaItem.descricao}" />
                                                                                                </p:column>
                                                                                                <p:column headerText="%" width="10%" styleClass="centralizar">
                                                                                                    <h:outputText value="#{propItem2.percentual==null ? 0 : propItem2.percentual} %" />
                                                                                                </p:column>
                                                                                                <p:column  headerText="Valor" width="15% " styleClass="centralizar">
                                                                                                    <h:outputText value="#{propItem2.valor}">
                                                                                                        <f:convertNumber type="currency" />
                                                                                                    </h:outputText>
                                                                                                </p:column>
                                                                                            </p:dataTable>
                                                                                        </xc:group>
                                                                                    </xc:group>
                                                                                </bcr:minPanel>
                                                                            </xc:group>
                                                                        </h:panelGroup>
                                                                    </div>
                                                                </div>
                                                            </p:tab>
                                                        </p:tabView>
                                                    </p:rowExpansion>
                                                </p:dataTable>
                                            </div>
                                        </p:tab>
                                    </p:tabView>
                                    <hr/>
                                    <p:commandButton icon="Finalizar" value="Finalizar Contrato" />
                                    <p:commandButton icon="Imprimir" value="Imprimir" />
                                </div>
                            </h:form>
                        </p:scrollPanel>
                    </p:dialog>

                    <p:dialog widgetVar="dlgComunicado" header="Gerar Comunicados" width="80%" position="top" modal="true" resizable="false" draggable="false">
                        <h:form id="frmComunicado">
                            <div class="col-lg-12">

                                <p:wizard  backLabel="Voltar" nextLabel="Próximo">
                                    <p:tab title="Informações do Contrato">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <div class="row">
                                                        <p:messages closable="true" />
                                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                            <bcr:outputInfo label="Cliente" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.nome}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <bcr:outputInfo label="CPF/CNPJ" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.cgccpf}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <bcr:outputInfo label="Inscrição Estadual" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.ie}" />
                                                        </div>

                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                            <bcr:outputInfo label="Endereço" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.logradouro}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                                                            <bcr:outputInfo label="Nº" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.numero}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                                            <bcr:outputInfo label="Bairro" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.bairro}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                            <bcr:outputInfo label="Cidade" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.idCidade.nome}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                            <bcr:outputInfo label="Estado" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.idCidade.idEstado.sigla}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                                                            <bcr:outputInfo label="Email" value="#{contratoMB.comunicadoImplantacao.idContrato.idCliente.email}" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                                            <bcr:outputInfo label="Contrato" value="#{contratoMB.comunicadoImplantacao.idContrato.idContrato}" />
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <hr/>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                                                            <p:outputLabel for="dtComunicado" value="Data Comunicado" />
                                                            <p:calendar value="#{contratoMB.comunicadoImplantacao.dtComunicado}" locale="pt" showButtonPanel="true" id="dtComunicado" required="true" requiredMessage="Informe a data do comunicado!" />
                                                        </div>
                                                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                                                            <p:outputLabel for="obs" value="Observação Comunicado" />
                                                            <p:inputTextarea value="#{contratoMB.comunicadoImplantacao.observacaoComunicado}"  id="obs"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Informações de Logística">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <div class="row">
                                                        <p:messages closable="true" />
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <p:dataTable value="#{contratoMB.listaGrupos()}" var="gvs" >
                                                                <p:column width="5%" styleClass="centralizar">
                                                                    <p:rowToggler />
                                                                </p:column>
                                                                <p:column headerText="Grupo" >
                                                                    <h:outputText value="#{gvs.grupo.descricao}"/>
                                                                </p:column>
                                                                <p:column headerText="Valor" width="10%">
                                                                    <h:outputText value="#{gvs.valor}">
                                                                        <f:convertNumber type="currency" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:rowExpansion>
                                                                    <p:dataTable value="#{contratoMB.listaProdutosPorGrupo(gvs)}" var="gv">
                                                                        <p:column headerText="Produto" width="55%">
                                                                            <h:outputText value="#{gv.idProduto.descricao}" />
                                                                        </p:column>
                                                                        <p:column headerText="Quantidade" width="15%" styleClass="centralizar">
                                                                            <h:outputText value="#{gv.quantidade}" />
                                                                        </p:column>
                                                                        <p:column headerText="Custo Unitário"  width="15%" styleClass="centralizar">
                                                                            <bcr:outputMoney value="#{gv.valorDepreciacao}" />
                                                                        </p:column>
                                                                        <p:column headerText="Custo Total" width="15%" styleClass="centralizar">
                                                                            <bcr:outputMoney value="#{gv.valorTotalDepreciacao}" />
                                                                        </p:column>
                                                                    </p:dataTable>
                                                                </p:rowExpansion>
                                                                <p:columnGroup type="footer">
                                                                    <p:row>
                                                                        <p:column colspan="3" style="background: #cccccc; font-weight: bolder;" footerText="Total: #{sessaoMB.formatarMoedaView(xc:sum(contratoMB.listaGrupos(),'valor'))}" />
                                                                    </p:row>
                                                                </p:columnGroup>
                                                            </p:dataTable>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Informações de RH">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <div class="row">
                                                        <p:messages closable="true" />
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <p:dataTable value="#{contratoMB.comunicadoImplantacao.idContrato.idProposta.propostaPessoalList}" var="pes">
                                                                <p:column width="5%" styleClass="centralizar">
                                                                    <p:rowToggler />
                                                                </p:column>
                                                                <p:column headerText="Cargo" >
                                                                    <h:outputText value="#{pes.idCargo.descricao}"   />
                                                                </p:column>
                                                                <p:column headerText="Setor">
                                                                    <h:outputText value="#{pes.idSetor.descricao}" />
                                                                </p:column>
                                                                <p:column headerText="Quantidade" width="10%" styleClass="centralizar">
                                                                    <h:outputText value="#{pes.quantidade}" />
                                                                </p:column>
                                                                <p:rowExpansion>
                                                                    <p:dataTable value="#{pes.idProposta.propostaItemList}" var="pe" sortBy="#{pe.posicao}" >
                                                                        <p:column headerText="Descrição">
                                                                            <h:outputText value="#{pe.descricao}" />
                                                                        </p:column>
                                                                        <p:column headerText="Tipo">
                                                                            <h:outputText value="#{pe.tipo}" />
                                                                        </p:column>
                                                                        <p:column headerText="Grupo">
                                                                            <h:outputText value="#{pe.grupo}" />
                                                                        </p:column>
                                                                        <p:column headerText="%" width="10%">
                                                                            <h:outputText value="#{pe.percentual } #{pe.percentual != null ?'%':'' }" />
                                                                        </p:column>
                                                                        <p:column headerText="valor" width="15%">
                                                                            <h:outputText value="#{pe.valor}" >
                                                                                <f:convertNumber type="currency"  />
                                                                            </h:outputText>
                                                                        </p:column>
                                                                    </p:dataTable>
                                                                </p:rowExpansion>
                                                            </p:dataTable>
                                                            <hr/>
                                                            <p:outputLabel for="obsRH" value="Observação RH"/>
                                                            <p:inputTextarea id="obsRH" value="#{contratoMB.comunicadoImplantacao.observacaoRh}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Informações do Financeiro">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <div class="row">
                                                        <p:messages closable="true" />
                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <p:outputLabel for="vlrFaturar"  value="Valor à Faturar" />
                                                            <pe:inputNumber id="vlrFaturar" value="#{contratoMB.comunicadoImplantacao.valorFaturar}"  symbol="R$ "/>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <p:outputLabel for="dtFaturar"  value="Dia a Faturar" />
                                                            <pe:inputNumber id="dtFaturar" value="#{contratoMB.comunicadoImplantacao.dtFaturar}" minValue="1" maxValue="31" required="true" requiredMessage="Informe o dia de faturar!" />
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <p:outputLabel for="aoDia"  value="Ao Dia" />
                                                            <pe:inputNumber id="aoDia" value="#{contratoMB.comunicadoImplantacao.aoDia}" minValue="1" maxValue="31" required="true" requiredMessage="Informe até qual dia irá faturar!" />
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <p:outputLabel for="obsFinanceiro"  value="Observação" />
                                                            <p:inputTextarea id="obsFinanceiro"  value="#{contratoMB.comunicadoImplantacao.observacaoFinanceiro}" />
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <hr/>
                                                                <p:commandButton value="Salvar" icon="Salvar" action="#{contratoMB.salvarComunicado()}" update="@form, :msg" oncomplete="if(!args.validationFailed )PF('dlgComunicado').hide();" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p:tab>
                                </p:wizard>
                            </div>
                        </h:form>
                    </p:dialog>
                </div>
            </ui:define>
        </ui:composition>
    </body>


</html>
