<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="./WEB-INF/Template.xhtml">



            <ui:define name="content">
                <div class="error-wrapper text-center">
                    <h1>404</h1>
                    <h6>- Oops, um erro ocorreu. Página não encontrada! -</h6>

                    <!-- Error content -->
                    <div class="error-content">

<!--                        <div class="row">
                            <div class="col-md-12">
                                <a href="../" class="btn btn-danger btn-block">Voltar ao sistema</a>
                            </div>
                        </div>-->
                    </div>
                    <!-- /error content -->

                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
