<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head >
        <title>MSC - Gestão Simples</title>
        <link rel = "icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css" />
        <h:outputStylesheet name="css/font-awesome.min.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/icons.css" />
        <h:outputStylesheet name="css/styles.css" />
        <h:outputStylesheet name="css/login.css" />
        <h:outputStylesheet name="icons/icons.css"/>
        <!-- JS -->
        <h:outputScript name="js/plugins/interface/daterangepicker.js" />
        <h:outputScript name="js/plugins/interface/moment.js" />
        <h:outputScript name="js/plugins/interface/jgrowl.min.js" />
        <h:outputScript name="js/bootstrap.min.js" />
        <h:outputScript name="js/application_blank.js" />
        <h:outputScript name="js/list.js" />
        <script>
            function gerarNumero(){
                var a = Math.floor(Math.random() * 8);
                document.getElementById("corpo").style.backgroundImage = "url('resources/wallpapers/"+a+".jpg')";
            }
        </script>

    </h:head>
    <h:body id="corpo"  class="full-width page-condensed" onload="document.getElementById('j_username').focus();  gerarNumero();" style="background-repeat: no-repeat; background-position: center; background-size: cover;" >
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-right">
                    <span class="sr-only">Toggle navbar</span>
                    <i class="icon-grid3"></i>
                </button>
                <a class="navbar-brand" href="http://uxsolucoes.com.br" target="_blank"><img src="resources/images/LogoUX.png" alt="UX Soluções em TI" width="105" height="36"/></a>
            </div>
        </div>

        <div class="login-wrapper">
            <form   autocomplete="on"  id="login" method="post" action="#{request.contextPath}/j_spring_security_check">
                <div class="popup-header">
                    <span class="text-semibold">Conecte-se no MSC</span>
                </div>
                <div class="well">
                    <bcr:alert Nivel="danger"  rendered="#{param.login_error == 1?'true':'false'}" Titulo="Atenção !" Descricao=" #{SPRING_SECURITY_LAST_EXCEPTION.message}"  />
                    <div class="form-group has-feedback">
                        <label>Usuário</label>
                        <p:inputText type='text'  id='j_username' styleClass="form-control"   autocomplete="false"  onfocus="this.value='';"  required="true  " placeholder="Digite aqui seu usuário"/>
                        <i class="icon-users form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Senha</label>
                        <p:inputText  type='password'  id='j_password' styleClass="form-control" onfocus="this.value='';"  required="true" placeholder="Digite aqui sua senha!"/>
                        <i class="icon-lock form-control-feedback"></i>
                    </div>
                    <div class="row form-actions">
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" id="btnEntrar" class="btn btn-success pull-right"><i class="icon-menu2"></i> Entrar</button>
                        </div>
                        <script>
                            document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
                        </script>
                    </div>
                </div>
            </form> 
        </div>




        <div class="footer clearfix">
            <div class="pull-left">© 2015. MSC by <a href="http://www.uxsolucoes.com.br" target="_blank">UX Soluções em TI</a></div>
        </div>
    </h:body>
</html>

