<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head>
        <title>MSC - Gestão Simples</title>
        <link rel = "icon" href = "#{resource['images/Logo__.ico']}" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "#{resource['images/Logo__.ico']}" type = "image/x-icon" />
        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css" />
        <h:outputStylesheet name="css/font-awesome.min.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/icons.css" />
        <h:outputStylesheet name="css/login.css" />
        <h:outputStylesheet name="icons/icons.css"/>
        <!-- JS -->
        <h:outputScript name="js/plugins/interface/daterangepicker.js" />
        <h:outputScript name="js/plugins/interface/moment.js" />
        <h:outputScript name="js/plugins/interface/jgrowl.min.js" />
        <h:outputScript name="js/bootstrap.min.js" />
        <h:outputScript name="js/application_blank.js" />
        <h:outputScript name="js/list.js" />
    </h:head>
    <h:body>
        <div class="container">
            <div class="row">
                <br/><br/>
                <center><h3>MSC - Sistema de Gestão de Serviços</h3></center>
                <bcr:alert Nivel="danger"  rendered="#{param.login_error == 1?'true':'false'}" Titulo="Atenção !" Descricao=" Usuário ou senha inválido. #{SPRING_SECURITY_LAST_EXCEPTION.message}"  />
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4">
                      <center><img src="resources/images/imagem-pizza-servicos.png " width="80%" /></center>
                </div>
                <div class="col-sm-4">
                    <hr/>
                    <section>				
                        <div id="container_demo" >
                            <form   autocomplete="on"  id="login" method="post" action="#{request.contextPath}/j_spring_security_check"> 
                                <p> 
                                    <label for="username" class="uname"  ><i class="fa fa-user"></i> Usuário </label>
                                    <p:inputText type='text'  id='j_username' styleClass="form-control"   autocomplete="false"  onfocus="this.value='';"  required="true  " placeholder="Digite aqui seu usuário"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd"><i class="fa fa-key"></i> Senha </label>
                                    <p:inputText  type='password'  id='j_password' styleClass="form-control" onfocus="this.value='';"  required="true" placeholder="Digite aqui sua senha!"/>
                                </p>
                                <hr/>
                                <p style="float: start; "> 
                                    <input type="reset" class="btn btn-danger" value="Limpar"  />
                                    <input type="submit" class="btn btn-primary" value="Entrar"/>                                        
                                </p>
                                <script>
                                    document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
                                </script>
                            </form>
                        </div>  
                    </section>
                    <hr/>
                  

                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div> 
        <footer class="footer">
            <div class="container">
                <p class="text-muted"><a href="http://bcrtecnologia.com.br">MSC by BCR Tecnologia</a></p>
            </div>
        </footer>
    </h:body>
</html>

